﻿@model insurance.Areas.AdminArea.Models.AdminArea_Custom.AgencyModel.Agency
@using insurance.Areas.AdminArea.Models.AdminArea_Account
@using insurance.Areas.AdminArea.AdminArea_Service
@{
    ViewBag.Title = "DsrReportlist";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<style>
    .ashake {
        font-weight: bold;
        display: inline-block;
        background-size: 120% 100%;
        -webkit-background-clip: text;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        -ms-background-clip: text;
        -ms-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;
        animation: 1.2s shake infinite alternate;
        color: yellow !important;
    }

    @@keyframes shake {
        0% {
            transform: translate(1px, 1px) rotate(0deg);
        }

        10% {
            transform: translate(-1px, -2px) rotate(-1deg);
        }

        20% {
            transform: translate(-3px, 0px) rotate(1deg);
        }

        30% {
            transform: translate(3px, 2px) rotate(0deg);
        }

        40% {
            transform: translate(1px, -1px) rotate(1deg);
        }

        50% {
            transform: translate(-1px, 2px) rotate(-1deg);
        }

        60% {
            transform: translate(-3px, 1px) rotate(0deg);
        }

        70% {
            transform: translate(3px, 1px) rotate(-1deg);
        }

        80% {
            transform: translate(-1px, -1px) rotate(1deg);
        }

        90% {
            transform: translate(1px, 2px) rotate(0deg);
        }

        100% {
            transform: translate(1px, -2px) rotate(-1deg);
        }
    }

    .shakeaddition {
        color: yellow !important;
        font-weight: bold;
    }
</style>
<link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
@{
    Account.MemberLogin lu = new Account.MemberLogin();
    if (AdminArea_AccountService.IsBackUserLogin(ref lu))
    {
        <div class="x_panel">
            <div class="x_title">
                <div class="row">
                    <div class="col-sm-4">
                        <h2><i class="fa fa-list"></i>&nbsp;Daily Sales Report List</h2>
                    </div>
                    <div class="col-sm-8">
                        <div class="text-right">
                            @if (lu.MemberType != "admin")
                            {
                                <a href="/profile/add-new-dsr-report" class="btn btn-primary btn-sm pull-right"><span class="fa fa-plus-circle"></span> Add New Feedback</a>

                            }
                            else
                            {
                                <a href="/profile/dsrlist?type=Inprocess" class="btn btn-primary btn-sm pull-right"><span class="fa fa-list"></span> Unread DSR Report <span class="shakeaddition">(@Model.NewdrsReport)</span></a>
                                <a href="/profile/dsrlist" class="btn btn-dark btn-sm pull-right" style="margin-right: 5px;"><span class="fa fa-list"></span> Today's DSR Report</a>
                            }
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <div class="">
                    @using (Html.BeginForm())
                    {
                        <div>
                            <div class="col-sm-12 form-group" style="border:1px solid #ccc;padding:5px;">
                                <div class="col-sm-3 form-group">
                                    <p>From Date</p>
                                    @Html.TextBoxFor(p => p.FromDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyyy" })
                                </div>
                                <div class="col-sm-3 form-group">
                                    <p>To Date</p>
                                    @Html.TextBoxFor(p => p.ToDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyyy" })
                                </div>
                                <div class="col-sm-2 form-group">
                                    <p>Status</p>
                                    @Html.DropDownListFor(a => a.DSRStatus, new List<SelectListItem>
                                            {new SelectListItem { Value = "" , Text = "Select One" },
                                   new SelectListItem { Value = "Read" , Text = "Read" },
                                            new SelectListItem { Value = "Inprocess" , Text = "Unread"}}, new { @class = "form-control" })
                                </div>
                                <div class="col-sm-2 form-group">
                                    <p>&nbsp;</p>
                                    <input type="submit" class="btn btn-success form-control mainrecptcss" value="Search" onclick="return Checkfilter() " />
                                    <span class="btn btn-success form-control temprecptcss hidden"><span class="fa fa-spin fa-spinner"></span> Please Wait..</span>
                                </div>
                            </div>
                        </div>
                    }
                    @if (TempData["Message"] != null)
                    {
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <div class="">
                                    <div class="alert alert-success" id="closeMessage">
                                        <strong>@TempData["Message"]</strong>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                    <div class="form-group">
                        <div class="table-responsive text-nowrap">
                            <table class="table table-striped table-condensed" data-toggle="table">
                                <thead>
                                    <tr>
                                        @if (lu.MemberType == "admin")
                                        {
                                            <th>Staff Name</th>

                                        }
                                        <th>Created Date</th>
                                        <th>AgencyID</th>
                                        <th>Agency Name</th>
                                        <th>Available Amount</th>
                                        <th>Due Amount</th>
                                        <th>Credit Limit</th>
                                        <th>Agency Feedback</th>
                                        @if (lu.MemberType != "admin")
                                        {
                                            <th>Admin Remark</th>
                                            <th>Status</th>
                                        }
                                        @if (lu.MemberType == "admin")
                                        {
                                            <th>Action</th>
                                        }
                                    </tr>
                                </thead>
                                <tbody class="recordrow">
                                    @if (Model.AgencyList != null)
                                    {
                                        if (Model.AgencyList.Count > 0)
                                        {
                                            foreach (var item in Model.AgencyList)
                                            {
                                                <tr>
                                                    @if (lu.MemberType == "admin")
                                                    {
                                                        <td>@item.CreatedByUserName</td>



                                                    }
                                                    <td>@item.TempCreditDate</td>
                                                    <td><span>@item.AgencyIdNew</span></td>
                                                    <td>@item.AgencyName</td>
                                                    <td>@item.AvalibleAmount</td>
                                                    <td>@item.DueAmount</td>
                                                    <td>@item.CreditLimit</td>
                                                    @if (item.AgencyFeedBack.Length > 10)
                                                    {
                                                        <td><span data-toggle="tooltip" title="@item.AgencyFeedBack" style="cursor:pointer; color:#ff6a00">@item.AgencyFeedBack.Substring(0, 10)..</span></td>
                                                    }
                                                    else
                                                    {
                                                        <td><span style="cursor:pointer; color:#ff6a00">@item.AgencyFeedBack</span></td>
                                                    }
                                                    @if (lu.MemberType != "admin")
                                                    {
                                                        if (item.AdminRemark == "")
                                                        {
                                                            <td>----</td>
                                                        }
                                                        else
                                                        {
                                                            if (item.AdminRemark.Length > 10)
                                                            {
                                                                <td><span data-toggle="tooltip" title="@item.AdminRemark" class="fa fa-check" style="cursor:pointer; color:#ff6a00">&nbsp;@item.AdminRemark.Substring(0, 10).. </span></td>
                                                            }
                                                            else
                                                            {
                                                                <td><span data-toggle="tooltip" title="@item.AdminRemark" class="fa fa-check" style="cursor:pointer; color:#ff6a00">&nbsp;@item.AdminRemark</span></td>
                                                            }
                                                        }

                                                        if (item.ReadStatus == "Inprocess")
                                                        {
                                                            <td><span class="fa fa-eye-slash text-warning" style="font-weight:bold">&nbsp;Unread</span></td>
                                                        }
                                                        else
                                                        {
                                                            <td><span class="fa fa-calendar-check-o text-info" style="font-weight:bold">&nbsp; Read</span></td>
                                                        }
                                                    }
                                                    @if (lu.MemberType == "admin")
                                                    {
                                                        if (item.ReadStatus == "Inprocess")
                                                        {
                                                            <td>
                                                                <a class="btn btn-success btn-sm" data-toggle="tooltip" title="Reply" href="@Url.Action("ReadReplyDsrReport", "DailySalesReport", new { dsrid = item.DsrID,readstatus=item.ReadStatus })"><span class="fa fa-reply"></span>&nbsp;Read & Reply To @item.CreatedByUserName</a>
                                                            </td>
                                                        }
                                                        else
                                                        {
                                                            <td>
                                                                <a class="btn btn-info btn-sm" data-toggle="tooltip" title="Reply" href="@Url.Action("ReadReplyDsrReport", "DailySalesReport", new { dsrid = item.DsrID,readstatus=item.ReadStatus })"><span class="fa fa-reply"></span>&nbsp;View & Reply To @item.CreatedByUserName</a>
                                                            </td>
                                                        }
                                                    }
                                                </tr>
                                            }
                                        }
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}
<script src="~/Content/js/custom/DatePicker.js"></script>
<script>
         if (@Model.NewdrsReport> 0) { $(".shakeaddition").addClass("ashake");}
</script>
