﻿@model insurance.Areas.AdminArea.Models.AdminArea_Custom.AgencyModel.Agency
@{
    ViewBag.Title = "DsrReport";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<link href="~/Content/css/custom/commoncss.css" rel="stylesheet" />
<style>
    .boxshdow1 {
        box-shadow: 0px 0px 6px 0px #8a8a8a;
        padding: 11px 11px 11px 11px;
        border-radius: 4px !important;
    }
    .height38px {
        height: 38px;
    }
    .FeedBackbtn {
        border-bottom-right-radius: 25px !important;
        border-top-right-radius: 25px !important;
    }

    .help-error-block {
        position: absolute !important;
        right: 20px;
        top: 50px;
        z-index: 999;
        font-size: 35px;
        cursor: help;
        color: #a94442;
    }
</style>
<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-sm-12">
                <h2><i class="fa fa-list"></i>&nbsp;Daily Sales Report</h2>
            </div>
        </div>
    </div>
    <div class="x_content">
        @using (Html.BeginForm())
        {
            <div class="col-sm-6 col-lg-offcet-3 form-group form-validation">
                <div class="input-group">
                    <span class="input-group-addon radious1" style="height: 38px;"><span class="fa fa-list"></span></span>
                    @Html.TextBoxFor(p => p.AgencyName, new { @class = "height38px AgencyName form-control", placeholder = "Search Agency Name" })
                    <span class="input-group-btn">
                        <input type="submit" class="btn btn-success maincss" style="font-weight:bold;" value="Search" id="btn" />
                        <span class="btn btn-success tempcss hidden" style="font-weight:bold;">Please Wait...<i class="fa fa-spinner fa-spin"></i></span>
                    </span>
                </div>
            </div>
        }
        <div class="clearfix"></div>
        <br />
        @if (TempData["Message"] != null)
        {
            <div class="row">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="alert alert-danger text-center" style="background: none;border: 1px solid red;color: red;">
                            <p>@TempData["Message"]</p>
                        </div>
                    </div>
                </div>
            </div>
        }
        else
        {
            if (Model.AgencyID > 0)
            {
                <div class="row">
                    <div class="col-sm-12">
                        <table class="table table-bordered table-condensed radious">
                            <tr>
                                <th class="text-center" style="font-size:15px !important;" colspan="6"><span class="glyphicon glyphicon-user"></span>&nbsp;@Model.AgencyName.ToUpper() (@Model.AgencyIdNew)</th>
                            </tr>
                            <tr>
                                <th>
                                    Agency Name
                                </th>
                                <td>@Model.AgencyName</td>
                                <th>
                                    Phone
                                </th>
                                <td> @Model.BusinessPhone</td>
                            </tr>
                            <tr>
                                <th>
                                    Login ID
                                </th>
                                <td>@Model.UserId</td>
                                <th>
                                    Email ID
                                </th>
                                <td>@Model.EmailID</td>
                            </tr>
                            <tr>
                                <th>
                                    Address
                                </th>
                                <td>@Model.Address</td>
                                <th>
                                    Avilable Balance
                                </th>
                                <td>@Model.AvalibleAmount</td>
                            </tr>
                            <tr>
                                <th>
                                    Credit Limit
                                </th>
                                <td>@Model.CreditLimit/-</td>
                                <th>
                                    Due
                                </th>
                                <td>@Model.AvalibleAmount/-</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <div class="clearfix"></div>
                <div class="row form-group">
                    <div class="col-sm-12">
                        <a href="#" type="submit" class="btn btn-success FeedBackbtn">DsrReport <span class="fa fa-arrow-right"></span></a>
                    </div>
                </div>
            }

            using (Html.BeginForm("SaveDsrReport", "DailySalesReport"))
            {
                <div class="form-group feedbck hidden">
                    <div class="col-sm-12" style="border: 1px solid #ddd;">
                        @Html.HiddenFor(p => p.UserId)
                        @Html.HiddenFor(p => p.AgencyName)
                        @Html.HiddenFor(p => p.AgencyID)
                        @Html.HiddenFor(p => p.BusinessEmailID)
                        @Html.HiddenFor(p => p.BusinessPhone)
                        @Html.HiddenFor(p => p.AvalibleAmount)
                        @Html.HiddenFor(p => p.CreditLimit)
                        @Html.HiddenFor(p => p.DueAmount)
                        @Html.HiddenFor(p => p.Address)
                        <div class="col-sm-6 form-group">
                            <p>Agency Feedback</p>
                            @Html.TextAreaFor(p => p.AgencyFeedBack, new { @class = "form-control", rows = "6", placeholder = "Enter Agency Feedback" })
                        </div>
                        <div class="col-sm-6 form-group">
                            <p>Your Feedback</p>
                            @Html.TextAreaFor(p => p.UserFeedBack, new { @class = "form-control", rows = "6", placeholder = "Enter Your Feedback" })
                        </div>
                        <div class="col-sm-12 form-group">
                            <input type="submit" class="btn btn-success pull-right mainrecptcss" value="Submit" onclick="return CheckForm()" />
                            <span class="btn btn-success pull-right hidden temprecptcss">PLEASE WAIT...<i class="fa fa-spinner fa-spin"></i></span>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
</div>

@section Footer{
    <script src="~/Content/js/custom/common.js"></script>
    <script>
        function CheckForm() {
            if (CheckFocusBlankValidation("AgencyFeedBack")) return !1;
            if (CheckFocusBlankValidation("UserFeedBack")) return !1;
            $('.mainrecptcss').addClass('hidden');
            $('.temprecptcss').removeClass('hidden');
        }
        $(".FeedBackbtn").click(function () {
            $(".feedbck").removeClass("hidden");
        });
    </script>
}

