﻿@model insurance.Models.Custom.FrontAgencyModel.LeadRequestModel
@{
    ViewBag.Title = "LeadRequestList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-sm-4">
                <h2><i class="fa fa-list"></i>&nbsp;Leadt Request List</h2>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="">
            @using (Html.BeginForm())
            {
                <div>
                    <div class="col-sm-12 form-group" style="border:1px solid #ccc;padding:5px;">
                        <div class="col-sm-3 form-group">
                            <p>From Date</p>
                            @Html.TextBoxFor(p => p.FormDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyyy" })
                        </div>
                        <div class="col-sm-3 form-group">
                            <p>To Date</p>
                            @Html.TextBoxFor(p => p.ToDate, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyyy" })
                        </div>
                        <div class="col-sm-3 form-group">
                            <p>&nbsp;</p>
                            <input type="submit" class="btn btn-success form-control maincss" value="Search" onclick="return CheckForm() " />
                            <span class="btn btn-success form-control tempscss hidden"><span class="fa fa-spin fa-spinner"></span> Please Wait..</span>
                        </div>
                    </div>
                </div>
            }
            <div class="form-group">
                <div class="table-responsive text-nowrap">
                    <table class="table table-striped table-condensed" data-toggle="table">
                        <thead>
                            <tr>

                                <th>AgencyID</th>
                                <th>Agency Name</th>
                                <th>Lead Name</th>
                                <th>Lead Email</th>
                                <th>Lead Age</th>
                                <th>Contact No</th>
                                <th>Service</th>
                                <th>Remarks</th>
                            </tr>
                        </thead>
                        <tbody class="recordrow">
                            @if (Model.LeadRequestList.Count > 0)
                            {
                                foreach (var item in Model.LeadRequestList)
                                {
                                    <tr>
                                        <td>SEEIN<span>@item.AgencyID</span></td>
                                        <td><span>@item.AgencyName</span></td>
                                        <td>@item.Name</td>
                                        <td>@item.Email</td>
                                        <td>@item.Age<span>Year</span></td>
                                        <td>@item.ContactNo</td>
                                        <td>@item.Service</td>
                                        <td>@item.Remark</td>
                                    </tr>
                                }
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/custom/DatePicker.js"></script>
<script>
    function CheckForm() {
        $('.maincss').addClass('hidden');
        $('.tempscss').removeClass('hidden');
    }
</script>

