﻿@model insurance.Areas.AdminArea.Models.AdminArea_Custom.AgencyModel.Agency
@{
    ViewBag.Title = "ReadReplyDsrReport";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<style>
    .broderbottm {
        border-bottom: 1px solid #ccc;
    }

    .help-error-block {
        position: absolute !important;
        right: 20px;
        top: 50px;
        z-index: 999;
        font-size: 35px;
        cursor: help;
        color: #a94442;
    }

    .font_wait {
        font-weight: normal;
    }
</style>
<div class="x_panel">
    <div class="x_content">
        <div class="row form-group" style="border: 1px solid #ccc;">
            <div class="col-sm-6">
                <h3 class="text-success">Daily Sales Report by <span class="fa fa-user"></span>&nbsp;@Model.CreatedByUserName</h3>
            </div>
            <div class="col-sm-6">
                <a style="margin-top: 15px;" href="/profile/DsrList" class="btn btn-primary btn-sm pull-right"><span class="fa fa-arrow-left"></span> Back To List</a>
            </div>
            <div class="col-sm-12 form-group">
                <div class="row broderbottm form-group">
                    <div class="col-sm-6">
                        <p>Agency Name : @Model.AgencyName</p>
                    </div>
                    <div class="col-sm-6">
                        <p>Agency Address : @Model.Address</p>
                    </div>
                </div>
                <div class="row broderbottm form-group">
                    <div class="col-sm-4">
                        <p>Agency EmailID : @Model.BusinessEmailID</p>
                    </div>
                    <div class="col-sm-4">
                        <p>Agency Phone : @Model.BusinessPhone</p>
                    </div>
                    <div class="col-sm-4">
                        <p>Agency Address : @Model.Address</p>
                    </div>
                </div>
                <div class="row broderbottm form-group">
                    <div class="col-sm-4">
                        <p>Agency AvlBalance : @Model.AvalibleAmount</p>
                    </div>
                    <div class="col-sm-4">
                        <p>Agency CreditLimt : @Model.CreditLimit</p>
                    </div>
                    <div class="col-sm-4">
                        <p>Agency DueAmount : @Model.DueAmount</p>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-12 broderbottm">
                        <h4>Agency Feedback <span class="fa fa-long-arrow-right"></span></h4>
                        <p>&nbsp;&nbsp;&nbsp;@Model.AgencyFeedBack</p>
                    </div>
                    <div class="col-sm-12 broderbottm">
                        <h4>@Model.CreatedByUserName Feedback <span class="fa fa-long-arrow-right"></span></h4>
                        <p>&nbsp;&nbsp;&nbsp;@Model.UserFeedBack</p>
                    </div>
                </div>
                @using (Html.BeginForm("AdminReply", "DailySalesReport"))
                {
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <a href="#" type="submit" class="btn btn-success replybtn"> Reply <span class="fa fa-arrow-right"></span></a>
                        </div>
                    </div>
                    <div class="replybck hidden">
                        @Html.HiddenFor(p => p.DsrID)
                        <div class="col-sm-12 form-group">
                            <p>Agency Feedback</p>
                            @Html.TextAreaFor(p => p.AdminRemark, new { @class = "form-control", rows = "4", placeholder = "Enter Your Reply message.." })
                        </div>
                        <div class="col-sm-12 form-group">
                            <input type="submit" class="btn btn-success pull-right mainrecptcss" value="Submit" onclick="return CheckForm()" />
                            <span class="btn btn-success pull-right hidden temprecptcss">PLEASE WAIT...<i class="fa fa-spinner fa-spin"></i></span>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script>
    function CheckForm() {
        if (CheckFocusBlankValidation("AdminRemark")) return !1;
        $('.mainrecptcss').addClass('hidden');
        $('.temprecptcss').removeClass('hidden');
    }

    $(".replybtn").click(function () {
        $(".replybck").removeClass("hidden");
    });
</script>
<script src="~/Content/js/common/common.js"></script>kk