﻿
@{
    ViewBag.Title = "bikeproposaldetails";
    Layout = "~/Views/Shared/_AgencyInnerLayoutPage.cshtml";
}
@section header{
    <link href="~/Content/css/custom/checkbox.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/HelthSearch.css" rel="stylesheet" />
    <link href="~/Content/css/custom/validationcss.css" rel="stylesheet" />
    <link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <style>
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #ffffff;
        }

            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 7px 8px;
                transition: 0.3s;
                font-size: 17px;
                width: 33.33%;
            }

                .tab button:hover {
                    background-color: #1375b9 !important;
                    color: #fff !important;
                }

                .tab button.active {
                    background-color: #1375b9 !important;
                    color: #fff !important;
                }

        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
            width: 100%;
            margin-left: 0px;
        }

        #progressbar li {
            list-style-type: none;
            color: #262566;
            text-transform: uppercase;
            font-size: 15px;
            width: 25%;
            float: left;
            position: relative;
            letter-spacing: 1px;
        }

            #progressbar li:after {
                content: '';
                width: 100%;
                height: 5px;
                background: #848484;
                position: absolute;
                left: -50%;
                top: 20px;
                z-index: -1;
                border-radius: 0%;
            }

        .callus {
            background: #fff;
            padding: 3px 19px;
            font-size: 18px;
            border-radius: 11px;
            width: 100%;
            margin-bottom: 10px;
        }

        .callusbtn {
            margin-right: 2px;
            cursor: pointer;
            float: right;
            background: #1476b9;
            font-size: 15px;
            width: 20%;
            padding: 2px;
            color: #fff;
            text-align: center;
            border-radius: 4px;
        }

        .contentboxborder {
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 100px;
        }

        .seeingo {
            color: #a5a3a3 !important;
            font-weight: 100 !important;
            font-size: 15px;
        }

            .seeingo input:checked ~ .checkmark {
                background-color: #e32730 !important;
            }

        .agetextbox {
            width: 35% !important;
            height: 29px !important;
            float: right;
        }

        .ageleft {
            margin-left: 65px;
        }

        .selecthgt {
            height: 35px !important;
            padding: 4px 11px !important;
        }

        .lcolr {
            color: #262566;
            font-size: 15px;
        }

        .facolrPlu {
            color: green;
        }

        .facolrMi {
            color: red;
        }

        .checkcolr {
            color: #1476b9;
            font-size: 24px;
        }

        .helthimg {
            width: 77px;
            position: absolute;
            right: 450px;
            top: 24px;
        }

        .tocntainer {
            margin-top: 150px;
        }

        .helthtop {
            margin-top: -18px;
        }

        @@media screen and (max-width:700px) {
            .tocntainer {
                margin-top: 0px;
            }

            .helthtop {
                margin-top: 81px;
            }
        }

        .hidden {
            display: none !important;
        }

        .list-inline > li {
            display: inline-block;
            padding-right: 5px;
            padding-left: 5px;
        }

        .rounded-top {
            border-radius: 4px 4px 0 0 !important;
        }

        .compayrbtn {
            background: #e71820;
            color: #fff;
            border-radius: 20px;
            padding: 3px 12px;
        }

            .compayrbtn:hover {
                color: #fff !important;
            }

        .padding_horizontal_20 {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }

        .no-margin-bottom {
            margin-bottom: 0 !important;
        }

        p {
            margin-top: 0;
            margin-bottom: 0px;
        }

        .topbox {
            background: #d1e9f9;
            padding: 15px;
            margin-bottom: 14px;
        }

        .boxborder {
            border: 1px solid #ccc;
            padding: 10px;
        }

        .filterhed {
            padding: 5px;
            color: #262566;
            font-weight: bold;
        }

        .seeingo {
            color: #1375b8 !important;
            font-weight: 100 !important;
            font-size: 15px;
        }

            .seeingo input:checked ~ .checkmark {
                background-color: #e32730 !important;
            }

        .fonticon {
            font-size: 20px;
            color: #2d83bd;
        }

        .fontheding {
            margin-left: 12px;
            font-size: 15px;
            color: #2d83bd;
        }

        .fontdetails {
            font-size: 13px;
            text-align: right;
        }

        .listbox {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 14px;
        }

            .listbox:hover {
                box-shadow: 10px 10px 20px rgba(171,171,176,0.88);
            }

        .bookbtn {
            padding: 13px 35px;
            border-top-right-radius: 30px;
            border-bottom-left-radius: 30px;
        }

        .emialcort {
            float: right;
            border: 1px solid #e71820;
            background: #e71820;
            padding: 10px 10px;
            border-radius: 30px;
            width: 20%;
            color: #fff;
        }

        .editcort {
            text-align: center;
            float: right;
            margin-left: 13px;
            border: 1px solid #e71820;
            background: #e71820;
            padding: 10px 10px;
            border-radius: 30px;
            width: 20%;
            color: #fff;
        }

        .permismcolr {
            font-size: 20px;
            width: 40%;
            border: 1px solid #0d75bc;
            padding: 5px;
            background: #fff;
            color: #2c83be;
        }

        .panel {
            margin-bottom: 20px;
            background-color: #fff;
            border: 1px solid transparent;
            border-radius: 21px !important;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
        }

        .text-center {
            text-align: center;
        }

        .panel-default > .panel-heading {
            color: #333;
            background-color: #f5f5f5;
            border-color: #ddd;
            border-radius: 23px !important;
        }

        .panel-heading {
            color: #fff;
            padding: 5px 15px;
        }

        .panel-heading {
            padding: 10px 15px;
            border-bottom: 1px solid transparent;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        .panel-title {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 16px;
            color: inherit;
        }

        .no-padding {
            padding: 0 !important;
        }

        .panel-body {
            padding: 15px;
        }

        .color-orange {
            color: #3c3595;
        }

        .formcontlbord {
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            border-radius: 0px;
            border-radius: 0px;
        }

        .section1, .section2, .section3, .section4 {
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
            padding: 20px 30px;
            border-radius: 4px;
        }

        .cmposion {
            position: absolute;
            right: 22px;
            margin-top: -30px;
            font-weight: 100;
            color: #ccc;
        }

        .form-control[readonly] {
            background-color: #fff !important;
            opacity: 1;
        }

        .select2-container {
            width: 100% !important;
        }
        input[type="text"]::-webkit-input-placeholder {
            -webkit-transition: opacity 0.3s linear;
            color: gray;
        }

        input[type="text"]:focus::-webkit-input-placeholder {
            opacity: 0;
        }
    </style>
}
<div style="margin-top:118px;">
    <div class="container-fluid topbox">
        <div class="row">
            <div class="col-sm-4">
                <h3 style="margin-top: 10px;">BIKE INSURANCE</h3>
            </div>
            <div class="col-sm-8">
                <a href="#" class="editcort">Edit Details</a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="">
        <div class="col-sm-12">
            <div class="row form-group">
                <div class="col-sm-9 form-group">
                    <div class="col-sm-12">
                        <div id="msform">
                            <ul id="progressbar">
                                <li class="active">Selected Addon</li>
                                <li class="linext2" id="tabOwnerDel">Owner Details </li>
                                <li class="linext3" id="tabNomineeDel">Nominee Details</li>
                                <li class="linext4" id="tabVehicleDel">Vehicle History</li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-sm-12 col-xs-12 form-group">
                        <div class="row form-group">
                            <div class="col-sm-12" id="divVechleDetails" style="border: 1px solid #ccc; padding: 9px;">
                                <div class="text-center">
                                    <p style="font-size: 20px;">Please wait... <i class="fa fa-spinner fa-pulse"></i></p>
                                </div>
                            </div>
                        </div>
                        <fieldset class="row section1" id="fsSelectedAddonSection">
                            <div class="col-sm-12 form-group">
                                <div class="tab">
                                    <button class="tablinks butntab active" id="tabAddOnCovers" onclick="openCity(event, 'AddOnCovers')">Add On Covers</button>
                                    <button class="tablinks butntab" id="tabLegalLiabilitys" onclick="openCity(event, 'LegalLiabilitys')">Legal Liabilities</button>
                                    <button class="tablinks butntab" id="tabAccessoriesCovers" onclick="openCity(event, 'AccessoriesCovers')">Accessories Covers</button>
                                </div>
                                <div id="AddOnCovers" class="tabcontent" style="display:block;">
                                    <div class='col-sm-12 text-center' style='padding: 10px;'>
                                        <p style='font-size: 20px;'>Please wait... <i class='fa fa-spinner fa-pulse'></i></p>
                                    </div>
                                </div>

                                <div id="LegalLiabilitys" class="tabcontent"></div>

                                <div id="AccessoriesCovers" class="tabcontent"></div>
                            </div>
                            <div class="col-sm-12">
                                <button class="next1 default-btn pull-right designbtn" id="btnNextSelectedPlan" onclick="return NextSelectedPlan();">NEXT</button>
                            </div>
                        </fieldset>
                        <fieldset class="row section2" id="fsOwnerDetailsSection" style="display:none;">
                            <div class="col-sm-12">
                                <div class="row form-group" style="padding: 10px;">
                                    @*<div class="col-sm-2 form-validation">
                <select class="form-control formcontlbord" id="ddlPGender">
                    <option value="">Gender</option>
                    <option value="male">Male</option>
                    <option value="female">Female</option>
                </select>
            </div>*@
                                    <div class="col-sm-2 form-validation">
                                        <select class="form-control formcontlbord" id="ddlPTitle">
                                            <option value="">Title</option>
                                            <option value="mr">Mr.</option>
                                            <option value="mrs">Mrs.</option>
                                            <option value="miss">Miss</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-5 form-validation">
                                        <input type="text" class="form-control formcontlbord" id="txtPFirstName" placeholder="First Name *" />
                                    </div>
                                    <div class="col-sm-5 form-validation">
                                        <input type="text" class="form-control formcontlbord " id="txtPLastName" placeholder="Last Name *" />
                                    </div>
                                </div>
                                <div class="row form-group" style="padding: 10px;">
                                    <div class="col-sm-4 form-validation">
                                        <input type="text" class="form-control formcontlbord" id="txtPMobile" placeholder="Mobile No *" onkeypress="return isNumberOnlyKeyNoDot(event)" maxlength="10" />
                                    </div>
                                    <div class="col-sm-4 form-validation">
                                        <input type="text" class="form-control formcontlbord CommanDateWithYr" id="txtPDOB" placeholder="Date Of Birth" onchange="return CalculateAge('txtPDOB');" />
                                        <span class="notpdobvalid" style="position: absolute;top: 10px;right: 15px;"></span>
                                        <script>
                                            $('[data-toggle="tooltip"]').tooltip();
                                        </script>
                                    </div>
                                    <div class="col-sm-4 form-validation">
                                        <input type="text" class="form-control formcontlbord " id="txtPEmail" placeholder="Email id *" />
                                    </div>
                                </div>
                                <div class="row form-group" style="padding: 10px;">
                                    <div class="col-sm-4 form-validation">
                                        <input type="text" class="form-control formcontlbord" id="txtPAddress1" placeholder="Flat/House Number*" maxlength="10" onkeypress="return BlockSpecialChar(event)" />
                                    </div>
                                    <div class="col-sm-4 form-validation">
                                        <input type="text" class="form-control formcontlbord" id="txtPAddress2" placeholder="Street/Area/Address*" maxlength="75" />
                                    </div>
                                    <div class="col-sm-4">
                                        <input type="text" class="form-control formcontlbord " id="txtPLandmark" placeholder="Landmark*" maxlength="75" />
                                    </div>
                                </div>
                                <div class="row form-group" style="padding: 10px;">
                                    <div class="col-sm-4 form-validation">
                                        <input type="text" class="form-control formcontlbord" id="txtPPincode" placeholder="Pincode*" onkeypress="return isNumberOnlyKeyNoDot(event)" onkeyup="return CheckAndGetDetails()" maxlength="6" />
                                        <span class="notpincodevalid hidden" style="position: absolute;top: 10px;right: 15px;"></span>
                                    </div>
                                    <div class="col-sm-4 form-validation">
                                        <input type="text" class="form-control formcontlbord" id="txtPState" placeholder="State*" readonly="readonly" />
                                    </div>
                                    <div class="col-sm-4 form-validation">
                                        <input type="text" class="form-control formcontlbord" id="txtPCity" placeholder="City*" readonly="readonly" />
                                    </div>
                                </div>
                                @*<div class="row form-group" style="padding: 10px;">
            <div class="col-sm-12 ">
                <label class="seeingo" style="color: #777777!important;">
                    Is Proposer and Insured Person Same ?
                    <input type="checkbox" class="submenuclass" id="chkIsProposerInsured" name="chkIsProposerInsured" checked="checked" />
                    <span class="checkmark"></span>
                </label>
            </div>
        </div>*@
                                <div class="col-sm-12">
                                    <button class="next2 default-btn pull-right designbtn" id="btnBikeNextOwnerDetails" @*onclick="return NextOwnerDetails();"*@>NEXT</button>
                                    <button class="previous1 prvbtn btn btn-success pull-left prev designbtn" id="btnPrevOwnerDetails" onclick="return PrevOwnerDetails();">PREVIOUS</button>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="row section3" id="fsNomineeDetailsSection" style="display:none;">
                            <div class="col-sm-12">
                                <div class="row form-group" style="padding:10px;">
                                    <div class="col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-5">
                                                <div class="row">
                                                    <div class="col-sm-7">
                                                        <select class="form-control formcontlbord" name="ddlRelation_1" id="ddlRelation_1">
                                                            <option value="">Select</option>
                                                        </select>
                                                    </div>
                                                    <div class="col-sm-5">
                                                        <select name="ddlTitle_1" id="ddlTitle_1" class="form-control formcontlbord">
                                                            <option value="">Title</option>
                                                            <option value="mr">Mr.</option>
                                                            <option value="mrs">Mrs.</option>
                                                            <option value="miss">Miss</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-sm-7">
                                                <div class="row">
                                                    <div class="col-sm-4 form-validation">
                                                        <input type="text" class="form-control formcontlbord" id="txtInFirstName_1" placeholder="first name" />
                                                    </div>
                                                    <div class="col-sm-4 form-validation">
                                                        <input type="text" class="form-control formcontlbord" id="txtInLastName_1" placeholder="last name" />
                                                    </div>
                                                    <div class="col-sm-4 form-validation">
                                                        <input type="text" class="form-control formcontlbord CommanDateWithYr   " id="txtInDOB_1" placeholder="Date Of Birth" onchange="return CalculateNomineeAge('txtInDOB_1');" />
                                                        <span class="notndobvalid" style="position: absolute;top: 40px;right: 15px;"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" style="margin-top: 20px;">
                                        <button class="next3 default-btn pull-right designbtn" id="btnBikeNextProposerDetails">NEXT</button>
                                        <button class="previous2 prvbtn btn btn-success pull-left prev designbtn" onclick="return PrevNomineeDetails();">PREVIOUS</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="row section4" id="fsVehicleHistorySection" style="display:none;">
                            <div class="col-sm-12">
                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <div class="row form-group">
                                            <div class="col-sm-4 form-validation">
                                                <input type="text" class="form-control formcontlbord" readonly maxlength="12" id="txtvihicle" placeholder="Vehicle Reg Number" value="">
                                            </div>
                                            <div class="col-sm-4 form-validation">
                                                <input type="text" class="form-control formcontlbord" id="txtengin" maxlength="17" placeholder="Engine Number" />
                                                <span style="font-size: 10px;float: right;color:#ccc;" id="spengineno">must be min 6 and max 17 digit</span>
                                            </div>
                                            <div class="col-sm-4 form-validation">
                                                <input type="text" class="form-control formcontlbord" id="txtchassisno" maxlength="17" placeholder="Chassis Number" />
                                                <span style="font-size: 10px;float: right;color:#ccc;" id="spchassisno">must be min and max 17 digit</span>
                                            </div>

                                        </div>
                                        <div class="row form-group">
                                            <div class="col-sm-4 form-validation">
                                                @*<input type="text" class="form-control formcontlbord" id="txtValuntary" onkeypress="return isNumberOnlyKeyNoDot(event)" placeholder="Valuntary deductible.." value="">*@
                                                <select class="form-control" name="ddlValuntary1" id="ddlValuntary1">
                                                    <option value="">SELECT VALUNTARY DEDUCTIBLE</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4 form-validation" id="divPreviousInsured" style="display:none;">
                                                <select class="form-control" name="ddlPreviousInsured" id="ddlPreviousInsured">
                                                    <option value="">SELECT PREVIOUS INSURED</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4 form-validation">
                                                <select class="form-control" id="ddlPolicyHolderType">
                                                    <option value="">SELECT POLICY HOLDER TYPE</option>
                                                    <option value="INDIVIDUAL">Individual</option>
                                                    <option value="COMPANY">Company</option>
                                                </select>
                                            </div>
                                            @*<div class="col-sm-4 form-validation">
                                                    <input type="text" class="form-control formcontlbord" id="txtvihicleYr" maxlength="4" onkeypress="return isNumberOnlyKeyNoDot(event)" placeholder="Vehicle Manufacturing Year" value="">
                                                </div>
                                                <div class="col-sm-4 form-validation">
                                                    <select class="form-control" id="ddlIsPreviousInsurerKnown">
                                                        <option value="">Select Car Under Loan/Lease</option>
                                                        <option value="yes">Yes</option>
                                                        <option value="no">No</option>
                                                    </select>
                                                </div>*@
                                        
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control formcontlbord" id="txtGst" placeholder="GST Number" style="text-transform: uppercase;" onkeypress="return AlphaNumericOnly(event);" maxlength="15" />
                                                <span style="font-size: 10px;float: right;color:#ccc;" id="gstlenvalidation">must be min 15 and max 15 digit</span>
                                            </div>
                                            <div class="col-sm-4 form-validation">
                                                <input type="text" class="form-control formcontlbord" id="txtPanCard" placeholder="Pan Card Number" style="text-transform: uppercase;" onkeypress="return AlphaNumericOnly(event);" maxlength="10" />
                                                <span style="font-size: 10px;float: right;color:#ccc;" id="panlenvalidation">must be min 10 and max 10 digit</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-12" style="margin-top: 20px;">
                                        <button class="next1 default-btn pull-right designbtn" id="btnLastSubmit" onclick="return PerposalLastSubmit();">Submit</button>
                                        <button class="previous3 prvbtn btn btn-success pull-left prev designbtn" onclick="return PrevVehicleHistory();">PREVIOUS</button>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </div>
                <div class="col-sm-3" style="border: 1px solid #ccc;padding: 5px;" id="divPlanSummarySection">
                    <div class="row">
                        <div class="col-sm-12">
                            <h4 class="text-center">Your Plan Summary</h4>
                            <p class="text-center" style="font-size: 20px;margin-top: 50%;">Please wait... <i class="fa fa-spinner fa-pulse"></i></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button type="button" style="display:none!important" id="PMButton" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#PerposalModal"></button>
<div class="modal fade" id="PerposalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top: 10%;">
        <div class="modal-content" id="divPerposalModal">
            <p class="text-center" style="font-size: 20px;padding: 10%;">Please wait... <i class="fa fa-spinner fa-pulse"></i></p>
        </div>
    </div>
</div>
@section footer{

    <script src="~/Content/js/custom/common.js"></script>
    <script src="~/Content/js/custom/DatePicker.js?v=1.1"></script>
    <script src="~/Content/js/BikeJs/bikeProposalDetails.js?v=1.2"></script>
    <script>
        function openCity(evt, cityName) {
            var i, tabcontent, tablinks;
            tabcontent = document.getElementsByClassName("tabcontent");
            for (i = 0; i < tabcontent.length; i++) {
                tabcontent[i].style.display = "none";
            }
            tablinks = document.getElementsByClassName("tablinks");
            for (i = 0; i < tablinks.length; i++) {
                tablinks[i].className = tablinks[i].className.replace(" active", "");
            }
            document.getElementById(cityName).style.display = "block";
            evt.currentTarget.className += " active";
        }
    </script>
}

