﻿@model insurance.Areas.AdminArea.Models.AdminArea_Custom.MenuModel

@{
    ViewBag.Title = "AddEditMenu";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section header{
    <style>
        .requiredstrik {
            color: red;
        }
    </style>
}

<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-plus-square"></i>&nbsp;Add / Edit Menu</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li class="dropdown">
                <div class="text-right">
                    <a href="/menu/menu-list" class="btn btn-primary btn-sm"><span class="fa fa-reply" style="color:#fff!important;"></span>&nbsp;Menu List</a>
                </div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align">
                Menu Name <span class="requiredstrik">*</span>
            </label>
            <div class="col-md-6 col-sm-6 form-validation">
                @Html.TextBoxFor(p => p.MenuName, new { @class = "form-control", placeholder = "Enter menu name" })
            </div>
        </div>
        <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align">
                Menu Url
            </label>
            <div class="col-md-6 col-sm-6 ">
                @Html.TextBoxFor(p => p.MenuUrl, new { @class = "form-control", placeholder = "Enter menu url" })
            </div>
        </div>
        <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align">
                Menu Icon
            </label>
            <div class="col-md-6 col-sm-6">
                @Html.TextBoxFor(p => p.Icon, new { @class = "form-control", placeholder = "Enter menu icon" })
            </div>
        </div>
        <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3"></label>
            <div class="col-md-6 col-sm-6">
                <button type="submit" id="btnSubmit" class="btn btn-success pull-right" onclick="MenuSubmitEvt();">Submit</button>
            </div>
        </div>
    </div>
</div>

@section footer{
    <script src="~/Areas/AdminArea/Content/customjquery/menu.js"></script>
}