﻿@model insurance.Areas.AdminArea.Models.AdminArea_Custom.MenuModel

@{
    ViewBag.Title = "MenuList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-sm-4">
                <h2><i class="fa fa-list"></i>&nbsp;Menu List</h2>
            </div>
            <div class="col-sm-8">
                <div class="text-right">
                    @*<a href="/menu/add-edit-menu" class="btn btn-primary btn-sm"><span class="fa fa-plus-circle" style="color:#fff!important;"></span>&nbsp;Add Menu</a>*@
                    <a href="/menu/add-edit-menu" class="btn btn-primary btn-sm pull-right"><span class="fa fa-plus-circle" style="color: #ffffff;"></span> Add New Menu</a>
                    <a href="/menu/menu-list?status=deactive" class="btn btn-danger btn-sm pull-right"><span class="fa fa-trash-o" style="color: #ffffff;"></span> Deactive List</a>
                    <a href="/menu/menu-list?status=active" class="btn btn-success btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> Active List</a>
                    <a href="/menu/menu-list?status=all" class="btn btn-primary btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> All List</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-sm-12 searchpanel">
                <div class="row input-group col-sm-4 col-xs-12">
                    <input type="text" class="form-control" id="txtMenuSearch" placeholder="Search by menu name">
                </div>
            </div>
            <input type="hidden" id="totalrecord" value="@Model.MenuList.Count" />
            <div class="col-sm-12">
                <div class="table-responsive text-nowrap">
                    <table class="table" data-toggle="table">
                        <thead>
                            <tr style="background:#f6f6f6;">
                                <th>Menu&nbsp;Name</th>
                                <th>Menu&nbsp;Url</th>
                                <th>Icon</th>
                                <th style="width:150px;">Position</th>
                                <th>Status</th>
                                <th>Created&nbsp;Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.MenuList.Count > 0 && Model.MenuList != null)
                            {
                                foreach (var item in Model.MenuList.OrderBy(p => p.Position).ToList())
                                {
                                    <tr class="menulistcss" data-menuname="@item.MenuName">
                                        <td>@item.MenuName</td>
                                        <td>@(!string.IsNullOrEmpty(item.MenuUrl) ? item.MenuUrl : "- - -")</td>
                                        <td>@(!string.IsNullOrEmpty(item.Icon)? item.Icon:"- - -")</td>
                                        <td>
                                            <input type="text" id="txtPosition_@item.MenuId" value="@item.Position" style="width:50px;" />
                                            <button data-menuid="@item.MenuId" class="btn btn-sm btn-success btnSetPosition" style="padding: 0rem .5rem!important;" id="btnSetPosition_@item.MenuId">Set</button>
                                        </td>
                                        <td>@(item.Status==true?"Active":"Deactive")</td>
                                        <td>@item.CreatedDate</td>
                                        <td>
                                            @if (item.Status)
                                            {
                                                <a href="/menu/add-edit-menu?menuid=@item.MenuId" class="btn btn-success btn-sm" data-toggle="Edit" title="Edit"><span class="fa fa-edit"></span></a>
                                                <span id="deletemenu_@item.MenuId" style="cursor: pointer;" data-menuid="@item.MenuId" class="btn btn-danger btn-sm deletemenu" data-toggle="InActive" title="InActive"><span class="fa fa-trash" id="delspan_@item.MenuId"></span></span>
                                            }
                                            else
                                            {
                                                <span id="restoremenu_@item.MenuId" style="cursor: pointer;color:#fff;" data-menuid="@item.MenuId" class="btn btn-warning btn-sm restoremenu" data-toggle="Active" title="Active"><span class="fa fa-undo" id="restorespan_@item.MenuId"></span></span>
                                            }
                                        </td>
                                    </tr>
                                }
                                <tr class="norecordfound hidden">
                                    <td colspan="7" class="text-center text-danger">No record found !</td>
                                </tr>
                            }
                            else
                            {
                                <tr class="norecordfound">
                                    <td colspan="7" class="text-center text-danger">No record found !</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section footer{
    <script src="~/Areas/AdminArea/Content/customjquery/menu.js"></script>
}
