﻿@model insurance.Areas.AdminArea.Models.AdminArea_Custom.StaffMenuModel

<ul class="nav side-menu">
    @if (Model.StaffMenuList != null && Model.StaffMenuList.Count > 0)
    {
        foreach (var menu in Model.StaffMenuList)
        {
            int subMenuCount = Model.SubMenuList.Where(p => p.MenuId == menu.MenuId).Count();

            <li class="@menu.ActiveClass">
                <a @(!string.IsNullOrEmpty(menu.MenuUrl) ? "href=" + menu.MenuUrl + "" : "")>
                    <i class="@menu.Icon"></i> @menu.MenuName
                    @if (subMenuCount > 0)
                    {<span class="fa fa-chevron-down"></span>}
                </a>

                @if (subMenuCount > 0)
                {
                    <ul class="nav child_menu">
                        @foreach (var submenu in Model.SubMenuList.Where(p => p.MenuId == menu.MenuId).OrderBy(p => p.SubMenuName))
                        {
                            <li><a href="@(!string.IsNullOrEmpty(submenu.SubMenuUrl)?submenu.SubMenuUrl:"#")">@submenu.SubMenuName</a></li>
                        }
                    </ul>
                }
            </li>
        }
    }
</ul>