﻿@model insurance.Areas.AdminArea.Models.AdminArea_Commission.IncentiveCommission

@{
    ViewBag.Title = "AddEditInsentiveComission";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section header{
    <style>
        .requiredstrik {
            color: red;
        }
    </style>
}
<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-plus-square"></i>&nbsp;Add / Edit Incentive Commission</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li class="dropdown">
                <div class="text-right">
                    <a href="/adminarea/backend_commision/healthinsentivecomissionlist" class="btn btn-primary btn-sm"><span class="fa fa-reply" style="color:#fff!important;"></span>&nbsp;Insentive Commission List</a>
                </div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="col-sm-12">
            @using (Html.BeginForm("AddEditInsentiveComission", "Backend_Commision", new { id = Model.id }))
            {
                @Html.HiddenFor(p => p.id)
                <div class="row form-group">
                    <div class="col-form-label col-md-3 col-sm-3">
                        <label>Select Group <span class="requiredstrik">*</span></label>
                        @Html.DropDownListFor(m => m.GroupId, Model.GroupList, "-- Select Group --", new { @class = "form-control", style = "color:#7a7777e0" })
                        @Html.HiddenFor(p => p.GroupName)
                    </div>
                    <div class="col-form-label col-md-3 col-sm-3">
                        <label>Select Agency <span class="requiredstrik">*</span></label>
                        @Html.DropDownListFor(m => m.AgencyId, Model.AgencyList, "-- Select Agency --", new { @class = "form-control", style = "color:#7a7777e0" })
                        @Html.HiddenFor(p => p.AgencyName)
                    </div>
                    <div class="col-form-label col-md-3 col-sm-3 form-validation">
                        <label>Select Insurer <span class="requiredstrik">*</span></label>
                        @Html.DropDownListFor(m => m.InsurerId, Model.InsurerList, "-- Select Insurer --", new { @class = "form-control", style = "color:#7a7777e0", @onchange = "FillProductList()" })
                        @Html.HiddenFor(p => p.InsurerName)
                    </div>
                    <div class="col-form-label col-md-3 col-sm-3">
                        <label>Select Product <span class="requiredstrik">*</span></label>
                        @Html.DropDownListFor(m => m.ProductCode, Model.ProductList, new { @class = "form-control", style = "color:#7a7777e0" })
                        @Html.HiddenFor(p => p.ProductName)
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-form-label col-md-2 col-sm-2">
                        <label>IRDAI &nbsp;[in %]</label>
                        @Html.TextBoxFor(p => p.IRDAI, new { @Value = "15", @class = "form-control", })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-form-label col-md-3 col-sm-3">
                        <label>Incentive Amount</label>
                    </div>
                    <div class="col-form-label col-md-3 col-sm-3">
                        <label>Percentage Value</label>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-form-label col-md-3 col-sm-3">
                        @Html.TextBoxFor(p => p.AdditinalSI_1, new { @class = "form-control intval" })
                    </div>
                    <div class="col-form-label col-md-3 col-sm-3">
                        @Html.TextBoxFor(p => p.AdditinalSI_1Val, new { @class = "form-control intval" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-form-label col-md-3 col-sm-3">
                        @Html.TextBoxFor(p => p.AdditinalSI_2, new { @class = "form-control intval" })
                    </div>
                    <div class="col-form-label col-md-3 col-sm-3">
                        @Html.TextBoxFor(p => p.AdditinalSI_2Val, new { @class = "form-control intval" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-form-label col-md-3 col-sm-3">
                        @Html.TextBoxFor(p => p.AdditinalSI_3, new { @class = "form-control intval" })
                    </div>
                    <div class="col-form-label col-md-3 col-sm-3">
                        @Html.TextBoxFor(p => p.AdditinalSI_3Val, new { @class = "form-control intval" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-form-label col-md-3 col-sm-3">
                        @Html.TextBoxFor(p => p.AdditinalSI_4, new { @class = "form-control intval" })
                    </div>
                    <div class="col-form-label col-md-3 col-sm-3">
                        @Html.TextBoxFor(p => p.AdditinalSI_4Val, new { @class = "form-control intval" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-form-label col-md-3 col-sm-3">
                        @Html.TextBoxFor(p => p.AdditinalSI_5, new { @class = "form-control intval" })
                    </div>
                    <div class="col-form-label col-md-3 col-sm-3">
                        @Html.TextBoxFor(p => p.AdditinalSI_5Val, new { @class = "form-control intval" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-form-label col-md-3 col-sm-3">
                        @Html.TextBoxFor(p => p.AdditinalSI_6, new { @class = "form-control intval" })
                    </div>
                    <div class="col-form-label col-md-3 col-sm-3">
                        @Html.TextBoxFor(p => p.AdditinalSI_6Val, new { @class = "form-control intval" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-form-label col-md-3 col-sm-3">
                        @Html.TextBoxFor(p => p.AdditinalSI_7, new { @class = "form-control intval" })
                    </div>
                    <div class="col-form-label col-md-3 col-sm-3">
                        @Html.TextBoxFor(p => p.AdditinalSI_7Val, new { @class = "form-control intval" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-form-label col-md-3 col-sm-3">
                        @Html.TextBoxFor(p => p.AdditinalSI_8, new { @class = "form-control intval" })
                    </div>
                    <div class="col-form-label col-md-3 col-sm-3">
                        @Html.TextBoxFor(p => p.AdditinalSI_8Val, new { @class = "form-control intval" })
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-form-label col-md-12 col-sm-12"></label>
                    <div class="col-md-12 col-sm-12">
                        <button type="submit" id="btnSubmit" class="btn btn-success pull-right" onclick="return FormSubmitEvt();">Submit</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section footer
{
    <script>
        FormSubmitEvt = () => {
            var groupId = $("#GroupId option:selected").val();
            var groupName = $("#GroupId option:selected").text();
            var agencyId = $("#AgencyId option:selected").val();
            var agencyName = $("#AgencyId option:selected").text();
            var insurerId = $("#InsurerId option:selected").val();
            var insurerName = $("#InsurerId option:selected").text();
            var productCode = $("#ProductCode option:selected").val();
            var productName = $("#ProductCode option:selected").text();

            if (groupId == "" && agencyId == "") {
                alert("Please select either any group or any agency!");
                return false;
            }
            else if (groupId != "" && agencyId != "") {
                alert("Please select any one either group or agency!");
                return false;
            }
            else {
                if (groupId != "") { $("#GroupName").val(groupName); }
                if (agencyId != "") { $("#AgencyName").val(agencyName); }
                if (insurerId != "") { $("#InsurerName").val(insurerName); } else { alert("Please select Insurer!"); $("#InsurerName").focus(); return false; }
                $("#ProductName").val(productName);    
                return true;
            }            
        }

        FillProductList = () => {
            var insurerid = $('#InsurerId').val();
            if (insurerid != "") {
                $("#ProductCode").prop("disabled", true);
                $("#ProductCode").html("").append("<option value=''>Product binding...</option>");
                $.ajax({
                    type: "Post",
                    url: "/Backend_Commision/GetProductList",
                    data: '{insurerid: ' + JSON.stringify(insurerid) + '}',
                    contentType: "application/json; charset=utf-8",
                    datatype: "json",
                    success: function (response) {
                        $("#ProductCode").html("");
                        $("#ProductCode").append("<option value='all'>All</option>");
                        if (response != "") {
                            $.each(response, function (i, item) { $("#ProductCode").append("<option value='" + item.ProductId + "'> " + item.ProductName + "</option>"); });
                        }
                        $("#ProductCode").prop("disabled", false);
                    }
                });
            }
        }
    </script>
}