﻿@model List<System.Object>
@{
    ViewBag.Title = "AddEditHealthComission";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section header{
    <style>
        .requiredstrik {
            color: red;
        }
    </style>
}

<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-plus-square"></i>&nbsp;Add / Edit Commission</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li class="dropdown">
                <div class="text-right">
                    <a href="/AdminArea/Backend_Commision/HealthComissionList" class="btn btn-primary btn-sm"><span class="fa fa-reply" style="color:#fff!important;"></span>&nbsp;Commission List</a>
                </div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <div class="item form-group hidden">
            <div class="col-md-6 col-sm-6 form-validation hidden">
                <input type="text" class="form-control hidden" name="comm_id" id="comm_id" readonly value="@Model[0]" />
            </div>
        </div>

        <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align">Agency</label>
            <div class="col-md-6 col-sm-6 form-validation">
                <input type="text" class="form-control hidden" name="comm_AgencyId" id="comm_AgencyId" readonly value="" />
                <select class="form-control" name="comm_ddlAgencyName" id="comm_ddlAgencyName">
                    @*<option value="">Select Agency</option>*@
                    @Html.Raw(@Model[2])
                </select>
            </div>
        </div>

        <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align">Group</label>
            <div class="col-md-6 col-sm-6 form-validation">
                <input type="text" class="form-control hidden" name="comm_GroupId" id="comm_GroupId" readonly value="" />
                <select class="form-control" name="comm_ddlGroupName" id="comm_ddlGroupName">
                    @*<option value="">Select Group</option>*@
                    @Html.Raw(@Model[1])
                </select>
            </div>
        </div>

        <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align">Company</label>
            <div class="col-md-6 col-sm-6 form-validation">
                <input type="text" class="form-control hidden" name="comm_CompanyId" id="comm_CompanyId" readonly value="" />
                <select class="form-control" name="comm_ddlCompanyName" id="comm_ddlCompanyName">
                    @*<option value="">Select Insurer</option>*@
                    @Html.Raw(@Model[3])
                </select>
            </div>
        </div>

        <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align">Product</label>
            <div class="col-md-6 col-sm-6 form-validation">
                <input type="text" class="form-control hidden" name="comm_ProductCode" id="comm_ProductCode" readonly value="" />
                <select class="form-control" name="comm_ddlProductName" id="comm_ddlProductName">
                    <option value="">Select Product</option>
                </select>
            </div>
        </div>

        <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align">Commisson Type</label>
            <div class="col-md-6 col-sm-6 form-validation">
                <select class="form-control" name="comm_ddlCommissionType" id="comm_ddlCommissionType">
                    <option value="percentage">Percentage (%)</option>
                    <option value="fixed">Fixed</option>
                </select>
            </div>
        </div>

        <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align">Base Commission</label>
            <div class="col-md-6 col-sm-6 form-validation">
                <input type="text" class="form-control" name="comm_baseCommission" onkeypress="return isDecimalOnlyKey(event)" id="comm_baseCommission" value="" />
            </div>
        </div>

        <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align">TDS(%)</label>
            <div class="col-md-6 col-sm-6 form-validation">
                <input type="text" class="form-control" name="comm_TDS" id="comm_TDS" onkeypress="return isDecimalOnlyKey(event)" value="18" />
            </div>
        </div>


        <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3"></label>
            <div class="col-md-6 col-sm-6">
                <button type="submit" id="comm_btnSubmit" class="btn btn-success pull-right">Submit</button>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/custom/common.js"></script>
<script src="~/Areas/AdminArea/Content/js/backend_commission/AddEditHealthComission.js"></script>