﻿@model List<System.Object>
@{
    ViewBag.Title = "CommissionReport";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section header
{
    <style>
        .table td, .table th {
            padding: .5rem;
            border-top: 1px solid #ccc;
        }
    </style>
}

<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-sm-4">
                <h2><i class="fa fa-list"></i>&nbsp;Commission Report</h2>
            </div>
        </div>
        <div class="row">
            <div class="text-right col-sm-4 form-validation">
                <select class="form-control" name="comm_ddlAgencyName" id="comm_ddlAgencyName">
                    @Html.Raw(@Model[0]);
                </select>
            </div>
            <div class="text-right col-sm-4 form-validation">
                <input class="form-control" type="month" name="comm_time" id="comm_time" value="" />
            </div>
            <div class="col-sm-2">
                <span class="btn btn-primary btn-md form-control" id="btn_GenerateReport" style="color:white">&nbsp;Generate Report</span>
            </div>
            <div class="col-sm-2">
                <span class="btn btn-primary btn-md form-control" id="btnExportToExcel" style="color:white">&nbsp;Export To Excel</span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive text-nowrap">
                    <table class="table" data-toggle="table" id="IncentiveTable">
                        <thead>
                            <tr style="background:#f6f6f6;">
                                <th>Agency Name</th>
                                <th>Insurer</th>
                                <th>Product</th>
                                <th>TotalSale</th>
                                <th>Inc. Percentage</th>
                                <th>Inc. Amount</th>
                                <th>GroupName</th>
                            </tr>
                        </thead>
                        <tbody id="tbodycomm">
                            <tr style="background:#f6f6f6;"><td colspan="7" class="text-center text-danger"><span>No record found!</span></td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="~/Content/js/custom/common.js"></script>
<script src="~/Content/js/custom/table2excel.js"></script>
<script>
    $("#btn_GenerateReport").click(function () {

        if (CheckFocusDropDownBlankValidation("comm_ddlAgencyName")) return !1;
        if (CheckFocusBlankValidation("comm_time")) return !1;

        $.ajax({
            type: "Post",
            url: "/Backend_Commision/GenerateCommissionReport",
            data: '{agencyId: ' + JSON.stringify($("#comm_ddlAgencyName option:selected").val()) + ',time: ' + JSON.stringify($("#comm_time").val()) + '}',
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                if (data != null && data != "") {
                    $("#tbodycomm").html("").html(data);
                }
            }
        });
    });

    (function () {
        let today = new Date();
        let date = today.getFullYear() + '-' + ('0' + (today.getMonth() + 1)).slice(-2);
        $("#comm_time").val(date);
        $("#btn_GenerateReport").click();
    })();

    function exportexcel(tableId, filename) {
        let today = new Date();
        $("#" + tableId).table2excel({
            name: "Table2Excel",
            filename: filename + "_" + today.getDate() + "_" + (today.getMonth()+1) + "_" + today.getFullYear(),
            fileext: ".xls"
        });
    }

    $("#btnExportToExcel").click(function () { exportexcel('IncentiveTable', 'IncenticeReport') });
</script>