﻿@model IEnumerable<insurance.Areas.AdminArea.Models.AdminArea_Commission.Commission>
@{
    ViewBag.Title = "HealthComissionList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section header
{
    <style>
        .table td, .table th {
            padding: .5rem;
            border-top: 1px solid #ccc;
        }
    </style>
}

<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-sm-4">
                <h2><i class="fa fa-list"></i>&nbsp;Commission List</h2>
            </div>
            <div class="col-sm-8">
                <div class="text-right">
                    <a href="~/AdminArea/Backend_Commision/AddEditHealthComission" class="btn btn-primary btn-sm pull-right"><span class="fa fa-plus-circle" style="color: #ffffff;"></span> Add Commission</a>
                    @*<a href="/management/commission-list?status=deactive" class="btn btn-danger btn-sm pull-right"><span class="fa fa-trash-o" style="color: #ffffff;"></span> Deactive List</a>
                        <a href="/management/commission-list" class="btn btn-success btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> Active List</a>
                        <a href="/management/commission-list?status=all" class="btn btn-primary btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> All List</a>*@
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive text-nowrap">
                    <table class="table" data-toggle="table">
                        <thead>
                            <tr style="background:#f6f6f6;">
                                <th>Agency Name</th>
                                <th>Group Name</th>
                                <th>Company Name</th>
                                <th class="text-center">Product Code</th>
                                <th>Product Name</th>
                                <th>Commission Type</th>
                                <th class="text-center">Base Commssion</th>
                                <th class="text-center">TDS</th>
                                <th colspan="3" class="text-center">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() > 0)
                            {
                                foreach (var item in Model)
                                {
                                    <tr id="commData_@item.id">
                                        <td>@(string.IsNullOrEmpty(item.AgencyName) ? "- - -" : item.AgencyName)</td>
                                        <td>@(string.IsNullOrEmpty(item.GroupName) ? "- - -" : item.GroupName)</td>
                                        <td>@item.CompanyName</td>
                                        <td class="text-center">@item.ProductCode</td>
                                        <td>@item.ProductName</td>
                                        <td>@item.CommissionType</td>
                                        <td class="text-center">@item.BaseCommssion</td>
                                        <td class="text-center">@item.TDS</td>
                                        <td style="color:green;font-weight:bold;"><i class="fa fa-check-circle-o"></i></td>
                                        <td class="text-primary" style="font-weight:bold;"><a href="~/AdminArea/Backend_Commision/AddEditHealthComission/@item.id"><i class="fa fa-edit"></i></a></td>
                                        <td class="text-danger" style="font-weight:bold;" onclick="DeleteCommission(@item.id)"><i class="fa fa-trash-o"></i></td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td colspan="11" class="text-center text-danger">No Record Found !!!</td>
                                </tr>

                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    const DeleteCommission = id => {
        let confirmation = confirm("Are you sure want to delete this data");
        if (confirmation == true) {
            $.ajax({
                type: "Post",
                url: "/Backend_Commision/DeleteCommission",
                async: false,
                data: '{id: ' + JSON.stringify(id) + '}',
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    if (data === true) {
                        alert("Data Deleted");
                        $("#commData_" + id).remove();
                    }
                }
            });
        }
    }
</script>

