﻿@model insurance.Areas.AdminArea.Models.AdminArea_Commission.IncentiveCommission

@{
    ViewBag.Title = "HealthInsentiveComissionList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section header
{
    <style>
        .table td, .table th {
            padding: .5rem;
            border-top: 1px solid #ccc;
        }
    </style>
}

<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-sm-4">
                <h2><i class="fa fa-list"></i>&nbsp;Incentive Commission List</h2>
            </div>
            <div class="col-sm-8">
                <div class="text-right">
                    <a href="/AdminArea/Backend_Commision/AddEditInsentiveComission" class="btn btn-primary btn-sm pull-right"><span class="fa fa-plus-circle" style="color: #ffffff;"></span> Add New Insentive Commission</a>
                    @*<a href="/management/commission-list?status=deactive" class="btn btn-danger btn-sm pull-right"><span class="fa fa-trash-o" style="color: #ffffff;"></span> Deactive List</a>
                        <a href="/management/commission-list" class="btn btn-success btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> Active List</a>
                        <a href="/management/commission-list?status=all" class="btn btn-primary btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> All List</a>*@
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-sm-12">
                <div class="table-responsive text-nowrap" style="overflow: scroll;overflow-y: hidden;">
                    <table class="table" data-toggle="table">
                        <thead>
                            <tr style="background:#f6f6f6;">
                                <th>GroupType</th>
                                <th>Agency</th>
                                <th>Insurer</th>
                                <th>Product</th>
                                <th>IRDAI</th>
                                <th>AdditinalSI_1 (₹)</th>
                                <th>AdditinalSI_1Val</th>
                                <th>AdditinalSI_2 (₹)</th>
                                <th>AdditinalSI_2Val</th>
                                <th>AdditinalSI_3 (₹)</th>
                                <th>AdditinalSI_3Val</th>
                                <th>AdditinalSI_4 (₹)</th>
                                <th>AdditinalSI_4Val</th>
                                <th>AdditinalSI_5 (₹)</th>
                                <th>AdditinalSI_5Val</th>
                                <th>AdditinalSI_6 (₹)</th>
                                <th>AdditinalSI_6Val</th>
                                <th>AdditinalSI_7 (₹)</th>
                                <th>AdditinalSI_7Val</th>
                                <th>AdditinalSI_8 (₹)</th>
                                <th>AdditinalSI_8Val</th>
                                <th>Status</th>
                                <th colspan="2">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.IncentiveList.Count > 0)
                            {
                                foreach (var item in Model.IncentiveList)
                                {
                                    <tr>
                                        <td>@(!string.IsNullOrEmpty(item.GroupId) ? item.GroupName : "- - -")</td>
                                        <td>@(!string.IsNullOrEmpty(item.AgencyId) ? item.AgencyName : "- - -")</td>
                                        <td>@(!string.IsNullOrEmpty(item.InsurerId) ? item.InsurerName : "ALL")</td>
                                        <td>@(!string.IsNullOrEmpty(item.ProductCode) ? item.ProductName : "ALL")</td>
                                        <td>@(!string.IsNullOrEmpty(item.IRDAI) ? item.IRDAI : "0") %</td>
                                        <td>@(!string.IsNullOrEmpty(item.AdditinalSI_1) ? item.AdditinalSI_1 : "0") </td>
                                        <td>@(!string.IsNullOrEmpty(item.AdditinalSI_1Val) ? item.AdditinalSI_1Val : "0") %</td>
                                        <td>@(!string.IsNullOrEmpty(item.AdditinalSI_2) ? item.AdditinalSI_2 : "0") </td>
                                        <td>@(!string.IsNullOrEmpty(item.AdditinalSI_2Val) ? item.AdditinalSI_2Val : "0") %</td>
                                        <td>@(!string.IsNullOrEmpty(item.AdditinalSI_3) ? item.AdditinalSI_3 : "0") </td>
                                        <td>@(!string.IsNullOrEmpty(item.AdditinalSI_3Val) ? item.AdditinalSI_3Val : "0") %</td>
                                        <td>@(!string.IsNullOrEmpty(item.AdditinalSI_4) ? item.AdditinalSI_4 : "0") </td>
                                        <td>@(!string.IsNullOrEmpty(item.AdditinalSI_4Val) ? item.AdditinalSI_4Val : "0") %</td>
                                        <td>@(!string.IsNullOrEmpty(item.AdditinalSI_5) ? item.AdditinalSI_5 : "0") </td>
                                        <td>@(!string.IsNullOrEmpty(item.AdditinalSI_5Val) ? item.AdditinalSI_5Val : "0") %</td>
                                        <td>@(!string.IsNullOrEmpty(item.AdditinalSI_6) ? item.AdditinalSI_6 : "0") </td>
                                        <td>@(!string.IsNullOrEmpty(item.AdditinalSI_6Val) ? item.AdditinalSI_6Val : "0") %</td>
                                        <td>@(!string.IsNullOrEmpty(item.AdditinalSI_7) ? item.AdditinalSI_7 : "0") </td>
                                        <td>@(!string.IsNullOrEmpty(item.AdditinalSI_7Val) ? item.AdditinalSI_7Val : "0") %</td>
                                        <td>@(!string.IsNullOrEmpty(item.AdditinalSI_8) ? item.AdditinalSI_8 : "0") </td>
                                        <td>@(!string.IsNullOrEmpty(item.AdditinalSI_8Val) ? item.AdditinalSI_8Val : "0") %</td>
                                        <td style="color:green;font-weight:bold;"><i class="fa fa-check-circle-o"></i></td>
                                        <td>
                                            <a class="text-primary editincentive" id="insedit_@item.id" data-insid="@item.id" style="font-weight:bold;" href="/adminarea/backend_commision/addeditinsentivecomission?id=@item.id">
                                                <i class="fa fa-edit"></i>
                                            </a>
                                        </td>
                                        <td>
                                            <a class="text-danger" id="insdel_@item.id" onclick="return insdelfn(@item.id);" style="font-weight:bold;" href="@Url.Action("UpdateInsentiveComission", "Backend_Commision", new { id = item.id, status ="0"})">
                                                <i class="fa fa-trash-o"></i>
                                            </a>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td class="text-danger text-center" colspan="19">No record found!</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@section footer
{
    <script>
        $(".editincentive").click(function () { let insid = $(this).data("insid"); if (insid != "") { $("#insedit_" + insid).html('<i class="fa fa-spinner fa-pulse"></i>'); return true; } return false; });
        function insdelfn(insid) { if (confirm('Are you sure, you want to delete this incentive ?')) { $("#insdel_" + insid).html('<i class="fa fa-spinner fa-pulse"></i>'); return true; } return false; }
    </script>
}