﻿.seeingo {
    display: block;
    position: relative;
    padding-left: 29px;
    margin-bottom: 0px;
    cursor: pointer;
    /* font-size: 15px; */
    margin-top: 18px !important;
    font-weight: 100 !important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 2px !important;
}

    .seeingo input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

        .seeingo input:checked ~ .checkmark {
            background-color: #26B99A;
        }

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 19px;
    width: 19px;
    background-color: #fff;
    border: 1px solid red;
    /*border-radius: 15px;*/
}

.seeingo input:checked ~ .checkmark:after {
    display: block;
}

.seeingo .checkmark:after {
    left: 5px;
    top: 1px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.checkmark:after {
    content: "";
    position: absolute;
    /*display: none;*/
}

.seeingo input:checked ~ .subcheckmark {
    background-color: #337ab7;
}
.subcheckmark {
    position: absolute;
    top: 0;
    left: 50%;
    height: 19px;
    width: 19px;
    background-color: #fff;
    border: 1px solid #337ab7;
}
.seeingo input:checked ~ .subcheckmark:after {
    display: block;
}

.seeingo .subcheckmark:after {
    left: 5px;
    top: 1px;
    width: 7px;
    height: 12px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.subcheckmark:after {
    content: "";
    position: absolute;
    /*display: none;*/
}


.seeingo2 {
    display: block;
    position: relative;
    padding-top: 3px;
    font-weight: bold !important;
    color: #262566;
    padding-left: 38px;
    margin-bottom: 0px;
    cursor: pointer;   
    margin-top: 18px !important;    
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-top: 2px !important;
}

    .seeingo2 input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

        .seeingo2 input:checked ~ .checkmark2 {
            background-color: #fff;
        }

.checkmark2 {
    position: absolute;
    top: 0;
    left: 0;
    height: 28px;
    width: 28px;
    border-radius: 20px;
    background-color: #fff;
    border: 1px solid;
}

.seeingo2 input:checked ~ .checkmark2:after {
    display: block;
}

.seeingo2 .checkmark2:after {
    left: 9px;
    top: 2px;
    width: 8px;
    height: 17px;
    border: solid #e71820;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg)
}

.checkmark2:after {
    content: "";
    position: absolute;
    display: none;
}
.yrposion {
    position: absolute;
    right: 22px;
    margin-top: 5px;
    font-weight: 100;
    color: #ccc;
}