﻿

.blackbutton {
    font-weight: bold;
    background: #000;   
    border: 1px solid #000;
}
    .blackbutton:hover {
        font-weight: bold;
        background: #000;
        border: 1px solid #000;
    }
    .blackbutton:focus {
        font-weight: bold;
        background: #000;
        border: 1px solid #000;
    }
.mainmenu {
    background: #e71820 !important;
    font-size: 18px !important;
    text-align: center;
    float: none;
    color: #fff;
}
.SearchPannel {
    border: 1px solid #cec5c5;
    padding: 10px;
    border-radius: 4px;
    margin-top: 15px;
}
.MenuBack {
    background: #2A3F54;
    min-height: 500px;
    margin-top: 117px;
    box-shadow: 0px 0px 8px;
}
.margin_topMenu {
    margin-top: 150px !important;
}
.FaFloat {
    float: none !important; 
}
.DashbordMenu {
    margin-right: 0px;
    margin-left: 0px;
    min-height:380px;
}

@media(max-width:1000px)
{
    .SearchPannel{
        width:100%;
        margin-left:0px;
    }
    .MenuBack {
        background: #f3f3f3;
       min-height:200px;
    }
}
nav2 {
    position: relative;
    margin: 50px;
    width: 360px;
}

    nav2 ul {
        list-style: none;
        margin: 0;
        padding: 0;
        /*margin-top: 50px;*/
        /*margin-left: -4px;*/
    }

        nav2 ul li {
           cursor:pointer;
        }

            nav2 ul li a {
                display: block;
                background: #ffffff;
                padding: 10px 15px;
                color: #333;
                border: 1px solid #808080;
                text-decoration: none;
                -webkit-transition: 0.2s linear;
                -moz-transition: 0.2s linear;
                -ms-transition: 0.2s linear;
                -o-transition: 0.2s linear;
                transition: 0.2s linear;
            }

                nav2 ul li a:hover {
                    background: #e71820 !important;
                    color: #fff !important;
                    border-left: 4px solid #043152;
                }

                nav2 ul li a .fa {
                    width: 16px;
                    text-align: center;
                    margin-right: 5px;
                    float: right;
                    font-size: 18px;
                }

        nav2 ul ul {
            background-color: #ebebeb;
        }

        nav2 ul li ul li a {
            background: #f8f8f8;
            border-left: 4px solid transparent;
            padding: 10px 20px;
        }

            nav2 ul li ul li a:hover {
                background: #ebebeb;
                border-left: 4px solid #f01a1a;
            }
