﻿

.FaSize {
    background: #000;
    padding: 14px;
    color: #ffffff !important;
    border-radius: 50%;
    box-shadow: 0px 0px 9px #555;
}

.end {
    margin-right: 0 !important;
}

.wrapper {
    margin: 30px auto;
    position: relative;
}
.counter {
    border: 1px solid #ffe44d;
    box-shadow: 2.1px 2.1px 2.1px #ccc;
    padding: 20px 0;
    border-radius: 5px;
    text-align: center
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 14px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}

header {
    position: relative;
    width: 100%;
    background: #fff;
    box-shadow: 0px 0px 11px;
  
}

.searchbox {
    margin-right: 15px;
    margin-left: 15px;
    border-radius: 6px;
    padding: 37px 35px;
    margin-top: 13px;
    box-shadow: 0px 0px 8px #646464;
}

.margin_topMenu {
    padding-top: 21px;
}

.margin_topSerchbtn {
    margin-top: 17px;
    padding: 6px 16px !important;
}

.power_offmenu {
    color: #df1e1e !important;
    font-size: 18px !important;
    margin-top: 5px;
    border: 1px solid !important;
    padding: 8px 10px !important;
    border-radius: 50%;
}
    .power_offmenu:hover {
        color: #f0d11c !important;
        box-shadow: 0px 0px 9px #a7a7a74f;
    }
.menubox {
    font-size: 16px !important;
}
    .menubox:hover {
        color: #f0d11c !important;
        border-bottom: 2px solid #f0d11c !important;
    }

.AccountDetails {
    position: absolute;
    bottom: 27px;
    right: 89px;
}

@media(max-width:1000px) {
    .menubox {
        border-top: 0px !important;
        border-bottom: 0px !important;
        color: #130c0c !important;
        font-size: 16px !important;
        margin-left: 0px
    }
    .AccountDetails{
        display:none;
    }
    .margin_topMenu {
        margin-right: 0px;
    }
    .power_offmenu {
        margin-top: 0px;
        border: 0px !important;
        border-radius: 0px;
    }
}

.logo {
    position: relative;
    z-index: 123;
    float: left;
    width: 20%
}

    .logo a {
        color: #6DDB07;
    }

nav {
    position: relative;
    width: 95%;
    margin: 0 auto
}

#cssmenu, #cssmenu ul, #cssmenu ul li, #cssmenu ul li a, #cssmenu #head-mobile {
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    position: relative;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box
}

    #cssmenu:after, #cssmenu > ul:after {
        content: ".";
        display: block;
        clear: both;
        visibility: hidden;
        line-height: 0;
        height: 0
    }

    #cssmenu #head-mobile {
        display: none
    }

#cssmenu {
    background: #fff;
}

    #cssmenu > ul > li {
        float: left
    }

        #cssmenu > ul > li > a {
            padding: 17px;
            font-size: 12px;
            letter-spacing: 1px;
            text-decoration: none;
            color: #000;
            font-weight: 600;
            font-family: Lora,serif !important;
            font-style: italic !important;
        }

        #cssmenu > ul > li:hover > a, #cssmenu ul li.active a {
            color: #000;
        }

        #cssmenu > ul > li:hover, #cssmenu ul li.active:hover, #cssmenu ul li.active, #cssmenu ul li.has-sub.active:hover {
            -webkit-transition: background .3s ease;
            -ms-transition: background .3s ease;
            transition: background .3s ease;
        }

        #cssmenu > ul > li.has-sub > a {
            padding-right: 30px
        }

            #cssmenu > ul > li.has-sub > a:after {
                position: absolute;
                top: 22px;
                right: 11px;
                width: 8px;
                height: 2px;
                display: block;
                background: #ddd;
                content: ''
            }

            #cssmenu > ul > li.has-sub > a:before {
                position: absolute;
                top: 19px;
                right: 14px;
                display: block;
                width: 2px;
                height: 8px;
                background: #ddd;
                content: '';
                -webkit-transition: all .25s ease;
                -ms-transition: all .25s ease;
                transition: all .25s ease
            }

        #cssmenu > ul > li.has-sub:hover > a:before {
            top: 23px;
            height: 0
        }

    #cssmenu ul ul {
        position: absolute;
        left: -9999px
    }

        #cssmenu ul ul li {
            height: 0;
            -webkit-transition: all .25s ease;
            -ms-transition: all .25s ease;
            background: #333;
            transition: all .25s ease
        }

            #cssmenu ul ul li:hover {
            }

    #cssmenu li:hover > ul {
        left: auto
    }

        #cssmenu li:hover > ul > li {
            height: 35px
        }

    #cssmenu ul ul ul {
        margin-left: 100%;
        top: 0
    }

    #cssmenu ul ul li a {
        border-bottom: 1px solid rgba(150,150,150,0.15);
        padding: 11px 15px;
        width: 170px;
        font-size: 12px;
        text-decoration: none;
        color: #ddd;
        font-weight: 400;
    }

    #cssmenu ul ul li:last-child > a, #cssmenu ul ul li.last-item > a {
        border-bottom: 0
    }

    #cssmenu ul ul li:hover > a, #cssmenu ul ul li a:hover {
        color: #fff
    }

    #cssmenu ul ul li.has-sub > a:after {
        position: absolute;
        top: 16px;
        right: 11px;
        width: 8px;
        height: 2px;
        display: block;
        background: #ddd;
        content: ''
    }

    #cssmenu ul ul li.has-sub > a:before {
        position: absolute;
        top: 13px;
        right: 14px;
        display: block;
        width: 2px;
        height: 8px;
        background: #ddd;
        content: '';
        -webkit-transition: all .25s ease;
        -ms-transition: all .25s ease;
        transition: all .25s ease
    }

    #cssmenu ul ul > li.has-sub:hover > a:before {
        top: 17px;
        height: 0
    }

    #cssmenu ul ul li.has-sub:hover, #cssmenu ul li.has-sub ul li.has-sub ul li:hover {
        background: #363636;
    }

    #cssmenu ul ul ul li.active a {
        border-left: 1px solid #333
    }

    #cssmenu > ul > li.has-sub > ul > li.active > a, #cssmenu > ul ul > li.has-sub > ul > li.active > a {
        border-top: 1px solid #333
    }

@media screen and (max-width:1000px) {
    .logo {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 46px;
        text-align: center;
        padding: 10px 0 0 0;
        float: none
    }

    .logo2 {
        display: none
    }

    nav {
        width: 100%;
    }

    #cssmenu {
        width: 100%
    }

        #cssmenu ul {
            width: 100%;
            display: none
        }

            #cssmenu ul li {
                width: 100%;
                border-top: 1px solid #444
            }

                #cssmenu ul li:hover {
                    background: #363636;
                }

            #cssmenu ul ul li, #cssmenu li:hover > ul > li {
                height: auto
            }

                #cssmenu ul li a, #cssmenu ul ul li a {
                    width: 100%;
                    border-bottom: 0
                }

        #cssmenu > ul > li {
            float: none
        }

        #cssmenu ul ul li a {
            padding-left: 25px
        }

        #cssmenu ul ul li {
            background: #333 !important;
        }

            #cssmenu ul ul li:hover {
                background: #363636 !important
            }

        #cssmenu ul ul ul li a {
            padding-left: 35px
        }

        #cssmenu ul ul li a {
            color: #ddd;
            background: none
        }

        #cssmenu ul ul li:hover > a, #cssmenu ul ul li.active > a {
            color: #fff
        }

        #cssmenu ul ul, #cssmenu ul ul ul {
            position: relative;
            left: 0;
            width: 100%;
            margin: 0;
            text-align: left
        }

            #cssmenu > ul > li.has-sub > a:after, #cssmenu > ul > li.has-sub > a:before, #cssmenu ul ul > li.has-sub > a:after, #cssmenu ul ul > li.has-sub > a:before {
                display: none
            }

        #cssmenu #head-mobile {
            display: block;
            padding: 50px;
            color: #ddd;
            font-size: 12px;
            font-weight: 700
        }

    .button {
        width: 55px;
        height: 46px;
        position: absolute;
        right: 0;
        top: 0;
        cursor: pointer;
        z-index: 12399994;
    }

        .button:after {
            position: absolute;
            top: 22px;
            right: 20px;
            display: block;
            height: 9px;
            width: 20px;
            border-top: 2px solid #e9d114;
            border-bottom: 2px solid #e9d114;
            content: ''
        }

        .button:before {
            -webkit-transition: all .3s ease;
            -ms-transition: all .3s ease;
            transition: all .3s ease;
            position: absolute;
            top: 16px;
            right: 20px;
            display: block;
            height: 2px;
            width: 20px;
            background: #e9d114;
            content: ''
        }

        .button.menu-opened:after {
            -webkit-transition: all .3s ease;
            -ms-transition: all .3s ease;
            transition: all .3s ease;
            top: 23px;
            border: 0;
            height: 2px;
            width: 19px;
            background: #e9d114;
            -webkit-transform: rotate(45deg);
            -moz-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
            -o-transform: rotate(45deg);
            transform: rotate(45deg)
        }

        .button.menu-opened:before {
            top: 23px;
            background: #e9d114;
            width: 19px;
            -webkit-transform: rotate(-45deg);
            -moz-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
            -o-transform: rotate(-45deg);
            transform: rotate(-45deg)
        }

    #cssmenu .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid #444;
        height: 46px;
        width: 46px;
        cursor: pointer
    }

        #cssmenu .submenu-button.submenu-opened {
            background: #262626
        }

    #cssmenu ul ul .submenu-button {
        height: 34px;
        width: 34px
    }

    #cssmenu .submenu-button:after {
        position: absolute;
        top: 22px;
        right: 19px;
        width: 8px;
        height: 2px;
        display: block;
        background: #ddd;
        content: ''
    }

    #cssmenu ul ul .submenu-button:after {
        top: 15px;
        right: 13px
    }

    #cssmenu .submenu-button.submenu-opened:after {
        background: #fff
    }

    #cssmenu .submenu-button:before {
        position: absolute;
        top: 19px;
        right: 22px;
        display: block;
        width: 2px;
        height: 8px;
        background: #ddd;
        content: ''
    }

    #cssmenu ul ul .submenu-button:before {
        top: 12px;
        right: 16px
    }

    #cssmenu .submenu-button.submenu-opened:before {
        display: none
    }

    #cssmenu ul ul ul li.active a {
        border-left: none
    }

    #cssmenu > ul > li.has-sub > ul > li.active > a, #cssmenu > ul ul > li.has-sub > ul > li.active > a {
        border-top: none
    }
}
