﻿.noUi-target {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-touch-action: none;
    -ms-user-select: none;
    -moz-user-select: none;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.noUi-target {
    position: relative;
    direction: ltr;
}

.noUi-base {
    width: 100%;
    height: 100%;
    position: relative;
    cursor: pointer !important;
}

.noUi-origin {
    position: absolute;
    right: 0;
    top: 0;
    left: 0;
    bottom: 0;
}

.noUi-handle {
    position: relative;
    z-index: 1;
}

.noUi-stacking .noUi-handle {
    z-index: 10;
}

.noUi-state-tap .noUi-origin {
    -webkit-transition: left .3s,top .3s;
    transition: left .3s,top .3s;
}

.noUi-state-drag * {
    cursor: inherit !important;
}

.noUi-base {
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.noUi-horizontal {
    height: 10px;
}

    .noUi-horizontal .noUi-handle {
        width: 25px;
        height: 25px;
        border-radius: 12.5px !important;
        left: -12px;
        top: -9px;
    }

.h5, h5 {
    font-size: 15px;
}

.noUi-vertical {
    width: 18px;
}

    .noUi-vertical .noUi-handle {
        width: 28px;
        height: 34px;
        left: -6px;
        top: -17px;
    }

.noUi-background {
    background: #FAFAFA;
    box-shadow: inset 0 1px 1px #f0f0f0;
}

.noUi-connect {
    background: #CCC;
    box-shadow: inset 0 0 3px rgba(51,51,51,.45);
    -webkit-transition: background 450ms;
    transition: background 450ms;
}

.noUi-origin {
    border-radius: 2px;
}

.noUi-target {
    border-radius: 4px;
    border: 1px solid #D3D3D3;
    box-shadow: inset 0 1px 1px #F0F0F0,0 3px 6px -5px #BBB;
}

    .noUi-target.noUi-connect {
        box-shadow: inset 0 0 3px rgba(51,51,51,.45),0 3px 6px -5px #BBB;
    }

.noUi-dragable {
    cursor: w-resize;
}

.noUi-vertical .noUi-dragable {
    cursor: n-resize;
}

.noUi-handle {
    border: 1px solid #a3a3a3;
    border-radius: 3px;
    background: #FFF;
    cursor: pointer;
    ;
}

.noUi-active {
    box-shadow: inset 0 0 1px #FFF,inset 0 1px 7px #DDD,0 3px 6px -3px #BBB;
}

.noUi-handle:after {
    left: 12px;
}

.noUi-vertical .noUi-handle:after, .noUi-vertical .noUi-handle:before {
    width: 14px;
    height: 1px;
    left: 6px;
    top: 14px;
}

.noUi-vertical .noUi-handle:after {
    top: 17px;
}

[disabled] .noUi-connect, [disabled].noUi-connect {
    background: #B8B8B8;
}

[disabled] .noUi-handle {
    cursor: not-allowed;
}


.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

.clear_both:before,
.clear_both:after {
    content: '';
    display: table;
}

#productDetailsModal
.modal-content {
    border-radius: 10px !important;
}

#productDetailsModal
.layout_tab,
#productDetailsModal
.layout_accordion {
    padding-top: 20px;
    border-bottom: dotted 1px #44b2bf;
    border-bottom-width: 2px;
}

#productDetailsModal .modal-header {
    background-color: #3d3691;
    border-radius: 7px 7px 0 0 !important;
    border: none;
}

    #productDetailsModal .modal-header .close {
        position: absolute;
        right: 0px;
        top: 0px;
        width: 45px;
        height: 44px;
        background-color: #3d3691;
        text-shadow: none;
        opacity: 1;
    }

#sendQuoteModal .modal-content {
    border-radius: 10px !important;
}

#sendQuoteModal .modal-header {
    border-radius: 10px 10px 0 0 !important;
}

    #sendQuoteModal .modal-header .close {
        position: absolute;
        right: -11px;
        top: -8px;
        width: 45px;
        height: 47px;
        background-color: #3d3691;
        text-shadow: none;
        opacity: 1;
        border-radius: 0 7px 0 0 !important;
    }

        #sendQuoteModal .modal-header .close:hover {
            opacity: 1;
            color: #FFF;
        }

#section_options .sky-form fieldset {
    background-color: transparent;
}

#section_product_quotes {
    padding-bottom: 15px;
    z-index: 1;
}

#feature_list fieldset {
    padding: 10px 15px 5px !important;
}

.my_badge.label {
    background: linear-gradient(to right,#f59cb4 0%,#f59cb4 100%);
    border-radius: 0;
    font-size: 12px;
    font-weight: normal;
    left: 0;
    padding: 3px 5px 3px;
    text-shadow: none;
    top: 0;
    color: #fff !important;
}

    .my_badge.label[class*="span"][class*="arrow"] {
        min-height: 0
    }

    .my_badge.label.arrowed-in-right {
        margin-right: 9px;
        position: absolute
    }

        .my_badge.label.arrowed-in-right:after {
            border: 9px solid #f59cb4;
            border-right-color: transparent !important;
            content: "";
            display: inline-block;
            position: absolute;
            right: -9px;
            top: 0;
        }

.my_badge.label-large {
    font-size: 13px;
    padding: 3px 8px 4px
}

    .my_badge.label-large:before {
        left: -12px
    }

    .my_badge.label-large.arrowed-in-right {
        margin-right: 11px
    }

        .my_badge.label-large.arrowed-in-right:after {
            border-width: 10px 8px;
            right: -10px
        }

.product_block {
    position: relative;
}

    .product_block > .middle_feature_section > tbody > tr > td:first-child {
        width: 20%;
    }

    .product_block > .middle_feature_section > tbody > tr > td:nth-child(2) {
        width: 30%;
    }

    .product_block > .middle_feature_section > tbody > tr > td:nth-child(3) {
        width: 30%;
    }

    .product_block > .middle_feature_section > tbody > tr > td:last-child {
        width: 20%;
    }

    .product_block .middle_feature_section .my_badge {
        font-size: 13px;
    }

    .product_block .middle_feature_section .feature_table {
        text-align: left;
        padding-left: 10px;
    }

    .product_block .middle_feature_section tr:first-child > td:first-child > img {
        width: 100px;
    }

    .product_block .feature_table small {
        color: #777;
    }

    .product_block .feature_table table {
        min-height: 60px;
    }

    .product_block .feature_table .feature_name {
        text-align: left !important;
        padding-left: 10px !important;
        vertical-align: bottom;
        color: #3d3691;
        font-weight: 600;
    }

    .product_block .feature_table .feature_value {
        text-align: left !important;
        padding-left: 10px !important;
        vertical-align: top
    }

    .product_block .feature_table table tr:first-child > td:first-child {
        text-align: left !important;
    }

@@media (max-width:767px) {
    #section_product_quotes_list {
        padding-right: 0;
        padding-left: 0;
    }
}

@@media (min-width:768px) and (max-width:991px) {
    #productDetailsModal .buy_now, .product_block .buy_now {
        min-width: 100px;
        padding: 10px;
    }

    .product_block .table tr:first-child > td:first-child > img {
        width: 100px;
    }

    .product_block .table tr:nth-child(2) > td:nth-child(2) {
        border-left: solid 1px #eee !important;
        border-right: solid 1px #eee !important;
    }
}

@@media (max-width:991px) {
    #section_options {
        padding-top: 0;
    }

    .product_block .table_mobile tr:first-child > td:first-child > img {
        width: 100px;
    }
}

@@media (min-width:992px) and (max-width:1199px) {
    .product_block .buy_now {
        min-width: 100px !important;
    }

    .product_block .table tr:not(:last-child) > td {
        padding: 0 14px 0;
    }
}

.sprite {
    background: url("/public/images/sprites/product_block_features.png") no-repeat top left;
    width: 35px;
    height: 35px;
}

    .sprite.product_block_feature_room_rent {
        background-position: 0 0;
        height: 40px;
    }

    .sprite.product_block_feature_co_pay {
        background-position: 0 -50px;
    }

    .sprite.product_block_feature_hospital {
        background-position: 0 -95px;
        width: 38px;
    }

    .sprite.product_block_feature_ped {
        background-position: 0 -140px;
        height: 40px;
    }

    .sprite.product_block_usp {
        background-position: 0 -190px;
        width: 20px;
        height: 20px;
    }

@@media (max-width:1199px) {
    #feature_list {
        display: table;
    }
}

@@media (min-width:1200px) {
    #section_product_quotes {
        min-height: 653px;
    }
}

.table td, .table th {
    padding: 2px;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

#productCompareModal .compare_table > tbody > tr > td:first-child {
    background-color: #FBFBFB;
}

#productCompareModal .compare_table > tbody > tr > td {
    border: none;
    border-bottom: dotted 1px #ededed;
}

#productCompareModal .compare_table > tbody > tr:not(:first-child) > td:first-child {
    text-align: left;
    padding-left: 40px;
    position: relative;
}

    #productCompareModal .compare_table > tbody > tr:not(:first-child) > td:first-child:not(.compare_feature_heading):before {
        font-family: FontAwesome;
        font-style: normal;
        font-weight: normal;
        content: "\f0da";
        color: #e0426f;
        margin-left: -15px;
        position: absolute;
    }
