﻿@model insurance.Areas.AdminArea.Models.AdminArea_Custom.RoleModel

@{
    ViewBag.Title = "AddEditRole";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section header{
    <style>
        .requiredstrik {
            color: red;
        }
    </style>
}

<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-plus-square"></i>&nbsp;Add / Edit Role</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li class="dropdown">
                <div class="text-right">
                    <a href="/role-management/role-list" class="btn btn-primary btn-sm"><span class="fa fa-reply" style="color:#fff!important;"></span>&nbsp;Role List</a>
                </div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align">
                Role Name <span class="requiredstrik">*</span>
            </label>
            <div class="col-md-6 col-sm-6 form-validation">
                @Html.TextBoxFor(p => p.RoleName, new { @class = "form-control", placeholder = "enter role name" })
            </div>
        </div>        
        <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3"></label>
            <div class="col-md-6 col-sm-6">
                <button type="submit" id="btnSubmit" class="btn btn-success pull-right" onclick="RoleSubmitEvt();">Submit</button>
            </div>
        </div>
    </div>
</div>

@section footer{
    <script src="~/Areas/AdminArea/Content/customjquery/role.js"></script>
}

