﻿@model insurance.Areas.AdminArea.Models.AdminArea_Custom.Commission

@{
    ViewBag.Title = "AddEditCommission";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section header{
    <style>
        .requiredstrik {
            color: red;
        }
    </style>
}

<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-plus-square"></i>&nbsp;Add / Edit Commission</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li class="dropdown">
                <div class="text-right">
                    <a href="/management/commission-list" class="btn btn-primary btn-sm"><span class="fa fa-reply" style="color:#fff!important;"></span>&nbsp;Commission List</a>
                </div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align">
                Basic Percentage <span class="requiredstrik">*</span>
            </label>
            <div class="col-md-6 col-sm-6 form-validation">
                @Html.TextBoxFor(p => p.BasicPer, new { @class = "form-control", placeholder = "enter basic percentage" })
            </div>
        </div>
        <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align">
                Basic TDS @*<span class="requiredstrik">*</span>*@
            </label>
            <div class="col-md-6 col-sm-6 form-validation">
                @Html.TextBoxFor(p => p.BasicTDS, new { @class = "form-control", placeholder = "enter basic tds" })
            </div>
        </div>
        <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align">
                Incentive Percentage @*<span class="requiredstrik">*</span>*@
            </label>
            <div class="col-md-6 col-sm-6 form-validation">
                @Html.TextBoxFor(p => p.IncentivePer, new { @class = "form-control", placeholder = "enter incentive percentage" })
            </div>
        </div>
        <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align">
                Incentive TDS @*<span class="requiredstrik">*</span>*@
            </label>
            <div class="col-md-6 col-sm-6 form-validation">
                @Html.TextBoxFor(p => p.IncentiveTDS, new { @class = "form-control", placeholder = "enter incentive tds" })
            </div>
        </div>
        <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3"></label>
            <div class="col-md-6 col-sm-6">
                <button type="submit" id="btnSubmit" class="btn btn-success pull-right" onclick="CommisionSubmitEvt();">Submit</button>
            </div>
        </div>
    </div>
</div>


@section footer{
    <script src="~/Areas/AdminArea/Content/customjquery/commission.js"></script>
}

