﻿@model insurance.Areas.AdminArea.Models.AdminArea_Custom.MotorCompanyModel
@{
    ViewBag.Title = "AddEditCompany";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section header{
    <style>
        .requiredstrik {
            color: red;
        }
    </style>
}

<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-plus-square"></i>&nbsp;Add / Edit Company</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li class="dropdown">
                <div class="text-right">
                    <a href="/profile/motor/company-list" class="btn btn-primary btn-sm"><span class="fa fa-reply" style="color:#fff!important;"></span>&nbsp;Company List</a>
                </div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    @using (Html.BeginForm("AddEditCompanymotor", "Backend_Role", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.id)
        <div class="x_content">
            <br>
            <div class="col-sm-12">
                <div class="row form-group">
                    <div class="col-form-label col-md-6 col-sm-6">
                        <label>Supplier Name <span class="requiredstrik">*</span></label>
                        @Html.TextBoxFor(p => p.Supplier, new { @class = "form-control", placeholder = "enter supplier name" })
                    </div>
                    <div class="col-form-label col-md-6 col-sm-6">
                        <label>Api User Name <span class="requiredstrik">*</span></label>
                        @Html.TextBoxFor(p => p.ApiUsername, new { @class = "form-control", placeholder = "enter api User name" })
                    </div>
                    <div class="col-form-label col-md-6 col-sm-6">
                        <label>Api Password <span class="requiredstrik">*</span></label>
                        @Html.TextBoxFor(p => p.ApiPassword, new { @class = "form-control", placeholder = "enter api password" })
                    </div>
                    <div class="col-form-label col-md-6 col-sm-6">
                        <label>Api AgencyID <span class="requiredstrik">*</span></label>
                        @Html.TextBoxFor(p => p.ApiAgencyID, new { @class = "form-control", placeholder = "enter api agencyid " })
                    </div>
                    <div class="col-form-label col-md-6 col-sm-6">
                        <label>2WQuoteUrl <span class="requiredstrik">*</span></label>
                        @Html.TextBoxFor(p => p.TwoWQuoteUrl, new { @class = "form-control", placeholder = "enter 2WQuoteUrl " })
                    </div>
                    <div class="col-form-label col-md-6 col-sm-6">
                        <label>2WProposalUrl <span class="requiredstrik">*</span></label>
                        @Html.TextBoxFor(p => p.TwoWProposalUrl, new { @class = "form-control", placeholder = "enter 2WProposalUrl " })
                    </div>
                    <div class="col-form-label col-md-6 col-sm-6">
                        <label>PCQuoteUrl <span class="requiredstrik">*</span></label>
                        @Html.TextBoxFor(p => p.PCQuoteUrl, new { @class = "form-control", placeholder = "enter PCQuoteUrl " })
                    </div>
                    <div class="col-form-label col-md-6 col-sm-6">
                        <label>PCProposalUrl <span class="requiredstrik">*</span></label>
                        @Html.TextBoxFor(p => p.PCProposalUrl, new { @class = "form-control", placeholder = "enter PCProposalUrl " })
                    </div>
                    <div class="col-form-label col-md-6 col-sm-6">
                        <label>CMVQuoteUrl <span class="requiredstrik">*</span></label>
                        @Html.TextBoxFor(p => p.CMVQuoteUrl, new { @class = "form-control", placeholder = "enter CMVQuoteUrl " })
                    </div>
                    <div class="col-form-label col-md-6 col-sm-6">
                        <label>CMVProposalUrl <span class="requiredstrik">*</span></label>
                        @Html.TextBoxFor(p => p.CMVProposalUrl, new { @class = "form-control", placeholder = "enter CMVProposalUrl " })
                    </div>
                    <div class="col-form-label col-md-6 col-sm-6">
                        <label>TripType <span class="requiredstrik">*</span></label>
                        @Html.TextBoxFor(p => p.TripType, new { @class = "form-control", placeholder = "enter TripType " })
                    </div>
                    <div class="col-form-label col-md-6 col-sm-6">
                        <label>OtherData <span class="requiredstrik">*</span></label>
                        @Html.TextBoxFor(p => p.OtherData, new { @class = "form-control", placeholder = "enter OtherData " })
                    </div>
                    <div class="col-form-label col-md-6 col-sm-6">
                        <label>Paymentkey <span class="requiredstrik">*</span></label>
                        @Html.TextBoxFor(p => p.Paymentkey, new { @class = "form-control", placeholder = "enter Paymentkey " })
                    </div>
                    <div class="col-form-label col-md-6 col-sm-6">
                        <label>Image<span class="requiredstrik">*</span></label>
                        <input type="file" id="logo" name="logo" class="form-control" />
                        @if (Model.Image != null)
                        {
                            <span class="input-group-addon">
                                <a href="@Model.Image" target="_blank">
                                    <img src="@Model.Image" class="logoval" width="20" height="20" />
                                </a>
                            </span>
                        }
                        @Html.HiddenFor(m => m.Image, new { @id = "logourl" })
                    </div>
                </div>              
                <div class="row form-group">
                    <label class="col-form-label col-md-12 col-sm-12"></label>
                    <div class="col-md-12 col-sm-12">
                        <button type="submit" id="btnSubmit" class="btn btn-success pull-right" onclick="CompanySubmitEvt();">Submit</button>
                    </div>
                </div>
            </div>

        </div>
    }
</div>

@section footer{
    <script src="~/Areas/AdminArea/Content/customjquery/role.js"></script>
}
