﻿@model insurance.Areas.AdminArea.Models.AdminArea_Custom.CompanyModel
@{
    ViewBag.Title = "AddEditCompany";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section header{
    <style>
        .requiredstrik {
            color: red;
        }
    </style>
}

<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-plus-square"></i>&nbsp;Add / Edit Company</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li class="dropdown">
                <div class="text-right">
                    <a href="/profile/health/company-list" class="btn btn-primary btn-sm"><span class="fa fa-reply" style="color:#fff!important;"></span>&nbsp;Company List</a>
                </div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    @using (Html.BeginForm("AddEditCompany", "Backend_Role", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.CompanyId)
        <div class="x_content">
            <br>
            <div class="col-sm-12">
                <div class="row form-group">
                    <div class="col-form-label col-md-6 col-sm-6">
                        <label>Company Name <span class="requiredstrik">*</span></label>
                        @Html.TextBoxFor(p => p.CompanyName, new { @class = "form-control", placeholder = "enter company name" })
                    </div>
                    <div class="col-form-label col-md-6 col-sm-6">
                        <label>Logo<span class="requiredstrik">*</span></label>
                        <input type="file" id="logo" name="logo" class="form-control" />                        
                        @if (Model.logoUrl != null)
                        {
                            <span class="input-group-addon">
                                <a href="@Model.logoUrl" target="_blank">
                                    <img src="@Model.logoUrl" class="logoval" width="20" height="20" />
                                </a>
                            </span>
                        }
                        @Html.HiddenFor(m => m.logoUrl, new { @id = "logourl" })
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-form-label col-md-12 col-sm-12">
                        <label>Description<span class="requiredstrik">*</span></label>
                        @Html.TextAreaFor(p => p.Description, new { @class = "form-control", placeholder = "enter description" })
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-form-label col-md-12 col-sm-12"></label>
                    <div class="col-md-12 col-sm-12">
                        <button type="submit" id="btnSubmit" class="btn btn-success pull-right" onclick="CompanySubmitEvt();">Submit</button>
                    </div>
                </div>
            </div>

        </div>
    }
</div>

@section footer{
    <script src="~/Areas/AdminArea/Content/customjquery/role.js"></script>
}
