﻿@model insurance.Areas.AdminArea.Models.AdminArea_Custom.Product
@{
    ViewBag.Title = "Updatebrochure";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section header{
    <style>
        .requiredstrik {
            color: red;
        }
    </style>
}
<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-plus-square"></i>&nbsp;Update ClausesLink</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li class="dropdown">
                <div class="text-right">
                    <a href="/profile/health/product-list" class="btn btn-primary btn-sm"><span class="fa fa-reply" style="color:#fff!important;"></span>&nbsp;Product List</a>
                </div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    @using (Html.BeginForm("ClausesLink", "Backend_Role", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.ProductId)
        <div class="x_content">
            <br>
            <div class="col-sm-12">
                <div class="row form-group">
                    <div class="col-form-label col-md-6 col-sm-6">
                        <label>Product Name - @Model.ProductName</label>
                    </div>
                    <div class="col-form-label col-md-6 col-sm-6">
                        <label>Brochure Link<span class="requiredstrik"> accept in  pdf formate *</span></label>
                        <input type="file" id="logo" name="logo" accept="application/pdf" class="form-control" />
                        @if (Model.ClausesLinkUrl != null)
                        {
                            <span class="input-group-addon">
                                @Model.ClausesLinkUrl
                            </span>
                        }
                        @Html.HiddenFor(m => m.ClausesLinkUrl, new { @id = "ClausesLinkUrl" })
                    </div>
                </div>
                <div class="row form-group">
                    <label class="col-form-label col-md-12 col-sm-12"></label>
                    <div class="col-md-12 col-sm-12">
                        <button type="submit" id="btnSubmit" class="btn btn-success pull-right" onclick="CompanySubmitEvt();">Submit</button>
                    </div>
                </div>
            </div>

        </div>
    }
</div>
@section footer{
    <script src="~/Areas/AdminArea/Content/customjquery/role.js"></script>
}