﻿@model insurance.Areas.AdminArea.Models.AdminArea_Custom.Commission

@{
    ViewBag.Title = "CommissionList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}


<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-sm-4">
                <h2><i class="fa fa-list"></i>&nbsp;Commission List</h2>
            </div>
            <div class="col-sm-8">
                <div class="text-right">
                    <a href="/management/add-edit-commission" class="btn btn-primary btn-sm pull-right"><span class="fa fa-plus-circle" style="color: #ffffff;"></span> Add New Commission</a>
                    <a href="/management/commission-list?status=deactive" class="btn btn-danger btn-sm pull-right"><span class="fa fa-trash-o" style="color: #ffffff;"></span> Deactive List</a>
                    <a href="/management/commission-list" class="btn btn-success btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> Active List</a>
                    <a href="/management/commission-list?status=all" class="btn btn-primary btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> All List</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            @*<div class="col-sm-12 searchpanel">
                    <div class="row input-group col-sm-4 col-xs-12">
                        <input type="text" class="form-control" id="txtRoleSearch" placeholder="search by role">
                    </div>
                </div>
                <input type="hidden" id="totalrecord" value="@Model.CommissionList.Count" />*@
            <div class="col-sm-12">
                <div class="table-responsive text-nowrap">
                    <table class="table" data-toggle="table">
                        <thead>
                            <tr style="background:#f6f6f6;">
                                <th>Basic Percentage(%)</th>
                                <th>Basic TDS(%)</th>
                                <th>Incentive Percentage(%)</th>
                                <th>Incentive TDS(%)</th>
                                <th>Status</th>
                                <th>Created&nbsp;Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.CommissionList.Count > 0 && Model.CommissionList != null)
                            {
                                foreach (var item in Model.CommissionList)
                                {
                                    <tr>
                                        <td>@item.BasicPer</td>
                                        <td>@item.BasicTDS</td>
                                        <td>@item.IncentivePer</td>
                                        <td>@item.IncentiveTDS</td>
                                        <td>@(item.Status==true?"Active":"Deactive")</td>
                                        <td>@item.CreatedDate</td>
                                        <td>
                                            @if (item.Status)
                                            {
                                                <a href="/management/add-edit-commission?commissionid=@item.CommisionId" class="btn btn-success btn-sm" data-toggle="Edit" title="Edit"><span class="fa fa-edit"></span></a>
                                                <span id="deletecommision_@item.CommisionId" style="cursor: pointer;" data-commisionid="@item.CommisionId" class="btn btn-danger btn-sm deletecommision" data-toggle="InActive" title="InActive"><span class="fa fa-trash" id="delcommisionspan_@item.CommisionId"></span></span>
                                            }
                                            else
                                            {
                                                <span id="restorecommision_@item.CommisionId" style="cursor: pointer;color:#fff;" data-commisionid="@item.CommisionId" class="btn btn-warning btn-sm restorecommision" data-toggle="Active" title="Active"><span class="fa fa-undo" id="restorecommisionspan_@item.CommisionId"></span></span>
                                            }
                                        </td>
                                    </tr>
                                }
                                <tr class="norecordfound hidden">
                                    <td colspan="7" class="text-center text-danger">No record found !</td>
                                </tr>
                            }
                            else
                            {
                                <tr class="norecordfound">
                                    <td colspan="7" class="text-center text-danger">No record found !</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section footer{
    <script src="~/Areas/AdminArea/Content/customjquery/commission.js"></script>
}




