﻿@model insurance.Areas.AdminArea.Models.AdminArea_Custom.CompanyModel

@{
    ViewBag.Title = "Company List";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
    @*<script src="~/Content/js/bootstrap-table.js"></script>*@
<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-sm-4">
                <h2><i class="fa fa-list"></i>&nbsp;Company List</h2>
            </div>
            <div class="col-sm-8">
                <div class="text-right">
                    <a href="/profile/add-edit-company" class="btn btn-primary btn-sm pull-right"><span class="fa fa-plus-circle" style="color: #ffffff;"></span> Add New Company</a>
                    <a href="/profile/health/company-list?status=deactive" class="btn btn-danger btn-sm pull-right"><span class="fa fa-trash-o" style="color: #ffffff;"></span> Deactive List</a>
                    <a href="/profile/health/company-list?status=active" class="btn btn-success btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> Active List</a>
                    <a href="/profile/health/company-list?status=all" class="btn btn-primary btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> All List</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        @if (TempData["Msg"] != null)
        {
            <div class="alert alert-success" id="closeMessage">
                @TempData["Msg"]
            </div>
        }
        <div class="row">
            <div class="col-sm-12 searchpanel">
                <div class="row input-group col-sm-4 col-xs-12">
                    <input type="text" class="form-control" id="txtCompanySearch" placeholder="search by Company Name">
                </div>
            </div>
            <input type="hidden" id="totalrecord" value="@Model.CompanyList.Count" />
            <div class="col-sm-12">
                <div class="table-responsive  text-nowrap">
                    <table class="table table-bordered" data-toggle="table">
                        <thead>
                            <tr style="background:#f6f6f6;">
                                <th>CompanyName</th>
                                <th>Description</th>
                                <th>logoUrl</th>
                                <th>Status</th>
                                <th>Created&nbsp;Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.CompanyList.Count > 0 && Model.CompanyList != null)
                            {
                                foreach (var item in Model.CompanyList)
                                {
                                    <tr class="companylistcss" data-companyname="@item.CompanyName">
                                        <td>@item.CompanyName</td>
                                        <td>@item.Description</td>
                                        <td>@item.logoUrl <img style="width: 70px; float: right;" src="@item.logoUrl" /></td>
                                        <td>@(item.Status==true?"Active":"Deactive")</td>
                                        <td>@item.CreateDate</td>
                                        <td>
                                            @if (item.Status)
                                            {
                                                <a href="/profile/add-edit-company?companyId=@item.CompanyId" class="btn btn-success btn-sm" data-toggle="Edit" title="Edit"><span class="fa fa-edit"></span></a>
                                                <span id="deletecompany_@item.CompanyId" style="cursor: pointer;" data-companyid="@item.CompanyId" class="btn btn-danger btn-sm deletecompany" data-toggle="InActive" title="InActive"><span class="fa fa-trash" id="delcompanyspan_@item.CompanyId"></span></span>
                                            }
                                            else
                                            {
                                                <span id="restorecompany_@item.CompanyId" style="cursor: pointer;color:#fff;" data-companyid="@item.CompanyId" class="btn btn-warning btn-sm restorecompany" data-toggle="Active" title="Active"><span class="fa fa-undo" id="restorecompanyspan_@item.CompanyId"></span></span>
                                            }
                                        </td>
                                    </tr>
                                }
                                <tr class="norecordfound hidden">
                                    <td colspan="6" class="text-center text-danger">No record found !</td>
                                </tr>
                            }
                            else
                            {
                                <tr class="norecordfound">
                                    <td colspan="6" class="text-center text-danger">No record found !</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section footer{

    <script src="~/Areas/AdminArea/Content/customjquery/role.js"></script>
    

}