﻿@model insurance.Areas.AdminArea.Models.AdminArea_Custom.GroupDetailModel

@{
    ViewBag.Title = "GroupList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-sm-4">
                <h2><i class="fa fa-list"></i>&nbsp;Group List</h2>
            </div>
            <div class="col-sm-8">
                <div class="text-right">
                    <a href="/management/add-edit-group" class="btn btn-primary btn-sm pull-right"><span class="fa fa-plus-circle" style="color: #ffffff;"></span> Add New Group</a>
                    <a href="/management/group-list?status=deactive" class="btn btn-danger btn-sm pull-right"><span class="fa fa-trash-o" style="color: #ffffff;"></span> Deactive List</a>
                    <a href="/management/group-list" class="btn btn-success btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> Active List</a>
                    <a href="/management/group-list?status=all" class="btn btn-primary btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> All List</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-sm-12 searchpanel">
                <div class="row input-group col-sm-4 col-xs-12">
                    <input type="text" class="form-control" id="txtGroupSearch" placeholder="search by group">
                </div>
            </div>
            <input type="hidden" id="totalrecord" value="@Model.GroupList.Count" />
            <div class="col-sm-12">
                <div class="table-responsive text-nowrap">
                    <table class="table" data-toggle="table">
                        <thead>
                            <tr style="background:#f6f6f6;">
                                <th>Group&nbsp;Name</th>
                                <th>Status</th>
                                <th>Created&nbsp;Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.GroupList.Count > 0 && Model.GroupList != null)
                            {
                                foreach (var item in Model.GroupList)
                                {
                                    <tr class="grouplistcss" data-groupname="@item.GroupName">
                                        <td>@item.GroupName</td>
                                        <td>@(item.Status==true?"Active":"Deactive")</td>
                                        <td>@item.CreatedDate</td>
                                        <td>
                                            @if (item.Status)
                                            {
                                                <a href="/management/add-edit-group?groupid=@item.GroupId" class="btn btn-success btn-sm" data-toggle="Edit" title="Edit"><span class="fa fa-edit"></span></a>
                                                <span id="deletegroup_@item.GroupId" style="cursor: pointer;" class="btn btn-danger btn-sm" title="InActive" onclick="deletethisrecord(@item.GroupId);"><span class="fa fa-trash" id="delgroupnspan_@item.GroupId"></span></span>
                                            }
                                            else
                                            {
                                                <span id="restoregroup_@item.GroupId" style="cursor: pointer;color:#fff;" class="btn btn-warning btn-sm" title="Active" onclick="restorethisrecord(@item.GroupId);"><span class="fa fa-undo" id="restoregroupspan_@item.GroupId"></span></span>
                                            }
                                        </td>
                                    </tr>
                                }
                                <tr class="norecordfound hidden">
                                    <td colspan="4" class="text-center text-danger">No record found !</td>
                                </tr>
                            }
                            else
                            {
                                <tr class="norecordfound">
                                    <td colspan="4" class="text-center text-danger">No record found !</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section footer{
    <script src="~/Areas/AdminArea/Content/customjquery/group.js"></script>
}