﻿@model insurance.Areas.AdminArea.Models.AdminArea_Custom.GroupDetailModel

@{
    ViewBag.Title = "GroupAddEdit";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-plus-square"></i>&nbsp;Add / Edit Group</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li class="dropdown">
                <div class="text-right">
                    <a href="/management/group-list" class="btn btn-primary btn-sm"><span class="fa fa-reply" style="color:#fff!important;"></span>&nbsp;Group List</a>
                </div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br>
        <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3 label-align">
                Group Name <span class="requiredstrik">*</span>
            </label>
            <div class="col-md-6 col-sm-6 form-validation">
                @Html.TextBoxFor(p => p.GroupName, new { @class = "form-control", placeholder = "Enter group name" })
            </div>
        </div>
        <div class="item form-group">
            <label class="col-form-label col-md-3 col-sm-3"></label>
            <div class="col-md-6 col-sm-6">
                <button type="submit" id="btnSubmit" class="btn btn-success pull-right" onclick="GroupSubmitEvt();">Submit</button>
            </div>
        </div>
    </div>
</div>
@section footer{
    <script src="~/Areas/AdminArea/Content/customjquery/group.js"></script>
}