﻿@model IEnumerable<insurance.Areas.AdminArea.Models.AdminArea_Custom.Product>

@{
    ViewBag.Title = "ProductList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-sm-4">
                <h2><i class="fa fa-list"></i>&nbsp;Product List</h2>
            </div>
            <div class="col-sm-8">
                <div class="text-right">
                    @*<a href="/profile/add-edit-company" class="btn btn-primary btn-sm pull-right"><span class="fa fa-plus-circle" style="color: #ffffff;"></span> Add New Company</a>*@
                    <a href="/profile/motor/product-list?status=deactive" class="btn btn-danger btn-sm pull-right"><span class="fa fa-trash-o" style="color: #ffffff;"></span> Deactive List</a>
                    <a href="/profile/motor/product-list?status=active" class="btn btn-success btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> Active List</a>
                    <a href="/profile/motor/product-list?status=all" class="btn btn-primary btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> All List</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>


    <div class="x_content">
        @if (TempData["Msg"] != null)
        {
            <div class="alert alert-success" id="closeMessage">
                @TempData["Msg"]
            </div>
        }

        <div class="row">

            <input type="hidden" id="totalrecord" value="@Model.Count()" />
            <div class="col-sm-12">
                <div class="table-responsive  text-nowrap">
                    <table class="table table-bordered" data-toggle="table">
                        <thead>
                            <tr style="background:#f6f6f6;">
                                <th>Product Name</th>
                                <th>Company Name</th>
                                <th>ProductType</th>
                                <th>Product Code</th>
                                <th>PolicyType</th>
                                <th>PolicyCode</th>
                                <th>Status</th>
                                <th>Action</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() > 0 && Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr class="companylistcss" id="@item.ProductId" data-product_id="@item.ProductId">
                                        <td>@item.ProductName</td>
                                        <td>@item.CompanyName</td>
                                        <td>@item.ProductType</td>
                                        <td>@item.ProductCode</td>
                                        <td>@item.Product_Description</td>
                                        <td>@item.PolicyCode</td>
                                        <td>@(item.Active==true?"Active":"Deactive")</td>
                                        <td>
                                            @if (item.Active)
                                            {
                                                <a href="/profile/motor/update-brochure?productId=@item.ProductId" class="btn btn-success btn-sm" data-toggle="Edit" title="Edit"><span class="fa fa-edit"> Update Brochure</span></a>
                                                <a href="/profile/motor/update-Clauses?productId=@item.ProductId" class="btn btn-success btn-sm" data-toggle="Update" title="Update"><span class="fa fa-edit"> Update Clauses</span></a>
                                                <span id="" style="cursor: pointer;" onclick="ProductStatusUpdator(@item.ProductId,false)" class="btn btn-danger btn-sm " data-toggle="InActive" title="InActive"><span class="fa fa-trash" id=""></span></span>
                                            }
                                            else
                                            {
                                                <a href="/profile/motor/update-brochure?productId=@item.ProductId" class="btn btn-success btn-sm" data-toggle="Edit" title="Edit"><span class="fa fa-edit"> Update Brochure</span></a>
                                                <a href="/profile/motor/update-Clauses?productId=@item.ProductId" class="btn btn-success btn-sm" data-toggle="Update" title="Update"><span class="fa fa-edit"> Update Clauses</span></a>
                                                <span id="" style="cursor: pointer;color:#fff;" onclick="ProductStatusUpdator(@item.ProductId,true)" class="btn btn-warning btn-sm " data-toggle="Active" title="Active"><span class="fa fa-undo" id=""></span></span>
                                            }
                                        </td>
                                    </tr>
                                }
                                <tr class="norecordfound hidden">
                                    <td colspan="6" class="text-center text-danger">No record found !</td>
                                </tr>
                            }
                            else
                            {
                                <tr class="norecordfound">
                                    <td colspan="6" class="text-center text-danger">No record found !</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<script>

    function ProductStatusUpdator(id, status) {

        let table = 'Tblmaster_productdetails';
        let database = 'motor';
        let whereCondId = 'Id';
        let statusField = 'Status';

        $.ajax({
            type: "Post",
            url: "/Backend_Role/MotorStatusUpdator",
            data: '{id: ' + JSON.stringify(id) + ',status:' + JSON.stringify(status) + ',table:' + JSON.stringify(table) + ',database:' + JSON.stringify(database) + ',whereCondId:' + JSON.stringify(whereCondId) + ',statusField:' + JSON.stringify(statusField) + '}',
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                if (data[0] == "Success") {
                    if (status == true) {
                        alert("Item restored successfully");
                        $("#" + id).remove();
                    }

                    else {
                        alert("Item deleted successfully");
                        $("#" + id).remove();
                    }
                }
            }
        });
    }

</script>

