﻿@model insurance.Areas.AdminArea.Models.AdminArea_Custom.RoleModel

@{
    ViewBag.Title = "RoleList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-sm-4">
                <h2><i class="fa fa-list"></i>&nbsp;Role List</h2>
            </div>
            <div class="col-sm-8">
                <div class="text-right">
                    <a href="/role-management/add-edit-role" class="btn btn-primary btn-sm pull-right"><span class="fa fa-plus-circle" style="color: #ffffff;"></span> Add New Role</a>
                    <a href="/role-management/role-list?status=deactive" class="btn btn-danger btn-sm pull-right"><span class="fa fa-trash-o" style="color: #ffffff;"></span> Deactive List</a>
                    <a href="/role-management/role-list?status=active" class="btn btn-success btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> Active List</a>
                    <a href="/role-management/role-list?status=all" class="btn btn-primary btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> All List</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-sm-12 searchpanel">
                <div class="row input-group col-sm-4 col-xs-12">
                    <input type="text" class="form-control" id="txtRoleSearch" placeholder="search by role">
                </div>
            </div>
            <input type="hidden" id="totalrecord" value="@Model.RoleList.Count" />
            <div class="col-sm-12">
                <div class="table-responsive text-nowrap">
                    <table class="table" data-toggle="table">
                        <thead>
                            <tr style="background:#f6f6f6;">
                                <th>Role</th>
                                <th>Status</th>
                                <th>Created&nbsp;Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.RoleList.Count > 0 && Model.RoleList != null)
                            {
                                foreach (var item in Model.RoleList)
                                {
                                    <tr class="rolelistcss" data-rolename="@item.RoleName">
                                        <td>@item.RoleName</td>
                                        <td>@(item.Status==true?"Active":"Deactive")</td>
                                        <td>@item.CreatedDate</td>
                                        <td>
                                            @if (item.Status)
                                            {
                                                <a href="/role-management/add-edit-role?roleid=@item.RoleID" class="btn btn-success btn-sm" data-toggle="Edit" title="Edit"><span class="fa fa-edit"></span></a>
                                                <span id="deleterole_@item.RoleID" style="cursor: pointer;" data-roleid="@item.RoleID" class="btn btn-danger btn-sm deleterole" data-toggle="InActive" title="InActive"><span class="fa fa-trash" id="delrolespan_@item.RoleID"></span></span>
                                            }
                                            else
                                            {
                                                <span id="restorerole_@item.RoleID" style="cursor: pointer;color:#fff;" data-roleid="@item.RoleID" class="btn btn-warning btn-sm restorerole" data-toggle="Active" title="Active"><span class="fa fa-undo" id="restorerolespan_@item.RoleID"></span></span>
                                            }
                                        </td>
                                    </tr>
                                }
                                <tr class="norecordfound hidden">
                                    <td colspan="4" class="text-center text-danger">No record found !</td>
                                </tr>
                            }
                            else
                            {
                                <tr class="norecordfound">
                                    <td colspan="4" class="text-center text-danger">No record found !</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section footer{
    <script src="~/Areas/AdminArea/Content/customjquery/role.js"></script>
}


