﻿@model insurance.Areas.AdminArea.Models.AdminArea_Custom.EnquiryDetails
@{
    ViewBag.Title = "BackEndDashboard";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<style>
    ul.quick-list {
        width: 100%;
        padding-left: 0;
        display: inline-block;
    }

    .fixed_height_320 {
        height: 200px;
    }
    .count {
        font-size: 22px !important;
    }
</style>

<div class="col-sm-12">
    <div class="row">
        <div class="x_panel">
            <div class="col-sm-2">
                <label style="margin-top: 6px;">Select Days To Filter</label>
            </div>
            <div class="col-sm-3">
                <select class="form-control" id="txt_daysPolicy" name="txt_daysPolicy" style="border-radius: 4px; height: 36px;">
                    <option value="00 day">Select Days</option>
                    <option value="00 day" selected>Today</option>
                    <option value="01 day">Yesterday</option>
                    <option value="07 day">7 Days</option>
                    <option value="15 day">15 Days</option>
                    <option value="01 month">1 Month</option>
                    <option value="02 month">2 Month</option>
                    <option value="03 month">3 Month</option>
                </select>
            </div>
        </div>
    </div>
</div>

<div class="col-sm-12">
    <div class="row">
        <div class="x_panel">
            <div class="tile_count">
                <div class="col-sm-12">
                    <div class="row">
                        <div class="col-sm-5">
                            <div class="col-md-4 col-sm-4 tile_stats_count">
                                <span class="count_top"><i class="fa fa-user"></i>&nbsp;Policy Count</span>
                                <div class="count green" id="totalPolicyCount">0</div>
                                @*<span class="count_bottom"><i class="green">4% </i> From last Week</span>*@
                            </div>
                            <div class="col-md-4 col-sm-4 tile_stats_count">
                                <span class="count_top"><i class="fa fa-clock-o"></i>&nbsp;Proposal Count</span>
                                <div class="count green" id="totalPerposalCount">0</div>
                                @*<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>*@
                            </div>
                            <div class="col-md-4 col-sm-4 tile_stats_count">
                                <span class="count_top"><i class="fa fa-user"></i>&nbsp;Lead Count</span>
                                <div class="count green" id="totalLeadcount">0</div>
                                @*<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>*@
                            </div>
                        </div>
                        <div class="col-sm-7">
                            <div class="col-md-3 col-sm-4  tile_stats_count">
                                <span class="count_top"><i class="fa fa-user"></i>&nbsp;Health Premium</span>
                                <div class="count green" id="totalHealthPremium">0</div>
                                @*<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>12% </i> From last Week</span>*@
                            </div>
                            <div class="col-md-3 col-sm-4  tile_stats_count">
                                <span class="count_top"><i class="fa fa-user"></i>&nbsp;Motor Premium</span>
                                <div class="count green" id="totalMotorPremium">0</div>
                                @*<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>*@
                            </div>
                            <div class="col-md-3 col-sm-4  tile_stats_count">
                                <span class="count_top"><i class="fa fa-user"></i>&nbsp;Life Premium</span>
                                <div class="count green" id="totalLifePremium">0</div>
                                @*<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>*@
                            </div>
                            <div class="col-md-3 col-sm-4  tile_stats_count">
                                <span class="count_top"><i class="fa fa-user"></i>&nbsp;Travel Premium</span>
                                <div class="count green" id="totalTravelPremium">0</div>
                                @*<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-sm-12">
    <div class="row">
        <div class="col-md-4">
            <div class="x_panel">
                <div class="x_title">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Policy</h2>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <table class="" style="width:100%">
                        <tbody>

                            <tr>
                                <td style="width:37%;">
                                    <canvas class="canvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                                </td>
                                <td>
                                    <table class="tile_info">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square red"></i>Health</p>
                                                </td>
                                                <td id="healthpolicycount">0</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square green"></i> Motor  </p>
                                                </td>
                                                <td id="motorpolicycount">0</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square purple"></i>Life </p>
                                                </td>
                                                <td id="lifepolicycount">0</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square aero"></i>Travel </p>
                                                </td>
                                                <td id="travelpolicycount">0</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="x_panel">
                <div class="x_title">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Proposal</h2>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <table class="" style="width:100%">
                        <tbody>

                            <tr>
                                <td style="width:37%;">
                                    <canvas class="PropcanvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                                </td>
                                <td>
                                    <table class="tile_info">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square red"></i>Health</p>
                                                </td>
                                                <td id="helthproposalcount">0</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square green"></i> Motor  </p>
                                                </td>
                                                <td id="moterproposalcount">0</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square purple"></i>Life </p>
                                                </td>
                                                <td id="lifeproposalcount">0</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square aero"></i>Travel </p>
                                                </td>
                                                <td id="travelproposalcount">0</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="x_panel">
                <div class="x_title">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Lead</h2>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <table class="" style="width:100%">
                        <tbody>

                            <tr>
                                <td style="width:37%;">
                                    <canvas class="LeadcanvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                                </td>
                                <td>
                                    <table class="tile_info">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square red"></i>Health</p>
                                                </td>
                                                <td id="healthleadcount">0</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square green"></i> Motor  </p>
                                                </td>
                                                <td id="moterleadcount">0</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square purple"></i>Life </p>
                                                </td>
                                                <td id="lifeleadcount">0</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square aero"></i>Travel </p>
                                                </td>
                                                <td id="travelleadcount">0</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-sm-12">
    <div class="row">
        <div class="col-md-4">
            <div class="x_panel">
                <div class="x_title">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Health Policy - Company Wise</h2>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <table class="" style="width:100%">
                        <tbody>

                            <tr>
                                <td style="width:37%;">
                                    <canvas class="healthcanvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                                </td>
                                <td>
                                    <table class="tile_info">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square" style="color:#5755cc"></i>Star Health</p>
                                                </td>
                                                <td id="Starpolicycount">0</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square" style="color:#fdd619"></i> Care Health  </p>
                                                </td>
                                                <td id="Carepolicycount">0</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square" style="color:#ea7b09"></i>ManipalCigna </p>
                                                </td>
                                                <td id="ManipalCignapolicycount">0</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square" style="color:#ea0928"></i>Aditya Birla</p>
                                                </td>
                                                <td id="Adityapolicycount">0</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="x_panel">
                <div class="x_title">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Health Proposal - Company Wise</h2>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <table class="" style="width:100%">
                        <tbody>

                            <tr>
                                <td style="width:37%;">
                                    <canvas class="healthpocanvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                                </td>
                                <td>
                                    <table class="tile_info">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square" style="color:#5755cc"></i>Star Health</p>
                                                </td>
                                                <td id="Starpropcount">0</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square" style="color:#fdd619"></i> Care Health  </p>
                                                </td>
                                                <td id="Carepropcount">0</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square" style="color:#ea7b09"></i>ManipalCigna </p>
                                                </td>
                                                <td id="ManipalCignapropcount">0</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square" style="color:#ea0928"></i>Aditya Birla</p>
                                                </td>
                                                <td id="Adityapropcount">0</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="x_panel">
                <div class="x_title">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Health Policy - Branch Wise</h2>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <table class="" style="width:100%">
                        <tbody>

                            <tr>
                                <td style="width:37%;">
                                    <canvas class="healthbranchcanvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                                </td>
                                <td>
                                    <table class="tile_info">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square" style="color:#ea0928"></i>Delhi</p>
                                                </td>
                                                <td id="DelhihBranchcount">0</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square" style="color:#5755cc"></i> Ludhiana  </p>
                                                </td>
                                                <td id="LudhianahBranchcount">0</td>
                                            </tr>                                           
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="col-md-12 col-sm-12">
    <div class="row">
        <div class="col-md-4">
            <div class="x_panel">
                <div class="x_title">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Motor Policy - Company Wise</h2>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <table class="" style="width:100%">
                        <tbody>

                            <tr>
                                <td style="width:37%;">
                                    <canvas class="comcanvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                                </td>
                                <td>
                                    <table class="tile_info">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square" style="color:#fdd619"></i>Godigit</p>
                                                </td>
                                                <td id="Godigitpolicycount"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square" style="color:#000000"></i> Shriram  </p>
                                                </td>
                                                <td id="Shrirampolicycount"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square" style="color:#367b12"></i>Iffcotokio </p>
                                                </td>
                                                <td id="Iffcotokiopolicycount"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="x_panel">
                <div class="x_title">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Motor Proposal - Company Wise</h2>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <table class="" style="width:100%">
                        <tbody>

                            <tr>
                                <td style="width:37%;">
                                    <canvas class="pcomcanvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                                </td>
                                <td>
                                    <table class="tile_info">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square" style="color:#fdd619"></i>Godigit</p>
                                                </td>
                                                <td id="Godigitproposalcount"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square" style="color:#000000"></i> Shriram  </p>
                                                </td>
                                                <td id="Shriramproposalcount"></td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square" style="color:#367b12"></i>Iffcotokio </p>
                                                </td>
                                                <td id="Iffcotokioproposalcount"></td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="x_panel">
                <div class="x_title">
                    <div class="row">
                        <div class="col-sm-12">
                            <h2>Motor Policy - Branch Wise</h2>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                </div>
                <div class="row">
                    <table class="" style="width:100%">
                        <tbody>

                            <tr>
                                <td style="width:37%;">
                                    <canvas class="motorbranchcanvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>
                                </td>
                                <td>
                                    <table class="tile_info">
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square" style="color:#ea0928"></i>Delhi</p>
                                                </td>
                                                <td id="MotorDelhibranchcount">0</td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <p><i class="fa fa-square" style="color:#5755cc"></i> Ludhiana  </p>
                                                </td>
                                                <td id="MotorLudhianabranchcount">0</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Areas/AdminArea/Content/js/Chart.min.js"></script>
<script src="~/Areas/AdminArea/Content/js/custom/dashboard.js"></script>

