﻿@model insurance.Models.Custom.FrontAgencyModel.TwowheelermapModel
@{
    ViewBag.Title = "TwowheelerMap";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<link href="~/Content/css/custom/checkbox.css" rel="stylesheet" />
<link href="~/Content/css/custom/commoncss.css" rel="stylesheet" />
<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-sm-4">
                <h2><i class="fa fa-list"></i> Two&nbsp;Wheeler Mapping</h2>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="col-sm-12">
            <div class="row searchpanel" style="margin-bottom:10px;">
                @using (Html.BeginForm("BikeMap", "Backend_Enquiry", FormMethod.Post))
                {

                    <div class="col-sm-12">
                        <div class="row">
                            <div class="col-sm-3 col-xs-12 form-validation" style="margin:5px">
                                <label>Select  Make</label>
                                @Html.DropDownListFor(m => m.Make, Model.Makelist, "-- Select Make --", new { @class = "form-control ", @onchange = "FillModel()" })
                            </div>
                            <div class="col-sm-3 col-xs-12 form-validation" style="margin:5px">
                                <label>Select Model</label>
                                @Html.DropDownListFor(m => m.vehicleModel, Model.ModelList, "-- Select Model --", new { @class = "form-control " })
                            </div>
                            <div class="col-sm-2 col-xs-12 form-validation" style="margin:5px">
                                <label>Fuel Type</label>
                                @Html.DropDownListFor(model => model.FuelType, new SelectList(new List<Object>{
                                            new { value = "" , text = "--FuelType--" },
                                            new { value = "Diesel" , text = "Diesel"},
                                            new { value = "Petrol" , text = "Petrol"},
                                            new { value = "LPG" , text = "LPG"}
                                         }, "value", "text"), new { @class = "form-control" })
                            </div>
                            <div class="col-sm-3 col-xs-12" style="margin:5px">
                                <label>&nbsp;</label>
                                <input type="submit" class="btn btn-success form-control  maincss" style="font-weight:bold;text-align:center;cursor:pointer" value="Search" id="btn" onclick="return CheckForm()" />
                                <span class="btn btn-success form-control  tempcss hidden" style="font-weight:bold;text-align:center">Please Wait...<i class="fa fa-spinner fa-spin"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-5">

                        </div>
                        <div class="col-sm-7">
                            <div class="col-sm-4">
                                <h6 class="checkbox-inline">
                                    <label class="seeingo2" style="padding-top: 6px !important;">
                                        UPDATE GODIGIT
                                        <input type="checkbox" class="submenuclass chkmember chkbox_GoDigit" data-member="self" id="CheSelf" name="CheSelf" />
                                        <span class="checkmark2"></span>
                                    </label>
                                </h6>
                            </div>
                            <div class="col-sm-4">
                                <h6 class="checkbox-inline">
                                    <label class="seeingo2" style="padding-top: 6px !important;">
                                        UPDATE SHRIRAM
                                        <input type="checkbox" class="submenuclass chkmember chkbox_ShriRam" data-member="self" id="CheSelf" name="CheSelf" />
                                        <span class="checkmark2"></span>
                                    </label>
                                </h6>
                            </div>
                            <div class="col-sm-4">
                                <h6 class="checkbox-inline">
                                    <label class="seeingo2" style="padding-top: 6px !important;">
                                        UPDATE IFFCOTOKIO
                                        <input type="checkbox" class="submenuclass chkmember chkbox_IFFCOTokio" data-member="self" id="CheSelf" name="CheSelf" />
                                        <span class="checkmark2"></span>
                                    </label>
                                </h6>
                            </div>

                        </div>
                    </div>

                }
            </div>
            <div class="col-sm-12">
                <div class="table-responsive text-nowrap">
                    <table class="table" data-toggle="table">
                        <thead>
                            <tr style="background:#f6f6f6;">
                                <th>Vehicle Main Code</th>
                                <th>Make</th>
                                <th>Model</th>
                                <th>Fuel Type</th>
                                <th>Varient</th>
                                <th>Body Type</th>
                                <th>Seating</th>
                                <th>CC</th>
                                <th>GoDigit</th>
                                <th>SHriRam</th>
                                <th>IFFCOTokio</th>
                            </tr>
                        </thead>
                        @if (Model.MapingList.Count > 0 && Model.MapingList != null)
                        {
                            <tbody>
                                @{int i = 0;}
                                @foreach (var veh in Model.MapingList)
                                {
                                    <input type="hidden" id="Map_@i" id2="@veh.vehicleMaincode" name="@veh.vehicleMaincode" />
                                    <tr>
                                        <td>@veh.vehicleMaincode</td>
                                        <td>@veh.Make</td>
                                        <td>@veh.vehicleModel</td>
                                        <td>@veh.FuelType</td>
                                        <td>@veh.Variant</td>
                                        <td>@veh.BodyType</td>
                                        <td>@veh.SeatingCapacity</td>
                                        <td>@veh.CubicCapacity</td>
                                        <td><input type="text" class="form-control goDigitread" readonly="readonly" id="goDigit_@i" onkeypress="return isNumberValidationPrevent(event);" value="@veh.GoDigit" /></td>
                                        <td><input type="text" class="form-control shriRamread" readonly="readonly" id="shriRam_@i" value="@veh.ShriRam" /></td>
                                        <td><input type="text" class="form-control iffcotokioread" readonly="readonly" id="IFFCOTokio_@i" value="@veh.IFFCOTokio" /></td>
                                    </tr>
                                    i++;
                                }

                            </tbody>
                            <tbody>
                                <tr>
                                    <td colspan="11">
                                        <input type="submit" class="btn btn-info pull-right waitcss" style="cursor:pointer;" id="btnPNRSubmit" data-noOfFields="@i" onclick="UpdateMap(@i)" value="Update" />
                                        <span class="btn btn-info btn-sm pull-right   tempcsss hidden" style="font-weight:bold;text-align:center">Please Wait...<i class="fa fa-spinner fa-spin"></i></span>
                                    </td>
                                </tr>
                            </tbody>
                        }
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
@section Footer{
    <script src="~/Content/js/custom/common.js"></script>
    <script>
        function FillModel() {
            $("#vehicleModel").prop("disabled", true);
            $("#vehicleModel").children().remove();
            $("#vehicleModel").append($('<option>').val(0).text('Please wait...'));
            var make = $('#Make').val();
            $.ajax({
                url: '/Backend_Enquiry/BindBikeModel',
                type: "GET",
                dataType: "JSON",
                data: { make: make },
                success: function (data) {
                    $("#vehicleModel").children().remove();
                    $("#vehicleModel").append($('<option>').val(0).text('-- Select Model --'));
                    $.each(data, function (i, data) {
                        $("#vehicleModel").append($('<option></option>').val(data.Value).html(data.Text));
                    });
                    $("#vehicleModel").prop("disabled", false);
                }
            });
        }
        $('.chkbox_ShriRam').change(function () {
            if ($(this).is(":checked")) {
                $('.shriRamread').removeAttr('readonly');
            }
            else {
                $('.shriRamread').attr('readonly', 'readonly');
            }
        });
        $('.chkbox_GoDigit').change(function () {
            if ($(this).is(":checked")) {
                $('.goDigitread').removeAttr('readonly');
            }
            else {
                $('.goDigitread').attr('readonly', 'readonly');
            }
        });
        $('.chkbox_IFFCOTokio').change(function () {
            if ($(this).is(":checked")) {
                $('.iffcotokioread').removeAttr('readonly');
            }
            else {
                $('.iffcotokioread').attr('readonly', 'readonly');
            }
        });
        function CheckForm() {
            if (CheckDropDownBlankValidation('Make')) return !1;
            if (CheckDropDownBlankValidation('vehicleModel')) return !1;
            $('.maincss').addClass('hidden');
            $('.tempcss').removeClass('hidden');
        }
        function UpdateMap(noOfFields) {
            let MapList = [];
            for (let i = 0; i < noOfFields; i++) {
                let MAP = {};
                MAP.MapID = $("#Map_" + i).attr("id2");
                MAP.goDigit = $("#goDigit_" + i).val();
                MAP.shriRam = $("#shriRam_" + i).val();
                MAP.IFFCOTokio = $("#IFFCOTokio_" + i).val();
                MapList.push(MAP);
            }
            $('.waitcss').addClass('hidden');
            $('.tempcsss').removeClass('hidden');
            $.ajax({
                type: "Post",
                url: "/Backend_Enquiry/UpdateBikeMapList ",
                data: '{MapList: ' + JSON.stringify(MapList) + '}',
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $('.waitcss').removeClass('hidden');
                    $('.tempcsss').addClass('hidden');
                    if (data === "Success") {
                        $('.goDigitread').attr('readonly', 'readonly');
                        $('.shriRamread').attr('readonly', 'readonly');
                        $('.iffcotokioread').attr('readonly', 'readonly');
                    }
                }
            });

        };
    </script>
}