﻿@model insurance.Areas.AdminArea.Models.AdminArea_Custom.EnquiryDetails
@*@using insurance.Areas.AdminArea.Models.AdminArea_Account;
@using insurance.Areas.AdminArea.AdminArea_Service;*@
@{
    ViewBag.Title = "BlockedEnquiryList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-sm-4">
                <h2><i class="fa fa-list"></i>&nbsp;Blocked Enquiry List</h2>
            </div>
            <div class="col-sm-8">
                <div class="text-right">
                    <div class="text-right">
                        <a href="/health/quotation/enquirylist" class="btn btn-primary btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> Enquiry List</a>
                        <a href="/health/quotation/enquirylist/BlockedEnquiry" class="btn btn-primary btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> Blocked Enquiry List</a>
                        <a href="/health/quotation/enquirylist/BlockedEnquiry?status=Rejected" class="btn btn-danger btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> Reject List</a>
                        <a href="/health/quotation/enquirylist/BlockedEnquiry?status=UnderProcess" class="btn btn-success btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> Accept List</a>
                        @*@{
                            Account.MemberLogin lu = new Account.MemberLogin();
                            if (AdminArea_AccountService.IsBackUserLogin(ref lu))
                            {
                                if (lu.MemberType == "admin")
                                {
                                    <a href="/health/quotation/enquirylist/BlockedEnquiry?status=all" class="btn btn-primary btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> All BLocked List</a>
                                }
                            }
                        }*@

                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content">
            <div class="row">
                <div class="col-sm-12 searchpanel">
                    <div class="row input-group col-sm-4 col-xs-12">
                        <input type="text" class="form-control" id="txtAgencySearch" placeholder="Search by Agency Name">
                    </div>
                </div>
                <input type="hidden" id="totalrecord" value="@Model.EnquiryDetailList.Count" />

                <div class="col-sm-12">
                    <div class="table-responsive text-nowrap">
                        <table class="table" data-toggle="table">
                            <thead>
                                <tr style="background:#f6f6f6;">
                                    <th>Action</th>
                                    <th>Enquiry_Id</th>
                                    <th>Name</th>
                                    <th>Agency Name</th>
                                    <th>Sum Insured ($)</th>
                                    <th>Policy Type</th>
                                    <th>Adult</th>
                                    <th>Child</th>
                                    <th>Created&nbsp;Date</th>
                                    <th>view details</th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.EnquiryDetailList.Count > 0 && Model.EnquiryDetailList != null)
                                {
                                    foreach (var veh in Model.EnquiryDetailList)
                                    {
                                        <tr class="memberlistcss" data-membername="@veh.AgencyName">
                                            <td>

                                                @if (@veh.Status == "UnderProcess")
                                                {

                                                    <span id="InActiveEnquiry_@veh.Enquiry_Id" style="cursor: pointer;color:#fff;" data-memberid="@veh.Enquiry_Id" class="btn btn-sm btn-success InActiveEnquiry" data-toggle="Accepted" title="Accepted">Accepted</span>
                                                }
                                                else if (@veh.Status == "Rejected")
                                                {
                                                    <span id="ActiveEnquiry_@veh.Enquiry_Id" style="cursor: pointer;color:#fff;" data-memberid="@veh.Enquiry_Id" class="btn btn-danger btn-sm ActiveEnquiry" data-toggle="Rejected" title="Rejected">Rejected</span>
                                                }
                                                else if (@veh.Status == "Block")
                                                {
                                                    <span id="ActiveEnquiry_@veh.Enquiry_Id" style="cursor: pointer;color:#fff;" data-memberid="@veh.Enquiry_Id" class="btn btn-sm btn-success ActiveEnquiry" data-toggle="Accept" title="Accept">Accept</span>
                                                    <span id="InActiveEnquiry_@veh.Enquiry_Id" style="cursor: pointer;color:#fff;" data-memberid="@veh.Enquiry_Id" class="btn btn-danger btn-sm InActiveEnquiry" data-toggle="InActive" title="Reject">Reject</span>
                                                }
                                            </td>

                                            <td>@veh.Enquiry_Id</td>
                                            <td>@veh.First_Name    @veh.Last_Name </td>
                                            <td>@veh.AgencyName.ToLower()</td>
                                            <td>@veh.Sum_Insured</td>
                                            <td>@veh.Policy_Type</td>
                                            <td>@veh.Adult</td>
                                            <td>@veh.Child</td>
                                            <td>@veh.Enqdate</td>
                                            <td>
                                                <a href="/health/quotation/enquirylist/TrackDetails?Enquiry_ID=@veh.Enquiry_Id" class="btn btn-danger btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> view details</a>
                                                @*<span id="DetailEnquiry_@veh.Enquiry_Id" style="cursor: pointer;color:#fff;" data-memberid="@veh.Enquiry_Id" class="btn btn-primary btn-sm DetailEnquiry" data-toggle="view details" title="view details">view details</span>*@
                                            </td>

                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr class="norecordfound">
                                        <td colspan="6" class="text-center text-danger">No record found !</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="ModalPopUp" role="dialog">
    <div class="modal-dialog err-pop" style="">

        <div class="modal-content">
            <h2> Enquiry Details</h2>
            <div class="modal-header">
                <button id="DivClose" type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body" style="text-align:center;">
                <div>
                    <span class="d-inline-block">Agency Name :</span><span><input type="text" id="AgencyName" value="" class="important"></span>
                </div>
                <div>
                    <span class="d-inline-block">Name :</span><span><input type="text" id="Name" value=""></span>
                </div>
                <div>
                    <span class="d-inline-block">Sum Insured :</span><span><input type="text" id="Sum_Insured" value=""></span>
                </div>
                <div>
                    <span class="d-inline-block">Policy Type:</span><span><input type="text" id="Policy_Type" value=""></span>
                </div>
                <div>
                    <span class="d-inline-block">Enquiry ID:</span><span><input type="text" id="Enquiry_Id" value=""></span>
                </div>
                <div>
                    <span class="d-inline-block">Enquiry date :</span><span><input type="text" id="Enqdate" value=""></span>
                </div>
                <div>
                    <span class="d-inline-block">Adult:</span><span><input type="text" id="Adult" value=""></span>
                </div>
                <div>
                    <span class="d-inline-block">Child:</span><span><input type="text" id="Child" value=""></span>
                </div>
                <div>
                    <span class="d-inline-block">Block ID :</span><span><input type="text" id="BlockID" value=""></span>
                </div>
                <div>
                    <span class="d-inline-block">Email Id :</span><span><input type="text" id="Email_Id" value=""></span>
                </div>
                <div>
                    <span class="d-inline-block">Mobile No:</span><span><input type="text" id="Mobile_No" value=""></span>
                </div>
                <div>
                    <span class="d-inline-block">Pin Code :</span><span><input type="text" id="Pin_Code" value=""></span>
                </div>
            </div>
        </div>
    </div>
</div>
@section footer{
    <script src="~/Areas/AdminArea/Content/customjquery/EnquiryDetails.js"></script>
}

