﻿@model insurance.Areas.AdminArea.Models.AdminArea_Custom.TrackEnquirydetail
@{
    ViewBag.Title = "EnquiryTrackDetails";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />

<style>
    .table-bordered td {
        border: 1px solid #2a3f54;
        background: #fff;
    }
    .table-bordered th {
        border: 1px solid #2a3f54;
    }
    .fixed-table-footer {
        border-top: 0px solid #000 !important;
        display: none;
    }

    .fontsize {
        font-size: 15px;
    }

    .bg {
        background-color: #848484;
        color: #fff;
    }

    th {
        font-weight: 200 !important;
    }

    p {
        margin: 0 0 0px;
    }

    #feedback {
        position: fixed;
        bottom: 0;
        height: 450px;
        z-index: 2000;
        right: -60px;
    }

    #feedback-tab {
        float: right;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        width: 165px;
        height: 43px;
        background-color: #1d3d60;
        padding-top: 5px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    #introText a {
        color: #ff6600;
        text-decoration: none;
    }

        #introText a:hover {
            color: #ffb280;
        }

    #introText ul {
        display: inline-block;
    }

    .gst {
        position: relative;
    }

        .gst div {
            display: none;
            position: absolute;
            top: -63px;
            left: 100%;
            margin-top: 0px;
            margin-left: 25px
        }

        .gst a:hover + div {
            cursor: pointer;
            display: block;
            visibility: visible;
            width: 446px;
            line-height: 30px;
            padding: 10px;
            font-size: 14px;
            text-align: center;
            z-index: 999;
            color: rgb(56, 102, 116);
            background: rgb(255, 255, 255);
            border: 4px solid rgb(255, 255, 255);
            border-radius: 5px;
            text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
            box-shadow: #333 -4px 4px 16px 2px;
            -webkit-transition: opacity 100ms ease-in;
            -o-transition: opacity 100ms ease-in;
            -moz-transition: opacity 100ms ease-in;
            transition: opacity 100ms ease-in;
            pointer-events: none;
        }

        .gst div:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-width: 10px;
            border-style: solid;
            border-color: transparent #FFFFFF transparent transparent;
            top: 55px;
            left: -24px;
        }
</style>


@*<a id="feedback" data-fancybox-type="iframe" data-fancybox-href="/HotelBooking/JenralVoucherDetails" class="edit2">
        <div id="feedback-tab">General Voucher</div>
    </a>*@
<div class="container">
    <div class="row">
        <br />
        @if (Model.TrackEnquirydetailList != null && Model.TrackEnquirydetailList.Count > 0)
        {
            foreach (var item in Model.TrackEnquirydetailList)
            {
                <div class="col-sm-12">
                    <table class="table table-responsive table-bordered" data-toggle="table">
                        <tr>
                            <th class="text-center bg fontsize" colspan="12"><span><b>OrderID / Insurance Details Page</b></span></th>
                        </tr>
                        <tr>
                            <th colspan="4" class="text-center" width="400"> <b>Agency Information</b></th>
                            <th colspan="4" class="text-center" width="400"> <b>Invoice Information</b></th>
                            <th colspan="4" class="text-center" width="400"> <b>Primary Guest Information</b></th>
                        </tr>
                        <tr>

                            <td colspan="4" width="400">
                                <p>@item.AgencyName</p>
                                @*<p>@Model.AgencyAddress </p>
                                    <p>@Model.CityName,&nbsp;(@Model.AgencyCountry)</p>
                                    <p>@Model.AgencyBusinessPhone</p>
                                    <p>@Model.AgencyBusinessEmailID</p>
                                    <p>@Model.AgencyGSTNo</p>*@

                            </td>
                            <td colspan="4" width="400">
                                <p>&nbsp;</p>
                                <p>Invoice No : <span>@item.Enquiry_Id</span></p>
                                <p>Order ID : <span>@item.Enquiry_Id</span></p>
                                <p>Booking Date : <span>@item.Enqdate</span></p>
                            </td>
                            <td colspan="4" width="400">

                                <p>&nbsp;</p>
                                <p>Guest Name : <span> @item.First_Name @item.Last_Name</span></p>
                                <p>Contact No : <span> @item.Mobile_No</span></p>
                                <p>Email ID : <span> @item.Email_Id</span></p>

                            </td>
                        </tr>

                        <tr>
                            <th colspan="12" class="text-center bg fontsize"><b>Agency Owner / Manager Information</b></th>
                        </tr>
                        <tr>
                            <th class="text-center" colspan="4"><b>Owner/Manager&nbsp;Name</b></th>
                            <th class="text-center" colspan="4"><b>Email&nbsp;ID</b></th>
                            <th class="text-center" colspan="4"><b>Mobile</b></th>
                        </tr>
                        <tr style="text-align:center;">
                            <td class="text-center" colspan="4">@item.First_Name&nbsp;@item.Last_Name</td>
                            <td class="text-center" colspan="4">@Model.AgencyPersonalEmail</td>
                            <td class="text-center" colspan="4">@Model.AgencyMobile</td>
                        </tr>
                        <tr>
                            <th colspan="12" class="text-center bg fontsize"><b>Agency Sales Person Informed</b></th>
                        </tr>
                        <tr>
                            <th colspan="4" class="text-center"><b>Name</b></th>
                            <th colspan="4" class="text-center"><b>Email&nbsp;ID</b></th>
                            <th colspan="4" class="text-center"><b>Mobile</b></th>

                        </tr>
                        <tr style="text-align:center;">

                            <td colspan="4" class="text-center">@item.BlockID</td>
                            <td colspan="4" class="text-center">@item.Email_Id</td>
                            <td colspan="4" class="text-center">@item.Mobile_No</td>
                        </tr>
                        <tr>
                            <th colspan="12" class="text-center bg fontsize"><b>Booking Information</b></th>
                        </tr>
                        <tr>
                            <th class="text-center" colspan="3"><b>Order&nbsp;ID</b></th>
                            <th colspan="3" class="text-center"><b>Booking&nbsp;ID</b></th>
                            <th colspan="2" class="text-center"><b>Refrence No.</b></th>
                            <th class="text-center" colspan="2"><b>Status</b></th>
                            <th class="text-center" colspan="2"><b>Pin Code</b></th>
                        </tr>
                        <tr style="text-align:center;">
                            <td colspan="3">@item.Enquiry_Id</td>
                            <td colspan="3">@item.Enquiry_Id</td>
                            <td colspan="2" width="300">@item.Enquiry_Id</td>
                            <td colspan="2" width="200">
                                @if (item.Status != null)
                                {
                                    if (item.Status == "Rejected")
                                    {
                                        <span style="color:red;font-weight:bold;">@item.Status</span>
                                    }
                                    else if (item.Status == "UnderProcess")
                                    {
                                        <span style="color:green;font-weight:bold;">@item.Status</span>
                                    }
                                    else
                                    {
                                        <span>@item.Status</span>
                                    }
                                }
                            </td>
                            <td colspan="2" width="200">@item.Pin_Code</td>
                        </tr>

                    </table>
                </div>
            }
        }
        <br />
    </div>
</div>

<script src="~/Content/fancybox/jquery.fancybox.js"></script>
<script src="~/Content/js/common/common.js"></script>

