﻿@model IEnumerable<insurance.Models.Custom.FrontAgencyModel.ProposalDetailsHealth>
@{
    ViewBag.Title = "HealthProposalList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-sm-4">
                <h2><i class="fa fa-list"></i> Health&nbsp;Proposal List</h2>
            </div>
            <div class="col-sm-8">
                <div class="text-right">
                    <a href="/health/quotation/enquirylist/BlockedEnquiry" class="btn btn-primary btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> Blocked Enquiry List</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="col-sm-12">
            @using (Html.BeginForm())
            {
                <div class="row searchpanel" style="margin-bottom:10px;">
                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">From Date</div>
                        <div class="col-sm-12 form-control">
                            <input type="date" class="form-control" id="searchFromDate" name="FromDate">
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">To Date</div>
                        <div class="col-sm-12 form-control">
                            <input type="date" class="form-control" id="searchToDate" name="ToDate">
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">Agency</div>
                        <div class="col-sm-12 form-control">
                            <select class="form-control" id="searchAgencyId" name="AgencyId">
                                <option value="">--Select--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">Insurer</div>
                        <div class="col-sm-12 form-control">
                            <select class="form-control" id="searchInsurer" name="Insurer">
                                <option value="">--Select--</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row searchpanel" style="margin-bottom:10px;">
                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">Product</div>
                        <div class="col-sm-12 form-control">
                            <select class="form-control" id="searchProduct" name="Product">
                                <option value="">--Select--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">Policy Type</div>
                        <div class="col-sm-12 form-control">
                            <select class="form-control" id="searchPolicyType" name="PolicyType">
                                <option value="">--Select--</option>
                                <option value="Individual">Individual</option>
                                <option value="Floater">Floater</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">Order Id</div>
                        <div class="col-sm-12 form-control">
                            <input type="text" class="form-control" id="searchEnquiryId" name="EnquiryId" placeholder="Order Id">
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">Proposal No.</div>
                        <div class="col-sm-12 form-control">
                            <input type="text" class="form-control" id="searchProposalNo" name="ProposalNo" placeholder="Proposal No">
                        </div>
                    </div>
                </div>

                <div class="row searchpanel" style="margin-bottom:10px;">                    
                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">Customer Name</div>
                        <div class="col-sm-12 form-control">
                            <input type="text" class="form-control" id="searchCustomerName" name="CustomerName" placeholder="Customer Name">
                        </div>
                    </div>
                </div>

                <div class="row searchpanel" style="margin-bottom:10px;">
                    <div class="col-sm-3 col-xs-12">

                    </div>
                    <div class="col-sm-3 col-xs-12">
                    </div>
                    <div class="col-sm-3 col-xs-12 pull-right">
                        <button type="submit" class="btn btn-success" style="width:100%" id="searchBtn">Search</button>
                    </div>
                    <div class="col-sm-3 col-xs-12 pull-right">
                        <button type="button" id="export2excel" class="btn btn-info" style="width:100%">Export</button>
                    </div>

                </div>
            }
            <input type="hidden" id="totalrecord" value="@Model.Count()" />
            <div class="col-sm-12">
                <div class="table-responsive text-nowrap" style="overflow: scroll;overflow-y: hidden;">
                    <table class="table" id="proposalTable" data-toggle="table">
                        <thead>
                            <tr style="background:#f6f6f6;">
                                <th></th>
                                <th>Order ID </th>
                                <th>Agency Name</th>
                                <th>Proposal No</th>
                                <th>Insurer Name</th>
                                <th>Customer Name</th>
                                <th>Product Name</th>
                                <th>Sum Insured</th>
                                <th>Policy Type</th>
                                <th>Proposal Permimum</th>
                                <th>Created&nbsp;Date</th>
                                <th>View Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() > 0 && Model != null)
                            {
                                int count = 0;
                                foreach (var veh in Model)
                                {
                                    <tr class="memberlistcss" id="row_@count" data-id="@veh.Enquiry_Id" data-membername="@veh.AgencyID">
                                        <td>
                                            @if (!string.IsNullOrEmpty(@veh.BlockId))
                                            {

                                                <span>Blocked By @veh.BlockId</span>
                                            }
                                            else
                                            {
                                                <span id="BackendEnquiry_@veh.Enquiry_Id" style="cursor: pointer;color:#fff;" data-memberid="@veh.Enquiry_Id" class="btn btn-sm btn-success" data-toggle="Block" title="Block" onclick="return ClickedCurrEnquiry('@veh.Enquiry_Id')">Block</span>
                                            }
                                        </td>
                                        <td>@veh.Enquiry_Id </td>
                                        <td>@veh.AgencyName </td>

                                        <td>@veh.p_proposalNum  </td>
                                        <td>@veh.CompanyName</td>
                                        <td>@veh.CustomerName</td>
                                        <td>@veh.ProductName</td>
                                        <td>@veh.SumInsured</td>
                                        <td>@veh.Policy_Type</td>
                                        <td>@veh.PremiumAmount</td>
                                        <td>@veh.CreatedDate_Proposal</td>
                                        <td>
                                            <a href="/health/quotation/enquirylist/TrackDetails?Enquiry_ID=@veh.Enquiry_Id" class="btn btn-danger btn-sm "><span class="fa fa-list-alt" style="color: #ffffff;"></span> view details</a>
                                            <a href="/health/proposal-summary?enquiryid=@veh.Enquiry_Id" target="_blank" class="btn btn-danger btn-sm "><span class="fa fa-file" style="color: #ffffff;"></span> summary </a>
                                        </td>
                                    </tr>
                                    count++;
                                }
                            }
                            else
                            {
                                <tr class="norecordfound">
                                    <td colspan="10" class="text-center text-danger">No record found !</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section footer{
    @*<script src="~/areas/adminarea/content/customjquery/enquirydetails.js"></script>*@
    <script src="~/Content/js/custom/table2excel.js"></script>
    <script>
        $(document).ready(function () {

            $("#searchProduct").prop("disabled", true);
            BindAgencies();
            BindInsurers();
        });

        $("#searchInsurer").change(function () {
            let Insurer = $("#searchInsurer option:selected").val();
            if (Insurer != '') {
                BindProducts();
            }
            else {
                $("#searchProduct").prop("disabled", true);
                $("#searchProduct").val("");
            }
        });

        function BindAgencies() {

            $.ajax({
                type: "Post",
                url: "/Backend_Enquiry/BindAgencies",
                async: false,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    // $("#searchInsurer").html("<option value=''>---Select Agency---</option>");
                    $("#searchAgencyId").append(data);
                }
            });
        }
        function BindInsurers() {

            $.ajax({
                type: "Post",
                url: "/Backend_Enquiry/BindInsurers",
                async: false,
                datatype: "json",
                success: function (data) {
                    $("#searchInsurer").html("<option value=''>--Select--</option>");
                    $("#searchInsurer").append(data);
                    $("#searchInsurer").prop("disabled", false);
                }
            });
        }
        function BindProducts() {

            $.ajax({
                type: "Post",
                url: "/Backend_Enquiry/BindProducts",
                data: '{insuranceId:' + JSON.stringify($("#searchInsurer option:selected").data('compid')) + '}',
                async: false,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $("#searchProduct").html("<option value=''>--Select--</option>");
                    $("#searchProduct").append(data);
                    $("#searchProduct").prop("disabled", false);
                }
            });
        }

        $("#searchFromDate").change(function () {

            $("#searchToDate").attr('min', $("#searchFromDate").val());
        });


        function exportexcel(tableId, filename) {
            $("#" + tableId).table2excel({
                name: "Table2Excel",
                filename: filename,
                fileext: ".xls"
            });
        }

        //$("#export2excel").click(exportexcel('proposalTable', 'ProposalList'));
        $("#export2excel").click(function () {
            exportexcel('proposalTable', 'ProposalList');
        });
    </script>
}
