﻿
@{
    ViewBag.Title = "HealthEnquiryTrackDetails";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="~/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />

<style>
    .table-bordered td {
        border: 1px solid #2a3f54;
        background: #fff;
    }

    .table-bordered th {
        border: 1px solid #2a3f54;
    }

    .fixed-table-footer {
        border-top: 0px solid #000 !important;
        display: none;
    }

    .fontsize {
        font-size: 15px;
    }

    .bg {
        background-color: #848484;
        color: #fff;
    }

    th {
        font-weight: 200 !important;
    }

    p {
        margin: 0 0 0px;
    }

    #feedback {
        position: fixed;
        bottom: 0;
        height: 450px;
        z-index: 2000;
        right: -60px;
    }

    #feedback-tab {
        float: right;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        text-align: center;
        width: 165px;
        height: 43px;
        background-color: #1d3d60;
        padding-top: 5px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -webkit-transform: rotate(90deg);
        -moz-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    #introText a {
        color: #ff6600;
        text-decoration: none;
    }

        #introText a:hover {
            color: #ffb280;
        }

    #introText ul {
        display: inline-block;
    }

    .gst {
        position: relative;
    }

        .gst div {
            display: none;
            position: absolute;
            top: -63px;
            left: 100%;
            margin-top: 0px;
            margin-left: 25px
        }

        .gst a:hover + div {
            cursor: pointer;
            display: block;
            visibility: visible;
            width: 446px;
            line-height: 30px;
            padding: 10px;
            font-size: 14px;
            text-align: center;
            z-index: 999;
            color: rgb(56, 102, 116);
            background: rgb(255, 255, 255);
            border: 4px solid rgb(255, 255, 255);
            border-radius: 5px;
            text-shadow: rgba(0, 0, 0, 0.0980392) 1px 1px 1px;
            box-shadow: #333 -4px 4px 16px 2px;
            -webkit-transition: opacity 100ms ease-in;
            -o-transition: opacity 100ms ease-in;
            -moz-transition: opacity 100ms ease-in;
            transition: opacity 100ms ease-in;
            pointer-events: none;
        }

        .gst div:after {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            border-width: 10px;
            border-style: solid;
            border-color: transparent #FFFFFF transparent transparent;
            top: 55px;
            left: -24px;
        }
</style>


<div class="container">
    <div class="row">
        <br />

        <div class="col-sm-12">
            <table class="table table-responsive table-bordered" style='border: 3px solid black;' id="trackDetails" data-toggle="table">
            </table>
        </div>

        <br />
    </div>
</div>

<script src="~/Content/fancybox/jquery.fancybox.js"></script>
<script src="~/Content/js/common/common.js"></script>
<script>
    $(function () {
        BindDetails();
    });

    function BindDetails() {

        let enquiry_id = GetParameterValues("Enquiry_ID");
        $.ajax({
            type: "Post",
            url: "/Backend_Enquiry/BindHealthTrackDetails",
            data: '{enquiry_id:' + JSON.stringify(enquiry_id) + '}',
            async: false,
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                $("#trackDetails").html(data);
            }
        });
    }

</script>