﻿@model IEnumerable<insurance.Models.Custom.FrontAgencyModel.ProposalDetailsMotor>
@{
    ViewBag.Title = "MotorProposalList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-sm-4">
                <h2><i class="fa fa-list"></i> Motor&nbsp;Proposal List</h2>
            </div>
            <div class="col-sm-8">
                <div class="text-right">
                    <a href="/motor/quotation/enquirylist/BlockedEnquiry" class="btn btn-primary btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> Blocked Enquiry List</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="col-sm-12">
            @using (Html.BeginForm())
            {
                <div class="row searchpanel" style="margin-bottom:10px;">
                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">From Date</div>
                        <div class="col-sm-12 form-control">
                            <input type="date" class="form-control" id="searchFromDate" name="FromDate">
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">To Date</div>
                        <div class="col-sm-12 form-control">
                            <input type="date" class="form-control" id="searchToDate" name="ToDate">
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">Agency</div>
                        <div class="col-sm-12 form-control">
                            <select class="form-control" id="searchAgencyId" name="AgencyId">
                                <option value="">--Select--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">Insurer</div>
                        <div class="col-sm-12 form-control">
                            <select class="form-control" id="searchInsurer" name="Insurer">
                                <option value="">--Select--</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row searchpanel" style="margin-bottom:10px;">
                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">Product</div>
                        <div class="col-sm-12 form-control">
                            <select class="form-control" id="searchProduct" name="Product">
                                <option value="">--Select--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">Policy Type</div>
                        <div class="col-sm-12 form-control">
                            <select class="form-control" id="searchPolicyType" name="PolicyType">
                                <option value="">--Select--</option>
                                <option value="Renewal">Renewal</option>
                                <option value="Fresh">Fresh</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">Order Id</div>
                        <div class="col-sm-12 form-control">
                            <input type="text" class="form-control" id="searchEnquiryId" name="EnquiryId" placeholder="Order Id">
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">Proposal No.</div>
                        <div class="col-sm-12 form-control">
                            <input type="text" class="form-control" id="searchProposalNo" name="ProposalNo" placeholder="Proposal No">
                        </div>
                    </div>
                </div>
                <div class="row searchpanel" style="margin-bottom:10px;">
                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">Customer Name</div>
                        <div class="col-sm-12 form-control">
                            <input type="text" class="form-control" id="searchCustomerName" name="CustomerName" placeholder="Customer Name">
                        </div>
                    </div>
                </div>
                <div class="row searchpanel" style="margin-bottom:10px;">
                    <div class="col-sm-3 col-xs-12">

                    </div>
                    <div class="col-sm-3 col-xs-12">
                    </div>
                    <div class="col-sm-3 col-xs-12 pull-right">
                        <button type="submit" class="btn btn-success" style="width:100%" id="searchBtn">Search</button>
                    </div>
                    <div class="col-sm-3 col-xs-12 pull-right">
                        <button type="button" id="export2excel" class="btn btn-info" style="width:100%">Export</button>
                    </div>

                </div>
            }
            @*<div class="row searchpanel" style="margin-bottom:10px;">

            <div class="row input-group col-sm-4 col-xs-12" style="margin:5px">
                <div class="col-sm-12">Search Any</div>
                <div class="col-sm-12 form-control">
                    <input type="text" class="form-control" id="txtAgencySearch" name="searchStr" onkeyup="filterMotorData(@Model.Count())" placeholder="Search By Any...(Excepts Dates)">
                </div>
            </div>
            <div class="row input-group col-sm-3 col-xs-12" style="margin:5px">
                <div class="col-sm-12">From Date</div>
                <div class="col-sm-12 form-control">
                    <input type="date" class="form-control" id="txtFromDateSearch" name="FromDate" onchange="filterMotorData(@Model.Count())" placeholder="From Date">
                </div>
            </div>
            <div class="row input-group col-sm-3 col-xs-12" style="margin:5px">
                <div class="col-sm-12">To Date</div>
                <div class="col-sm-12 form-control">
                    <input type="date" class="form-control" id="txtToDateSearch" name="ToDate" min="" onchange="filterMotorData(@Model.Count())" placeholder="To Date">
                </div>
            </div>
        </div>*@

            <input type="hidden" id="totalrecord" value="@Model.Count()" />
            <div class="col-sm-12">
                <div class="table-responsive text-nowrap" style="overflow: scroll;overflow-y: hidden;">
                    <table class="table" id="proposalTable" data-toggle="table">
                        <thead>
                            <tr style="background:#f6f6f6;">
                                <th></th>
                                <th>Order ID </th>
                                <th>Agency Name</th>
                                <th>Proposal No</th>
                                <th>Insurer Name</th>
                                <th>Customer Name</th>
                                <th>Vehicle Class</th>
                                <th>Vehicle Name</th>
                                <th>Product Name</th>
                                <th>Policy Type</th>
                                <th>Proposal Permimum</th>
                                <th>Created&nbsp;Date</th>
                                <th>View Details</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() > 0 && Model != null)
                            {
                                int count = 0;
                                foreach (var veh in Model)
                                {
                                    <tr class="memberlistcss" id="row_@count" data-id="@veh.Enquiry_Id" data-membername="@veh.AgencyName">
                                        <td>
                                            @if (!string.IsNullOrEmpty(@veh.BlockId))
                                            {

                                                <span>Blocked By @veh.BlockId</span>
                                            }
                                            else
                                            {
                                                <span id="BackendEnquiry_@veh.Enquiry_Id" style="cursor: pointer;color:#fff;" data-memberid="@veh.Enquiry_Id" class="btn btn-sm btn-success" data-toggle="Block" title="Block" onclick="return ClickedCurrmotorEnquiry('@veh.Enquiry_Id')">Block</span>
                                            }
                                        </td>
                                        <td>@veh.Enquiry_Id.ToUpper()  </td>
                                        <td>@veh.AgencyName </td>
                                        <td>@veh.ProposalNumber </td>
                                        <td>@veh.CompanyName</td>
                                        <td>@veh.CustomerName</td>
                                        <td>@veh.VehicleClass</td>
                                        <td>@veh.VehicleName</td>
                                        <td>@veh.ProductName</td>
                                        <td>@veh.Policy_Type</td>
                                        <td>@veh.PremiumAmount</td>
                                        <td>@veh.CreatedDate_Proposal</td>
                                        <td>
                                            <a href="/motor/quotation/enquirylist/TrackDetails?Enquiry_ID=@veh.Enquiry_Id" class="btn btn-danger btn-sm"><span class="fa fa-list-alt" style="color: #ffffff;"></span> view details</a>
                                            <a href="#" target="_blank" class="btn btn-danger btn-sm "><span class="fa fa-file" style="color: #ffffff;"></span> summary </a>
                                        </td>
                                    </tr>
                                    count++;
                                }
                            }
                            else
                            {
                                <tr class="norecordfound">
                                    <td colspan="10" class="text-center text-danger">No record found !</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
s
@section footer{
    <script src="~/Areas/AdminArea/Content/customjquery/EnquiryDetails.js"></script>
    <script src="~/Content/js/custom/table2excel.js"></script>
    <script>
        $("#searchFromDate").change(function () {

            $("#searchToDate").attr('min', $("#searchFromDate").val());
        });

        function ClickedCurrmotorEnquiry(id) {
            if (id != null) {
                if (confirm('Are you sure, you want to Block this Enquiry ?')) {
                    //var Enquiry_ID = $(this).data("memberid");
                    $("#BackendEnquiry_" + id).html("<i class='fa fa-spinner fa-pulse'></i>").css({ "background-color": "red", "border-color": "red", "color": "#fff" });
                    $.ajax({
                        type: "Post",
                        url: "/Backend_Enquiry/MoterBlockEnquiry",
                        data: '{Enquiry_ID:' + JSON.stringify(id) + '}',
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        success: function (data) {
                            if (data != null) {
                                if (data = "true") {
                                    setTimeout(function () {
                                        window.location.reload();
                                    }, 1000);
                                }
                                else {
                                    alert("Error Occured!");
                                }
                            }
                        }
                    });
                }
            }
        }

        function exportexcel(tableId, filename) {
            $("#" + tableId).table2excel({
                name: "Table2Excel",
                filename: filename,
                fileext: ".xls"
            });
        }

        //$("#export2excel").click(exportexcel('proposalTable', 'ProposalList'));
        $("#export2excel").click(function () {
            exportexcel('proposalTable', 'ProposalList');
        });

                //$('#txtAgencySearch').on('keyup', function () {
                //    var issearch = false;
                //    var _this = $(this); // copy of this object for further usage
                //    var MemberList = $(".memberlistcss");
                //    if (_this.val() != "") {
                //        $.each(MemberList, function (i, item) {
                //            var membername = $(this).data('membername').toLowerCase();
                //            if (membername.search(_this.val()) >= 0) {
                //                issearch = true;
                //                $(this).removeClass("hidden");
                //            }
                //            else {
                //                $(this).addClass("hidden");
                //            }
                //        });

                //        if (!issearch) { $(".norecordfound").removeClass("hidden"); }
                //        else { $(".norecordfound").addClass("hidden"); }
                //    }
                //    else {
                //        $.each(MemberList, function (i, item) {
                //            $(this).removeClass("hidden");
                //        });

                //        $(".norecordfound").addClass("hidden");
                //    }
                //});
                //function filterMotorData(dataCount) {
                //    let searchStr = $("#txtAgencySearch").val();
                //    let FromDate = $("#txtFromDateSearch").val();
                //    let ToDate = $("#txtToDateSearch").val();

                //    let searchStrLen = searchStr.replace(' ', '');


                //    if (searchStrLen.length > 0 || FromDate.trim().length > 0 || ToDate.trim().length > 0) {

                //        for (let i = 0; i < dataCount; i++) {
                //            $("#row_" + i).addClass("hidden");

                //        }

                //        $.ajax({
                //            type: "Post",
                //            url: "/Backend_Enquiry/MotorPolicyListFileration",
                //            data: '{searchStr: ' + JSON.stringify(searchStr) + ', FromDate: ' + JSON.stringify(FromDate) + ', ToDate: ' + JSON.stringify(ToDate) + '}',
                //            contentType: "application/json; charset=utf-8",
                //            datatype: "json",
                //            success: function (data) {

                //                if (data.length > 0) {
                //                    for (let i = 0; i < dataCount; i++) {
                //                        let currID = $("#row_" + i).attr("data-id");

                //                        if (data.includes(Number(currID))) {
                //                            $("#row_" + i).removeClass("hidden");
                //                        }

                //                    }
                //                }
                //            }
                //        });
                //    } sss
                //};

    </script>
}
