﻿@model IEnumerable<insurance.Areas.AdminArea.Models.AdminArea_Custom.EnquiryDetails_Motors>
@{
    ViewBag.Title = "NewEnquiryList_Motor";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-sm-4">
                <h2><i class="fa fa-list"></i>Motor&nbsp;Enquiry List</h2>
            </div>
            <div class="col-sm-8">
                <div class="text-right">
                    <a href="/motor/quotation/enquirylist/BlockedEnquiry" class="btn btn-primary btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> Blocked Enquiry List</a>
                    @*<a href="/enquiry/TrackDetails_Motor?status=0" class="btn btn-danger btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> Deactive List</a>
                        <a href="/enquiry/TrackDetails_Motor?status=1" class="btn btn-primary btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> Active List</a>
                        <a href="/enquiry/TrackDetails_Motor" class="btn btn-primary btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> All List</a>*@

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="col-sm-12">
            @using (Html.BeginForm())
            {
                <div class="row searchpanel" style="margin-bottom:10px;">
                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">From Date</div>
                        <div class="col-sm-12 form-control">
                            <input type="date" class="form-control" id="searchFromDate" name="FromDate">
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">To Date</div>
                        <div class="col-sm-12 form-control">
                            <input type="date" class="form-control" id="searchToDate" name="ToDate">
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">Agency</div>
                        <div class="col-sm-12 form-control">
                            <select class="form-control" id="searchAgencyId" name="AgencyId">
                                <option value="">--Select--</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">Policy Type</div>
                        <div class="col-sm-12 form-control">
                            <select class="form-control" id="searchPolicyType" name="PolicyType">
                                <option value="">--Select--</option>
                                <option value="Renewal">Renewal</option>
                                <option value="Fresh">Fresh</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row searchpanel" style="margin-bottom:10px;">
                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">Order Id</div>
                        <div class="col-sm-12 form-control">
                            <input type="text" class="form-control" id="searchEnquiryId" name="EnquiryId" placeholder="Order Id">
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12 pull-right">
                        <button type="submit" class="btn btn-success" style="width:100%;margin-top:28px;" id="searchBtn">Search</button>
                    </div>
                </div>
            }


                <input type="hidden" id="totalrecord" value="@Model.Count()" />
                <div class="col-sm-12">
                    <div class="table-responsive text-nowrap" style="overflow: scroll;overflow-y: hidden;">
                        <table class="table" data-toggle="table">
                            <thead>
                                <tr style="background:#f6f6f6;">
                                    <th>Action</th>
                                    <th>Enquiry_Id</th>
                                    @*<th>Name</th>*@
                                    <th>Policy Type</th>   
                                    <th>Agency Name</th>
                                    <th>Vehicle Class</th>
                                    <th>RTO</th>
                                    <th>Vechile No</th>
                                    <th>Vehicle</th>
                                    <th>Created&nbsp;Date</th>
                                    <th>View Details</th>

                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.Count() > 0 && Model != null)
                                {
                                    int count = 0;
                                    foreach (var veh in Model)
                                    {
                                        <tr class="memberlistcss" id="row_@count" data-id="@veh.Id" data-membername="@veh.AgencyName">
                                            <td>

                                                @if (!string.IsNullOrEmpty(@veh.BlockID))
                                                {

                                                    <span>Blocked By @veh.BlockID</span>
                                                }
                                                else
                                                {
                                                    <span id="BackendEnquiry_@veh.Enquiry_Id" style="cursor: pointer;color:#fff;" data-memberid="@veh.Enquiry_Id" class="btn btn-sm btn-success" data-toggle="Block" title="Block" onclick="return ClickedCurrmotorEnquiry('@veh.Enquiry_Id')">Block</span>
                                                    @*<span id="" onclick="MotorEnquiryStatusUpdator(@veh.Id,true)" style="cursor: pointer;" data-roleid="" class="btn btn-success btn-sm " data-toggle="Block" title="Block">Block</span>*@
                                                }
                                            </td>

                                            <td>@veh.Enquiry_Id.ToUpper() </td>
                                            <td>@veh.insurancetype</td>
                                            <td>@veh.AgencyName.ToLower()</td>
                                            <td>@veh.vehicletype</td>
                                            <td>@veh.RtoName</td>
                                            <td>@veh.VechileRegNo</td>
                                            <td>@veh.BrandName</td>
                                            <td>@veh.CreatedDate</td>
                                            <td>
                                                <a href="/motor/quotation/enquirylist/TrackDetails?Enquiry_ID=@veh.Enquiry_Id" class="btn btn-danger btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> view details</a>
                                            </td>
                                        </tr>
                                        count++;
                                    }
                                }
                                else
                                {
                                    <tr class="norecordfound">
                                        <td colspan="10" class="text-center text-danger">No record found !</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    </div>
</div>

@section footer{
    <script src="~/Areas/AdminArea/Content/customjquery/EnquiryDetails.js"></script>
    <script>
        $("#searchFromDate").change(function () {

            $("#searchToDate").attr('min', $("#searchFromDate").val());
        });

        

        function ClickedCurrmotorEnquiry(id) {
            if (id != null) {
                if (confirm('Are you sure, you want to Block this Enquiry ?')) {
                    //var Enquiry_ID = $(this).data("memberid");
                    $("#BackendEnquiry_" + id).html("<i class='fa fa-spinner fa-pulse'></i>").css({ "background-color": "red", "border-color": "red", "color": "#fff" });
                    $.ajax({
                        type: "Post",
                        url: "/Backend_Enquiry/MoterBlockEnquiry",
                        data: '{Enquiry_ID:' + JSON.stringify(id) + '}',
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        success: function (data) {
                            if (data != null) {
                                if (data = "true") {
                                    setTimeout(function () {
                                        window.location.reload();
                                    }, 1000);
                                }
                                else {
                                    alert("Error Occured!");
                                }
                            }
                        }
                    });
                }
            }
        }

        //$('#txtAgencySearch').on('keyup', function () {
        //    var issearch = false;
        //    var _this = $(this); // copy of this object for further usage
        //    var MemberList = $(".memberlistcss");
        //    if (_this.val() != "") {
        //        $.each(MemberList, function (i, item) {
        //            var membername = $(this).data('membername').toLowerCase();
        //            if (membername.search(_this.val()) >= 0) {
        //                issearch = true;
        //                $(this).removeClass("hidden");
        //            }
        //            else {
        //                $(this).addClass("hidden");
        //            }
        //        });

        //        if (!issearch) { $(".norecordfound").removeClass("hidden"); }
        //        else { $(".norecordfound").addClass("hidden"); }
        //    }
        //    else {
        //        $.each(MemberList, function (i, item) {
        //            $(this).removeClass("hidden");
        //        });

        //        $(".norecordfound").addClass("hidden");
        //    }
        //});
        //function filterMotorData(dataCount) {
        //    let searchStr = $("#txtAgencySearch").val();
        //    let FromDate = $("#txtFromDateSearch").val();
        //    let ToDate = $("#txtToDateSearch").val();

        //    let searchStrLen = searchStr.replace(' ', '');


        //    if (searchStrLen.length > 0 || FromDate.trim().length > 0 || ToDate.trim().length > 0) {

        //        for (let i = 0; i < dataCount; i++) {
        //            $("#row_" + i).addClass("hidden");

        //        }

        //        $.ajax({
        //            type: "Post",
        //            url: "/Backend_Enquiry/MotorEnquiryFileration",
        //            data: '{searchStr: ' + JSON.stringify(searchStr) + ', FromDate: ' + JSON.stringify(FromDate) + ', ToDate: ' + JSON.stringify(ToDate) + '}',
        //            contentType: "application/json; charset=utf-8",
        //            datatype: "json",
        //            success: function (data) {

        //                if (data.length > 0) {
        //                    for (let i = 0; i < dataCount; i++) {
        //                        let currID = $("#row_" + i).attr("data-id");

        //                        if (data.includes(Number(currID))) {
        //                            $("#row_" + i).removeClass("hidden");
        //                        }
                               
        //                    }
        //                }
        //            }
        //        });
        //    }        
        //};

    </script>  
}
