﻿@model insurance.Areas.AdminArea.Models.AdminArea_Custom.EnquiryDetails

@{
    ViewBag.Title = "NewEnquiryList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-sm-4">
                <h2><i class="fa fa-list"></i>Health&nbsp;Enquiry List</h2>
            </div>
            <div class="col-sm-8">
                <div class="text-right">
                    <a href="/health/quotation/enquirylist/BlockedEnquiry" class="btn btn-primary btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> Blocked Enquiry List</a>
                    @*<a href="/enquiry/enquiry-list?status=UnBlock" class="btn btn-danger btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> UnBlock List</a>
                        <a href="/enquiry/enquiry-list?status=Block" class="btn btn-success btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> Block List</a>*@
                    @*<a href="/enquiry/enquiry-list" class="btn btn-primary btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> All List</a>*@
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="col-sm-12">
            @using (Html.BeginForm())
            {
               <div class="row searchpanel" style="margin-bottom:10px;">
                <div class="col-sm-3 col-xs-12">
                    <div class="col-sm-12">From Date</div>
                    <div class="col-sm-12 form-control">
                        <input type="date" class="form-control" id="searchFromDate" name="FromDate">
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="col-sm-12">To Date</div>
                    <div class="col-sm-12 form-control">
                        <input type="date" class="form-control" id="searchToDate" name="ToDate">
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="col-sm-12">Agency</div>
                    <div class="col-sm-12 form-control">
                        <select class="form-control" id="searchAgencyId" name="AgencyId">
                            <option value="">--Select--</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-3 col-xs-12">
                    <div class="col-sm-12">Policy Type</div>
                    <div class="col-sm-12 form-control">
                        <select class="form-control" id="searchPolicyType" name="PolicyType">
                            <option value="">--Select--</option>
                            <option value="Individual">Individual</option>
                            <option value="Floater">Floater</option>
                        </select>
                    </div>
                </div>            
            </div>
                <div class="row searchpanel" style="margin-bottom:10px;">
                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">Order Id</div>
                        <div class="col-sm-12 form-control">
                            <input type="text" class="form-control" id="searchEnquiryId" name="EnquiryId" placeholder="Order Id">
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12 pull-right">
                        <button type="submit" class="btn btn-success" style="width:100%;margin-top:28px;" id="searchBtn">Search</button>
                    </div>                  
                </div>
            }
                <input type="hidden" id="totalrecord" value="@Model.EnquiryDetailList.Count" />
                <div class="col-sm-12">
                    <div class="table-responsive text-nowrap" style="overflow: scroll;overflow-y: hidden;">
                        <table class="table" id="enqTable" data-toggle="table">
                            <thead>
                                <tr style="background:#f6f6f6;">
                                    <th></th>
                                    <th>Enquiry_Id</th>
                                    @*<th>Name</th>*@
                                    <th>Agency Name</th>
                                    <th>Sum Insured ($)</th>
                                    <th>Policy Type</th>
                                    <th>Pin Code</th>
                                    <th>Adult</th>
                                    <th>Child</th>
                                    <th>Created&nbsp;Date</th>
                                    <th>View Details</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model.EnquiryDetailList.Count > 0 && Model.EnquiryDetailList != null)
                                {
                                    int count = 0;
                                    foreach (var veh in Model.EnquiryDetailList)
                                    {
                                <tr class="memberlistcss" id="row_@count" data-id="@veh.EnquiryId" data-membername="@veh.AgencyName">
                                    <td>
                                        @if (!string.IsNullOrEmpty(@veh.BlockID))
                                        {

                                            <span>Blocked By @veh.BlockID</span>
                                        }
                                        else
                                        {
                                            <span id="BackendEnquiry_@veh.Enquiry_Id" style="cursor: pointer;color:#fff;" data-memberid="@veh.Enquiry_Id" class="btn btn-sm btn-success" data-toggle="Block" title="Block" onclick="return ClickedCurrEnquiry('@veh.Enquiry_Id')">Block</span>
                                        }
                                    </td>
                                    @*<td><a href="/enquiry/BlockEnquiry?Enquiry_ID=@veh.Enquiry_Id" class="btn btn-sm btn-success">Block</a></td>*@
                                    <td>@veh.Enquiry_Id </td>
                                    @*<td>@veh.First_Name    @veh.Last_Name </td>*@
                                    <td>@veh.AgencyName.ToLower()</td>
                                    <td>@veh.Sum_Insured</td>
                                    <td>@veh.Policy_Type</td>
                                    <td>@veh.Pin_Code</td>
                                    <td>@veh.Adult</td>
                                    <td>@veh.Child</td>
                                    <td>@veh.Enqdate</td>
                                    <td> <a href="/health/quotation/enquirylist/TrackDetails?Enquiry_ID=@veh.Enquiry_Id" class="btn btn-danger btn-sm "><span class="fa fa-list-alt" style="color: #ffffff;"></span> view details</a></td>
                                </tr>
                                        count++;
                                    }
                                }
                                else
                                {
                                    <tr class="norecordfound">
                                        <td colspan="6" class="text-center text-danger">No record found !</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
</div>
</div>

@section footer{
    <script src="~/Areas/AdminArea/Content/customjquery/EnquiryDetails.js"></script>
    <script>
        $("#FromDate").change(function () {

            $("#ToDate").attr('min', $("#FromDate").val());
        });

    </script>>
}


