﻿@model insurance.Areas.AdminArea.Models.AdminArea_Custom.MenuModel

@{
    ViewBag.Title = "MenuList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-sm-6">
                <h2><i class="fa fa-list"></i>&nbsp;Menu List</h2>
            </div>
            <div class="col-sm-6">
                <div class="text-right">
                    <a href="#" class="btn btn-primary btn-sm"><span class="fa fa-plus-circle" style="color:#fff!important;"></span>&nbsp;Add Menu</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-sm-12 searchpanel">
                <div class="row input-group col-sm-4 col-xs-12">
                    <input type="text" class="form-control" id="txtCountrySearch" placeholder="Search by menu name">
                </div>
            </div>
            <input type="hidden" id="totalrecord" value="@Model.MenuList.Count" />
            <div class="col-sm-12">
                <div class="table-responsive text-nowrap">
                    <table class="table" data-toggle="table">
                        <thead>
                            <tr style="background:#f6f6f6;">
                                <th>Menu&nbsp;Name</th>
                                <th>Menu&nbsp;Url</th>
                                <th>Icon</th>
                                <th>Status</th>
                                <th>Created&nbsp;Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.MenuList.Count > 0 && Model.MenuList != null)
                            {
                                foreach (var item in Model.MenuList)
                                {
                                    <tr class="menulistcss" data-menuname="@item.MenuName">
                                        <td>@item.MenuName</td>
                                        <td>@item.MenuUrl</td>
                                        <td>@item.Icon</td>
                                        <td>@item.Status</td>
                                        <td>@item.CreatedDate</td>
                                        <td>
                                            <a href="#" class="btn btn-success btn-sm" data-toggle="Edit" title="Edit"><span class="fa fa-edit"></span></a>
                                            <span id="deletecountry_1" style="cursor: pointer;" data-countryid="1" class="btn btn-danger btn-sm deletecountry" data-toggle="InActive" title="InActive"><span class="fa fa-trash"></span></span>
                                        </td>
                                    </tr>
                                }
                            }
                            else
                            {
                                <tr class="norecordfound">
                                    <td colspan="6" class="text-center text-danger">No record found !</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section footer{
    <script src="~/Areas/AdminArea/Content/customjquery/menu.js"></script>
}
