﻿
@{
    ViewBag.Title = "RolePermissionList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-sm-4">
                <h2><i class="fa fa-list"></i>&nbsp;Role Permission</h2>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-sm-12 searchpanel">
                <div class="row input-group col-sm-4 col-xs-12">
                    <input type="text" class="form-control" id="txtRoleSearch" placeholder="search by role">
                </div>
            </div>
            <input type="hidden" id="totalrecord" value="@Model.RoleList.Count" />
            <div class="col-sm-12">
                <div class="table-responsive text-nowrap">
                    <table class="table" data-toggle="table">
                        <thead>
                            <tr style="background:#f6f6f6;">
                                <th>Role</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.RoleList.Count > 0 && Model.RoleList != null)
                            {
                                foreach (var item in Model.RoleList)
                                {
                                    <tr class="rolelistcss" data-rolename="@item.RoleName">
                                        <td>@item.RoleName</td>
                                        <td>@(item.Status==true?"Active":"Deactive")</td>
                                        <td>
                                            <a href="/role-management/role-permission?roleid=@item.RoleID" class="btn btn-success btn-sm" data-toggle="Edit" title="Edit"><span class="fa fa-edit"></span></a>
                                        </td>
                                    </tr>
                                }
                                <tr class="norecordfound hidden">
                                    <td colspan="4" class="text-center text-danger">No record found !</td>
                                </tr>
                            }
                            else
                            {
                                <tr class="norecordfound">
                                    <td colspan="4" class="text-center text-danger">No record found !</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section footer{
    <script src="~/Areas/AdminArea/Content/customjquery/role.js"></script>
}