﻿@using insurance.Areas.AdminArea.Models.AdminArea_Account
@using insurance.Areas.AdminArea.AdminArea_Service

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Backend Section</title>
    <link href="~/Areas/AdminArea/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Areas/AdminArea/Content/css/custom.min.css" rel="stylesheet" />
    <link href="~/Content/css/custom/commoncss.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-table.css" rel="stylesheet" />
    <script src="~/Areas/AdminArea/Content/js/jquery.min.js"></script>
    <style>
        .table-striped tbody tr:nth-of-type(odd) {
            background: none !important;
        }
    </style>
    @RenderSection("header", false)
</head>
<body class="nav-md">
    @{
        Account.MemberLogin lu = new Account.MemberLogin();
        if (!AdminArea_AccountService.IsBackUserLogin(ref lu))
        {
            if (AdminArea_AccountService.LogoutBackendLogin())
            {
                Response.Redirect("/backend/login");
            }
        }
        else
        {
            <input id="hdnUserType" type="hidden" value="@lu.MemberType" />
            <div class="container body">
                <div class="main_container">
                    <div class="col-md-3 left_col">
                        <div class="left_col scroll-view">
                            <div class="navbar nav_title" style="border-bottom: 1px solid #ccc;">
                                <a href="/backend-dashboard" style="text-align: center; background: green;" class="site_title"><span class="fa fa-dashboard"></span> DASHBOARD</a>
                            </div>
                            <div class="clearfix"></div>
                            <!-- sidebar menu -->
                            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                                <div class="menu_section">                                                                    
                                    @Html.Action("SetMenuForStaff", "Backend_Menu", lu)
                                </div>
                            </div>
                            <!-- /sidebar menu -->
                        </div>
                    </div>

                    <div class="top_nav">
                        <div class="nav_menu">
                            <div class="nav toggle">
                                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                            </div>
                            <nav class="nav navbar-nav">
                                <ul class=" navbar-right">
                                    <li class="nav-item dropdown open" style="padding-left: 15px;">
                                        <a href="javascript:;" class="user-profile dropdown-toggle" aria-haspopup="true" id="navbarDropdown" data-toggle="dropdown" aria-expanded="false">
                                            <img src="~/Content/images/user.png" />
                                        </a>
                                        <div class="dropdown-menu dropdown-usermenu pull-right" aria-labelledby="navbarDropdown" style="left: 30px!important;width: 160px!important;">
                                            <a class="dropdown-item" href="javascript:;" style="border-bottom: 1px solid #ccc;"> Profile</a>
                                            @*<a class="dropdown-item" href="javascript:;">
                    <span class="badge bg-red pull-right">50%</span>
                    <span>Settings</span>
                </a>
                <a class="dropdown-item" href="javascript:;">Help</a>*@
                                            <span class="dropdown-item" style="cursor:pointer;" onclick="Logout();"><i class="fa fa-sign-out pull-right"></i> Log Out</span>
                                        </div>
                                    </li>

                                    <li role="presentation" class="nav-item dropdown open">
                                        <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-envelope-o"></i>
                                            <span class="badge bg-green">6</span>
                                        </a>
                                    </li>
                                    <li role="presentation" class="nav-item dropdown open" style="margin-right: 25px;">
                                        <a href="javascript:;" class="dropdown-toggle info-number" id="navbarDropdown1" data-toggle="dropdown" aria-expanded="false">
                                            <i class="fa fa-bell"></i>
                                            <span class="badge bg-green">3</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                    <div class="right_col" role="main">
                        <div class="row subformstart">
                            @RenderBody()
                        </div>
                    </div>

                    <button type="button" class="btn btn-info btn-lg successmessage hidden" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#SuccessMsg"></button>
                    <div class="modal fade" id="SuccessMsg" role="dialog">
                        <div class="modal-dialog modal-sm" style="margin:15% auto!important;">
                            <!-- Modal content-->
                            <div class="modal-content" style="text-align: center;border-radius: 5px !important;">
                                <div class="modal-header" style="padding: 12px;">
                                    <h5 class="modal-title modelheading"><span id="iconid"></span><span class="spanmsg"></span></h5>
                                </div>
                                <div class="modal-body" style="padding-left:20px!important;">
                                    <h6 class="sucessmsg"></h6>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal">OK</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <footer>
                        <div class="text-right">
                            @*Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>*@
                            Krishna Kant
                        </div>
                        <div class="clearfix"></div>
                    </footer>
                </div>
            </div>
        }
    }

    @*<script src="~/Content/js/bootstrap-table.js"></script>*@
    <script src="~/Areas/AdminArea/Content/js/bootstrap.bundle.min.js"></script>
    <script src="~/Areas/AdminArea/Content/js/custom.min.js"></script>
    <link href="~/Areas/AdminArea/Content/css/summernote.css" rel="stylesheet" />
    <script src="~/Areas/AdminArea/Content/js/summernote.js"></script>
    <script src="~/Areas/AdminArea/Content/js/custom/adminarea_master.js"></script>

    <script src="~/Content/js/custom/common.js?v=1"></script>
    <script>
        $('.summernote').summernote({
            height: 300
        });

        $('.summernote1').summernote({
            height: 200
        });

    </script>
    @RenderSection("footer", false)
</body>
</html>
