﻿<div id="wizard" class="form_wizard wizard_horizontal">
    <ul class="wizard_steps anchor ">
        <li>
            <a href="#step-1" class="selected" isdone="1" rel="1">
                <span class="step_no">1</span>
                <span class="step_descr">
                    Step 1<br>
                    <small>Step 1 description</small>
                </span>
            </a>
        </li>
        <li>
            <a href="#step-2" class="disabled" isdone="0" rel="2">
                <span class="step_no">2</span>
                <span class="step_descr">
                    Step 2<br>
                    <small>Step 2 description</small>
                </span>
            </a>
        </li>
        <li>
            <a href="#step-3" class="disabled" isdone="0" rel="3">
                <span class="step_no">3</span>
                <span class="step_descr">
                    Step 3<br>
                    <small>Step 3 description</small>
                </span>
            </a>
        </li>
        <li>
            <a href="#step-4" class="disabled" isdone="0" rel="4">
                <span class="step_no">4</span>
                <span class="step_descr">
                    Step 4<br>
                    <small>Step 4 description</small>
                </span>
            </a>
        </li>
    </ul>
    <div class="clearfix"></div><br />
    <div class="stepContainer" style="height: 288px;">
        <div id="step-1" class="content" style="display: block;">
            <form class="form-horizontal form-label-left">
                <div class="form-group row">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="first-name">
                        First Name <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 ">
                        <input type="text" id="first-name" required="required" class="form-control  ">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-md-3 col-sm-3 label-align" for="last-name">
                        Last Name <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 ">
                        <input type="text" id="last-name" name="last-name" required="required" class="form-control ">
                    </div>
                </div>
                <div class="form-group row">
                    <label for="middle-name" class="col-form-label col-md-3 col-sm-3 label-align">Middle Name / Initial</label>
                    <div class="col-md-6 col-sm-6 ">
                        <input id="middle-name" class="form-control col" type="text" name="middle-name">
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-md-3 col-sm-3 label-align">Gender</label>
                    <div class="col-md-6 col-sm-6 ">
                        <div id="gender" class="btn-group" data-toggle="buttons">
                            <label class="btn btn-secondary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-secondary">
                                <input type="radio" name="gender" value="male" class="join-btn"> &nbsp; Male &nbsp;
                            </label>
                            <label class="btn btn-primary" data-toggle-class="btn-primary" data-toggle-passive-class="btn-secondary">
                                <input type="radio" name="gender" value="female" class="join-btn"> Female
                            </label>
                        </div>
                    </div>
                </div>
                <div class="form-group row">
                    <label class="col-form-label col-md-3 col-sm-3 label-align">
                        Date Of Birth <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 ">
                        <input id="birthday" class="date-picker form-control" required="required" type="text">
                    </div>
                </div>
            </form>
        </div>
        <div id="step-2" class="content" style="display: none;">
            <h2 class="StepTitle">Step 2 Content</h2>
            <p>
                do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div id="step-3" class="content" style="display: none;">
            <h2 class="StepTitle">Step 3 Content</h2>
            <p>
                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore
                eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
        <div id="step-4" class="content" style="display: none;">
            <h2 class="StepTitle">Step 4 Content</h2>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
            <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor
                in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
        </div>
    </div>
    <div class="actionBar">
        <a href="#" class="buttonFinish buttonDisabled btn btn-default">Finish</a>
        <a href="#" class="buttonNext btn btn-success">Next</a>
        <a href="#" class="buttonPrevious buttonDisabled btn btn-primary">Previous</a>
    </div>
</div>

@*<script src="~/Content/js/custom/jquery.smartWizard.js"></script>
<script src="~/Content/js/custom/custom.min.js"></script>
<script src="https://ajax.cloudflare.com/cdn-cgi/scripts/7089c43e/cloudflare-static/rocket-loader.min.js"></script>*@