﻿<!DOCTYPE html>
@using insurance.Service;
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>seeinsured</title>
    <link href="~/Content/FrontEnd/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/animate.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/flaticon.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/meanmenu.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/nice-select.css" rel="stylesheet" />
    <link href="~/Content/css/custom/DashbordMenu.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/odometer.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/style.css" rel="stylesheet" />
    <link href="~/Content/css/custom/Menucss.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/css/custom/validationcss.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Content/FrontEnd/js/jquery.min.js"></script>
    <script src="~/Content/FrontEnd/js/bootstrap.min.js"></script>
    <link href="~/Content/css/AgencyDashbord.css" rel="stylesheet" />
    @RenderSection("header", false)
</head>
<body>
    @{
        insurance.Models.Custom.FrontAgencyModel.Agency_Detail lu = new insurance.Models.Custom.FrontAgencyModel.Agency_Detail();
        if (AdministrationService.IsAgencyLogin(ref lu))
        {
            if (lu.Type.ToLower() != "agency")
            {
                Response.Redirect("/");
            }
        }
        else
        {
            if (AdministrationService.LogoutAgency(lu.AgencyID))
            {
                Response.Redirect("/");
            }
        }
        <style>
            .nav-area .navbar-area .main-nav nav .navbar-nav .nav-item a {
                padding: 7px !important
            }

            .mainmenu {
                background: #1f77b4 !important;
                font-size: 18px !important;
                text-align: center;
                float: none;
                color: #fff;
            }

            .AccountDetails {
                position: absolute;
                color: #e71820;
                bottom: 48px;
                right: 78px;
                font-size: 14px;
                margin-bottom: 0px;
            }

            nav2 ul {
                list-style: none;
                margin: 0;
                padding: 0;
                margin-left: -4px;
            }

            .MenuBack {
                background: #ededed !important;
                min-height: 500px;
                margin-top: 117px;
                box-shadow: 0px 0px 8px;
            }
            .mobmeniNone {
                display:none;
            }
            @@media screen and (max-width:700px) {
                .AccountDetails {
                    display: none;
                }

                .loginbtn {
                    margin-left: 0px;
                }

                .menumobile {
                    margin-left: 0px;
                }

                .logoutbtn {
                    border-radius: 0%;
                }

                .mobmeniNone {
                    display: block;
                }

                .laptopmenu {
                    display: none;
                }
            }
        </style>
        <header class="header-area fixed-top">
            <!-- Start Navbar Area -->
            <div class="nav-area">
                <div class="navbar-area">
                    <!-- Menu For Mobile Device -->
                    <div class="mobile-nav">
                        <a href="/agency/dashboard" class="logo"> <img src="~/Content/FrontEnd/img/logonew.png" /> </a>
                    </div>

                    <!-- Menu For Desktop Device -->
                    <div class="main-nav" style="background:#fff;   ">
                        <nav class="navbar navbar-expand-md navbar-light">
                            <div class="container-fluid">
                                <a class="navbar-brand" href="/agency/dashboard">
                                    <img src="~/Content/FrontEnd/img/logonew.png" style="width:240px;" />
                                </a>

                                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                                    <ul class="navbar-nav">
                                        @*<li class="nav-item">
            <a href="#" class="nav-link dropdown-toggle">
                Dashbord
            </a>
        </li>*@
                                        <li class="nav-item">
                                            <a href="/Health/HelthSearch" class="nav-link dropdown-toggle">
                                                Health
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link dropdown-toggle">
                                                Life
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Motor
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Travel
                                            </a>
                                        </li>
                                        <li class="mobmeniNone">
                                            <div class="row loginbtn">
                                                <div class="col-sm-12 form-group" style="margin-top: 8px;">
                                                    <button class="default-btn logoutbtn" id="btnAgencyLogout" data-agencyid="@lu.AgencyID" style="width: 80%;" onclick="return AgencyLogoutProcess();"><span class="fa fa-power-off"></span> Logout</button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <p class="AccountDetails" style="bottom: 54px;right:104px;">
                                        <span class="pull-right"><span class="fa fa-user"></span> @lu.AgencyName </span><br>
                                    </p>
                                    <p class="AccountDetails" style="bottom:35px;right: 100px;">
                                        AGENT CODE&nbsp;: <span style="font-weight: bold;"><span>SI</span>@lu.AgencyID</span>
                                    </p>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12 form-group" style="margin-top: 20px;">
                                        <button class="default-btn" style="border-radius: 50%;width: 20%; padding: 11px 28px 16px 15px;" id="btnAgencyLogout" data-agencyid="@lu.AgencyID" onclick="return AgencyLogoutProcess();"><span class="fa fa-power-off"></span></button>
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- End Navbar Area -->
        </header>
    }

    <div class="sidebar-modal">
        <div class="modal right fade" id="myModal2">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="bx bx-x"></i>
                            </span>
                        </button>

                        <h2 class="modal-title">
                            <a href="#">
                                <img src="~/Content/FrontEnd/img/logonew.png" />
                            </a>
                        </h2>
                    </div>

                    <div class="modal-body">
                        <div class="sidebar-modal-widget">
                            <h3 class="title">About Us</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, asperiores doloribus eum laboriosam praesentium delectus unde magni aut perspiciatis cumque deserunt dolore voluptate, autem pariatur.</p>
                        </div>

                        <div class="sidebar-modal-widget">
                            <h3 class="title">Additional Links</h3>

                            <ul>
                                <li>
                                    <a href="#">Log In</a>
                                </li>
                                <li>
                                    <a href="#">Sign In</a>
                                </li>
                                <li>
                                    <a href="#">FAQ</a>
                                </li>
                                <li>
                                    <a href="#">Log Out</a>
                                </li>
                            </ul>
                        </div>

                        <div class="sidebar-modal-widget">
                            <h3 class="title">Contact Info</h3>

                            <ul class="contact-info">
                                <li>
                                    <i class="bx bx-location-plus"></i>
                                    Address
                                    <span>Plot No 3 | basement, Amberhai Extension ,Dwarka, Bees Sutri Colony, Pocket 1, Sector 19, New Delhi, Delhi 110075</span>
                                </li>
                                <li>
                                    <i class="bx bx-envelope"></i>
                                    Email
                                    <span>support@seeinsured.com</span>
                                </li>
                                <li>
                                    <i class="bx bxs-phone-call"></i>
                                    Phone
                                    <span>+8010874878</span>
                                </li>
                            </ul>
                        </div>

                        <div class="sidebar-modal-widget">
                            <h3 class="title">Connect With Us</h3>

                            <ul class="social-list">
                                <li>
                                    <a href="#">
                                        <i class='bx bxl-twitter'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class='bx bxl-facebook'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class='bx bxl-instagram'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class='bx bxl-linkedin'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class='bx bxl-youtube'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row DashbordMenu">
        <!--menu Design-->
        <div class="col-sm-2 MenuBack">
            <nav2 class="animated bounceInDown">
                <ul style="margin-top: -18px;">
                    <li><a class="mainmenu" href="/Administration/AgencyDashbord"><span class="fa fa-dashboard FaFloat"></span> Dashboard</a></li>
                    <li class="sub-menu">
                        <a class="headmenu">Account<div class="fa fa-plus-circle right"></div></a>
                        <ul>
                            <li><a href="#">Ledger</a></li>
                            <li><a href="#">Report</a></li>
                            <li><a href="/Administration/BookingReport">Booking Report</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a class="headmenu">Health<div class="fa fa-plus-circle right"></div></a>
                        <ul>
                            <li><a href="/Administration/HealthPolicyList">Policy</a></li>
                            <li><a href="/Administration/HealthProposalList">Proposal</a></li>
                            <li><a href="/Administration/HealthRenewalList">Renewal List</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a class="headmenu">Moter<div class="fa fa-plus-circle right"></div></a>
                        <ul>
                            <li><a href="/Administration/PolicyList">Policy</a></li>
                            <li><a href="/Administration/ProposalList">Proposal</a></li>
                        </ul>
                    </li>
                    <li class="sub-menu">
                        <a class="headmenu">Setting <div class="fa fa-plus-circle right"></div></a>
                        <ul>
                            <li><a href="/Administration/AgencyProfile">Profile</a></li>
                            <li><a href="/Administration/AgencyChangePassword">Change Password</a></li>
                            <li><a href="/Administration/AgencyBankDetails">Bank Detail</a></li>
                            <li><a href="/Administration/AgencyCertificate">Certificate</a></li>                          
                        </ul>
                    </li>
                </ul>
            </nav2>
        </div>
        @RenderBody()
    </div>
    <footer class="footer-top-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-widget">
                        <a href="index.html">
                            <img src="~/Content/FrontEnd/img/logonew.png" />
                        </a>

                        <p>SeeInsured is an Insuretech startup with state of the art platform which will help customers to compare, buy and save on their health and car insurance policies.</p>

                        <div class="social-area">
                            <ul>
                                <li>
                                    <a href="#"><i class="bx bxl-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="bx bxl-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="bx bxl-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="bx bxl-youtube"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="bx bxl-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="single-widget contact">
                        <h3>Contact Us</h3>

                        <ul>
                            <li class="pl-0">
                                <a href="tel:Phone:8010874878">
                                    <i class="flaticon-call"></i>
                                    <span>Hotline:</span>
                                    Phone: 8010874878
                                </a>
                            </li>

                            <li class="pl-0">
                                <a href="mailto:support@seeinsured.com">
                                    <i class="flaticon-email"></i>
                                    <span>Email:</span>
                                    support@seeinsured.com
                                </a>
                            </li>

                            <li>
                                <i class="flaticon-maps-and-flags"></i>
                                <span>Address:</span>
                                Plot No 3 | basement, Amberhai Extension ,Dwarka, Bees Sutri Colony, Pocket 1, Sector 19, New Delhi, Delhi 110075
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-widget">
                        <h3>Service Links</h3>

                        <ul>
                            <li>
                                <a href="#">
                                    Insurance
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Car Insurance
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Home Insurance
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Investment
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Health Insurance
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Business
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-widget">
                        <h3>Newsletter</h3>

                        <p class="newsletter-p">Sign up for our newsletter.</p>

                        <div class="subscribe-wrap">
                            <form class="newsletter-form" data-toggle="validator">
                                <input type="email" class="form-control" placeholder="Enter Your Email" name="EMAIL" required autocomplete="off">

                                <button class="default-btn" type="submit">
                                    Subscribe
                                </button>

                                <div id="validator-newsletter" class="form-result"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <footer class="footer-bottom-area footer-bottom-electronics-area">
        <div class="container">
            <div class="copy-right">
                <p>Copyright 2020 SeeInsured Designed By <a href="#" target="blank">Seeingo</a></p>
            </div>
        </div>
    </footer>

    <div class="go-top">
        <i class='bx bx-chevrons-up'></i>
        <i class='bx bx-chevrons-up'></i>
    </div>

    <script src="~/Content/FrontEnd/js/popper.min.js"></script>
    <script src="~/Content/FrontEnd/js/jquery.meanmenu.js"></script>
    <script src="~/Content/FrontEnd/js/wow.min.js"></script>
    <script src="~/Content/js/custom/Menujs.js"></script>
    <script src="~/Content/FrontEnd/js/owl.carousel.js"></script>
    <script src="~/Content/FrontEnd/js/jquery.magnific-popup.min.js"></script>
    @*<script src="~/Content/FrontEnd/js/jquery.nice-select.min.js"></script>*@
    <script src="~/Content/FrontEnd/js/parallax.min.js"></script>
    <script src="~/Content/FrontEnd/js/jquery.mixitup.min.js"></script>
    <script src="~/Content/FrontEnd/js/jquery.appear.js"></script>
    <script src="~/Content/FrontEnd/js/odometer.min.js"></script>
    <script src="~/Content/FrontEnd/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/FrontEnd/js/form-validator.min.js"></script>
    <script src="~/Content/FrontEnd/js/contact-form-script.js"></script>
    <script src="~/Content/FrontEnd/js/custom.js"></script>
    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>
    <script>
        $('html,body').animate({ scrollTop: 0 }, 'slow');
    </script>
    @RenderSection("footer", false)
    <script src="~/Areas/AgencyArea/Content/js/agency_home.js"></script>
    <script src="~/Content/js/custom/common.js"></script>
</body>
</html>
