﻿<!DOCTYPE html>
@using insurance.Service;
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>seeinsured</title>
    <link href="~/Content/FrontEnd/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/animate.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/flaticon.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/meanmenu.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/nice-select.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/odometer.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/style.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/css/custom/validationcss.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Content/FrontEnd/js/jquery.min.js"></script>
    <script src="~/Content/FrontEnd/js/bootstrap.min.js"></script>
    @RenderSection("header", false)
</head>
<body>
    @{
        insurance.Models.Custom.FrontAgencyModel.Agency_Detail lu = new insurance.Models.Custom.FrontAgencyModel.Agency_Detail();
        if (AdministrationService.IsAgencyLogin(ref lu))
        {
            if (lu.Type.ToLower() != "agency")
            {
                Response.Redirect("/");
            }
        }
        else
        {
            if (AdministrationService.LogoutAgency(lu.AgencyID))
            {
                Response.Redirect("/");
            }
        }
        <style>
            .dropbtn {
                border-radius: 7px !important;
                background-color: #e71820;
                color: white !important;
                padding: 5px 14px;
                height: 50px;
                font-size: 19px;               
                border: none;
                cursor: pointer;
                outline: none;
            }

                .dropbtn:hover, .dropbtn:focus {
                    background-color: #0964a4;
                }

            .dropdown {
                position: relative;
                display: inline-block;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: #000;
                min-width: 160px;
                overflow: auto;
                right: 0px;
                top: 52px;
                border-radius: 6px !important;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 999;
            }

                .dropdown-content a {
                    padding: 6px 16px;
                    text-decoration: none;
                    color: #fff;
                    font-weight: bold;
                    display: block;
                    font-size: 16px;
                    border-bottom: 1px solid #fff !important;
                }

            .dropdown a:hover {
                background-color: #e71820;
            }

            .show {
                display: block;
            }

            @@media (max-width: 720px) {
                .dropdown-content {
                    right: -120px;
                }
            }

            .nav-area .navbar-area .main-nav nav .navbar-nav .nav-item a {
              padding:7px!important
            }
            .AccountDetails {
                position: absolute;
                bottom: 48px;
                right: 78px;
                font-size: 16px;
                color: #e71820;               
                margin-bottom: 0px;
            }
            .loginbtn {
                margin-left: 544px;
            }
            .menumobile {
                margin-left:75px;
            }
            .logoutbtn {
                border-radius: 50%;
                width: 20%;
                padding: 11px 28px 16px 15px;
            }
            .mobmeniNone {
                display: none;
            }
            .laptopmenu{
                display:block;
            }
            @@media screen and (max-width:700px) {
                .AccountDetails{
                    display:none;
                }
                .loginbtn{
                    margin-left:0px;
                }
                .menumobile{
                    margin-left:0px;
                }
                .logoutbtn{
                    border-radius:0%;
                }
                .mobmeniNone{
                   display:block;
                }
                .laptopmenu {
                    display: none;
                }
            }
        </style>
        <header class="header-area fixed-top">
            <!-- Start Navbar Area -->
            <div class="nav-area">
                <div class="navbar-area">
                    <!-- Menu For Mobile Device -->
                    <div class="mobile-nav">
                        <a href="/agency/dashboard" class="logo"> <img src="~/Content/FrontEnd/img/logonew.png" /> </a>
                    </div>

                    <!-- Menu For Desktop Device -->
                    <div class="main-nav" style="background:#fff;   ">
                        <nav class="navbar navbar-expand-md navbar-light" style="border-bottom: 2px solid #000;">
                            <div class="container-fluid">
                                <a class="navbar-brand" href="/agency/dashboard">
                                    <img src="~/Content/FrontEnd/img/logonew.png" style="width:240px;" />
                                </a>

                                <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                                    <ul class="navbar-nav menumobile">                                       
                                        @*<li class="nav-item">
                                            <a href="/Health/HelthSearch" class="nav-link dropdown-toggle">
                                                Health
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="#" class="nav-link dropdown-toggle">
                                                Life
                                            </a>
                                        </li>

                                        <li class="nav-item">
                                            <a href="#" class="nav-link">
                                                Motor
                                            </a>
                                        </li>*@
                                        <li class="nav-item mobmeniNone">
                                            <a href="/Administration/AgencyDashbord" class="nav-link">
                                                <span class="fa fa-user-secret"></span> Dashboard
                                            </a>
                                        </li>
                                        <li class="mobmeniNone">
                                            <div class="row loginbtn">
                                                <div class="col-sm-12 form-group" style="margin-top: 8px;">
                                                    <button class="default-btn logoutbtn" id="btnAgencyLogout" data-agencyid="@lu.AgencyID" style="width: 80%;" onclick="return AgencyLogoutProcess();"><span class="fa fa-power-off"></span> Logout</button>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                    <p class="AccountDetails" style="bottom: 54px;right:104px;">
                                        <span class="pull-right"><span class="fa fa-user"></span> @lu.AgencyName </span><br>
                                    </p>
                                    <p class="AccountDetails" style="bottom:35px;right: 100px;">
                                        AGENT CODE&nbsp;: <span style="font-weight: bold;"><span>SI</span>@lu.AgencyID</span>                                        
                                    </p>
                                </div>
                                <div class="row loginbtn">
                                    <div class="col-sm-12 form-group" style="margin-top: 8px;">
                                        <div class="dropdown">
                                            <button onclick="myFunction();" class="dropbtn"><span id="spnbar" class="fa fa-bars"></span></button>
                                            <div id="myDropdown" class="dropdown-content">
                                                <a href="/Administration/AgencyDashbord"><span class="fa fa-user-secret"></span> Dashboard</a>
                                                <a href="/Administration/AgencyCertificate"><span class="fa fa-download"></span> Certificate</a>
                                                <a href="#" id="btnAgencyLogout" data-agencyid="@lu.AgencyID" onclick="return AgencyLogoutProcess();"> <span class="fa fa-power-off"></span> LogOut</a>
                                            </div>
                                        </div>
                                        @*<button class="default-btn logoutbtn" id="btnAgencyLogout" data-agencyid="@lu.AgencyID" onclick="return AgencyLogoutProcess();"><span class="fa fa-power-off"></span></button>*@
                                    </div>
                                </div>
                            </div>
                        </nav>
                    </div>
                </div>
            </div>
            <!-- End Navbar Area -->
        </header>
    }

    <div class="sidebar-modal">
        <div class="modal right fade" id="myModal2">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="bx bx-x"></i>
                            </span>
                        </button>

                        <h2 class="modal-title">
                            <a href="#">
                                <img src="~/Content/FrontEnd/img/logonew.png" />
                            </a>
                        </h2>
                    </div>

                    <div class="modal-body">
                        <div class="sidebar-modal-widget">
                            <h3 class="title">About Us</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, asperiores doloribus eum laboriosam praesentium delectus unde magni aut perspiciatis cumque deserunt dolore voluptate, autem pariatur.</p>
                        </div>

                        <div class="sidebar-modal-widget">
                            <h3 class="title">Additional Links</h3>

                            <ul>
                                <li>
                                    <a href="#">Log In</a>
                                </li>
                                <li>
                                    <a href="#">Sign In</a>
                                </li>
                                <li>
                                    <a href="#">FAQ</a>
                                </li>
                                <li>
                                    <a href="#">Log Out</a>
                                </li>
                            </ul>
                        </div>

                        <div class="sidebar-modal-widget">
                            <h3 class="title">Contact Info</h3>

                            <ul class="contact-info">
                                <li>
                                    <i class="bx bx-location-plus"></i>
                                    Address
                                    <span>Plot No 3 | basement, Amberhai Extension ,Dwarka, Bees Sutri Colony, Pocket 1, Sector 19, New Delhi, Delhi 110075</span>
                                </li>
                                <li>
                                    <i class="bx bx-envelope"></i>
                                    Email
                                    <span>support@seeinsured.com</span>
                                </li>
                                <li>
                                    <i class="bx bxs-phone-call"></i>
                                    Phone
                                    <span>+8010874878</span>
                                </li>
                            </ul>
                        </div>

                        <div class="sidebar-modal-widget">
                            <h3 class="title">Connect With Us</h3>

                            <ul class="social-list">
                                <li>
                                    <a href="#">
                                        <i class='bx bxl-twitter'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class='bx bxl-facebook'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class='bx bxl-instagram'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class='bx bxl-linkedin'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class='bx bxl-youtube'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    <footer class="footer-top-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-widget">
                        <a href="index.html">
                            <img src="~/Content/FrontEnd/img/logonew.png" />
                        </a>

                        <p>SeeInsured is an Insuretech startup with state of the art platform which will help customers to compare, buy and save on their health and car insurance policies.</p>

                        <div class="social-area">
                            <ul>
                                <li>
                                    <a href="#"><i class="bx bxl-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="bx bxl-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="bx bxl-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="bx bxl-youtube"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="bx bxl-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="single-widget contact">
                        <h3>Contact Us</h3>

                        <ul>
                            <li class="pl-0">
                                <a href="tel:Phone:8010874878">
                                    <i class="flaticon-call"></i>
                                    <span>Hotline:</span>
                                    Phone: 8010874878
                                </a>
                            </li>

                            <li class="pl-0">
                                <a href="mailto:support@seeinsured.com">
                                    <i class="flaticon-email"></i>
                                    <span>Email:</span>
                                    support@seeinsured.com
                                </a>
                            </li>

                            <li>
                                <i class="flaticon-maps-and-flags"></i>
                                <span>Address:</span>
                                Plot No 3 | basement, Amberhai Extension ,Dwarka, Bees Sutri Colony, Pocket 1, Sector 19, New Delhi, Delhi 110075
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-widget">
                        <h3>Service Links</h3>

                        <ul>
                            <li>
                                <a href="#">
                                    Insurance
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Car Insurance
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Home Insurance
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Investment
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Health Insurance
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Business
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-widget">
                        <h3>Newsletter</h3>

                        <p class="newsletter-p">Sign up for our newsletter.</p>

                        <div class="subscribe-wrap">
                            <form class="newsletter-form" data-toggle="validator">
                                <input type="email" class="form-control" placeholder="Enter Your Email" name="EMAIL" required autocomplete="off">

                                <button class="default-btn" type="submit">
                                    Subscribe
                                </button>

                                <div id="validator-newsletter" class="form-result"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <footer class="footer-bottom-area footer-bottom-electronics-area">
        <div class="container">
            <div class="copy-right">
                <p>Copyright 2020 SeeInsured Designed By <a href="#" target="blank">Seeingo</a></p>
            </div>
        </div>
    </footer>

    <div class="go-top">
        <i class='bx bx-chevrons-up'></i>
        <i class='bx bx-chevrons-up'></i>
    </div>

    <script src="~/Content/FrontEnd/js/popper.min.js"></script>
    <script src="~/Content/FrontEnd/js/jquery.meanmenu.js"></script>
    <script src="~/Content/FrontEnd/js/wow.min.js"></script>
    <script src="~/Content/FrontEnd/js/owl.carousel.js"></script>
    <script src="~/Content/FrontEnd/js/jquery.magnific-popup.min.js"></script>
    @*<script src="~/Content/FrontEnd/js/jquery.nice-select.min.js"></script>*@
    <script src="~/Content/FrontEnd/js/parallax.min.js"></script>
    <script src="~/Content/FrontEnd/js/jquery.mixitup.min.js"></script>
    <script src="~/Content/FrontEnd/js/jquery.appear.js"></script>
    <script src="~/Content/FrontEnd/js/odometer.min.js"></script>
    <script src="~/Content/FrontEnd/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/FrontEnd/js/form-validator.min.js"></script>
    <script src="~/Content/FrontEnd/js/contact-form-script.js"></script>
    <script src="~/Content/FrontEnd/js/custom.js"></script>
    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>
    <script>
        function myFunction() {
            if ($("#spnbar").hasClass("fa-close")) { $("#spnbar").removeClass("fa-close").addClass(" fa-bars").css("color", "#fff"); }
            else { $("#spnbar").removeClass("fa-bars").addClass(" fa-close").css("color", "#fff"); }
            $("#myDropdown").toggle("show");
        }
        $('html,body').animate({ scrollTop: 0 }, 'slow');
    </script>
    @RenderSection("footer", false)
    <script src="~/Areas/AgencyArea/Content/js/agency_home.js"></script>
    <script src="~/Content/js/custom/common.js"></script>
</body>
</html>
