﻿@model insurance.Models.Custom.FrontAgencyModel.CreateAgency

@*<script src="~/Content/dropdown_search_box/js/select2.min.js"></script>
    <link href="~/Content/dropdown_search_box/css/select2.min.css" rel="stylesheet" />*@
<style>
    .prvbtn {
        margin-right: 5px;
    }

    .section1 {
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        border-radius: 4px;
    }

    .section2 {
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        border-radius: 4px;
    }

    .section3 {
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        border-radius: 4px;
    }
    /*form styles*/
    #msform {
        text-align: center;
        position: relative;
        margin-top: 30px;
        width: 100%;
    }

        #msform fieldset {
        }

            /*Hide all except first fieldset*/
            #msform fieldset:not(:first-of-type) {
            }

        /*inputs*/
        /*buttons*/
        #msform .action-button {
        }

            #msform .action-button:hover, #msform .action-button:focus {
                box-shadow: 0 0 0 2px white, 0 0 0 3px #f0d11c;
            }

        #msform .action-button-previous {
        }

            #msform .action-button-previous:hover, #msform .action-button-previous:focus {
                box-shadow: 0 0 0 2px white, 0 0 0 3px #C5C5F1;
            }

    /*headings*/
    .fs-title {
        font-size: 18px;
        text-transform: uppercase;
        color: #2C3E50;
        margin-bottom: 10px;
        letter-spacing: 2px;
        font-weight: bold;
    }

    .fs-subtitle {
        font-weight: normal;
        font-size: 13px;
        color: #666;
        margin-bottom: 20px;
    }

    /*progressbar*/
    #progressbar {
        margin-bottom: 30px;
        overflow: hidden;
        /*CSS counters to number the steps*/
        counter-reset: step;
    }

        #progressbar li {
            list-style-type: none;
            color: #000;
            text-transform: uppercase;
            font-size: 15px;
            width: 33.33%;
            float: left;
            position: relative;
            letter-spacing: 1px;
        }

            #progressbar li:before {
                content: counter(step);
                counter-increment: step;
                width: 40px;
                height: 40px;
                line-height: 38px;
                display: block;
                font-size: 25px;
                color: #333;
                background: white;
                border-radius: 25px;
                margin: 0 auto 10px auto;
            }

            /*progressbar connectors*/
            #progressbar li:after {
                content: '';
                width: 100%;
                height: 2px;
                background: #504d4d;
                position: absolute;
                left: -50%;
                top: 20px;
                z-index: -1; /*put it behind the numbers*/
            }

            #progressbar li:first-child:after {
                /*connector not needed before the first step*/
                content: none;
            }

            /*marking active/completed steps green*/
            /*The number of the step and the connector before it = green*/
            #progressbar li.active:before, #progressbar li.active:after {
                background: #e71820;
                color: white;
            }


    /* Not relevant to this form */
    .dme_link {
        margin-top: 30px;
        text-align: center;
    }

        .dme_link a {
            background: #FFF;
            font-weight: bold;
            color: #ee0979;
            border: 0 none;
            border-radius: 25px;
            cursor: pointer;
            padding: 5px 25px;
            font-size: 12px;
        }

            .dme_link a:hover, .dme_link a:focus {
                background: #C5C5F1;
                text-decoration: none;
            }

    /*.has-error .form-control {
        border-color: #c62828;
    }*/
    .help-error-block, .has-error p {
        color: #c62828;
    }

    .section1, .section2, .section3 {
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        border-radius: 4px;
    }

    .hidden {
        display: none !important;
    }
</style>
<input type="hidden" value="@Model.AgencyID" id="hdnAgencyID" />
<div class="container">
    <div class="row">
        <div id="msform">
            <ul id="progressbar">
                <li class="active">BUSINESS DETAILS</li>
                <li class="linext2">Personal Details</li>
                <li class="linext3">Authentication Details</li>
            </ul>
        </div>
        <!-- fieldsets -->
        <div class="col-sm-12 col-xs-12">
            <fieldset class="section1">
                @*<h2 class="fs-title"> Business Details</h2>*@
                <div class="row">
                    <div class="col-sm-4 form-validation">
                        <p>Agency Name*</p>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-building" aria-hidden="true"></span></span>
                            @Html.TextBoxFor(p => p.AgencyName, new { @class = "form-control ", placeholder = "Agency Name" })
                        </div>
                        <span class="errorac pull-right"></span>
                    </div>
                    <div class="col-sm-4 form-validation">
                        <p>Address*</p>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-map" aria-hidden="true"></span></span>
                            @Html.TextBoxFor(p => p.Address, new { @class = "form-control ", placeholder = "Address" })
                        </div>
                    </div>
                    <div class="col-sm-4 form-validation">
                        <p>Country*</p>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-globe" aria-hidden="true"></span></span>
                            @Html.DropDownListFor(m => m.CountryID, Model.CountryList, "-- Select Country --", new { @class = "form-control ", @onchange = "FillState()" })
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-4 form-validation">
                        <p>State*</p>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-bullseye"></span></span>
                            @Html.DropDownListFor(m => m.StateID, Model.StateList, "-- Select State --", new { @class = "form-control ", onchange = "enablePinCode()" })
                        </div>
                    </div>

                    <div class="col-sm-4 form-validation">
                        <p>Pincode*</p>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-file"></span></span>
                            @*@Html.TextBoxFor(p => p.Pincode, new { @class = "form-control ", placeholder = "Pincode", onchange = "pincodeFunction()", maxlength = "6" })*@
                            @Html.TextBoxFor(p => p.Pincode, new { @class = "form-control ", disabled = "disabled", placeholder = "Pincode", onkeypress = "return isNumberValidationPrevent(event);", onchange = "pincodeFunction()", maxlength = "6" })
                            @*<input type="button" value="validate" onclick="pincodeFunction()">*@
                        </div>
                    </div>

                    <div class="col-sm-4 form-validation">
                        <p>City*</p>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-map-marker"></span></span>
                            @Html.TextBoxFor(p => p.CityName, new { @class = "form-control ", disabled = "disabled", placeholder = "City name.." })
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-4 form-validation">
                        <p>GST No</p>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-money"></span></span>
                            @Html.TextBoxFor(p => p.GSTNo, new { @class = "form-control ", placeholder = "GST Number" })
                        </div>
                    </div>
                    <div class="col-sm-4 form-validation">
                        <p>Email ID*</p>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
                            @Html.TextBoxFor(p => p.BusinessEmailID, new { @class = "form-control ", placeholder = "Email ID" })
                        </div>
                    </div>
                    <div class="col-sm-4 form-validation">
                        <p>Phone No*</p>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-volume-control-phone"></span></span>
                            @Html.TextBoxFor(p => p.BusinessPhone, new { @class = "form-control ", placeholder = "Phone Number", maxlength = "10", onkeypress = "return isNumberValidationPrevent(event);" })
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="row">
                    <div class="col-sm-3 form-validation">
                        <p>Ref By</p>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-paper-plane"></span></span>
                            @Html.DropDownListFor(m => m.ReferenceBy, Model.RefByList, "-- Select Sales Ref. --", new { @class = "form-control " })
                        </div>
                    </div>
                    @Html.HiddenFor(p => p.RefreceByName)
                    <div class="col-sm-3 form-validation">
                        <p>Address Proof *</p>
                        <div class="input-group">
                            @if (!string.IsNullOrEmpty(Model.BusinessAddressProofImg))
                            {
                                <span class="input-group-addon">
                                    <a href="@Model.BusinessAddressProofImg" target="_blank">
                                        <img src="@Model.BusinessAddressProofImg" style="width:20px; height:20px;" />
                                    </a>
                                </span>
                            }
                            else
                            {
                                <span class="input-group-addon"><span class="fa fa-inbox"></span></span>
                            }
                            <input type="file" name="files" id="fluBusinessAddressProofImg" class="form-control " />
                            @Html.HiddenFor(p => p.BusinessAddressProofImgShow, new { @id = "hdnBusinessAddressProofImg" })
                        </div>
                    </div>
                    <div class="col-sm-3 form-validation">
                        <p>Pan Card *</p>
                        <div class="input-group">
                            @if (!string.IsNullOrEmpty(Model.BusinessPanCardImg))
                            {
                                <span class="input-group-addon">

                                    <a href="@Model.BusinessPanCardImg" target="_blank">
                                        <img src="@Model.BusinessPanCardImg" style="width:20px; height:20px;" />
                                    </a>
                                </span>
                            }
                            else
                            {
                                <span class="input-group-addon"><span class="fa fa-address-card"></span></span>
                            }
                            <input type="file" name="files" id="fluBusinessPanCardImg" class="form-control " />
                            @Html.HiddenFor(p => p.BusinessPanCardImgShow, new { @id = "hdnBusinessPanCardImg" })
                        </div>
                    </div>
                    <div class="col-sm-3 form-validation">
                        <p>Pan No* </p>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-list"></span></span>
                            @Html.TextBoxFor(p => p.PanNo, new { @class = "form-control ", placeholder = "Pan No..", maxlength = "10" })
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div><br />
                <div class="col-sm-12">
                    <input type="button" name="next" class="next1 btn btn-success blackbutton pull-right" onclick="return checkSection1RegForm();" value="Next" />
                </div>
            </fieldset>
            <fieldset class="section2 hidden">
                <h2 class="fs-title">Personal Details</h2>
                <div class="row">
                    <div class="col-sm-4 form-validation">
                        <p>Title*</p>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-user-o"></span></span>
                            @Html.DropDownListFor(model => model.Title, new SelectList(new List<Object>{
                                    new { value = "Mr." , text = "Mr." },
                                    new { value = "Ms." , text = "Ms."},
                                    new { value = "Mrs." , text = "Mrs."}
                                 }, "value", "text"), new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="col-sm-4 form-validation">
                        <p>First Name*</p>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                            @Html.TextBoxFor(p => p.FirstName, new { @class = "form-control ", placeholder = "First Name" })
                        </div>
                    </div>
                    <div class="col-sm-4 form-validation">
                        <p>Last Name*</p>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-pencil"></span></span>
                            @Html.TextBoxFor(p => p.LastName, new { @class = "form-control ", placeholder = "Last Name" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 form-validation">
                        <p>Email ID*</p>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-envelope"></span></span>
                            @Html.TextBoxFor(p => p.EmailID, new { @class = "form-control ", type = "email", placeholder = "Email ID" })
                        </div>
                    </div>
                    <div class="col-sm-4 form-validation">
                        <p>Mobile Number*</p>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-volume-control-phone"></span></span>
                            @Html.TextBoxFor(p => p.Mobile, new { @class = "form-control ", placeholder = "Mobile Number", maxlength = "10" ,onkeypress = "return isNumberValidationPrevent(event);" })
                        </div>
                    </div>
                    <div class="col-sm-4 form-validation">
                        <p>Address Proof*</p>
                        <div class="input-group">
                            @if (!string.IsNullOrEmpty(Model.PersonalAddressProofImg))
                            {
                                <span class="input-group-addon">

                                    <a href="@Model.PersonalAddressProofImg" target="_blank">
                                        <img src="@Model.PersonalAddressProofImg" style="width:20px; height:20px;" />
                                    </a>
                                </span>
                            }
                            else
                            {
                                <span class="input-group-addon"><span class="fa fa-edit"></span></span>
                            }
                            <input type="file" name="files" id="fluPersonalAddressProofImg" multiple="multiple" class="form-control " />
                            @Html.HiddenFor(p => p.PersonalAddressProofImgShow, new { @id = "hdnPersonalAddressProofImg" })
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div><br />
                <div class="col-sm-12">
                    <input type="button" name="next" class="next2 btn btn-success pull-right" onclick="return checkSection2RegForm()" value="Next" />
                    <input type="button" name="previous" class="previous1 prvbtn btn btn-warning pull-right" value="Previous" />
                </div>
            </fieldset>
            <fieldset class="section3 hidden">
                <h2 class="fs-title">Authentication Details</h2>
                <div class="row">
                    <div class="col-sm-3 form-validation">
                        <p>User Id*</p>
                        <div class="input-group" id="userIdInputGroup">
                            <span class="input-group-addon"><span class="fa fa-user"></span></span>
                            @Html.TextBoxFor(p => p.RegUserId, new { @class = "form-control ", placeholder = "User ID" })
                        </div>
                        <div class="hidden" id="userIdValidateMsg" style="color: red;">* UserId already exist.</div>
                        <span class="errorpassw pull-right"></span>
                    </div>
                    <div class="col-sm-3 form-validation">
                        <p>Password*</p>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-key"></span></span>
                            @Html.TextBoxFor(p => p.RegPassword, new { @class = "form-control ", placeholder = "Password", type = "password" })                            
                        </div>
                        <span class="pswSpan"></span>
                    </div>
                    <div class="col-sm-3 form-validation">
                        <p>Confirm Password* </p>
                        <div class="input-group">
                            <span class="input-group-addon"><span class="fa fa-key"></span></span>
                            @Html.TextBoxFor(p => p.ConfPassword, new { @class = "form-control ", placeholder = "Confirm Password", type = "password" })
                        </div>
                    </div>
                    <div class="col-sm-3 form-validation">
                        <p>
                            Company Logo*
                            @if (!string.IsNullOrEmpty(Model.CompanyLogoImg))
                            {
                                <a class="pull-right temprevanc" onclick="removeConfirm();" style="color:#f32007; font-weight:bold;"><i class="fa fa-trash-o tempremove" style="font-weight:bold;"></i> Remove</a>
                            }

                        </p>
                        <div class="input-group">
                            @if (!string.IsNullOrEmpty(Model.CompanyLogoImg))
                            {
                                <span class="input-group-addon imgcompany">
                                    <a href="@Model.CompanyLogoImg" target="_blank">
                                        <img src="@Model.CompanyLogoImg" style="width:20px; height:20px;" />
                                    </a>
                                </span>
                            }
                            else
                            {
                                <span class="input-group-addon"><span class="	fa fa-tag"></span></span>
                            }
                            <input type="file" name="files" id="fluCompanyLogoImg" class="form-control " />
                        </div>
                        @Html.HiddenFor(p => p.CompanyLogoImgShow, new { @id = "hdnCompanyLogoImg" })
                    </div>
                </div>
                <div class="clearfix"></div><br />
                <div class="col-sm-12">
                    <input type="submit" name="submit" disabled id="submitBtnAgency" class="submit btn btn-success pull-right mainregcss" onclick="return checkSection3RegForm()" value="Submit" />
                    <span class="submit btn btn-success pull-right tempregcss hidden">Please wait...<i class="fa fa-spinner fa-spin"></i></span>
                    <input type="button" name="previous" class="previous2 prvbtn btn btn-warning pull-right" value="Previous" />
                </div>
            </fieldset>
        </div>
    </div>
</div>
<div class="clearfix"></div>
<br />
<br />
<script>
  
    $(document).ready(function () {
        $("#AgencyName").keypress(function (e) {
            var key = e.keyCode;
            if (key >= 48 && key <= 57) {
                e.preventDefault();
            }
        });
        $("#FirstName").keypress(function (e) {
            var key = e.keyCode;
            if (key >= 48 && key <= 57) {
                e.preventDefault();
            }
        });
        $("#LastName").keypress(function (e) {
            var key = e.keyCode;
            if (key >= 48 && key <= 57) {
                e.preventDefault();
            }
        });
    });
</script>
<script>
    $("#ReferenceBy").change(function () {
        $("#RefreceByName").val(($(this).find("option:selected").text()));
    })
</script>
<script>
    $(window).load(function () {
        var agencyID = $('#hdnAgencyID').val();
        if (agencyID > 0) {
            $("#RegUserId").attr("readonly", true);
            $("#RegPassword").attr("readonly", true);
            $("#ConfPassword").attr("readonly", true);
            $("#submitBtnAgency").prop('disabled', false);

        }
    });

    function FillState() {
        $("#StateID").prop("disabled", true);
        $("#StateID").children().remove();
        $("#StateID").append($('<option>').val(0).text('Please wait...'));
        var countryId = $('#CountryID').val();
        $.ajax({
            url: '/Backend_Registration/BindState',
            type: "GET",
            dataType: "JSON",
            data: { countryid: countryId },
            success: function (data) {
                $("#StateID").children().remove();
                $("#StateID").append($('<option>').val(0).text('-- Select State --'));
                $.each(data, function (i, data) {
                    $("#StateID").append($('<option></option>').val(data.Value).html(data.Text));
                });
                $("#StateID").prop("disabled", false);
            }
        });
    }


    function enablePinCode() {
        let state = Number($("#StateID").val());
        if (state > 0) {
            $('#Pincode').prop('disabled', false);
        }
        else {
            $('#Pincode').prop('disabled', true);
        }
    }

    function pincodeFunction() {
        let pincode = $("#Pincode").val();
        FillCity(pincode);
    }

    $("#RegUserId").change(function () {

        let userID = $("#RegUserId").val();

        $.ajax({
            url: '/Backend_Registration/ValidateUserID',
            type: "Post",
            dataType: "JSON",
            data: { userID: userID },
            success: function (data) {
                debugger;
                if (data == "failed") {
                    $("#userIdInputGroup").addClass("border border-danger");
                    $("#submitBtnAgency").prop('disabled', true);
                    $("#userIdValidateMsg").removeClass("hidden");
                }
                else {
                    $("#userIdInputGroup").removeClass("border border-danger");
                    $("#submitBtnAgency").prop('disabled', false);
                    $("#userIdValidateMsg").addClass("hidden");
                }

            }
        });

    });

    function FillCity(pincode) {
        $("#CityName").prop("disabled", true);
        let state = $("#StateID option:selected").text();
        $.ajax({
            url: '/Backend_Registration/BindCity',
            type: "GET",
            dataType: "JSON",
            data: { pinCode: pincode, stateName: state },
            success: function (data) {
                if (data.length > 0) {
                    $("#CityName").val(data);
                    $("#CityName").prop("disabled", false);
                }
                else {
                    alert("No city found matching the pincode and state");
                }

            }
        });
    }

    function RemoveImages() {
        $(".tempremove").removeClass("fa fa-trash-o");
        $(".tempremove").addClass("fa fa-spinner fa-spin");
        var agencyID = $('#hdnAgencyID').val();
        $.ajax({
            url: '/Account/RemoveImages',
            type: "POST",
            dataType: "JSON",
            data: { id: agencyID },
            success: function (data) {
                if (data == true) {
                    $(".imgcompany").html("<span class='fa fa-star'></span>");
                    $("#hdnCompanyLogoImg").val("");
                }
                $(".temprevanc").html("Removed!");
            }
        });
    }

    function removeConfirm() {
        if (confirm('Are you sure, you want to remove the company logo?')) {
            RemoveImages();
            return true;
        }
        else {
            return false;
        }
    }

    $(".previous2").click(function () {
        $(".section3").addClass("hidden");
        $(".linext3").removeClass("active");
        $(".section2").removeClass("hidden");
    });
    $(".previous1").click(function () {
        $(".section2").addClass("hidden");
        $(".linext2").removeClass("active");
        $(".section1").removeClass("hidden");
    });

    $("#AgencyName").change(function () {
        var agencyName = $(this).val();
        $.ajax({
            url: "/Home/GetAgencyDetailForReg",
            type: "POST",
            dataType: "json",
            data: { "agencyName": agencyName, "userId": "" },
            success: function (data) {
                if (data) {
                    $(".errorac").html("Agency name already exist!");
                    $(".errorac").addClass("text-danger");
                    $(".help-error-block").hide();
                }
                else {
                    $(".errorac").html(" ");
                    $(".errorac").removeClass("text-danger");
                    $(".help-error-block").hide();
                }
            }
        });
    });

    $("#RegUserId").change(function () {
        var userid = $(this).val();
        $.ajax({
            url: "/Home/GetAgencyDetailForReg",
            type: "POST",
            dataType: "json",
            data: { "agencyName": "", "userId": userid },
            success: function (data) {
                if (data) {
                    $(".errorpassw").html("User id already exist!");
                    $(".errorpassw").addClass("text-danger");
                    $(".help-error-block").hide();
                }
                else {
                    $(".errorpassw").html(" ");
                    $(".errorpassw").removeClass("text-danger");
                    $(".help-error-block").hide();
                }
            }
        });
    });
</script>

<script>
    $('.tempcss').hide();
    var hdnAgencyIDValue = $("#hdnAgencyID").val();
    var hdnBusinessAddressProofImgValue = $("#hdnBusinessAddressProofImg").val();
    var hdnBusinessPanCardImgValue = $("#hdnBusinessPanCardImg").val();
    var hdnPersonalAddressProofImgValue = $("#hdnPersonalAddressProofImg").val();
    var hdnCompanyLogoImgValue = $("#hdnCompanyLogoImg").val();

    function checkSection1RegForm() {
        if ($(".errorac").html() != "" && $(".errorac").hasClass("text-danger") == true) {
            $(".help-error-block").hide();
            return false;
        }
        else {
            if (CheckBlankValidation('AgencyName')) return !1;
            if (CheckBlankValidation('Address')) return !1;
            if (CheckDropDownBlankValidation('CountryID')) return !1;
            if (CheckDropDownBlankValidation('StateID')) return !1;
            if (CheckDropDownBlankValidation('CityName')) return !1;
            if (CheckBlankValidation('Pincode')) return !1;
            //if (CheckBlankValidation('GSTNo')) return !1;
            if (CheckBlankValidation("BusinessEmailID")) return !1;
            if (CheckEmailValidatoin("BusinessEmailID")) return !1;
            if (CheckBlankValidation("BusinessPhone")) return !1;            
            if (hdnBusinessAddressProofImgValue == "" || hdnBusinessAddressProofImgValue == "undefined") { if (CheckBlankValidation('fluBusinessAddressProofImg')) return !1; }
            if (hdnBusinessPanCardImgValue == "" || hdnBusinessPanCardImgValue == "undefined") { if (CheckBlankValidation('fluBusinessPanCardImg')) return !1; }
            if (CheckBlankValidation("PanNo")) return !1;
            var panregx = new RegExp('^(?=.*[0-9])(?=.*[a-zA-Z])([a-zA-Z0-9]+)$');
            if (!panregx.test(document.getElementById("PanNo").value)) {
                alert('Pan No should be alpha numeric');
                document.getElementById("PanNo").focus();
                return false;
            }
            $(".section1").addClass("hidden");
            $(".section2").removeClass("hidden");
            $(".linext2").addClass("active");
        }
    }

    function checkSection2RegForm() {
        if (CheckBlankValidation('FirstName')) return !1;
        if (CheckBlankValidation('LastName')) return !1;
        if (CheckBlankValidation('EmailID')) return !1;
        if (CheckEmailValidatoin("EmailID")) return !1;
        if (CheckBlankValidation('Mobile')) return !1;
        if (hdnPersonalAddressProofImgValue == "") { if (CheckBlankValidation('fluPersonalAddressProofImg')) return !1; }
        $(".section1").addClass("hidden");
        $(".section2").addClass("hidden");
        $(".section3").removeClass("hidden");
        $(".linext3").addClass("active");
    }

    function checkSection3RegForm() {
        if ($(".errorpassw").html() != "" && $(".errorpassw").hasClass("text-danger") == true) {
            $(".help-error-block").hide();
            return false;
        }
        else {
            if (CheckBlankValidation('RegUserId')) return !1;
            if (CheckBlankValidation('RegPassword')) return !1; 
            if (!CheckPasswordWithCombination('RegPassword')) {
                $(".pswSpan").addClass("text-danger").html("Password must contain:8 To 16 characters atleast 1 UpperCase Alphabet, 1 LowerCase Alphabet, 1 Number and 1 Special Character.");
                return false;
            }
            else {
                $(".pswSpan").removeClass("text-danger").html("");                
            }
            if (CheckBlankValidation('ConfPassword')) return !1;
            if (CheckSamePasswordValidation('RegPassword', 'ConfPassword')) return !1;
            //if (hdnCompanyLogoImgValue == "") { if (CheckBlankValidation('fluCompanyLogoImg')) return !1; }
            $('.mainregcss').addClass("hidden");
            $('.tempregcss').removeClass("hidden");
        }
    }
</script>
<script>
    //dropdown with search box
    //$("#CountryID").select2();
    //$("#StateID").select2();
    //$("#CityID").select2();
    //$("#ReferenceBy").select2();
</script>
@*<script src="~/Content/js/common/common.js"></script>*@
