﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>seeinsured</title>
    <link href="~/Content/FrontEnd/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/magnific-popup.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/animate.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/flaticon.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/meanmenu.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/nice-select.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/odometer.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/style.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/css/custom/validationcss.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Content/FrontEnd/js/jquery.min.js"></script>
    <script src="~/Content/FrontEnd/js/bootstrap.min.js"></script>
    @RenderSection("header", false)
    <style>
        .lgoingsec {
            margin-top: 14px;
        }

        .lognformobile {
            color: #fff;
        }

        .textboxh {
            height: 34px;
        }

        .logibtnmobile {
            height: 34px;
            padding-top: 9px;
        }

        .signupm {
            float: right;
        }

        .forgetm {
            position: absolute;
            right: 74px;
        }

        @@media screen and (max-width:700px) {
            .lognformobile {
                width: 80%;
                margin-left: 18px;
            }

            .textboxh {
                height: 18px;
            }

            .logibtnmobile {
                height: 18px;
                padding-top: 9px;
                width: 77%;
                margin-left: 17px;
                margin-bottom: 18px;
            }

            .signupm {
                left: 133px;
                position: absolute;
                float: right;
            }

            .forgetm {
                position: absolute;
                right: -16px;
            }
        }
    </style>
</head>
<body>
    <!-- Start Preloader Area -->
    <!-- End Preloader Area -->
    <!-- Start Heder Area -->
    <header class="header-area fixed-top">



        <!-- Start Navbar Area -->
        <div class="nav-area">
            <div class="navbar-area">
                <!-- Menu For Mobile Device -->
                <div class="mobile-nav">
                    <a href="#" class="logo"> <img src="~/Content/FrontEnd/img/logonew.png" /> </a>
                </div>

                <!-- Menu For Desktop Device -->
                <div class="main-nav" style="background:#fff;   ">
                    <nav class="navbar navbar-expand-md navbar-light" style="border-bottom: 2px solid #000;">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="/">
                                <img src="~/Content/FrontEnd/img/logonew.png" style="width: 240px;" />
                            </a>

                            <div class="collapse navbar-collapse mean-menu" style="margin-left: 133px;" id="navbarSupportedContent">
                                <ul class="navbar-nav m-auto">
                                    <li class="nav-item">
                                        <a href="#aboutus" class="nav-link dropdown-toggle">
                                            About
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#OurVision" class="nav-link dropdown-toggle">
                                            Our Vision
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#Insurancetype" class="nav-link dropdown-toggle">
                                            Our Service
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="#contactus" class="nav-link">Contact</a>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-sm-12 form-group lgoingsec">
                                                <div class="row">
                                                    <div class="col-sm-1"></div>
                                                    <div class="col-sm-4 form-group">
                                                        <div class="input-group form-validation lognformobile">
                                                            <span class="input-group-addon input_grp" style="background: #0c74bb; color: #fff;border: 1px solid #0c74bb;"><span class="fa fa-user"></span></span>
                                                            <input type="text" id="txtAgencyUserId" maxlength="60" name="txtAgencyUserId" class="form-control login_textbox textboxh" placeholder="Enter User ID" autocomplete="off" onkeypress="return isAlphaNumeric(event);" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-4 form-group">
                                                        <div class="input-group form-validation lognformobile">
                                                            <span class="input-group-addon input_grp" style="background: #0c74bb; color: #fff;border: 1px solid #0c74bb;"><span class="fa fa-lock"></span></span>
                                                            <input type="password" id="txtAgencyPassword" name="txtAgencyPassword" class="form-control login_textbox textboxh" placeholder="Enter Password" autocomplete="off" />
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-3">
                                                        <button class="default-btn logibtnmobile" id="btnAgencyLogin" onclick="return AgencyLoginProcess();">Login</button>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-sm-1"></div>
                                                    <div class="col-sm-6">
                                                        <span class="text-danger" id="LoginErrorMsg"></span>
                                                    </div>
                                                    <div class="col-sm-4" style="margin-top: -10px;">
                                                        <a href="#" class="forgetm">
                                                            Forgot Password?
                                                        </a>
                                                        <a href="/Home/Registration" class="signupm"> / SignUp</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </li>
                                </ul>

                            </div>

                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <!-- End Navbar Area -->
    </header>
    <!-- End Heder Area -->
    <!-- Start Sidebar Modal -->
    <div class="sidebar-modal">
        <div class="modal right fade" id="myModal2">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">
                                <i class="bx bx-x"></i>
                            </span>
                        </button>

                        <h2 class="modal-title">
                            <a href="#">
                                <img src="~/Content/FrontEnd/img/logonew.png" />
                            </a>
                        </h2>
                    </div>

                    <div class="modal-body">
                        <div class="sidebar-modal-widget">
                            <h3 class="title">About Us</h3>
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi, asperiores doloribus eum laboriosam praesentium delectus unde magni aut perspiciatis cumque deserunt dolore voluptate, autem pariatur.</p>
                        </div>

                        <div class="sidebar-modal-widget">
                            <h3 class="title">Additional Links</h3>

                            <ul>
                                <li>
                                    <a href="#">Log In</a>
                                </li>
                                <li>
                                    <a href="#">Sign In</a>
                                </li>
                                <li>
                                    <a href="#">FAQ</a>
                                </li>
                                <li>
                                    <a href="#">Log Out</a>
                                </li>
                            </ul>
                        </div>

                        <div class="sidebar-modal-widget">
                            <h3 class="title">Contact Info</h3>

                            <ul class="contact-info">
                                <li>
                                    <i class="bx bx-location-plus"></i>
                                    Address
                                    <span>Plot No 3 | basement, Amberhai Extension ,Dwarka, Bees Sutri Colony, Pocket 1, Sector 19, New Delhi, Delhi 110075</span>
                                </li>
                                <li>
                                    <i class="bx bx-envelope"></i>
                                    Email
                                    <span>support@seeinsured.com</span>
                                </li>
                                <li>
                                    <i class="bx bxs-phone-call"></i>
                                    Phone
                                    <span>+8010874878</span>
                                </li>
                            </ul>
                        </div>

                        <div class="sidebar-modal-widget">
                            <h3 class="title">Connect With Us</h3>

                            <ul class="social-list">
                                <li>
                                    <a href="#">
                                        <i class='bx bxl-twitter'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class='bx bxl-facebook'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class='bx bxl-instagram'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class='bx bxl-linkedin'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class='bx bxl-youtube'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Sidebar Modal -->
    <div>
        @RenderBody()
    </div>
    <!-- Start Footer Top Area -->
    <footer class="footer-top-area pt-100 pb-70">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="single-widget">
                        <a href="index.html">
                            <img src="~/Content/FrontEnd/img/logonew.png" />
                        </a>

                        <p>SeeInsured is an Insuretech startup with state of the art platform which will help customers to compare, buy and save on their health and car insurance policies.</p>

                        <div class="social-area">
                            <ul>
                                <li>
                                    <a href="#"><i class="bx bxl-facebook"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="bx bxl-twitter"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="bx bxl-linkedin"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="bx bxl-youtube"></i></a>
                                </li>
                                <li>
                                    <a href="#"><i class="bx bxl-instagram"></i></a>
                                </li>
                            </ul>
                        </div>
                        <span id="siteseal">
                            <script async type="text/javascript" src="https://seal.godaddy.com/getSeal?sealID=ZdRi6eCViB91gKgyOA81zdUGo1G3kn4m9EEDey3kv5l54LVlFkiqz1VKjnB0"></script>
                        </span>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6">
                    <div class="single-widget contact">
                        <h3>Contact Us</h3>

                        <ul>
                            <li class="pl-0">
                                <a href="tel:Phone:8010874878">
                                    <i class="flaticon-call"></i>
                                    <span>Hotline:</span>
                                    Phone: 8010874878
                                </a>
                            </li>

                            <li class="pl-0">
                                <a href="mailto:support@seeinsured.com">
                                    <i class="flaticon-email"></i>
                                    <span>Email:</span>
                                    support@seeinsured.com
                                </a>
                            </li>

                            <li>
                                <i class="flaticon-maps-and-flags"></i>
                                <span>Address:</span>
                                Plot No 3 | basement, Amberhai Extension ,Dwarka, Bees Sutri Colony, Pocket 1, Sector 19, New Delhi, Delhi 110075
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-widget">
                        <h3>Service Links</h3>

                        <ul>
                            <li>
                                <a href="#">
                                    Insurance
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Car Insurance
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Home Insurance
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Investment
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Health Insurance
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    Business
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="single-widget">
                        <h3>Newsletter</h3>

                        <p class="newsletter-p">Sign up for our newsletter.</p>

                        <div class="subscribe-wrap">
                            <form class="newsletter-form" data-toggle="validator">
                                <input type="email" class="form-control" placeholder="Enter Your Email" name="EMAIL" required autocomplete="off">

                                <button class="default-btn" type="submit">
                                    Subscribe
                                </button>

                                <div id="validator-newsletter" class="form-result"></div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!-- End Footer Top Area -->
    <!-- Start Footer Bottom Area -->
    <footer class="footer-bottom-area footer-bottom-electronics-area">
        <div class="container">
            <div class="copy-right">
                <p>Copyright 2020 SeeInsured Designed By <a href="#" target="blank">Seeingo</a></p>
            </div>
        </div>
    </footer>
    <!-- End Footer Bottom Area -->
    <!-- Start Go Top Area -->
    <div class="go-top">
        <i class='bx bx-chevrons-up'></i>
        <i class='bx bx-chevrons-up'></i>
    </div>
    <!-- End Go Top Area -->

    <button type="button" class="btn btn-info btn-lg hidden popupmessage" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#POPUPMESSAGE"></button>
    <div class="modal fade" id="POPUPMESSAGE" role="dialog">
        <div class="modal-dialog modal-md" id="modaldialogid" style="margin: 10% auto!important;">
            <div class="modal-content" style="text-align: center; border-radius: 5px !important;">
                <div class="modal-header" style="padding: 12px;">
                    <h5 class="modal-title popupheading"></h5>
                    <button type="button" class="close text-danger" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body" style="padding-left: 20px!important;">
                    <h6 class="popupcontent"></h6>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success" style="padding: 0.5rem 1rem!important;" data-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </div>

    <script src="~/Content/FrontEnd/js/popper.min.js"></script>
    <script src="~/Content/FrontEnd/js/jquery.meanmenu.js"></script>
    <script src="~/Content/FrontEnd/js/wow.min.js"></script>
    <script src="~/Content/FrontEnd/js/owl.carousel.js"></script>
    <script src="~/Content/FrontEnd/js/jquery.magnific-popup.min.js"></script>
    <script src="~/Content/FrontEnd/js/parallax.min.js"></script>
    <script src="~/Content/FrontEnd/js/jquery.mixitup.min.js"></script>
    <script src="~/Content/FrontEnd/js/jquery.appear.js"></script>
    <script src="~/Content/FrontEnd/js/odometer.min.js"></script>
    <script src="~/Content/FrontEnd/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/Content/FrontEnd/js/form-validator.min.js"></script>
    <script src="~/Content/FrontEnd/js/contact-form-script.js"></script>

    <style>
        html {
            scroll-behavior: smooth;
        }
    </style>
    <script>
        $('html,body').animate({ scrollTop: 0 }, 'slow');
    </script>
    @RenderSection("footer", false)
    <script src="~/Content/js/custom/home.js"></script>
    <script src="~/Content/js/custom/common.js?v=1"></script>
</body>
</html>
