﻿@*User Input Data*@
<link href="~/Content/css/custom/modalpopup.css" rel="stylesheet" />


<div class="sidebar-modal">
    <div class="modal top fade" id="UserInputData">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="bx bx-x"></i>
                        </span>
                    </button>
                    <h2 class="modal-title" style="padding: 7px; background: #fff; border-bottom: 1px solid #ccc; font-size: 20px; text-align: center; ">
                        USER INPUT DATA
                    </h2>
                </div>
                <div class="modal-body">
                    <div class="col-sm-12 form-group">
                        <table id="input_data_table" class="table table-bordered table-striped table-condensed no-margin-bottom">
                            <tbody>
                                <tr> <td>Buy Policy For</td> <td id="tdBuyPolicyFor"></td> </tr>
                                <tr> <td>Policy Plan</td> <td id="tdPolicyPlan"></td> </tr>
                                <tr> <td>Member</td> <td id="tdMember"></td> </tr>
                                <tr> <td>Sum Insured (₹)</td> <td id="tdSumInsured"></td> </tr>
                                <tr> <td>Primary Insured Gender</td><td id="tdPrimaryInsuredGender"></td> </tr>
                                <tr> <td>Primary Insured Pincode</td><td id="tdPrimaryInsuredPincode"></td> </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sidebar-modal">
    <div class="modal top fade" id="membermodel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="bx bx-x"></i>
                        </span>
                    </button>
                    <h2 class="modal-title" style="padding: 7px;background: #fff;border-bottom: 1px solid #ccc;font-size: 20px;text-align: center;">
                        WHO DO YOU WANT TO INSURE?
                    </h2>
                </div>

                <div class="modal-body">
                    <div class="col-sm-12 form-group" style="border-bottom: 1px solid #ccc;">
                        <h3 class="text-center">Content</h3>
                    </div>
                    <div class="col-sm-12">
                        <button type="submit" class="default-btn centrblock">
                            Proceed
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="sidebar-modal" id="productCompareModal">
    <div class="modal top fade" id="CompareModel">
        <div class="modal-dialog modal-lg" role="document" style="max-width: 1100px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="bx bx-x"></i>
                        </span>
                    </button>
                    <h2 class="modal-title" style="padding: 7px;background: #e71820; color: #fff;border-bottom: 1px solid #ccc;font-size: 20px;text-align: center;">
                        Product Comparison
                    </h2>
                </div>

                <div class='modal-body' id="comp-modalContent"></div>
            </div>
        </div>
    </div>
</div>

@*<div class="sidebar-modal">
    <div class="modal top fade" id="productDetails">
        <div class="modal-dialog modal-lg" role="document" style="max-width: 1200px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="bx bx-x"></i>
                        </span>
                    </button>
                    <h2 class="modal-title" style="padding: 7px;background: #fff;border-bottom: 1px solid #ccc;font-size: 20px;text-align: center;">
                        Product Details
                    </h2>
                </div>

                <div class="modal-body">
                    <div class="col-sm-12 listbox" style="width: 97.5%; margin-left: 16px;">
                        <div class="row">
                            <div class="col-sm-2" style="border-right: 1px solid #ccc;">
                                <img src="http://motors.seeinsured.com/images/shriraminsurance.jpg" class="img-responsive img-center margin_top_15 company_logo" style="margin-top:0px;">
                            </div>
                            <div class="col-sm-8">
                                <div class="row" style="margin-top:11px;padding: 3px;">
                                    <div class="col-sm-3" style="border-right: 1px solid #ccc;">
                                        <div class="row">
                                            <div class="col-sm-2"><p> <i class="fa fa-inr fonticon"></i></p></div>
                                            <div class="col-sm-10"><p class="fontdetails">IDV</p><p class="fontdetails">₹ 3,14,802.00</p></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="border-right: 1px solid #ccc;">
                                        <div class="row">
                                            <div class="col-sm-2"><p> <i class="fa fa-gift  fonticon"></i></p></div>
                                            <div class="col-sm-10"><p class="fontdetails">NCB</p><p class="fontdetails">0 %</p></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="border-right: 1px solid #ccc;">
                                        <div class="row">
                                            <div class="col-sm-5"><a><img src="/Content/images/ZeroDepreciation.jpeg" style="margin-top: -6px;"></a></div>
                                            <div class="col-sm-7"><p class="fontdetails">Zero Dep</p><p class="fontdetails">Available</p></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-3" style="border-right: 1px solid #ccc;">
                                        <div class="row">
                                            <div class="col-sm-3"><a><img src="/Content/images/car-in-garage.png" style="width:40px;"></a></div>
                                            <div class="col-sm-9"><p class="fontdetails">Cashless Garages</p><p class="fontdetails">5000+</p></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-2">
                                <div class="row">
                                    <div class="col-sm-12" style="margin-top:20px;">
                                        <button class="default-btn bookbtn" id="btnMotorPerposal_2" data-chainid="2" data-proposalno="10064/31/21/P/025023" data-suminsured="14378.00" data-price="₹ 14,378.00" onclick="return ClickMotorPerposal(2);">₹ 14,378.00</button><p style="text-align: center;font-size: 13px; margin-top:5px;color: #262566;">Inclusive of GST</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="tab">
                            <button class="tablinks" onclick="openCity(event, 'highlights')">Highlights</button>
                            <button class="tablinks" onclick="openCity(event, 'features')">Product Features</button>
                            <button class="tablinks" onclick="openCity(event, 'exclusions')">Exclusions</button>
                            <button class="tablinks" onclick="openCity(event, 'about')">About Company</button>
                            <button class="tablinks" onclick="openCity(event, 'Fare')">Fare Breakup</button>
                        </div>

                        <div id="highlights" class="tabcontent">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="text-center" style="font-size: 20px;">Highlights.</h4>
                                    <p><span class="fa fa-check"></span> General Ageing, wear and tear. </p>
                                    <p><span class="fa fa-check"></span> Damage by a person driving without a valid driving license.. </p>
                                    <p><span class="fa fa-check"></span> Mechanical or Electrical breakdown, failure. </p>
                                    <p><span class="fa fa-check"></span> Damage by a person driving under the influence of Liquor/Alcohol/Drugs. </p>
                                    <p><span class="fa fa-check"></span> Depreciation, any consequential loss. </p>
                                    <p><span class="fa fa-check"></span> Loss /Damage attributable to War /Mutiny /Nuclear risks. </p>
                                    <p><span class="fa fa-check"></span> Damage to tyres and tubes unless the vehicle is damaged at the same time in which case the liability of the company shall be limited to 50% of the cost of replacement. </p>
                                    <p><span class="fa fa-check"></span> Loss /Damage, outside India. </p>
                                </div>
                            </div>
                        </div>
                        <div id="features" class="tabcontent" style="display:block;">
                            <div class="row">
                                <div class="col-sm-6" style="border-right: 1px solid #ccc;">
                                    <h4 class="text-center" style="font-size: 20px;">Basic Features</h4>
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <p>Anytime, anywhere claim reporting</p>
                                            <p>Free pickup/towing charges of vehicle</p>
                                            <p>Network dealers all over India</p>
                                            <p>Cashless claim settlement at network dealer</p>
                                            <p>Cover of bi-fuel system</p>
                                            <p>Extended geographical area covered</p>
                                            <p>Discount for claim free experience</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <p>Yes</p>
                                            <p>Rs.1500</p>
                                            <p>6800+</p>
                                            <p>Yes</p>
                                            <p>Yes</p>
                                            <p>Yes</p>
                                            <p>Yes</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h4 class="text-center" style="font-size: 20px;">Special Features</h4>
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <p>Discount for voluntary excess</p>
                                            <p>24/7 Roadside Assistance</p>
                                            <p>Depreciation Shield</p>
                                            <p>NCB Protectionr</p>
                                            <p>Key Replacement</p>
                                            <p>Engine protector</p>
                                            <p>Age Discount</p>
                                            <p>Profession Discount</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <p>No</p>
                                            <p>Yes</p>
                                            <p>Yes</p>
                                            <p>Yes</p>
                                            <p>Key cover</p>
                                            <p>Yes</p>
                                            <p>No</p>
                                            <p>No</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="exclusions" class="tabcontent">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="text-center" style="font-size: 20px;">What's Not Covered?</h4>
                                    <p><span class="fa fa-check"></span> General Ageing, wear and tear. </p>
                                    <p><span class="fa fa-check"></span> Damage by a person driving without a valid driving license.. </p>
                                    <p><span class="fa fa-check"></span> Mechanical or Electrical breakdown, failure. </p>
                                    <p><span class="fa fa-check"></span> Damage by a person driving under the influence of Liquor/Alcohol/Drugs. </p>
                                    <p><span class="fa fa-check"></span> Depreciation, any consequential loss. </p>
                                    <p><span class="fa fa-check"></span> Loss /Damage attributable to War /Mutiny /Nuclear risks. </p>
                                    <p><span class="fa fa-check"></span> Damage to tyres and tubes unless the vehicle is damaged at the same time in which case the liability of the company shall be limited to 50% of the cost of replacement. </p>
                                    <p><span class="fa fa-check"></span> Loss /Damage, outside India. </p>
                                </div>
                            </div>
                        </div>

                        <div id="about" class="tabcontent">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="text-center" style="font-size: 20px;">Facts & Figures</h4>
                                    <p style="font-weight:bold;"><span class="fa fa-check"></span>  Fact File </p>
                                    <p style="margin-left: 30px;font-size: 13px;">HDFC ERGO offers complete range of general insurance products ranging from Motor, Health, Travel, Home and Personal Accident in the retail space and customized products like Property, Marine and Liability Insurance in the corporate space.</p>
                                    <p style="font-weight:bold;"><span class="fa fa-check"></span>  Joint Venture </p>
                                    <p style="margin-left: 30px;font-size: 13px;">HDFC ERGO General Insurance Company Ltd. is a joint venture between HDFC Ltd. and ERGO International AG, the primary insurance entity of Munich Re Group.</p>
                                    <p style="font-weight:bold;"><span class="fa fa-check"></span>  Formation Year </p>
                                    <p style="margin-left: 30px;font-size: 13px;">2020</p>
                                    <p style="font-weight:bold;"><span class="fa fa-check"></span>   Market Share as par last stated </p>
                                    <p style="margin-left: 30px;font-size: 13px;">2.80% - IRDAI Annual Report 2018-19 - Statement 13, The Market Share Of Health Insurance (Excluding Travel -Domestic/Overseas And Personal Accident)</p>
                                </div>
                            </div>
                        </div>

                        <div id="Fare" class="tabcontent">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="text-center" style="font-size: 20px;">Premimum Breakup</h4>
                                    <div class="table-responsive">
                                        <table class="table no-bottom-space text-center compare_table">
                                            <tr>
                                                <th>Base Cover</th>
                                                <th>AddOn Cover</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table class="table no-bottom-space text-center compare_table" style="border: 1px solid #ccc;">
                                                        <tr>
                                                            <th>Own Damagr Cover</th>
                                                            <th>Amount</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    <table class="table no-bottom-space text-center compare_table" style="border: 1px solid #ccc;">
                                                        <tr>
                                                            <th>NCB Discount</th>
                                                            <th>Amount</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Additional Cover</th>
                                                <th>Accessories Cover</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table class="table no-bottom-space text-center compare_table" style="border: 1px solid #ccc;">
                                                        <tr>
                                                            <th>Particular</th>
                                                            <th>Amount</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    <table class="table no-bottom-space text-center compare_table" style="border: 1px solid #ccc;">
                                                        <tr>
                                                            <th>CNG Cover</th>
                                                            <th>Amount</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@

<div class="sidebar-modal">
    <div class="modal top fade" id="PremiumDetails">
        <div class="modal-dialog modal-lg" role="document" style="max-width: 1000px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="bx bx-x"></i>
                        </span>
                    </button>
                    <h2 class="modal-title" style="padding: 7px;background: #fff;border-bottom: 1px solid #ccc;font-size: 20px;text-align: center;">
                        Product Premium Breakup
                    </h2>
                </div>

                <div class="modal-body" id="breakup" style="font-size: 12px !important;">
                    <div class="row">
                        <div id="img_quote" class="col-sm-12 img_quote action_icons_wrapper">
                            <a href="#" class="download_pdf" data-target="premium_breakup">
                                <label class="pull-left" style="margin-right: 5px;cursor: pointer; margin-left: 10px;"><i class="fa fa-file-pdf-o" aria-hidden="true"></i>&nbsp;PDF</label>
                            </a>
                            <a href="#" img_id="#breakup" page="Car Premium Breakup" class="pull-left btn_send_quote_with_img" data-target="premium_breakup">
                                <label class="pull-left" style="cursor: pointer;"><i class="fa fa-envelope" aria-hidden="true"></i>&nbsp;Email</label>
                            </a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-condensed">
                                <tbody>
                                    <tr>
                                        <td style="vertical-align: middle;"> Mfg Year: 2015 </td>
                                        <td style="vertical-align: middle;"> RTO: DL-1 </td>
                                        <td style="vertical-align: middle;"> Fuel Type: <span class="compare_fuel_type" style="font-size: 14px !important;color: #555;">DIESEL</span> </td>
                                        <td style="vertical-align: middle;"> Previous policy expiry date: 15-12-2020 </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <table class="table table-bordered table-condensed no-margin-bottom">
                                <tbody>
                                    <tr>
                                        <td rowspan="2" style="width: 17%; vertical-align: middle;">
                                            <img src="https://www.paybima.com/application/resources/uploads/company_logo/hdfc_ergo_new_logo.png" alt="" class="company_logo img-responsive">
                                        </td>
                                        <td class="company_name font-bold">HDFC ERGO General Insurance Co. Ltd.</td>
                                    </tr>
                                    <tr>
                                        <td class="product_name font-bold">Private Car Insurance</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <table class="table table-bordered table-condensed">
                                <tbody>
                                    <tr>
                                        <td class="vehicle_name font-bold">FORD FIESTA 1.4 EXI TDCI LTD ABS</td>
                                    </tr>
                                    <tr>
                                        <td class="font-bold vehicle_idv">IDV: 3,16,517</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <table id="own_damage" class="table table-bordered table-condensed">
                                <tbody>
                                    <tr>
                                        <td colspan="2" class="font-bold text-center color-orange">Own Damage</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 80%;">Basic Own Damage(OD)</td>
                                        <td align="right"><span id="premium_data_basic_od_premium">4,672</span></td>
                                    </tr>
                                    <tr>
                                        <td>Electrical Accessories</td>
                                        <td align="right"><span id="premium_data_basic_electrical">0</span></td>
                                    </tr>
                                    <tr>
                                        <td>Non-Electrical Accessories</td>
                                        <td align="right"><span id="premium_data_basic_non_electrical">0</span></td>
                                    </tr>
                                    <tr>
                                        <td>LPG/CNG Kit</td>
                                        <td align="right"><span id="premium_data_basic_lpg_cng">0</span></td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2">&nbsp;</td>
                                    </tr>
                                    <tr>
                                        <td class="font-bold">Basic OD Premium (A)</td>
                                        <td class="font-bold" align="right"><span id="own_damage_total">4,672</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <table id="liabilities" class="table table-bordered table-condensed no-margin-bottom">
                                <tbody>
                                    <tr>
                                        <td colspan="2" class="font-bold text-center color-orange">Liability</td>
                                    </tr>
                                    <tr>
                                        <td style="width: 80%;">Third Party Liability</td>
                                        <td align="right"><span id="premium_data_basic_tppd">3,221</span></td>
                                    </tr>
                                    <tr> <td>PA For Unnamed Passenger</td> <td align="right"><span id="premium_data_basic_pa_unnamed">0</span></td> </tr>
                                    <tr> <td>Compulsory PA Cover For Owner Driver</td> <td align="right"><span id="premium_data_basic_pa_owner">0</span></td> </tr>
                                    <tr> <td>Additional PA Cover To Paid Driver</td> <td align="right"><span id="premium_data_basic_pa_paid_driver">0</span></td> </tr>
                                    <tr> <td>LPG/CNG Kit TP</td> <td align="right"><span id="premium_data_basic_lpg_cng_tp">0</span></td> </tr>
                                    <tr> <td class="font-bold">Total Liability Premium (B)</td> <td class="font-bold" align="right"><span id="liability_premium_total">3,271</span></td> </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <table id="discounts" class="table table-bordered table-condensed">
                                <tbody>
                                    <tr>
                                        <td colspan="2" class="font-bold text-center color-orange">Discounts</td>
                                    </tr>
                                    <tr> <td style="width: 80%;">Deduction of NCB</td> <td align="right"><span id="premium_data_basic_ncb_discount">0</span></td> </tr>
                                    <tr> <td>Anti-Theft</td> <td align="right"><span id="premium_data_basic_discount_amount_anti_theft">0</span></td> </tr>
                                    <tr> <td>Automobile Association of India</td> <td align="right"><span id="premium_data_basic_discount_amount_automobile_association">0</span></td> </tr>
                                    <tr> <td>Other Discount</td> <td align="right"><span id="premium_data_basic_discount_amount_other">0</span></td> </tr>
                                    <tr> <td class="font-bold">Total Discount (C)</td> <td class="font-bold" align="right"><span id="discounts_total">0</span></td> </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-sm-6">
                            <table id="addons" class="table table-bordered table-condensed">
                                <tbody>
                                    <tr>
                                        <td colspan="2" class="font-bold text-center color-orange">Add-ons</td>
                                    </tr>
                                    <tr>
                                        <td colspan="2" class="text-center">No Add-ons Selected</td>
                                    </tr>
                                    <tr>
                                        <td class="font-bold">Total Add-on Premium (D)</td>
                                        <td class="font-bold" align="right"><span id="add_on_premium_total">0</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <table class="table table-bordered table-condensed no-margin-bottom">
                                <tbody>
                                    <tr>
                                        <td class="font-bold" style="width: 90.4%;">Net premium (A + B - C + D)</td>
                                        <td align="right"><span id="net_premium_total" class="font-bold">7,943</span></td>
                                    </tr>
                                    <tr>
                                        <td class="font-bold">GST (18%)</td>
                                        <td align="right"><span id="service_tax_total" class="font-bold">1,430</span></td>
                                    </tr>
                                    <tr>
                                        <td class="font-bold">Final Premium</td>
                                        <td align="right"><span id="final_premium_total" class="color-orange font-bold">9,373</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div> <div class="row text-center hidden"> <p>Mahindra Insurance Brokers Ltd</p> </div>
                </div>
            </div>
        </div>
    </div>
</div>


@*<div class="sidebar-modal">
    <div class="modal top fade" id="productDetailshealth">
        <div class="modal-dialog modal-lg" role="document" style="max-width: 1200px !important;">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="bx bx-x"></i>
                        </span>
                    </button>
                    <h2 class="modal-title" style="padding: 7px;background: #fff;border-bottom: 1px solid #ccc;font-size: 20px;text-align: center;">
                        Product Details
                    </h2>
                </div>

                <div class="modal-body">
                    <div class="col-sm-12 listbox">
                        <div class="row">
                            <div class="col-sm-2" style="border-right: 1px solid #ccc;">
                                <img src="http://api.seeinsured.com/images/637383012257715432.png" class="img-responsive img-center margin_top_15 company_logo" style="margin-top:27px;">
                            </div>
                            <div class="col-sm-8">
                                <div class="row" style="border-bottom: 1px solid #ccc;padding: 3px;">
                                    <div class="col-sm-4" style="border-right: 1px solid #ccc;">
                                        <div class="row">
                                            <div class="col-sm-2"><p><span class="fa fa-bed fonticon"></span></p></div>
                                            <div class="col-sm-10"><p class="fontdetails">Room Rent</p><p class="fontdetails"> Shared Accommodation</p></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" style="border-right: 1px solid #ccc;">
                                        <div class="row">
                                            <div class="col-sm-2"><p><span class="fa fa-heartbeat fonticon "></span></p></div>
                                            <div class="col-sm-10"><p class="fontdetails">Pre-Existing Disease</p><p class="fontdetails">  48 months</p></div>
                                        </div>
                                    </div>
                                    <div class="col-sm-4" style="border-right: 1px solid #ccc;">
                                        <div class="row">
                                            <div class="col-sm-2"><p><span class="fa fa-building-o fonticon"></span></p></div>
                                            <div class="col-sm-10"><p class="fontdetails">Network Hospitals</p><p class="fontdetails">  4000+</p></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" style="margin-top:20px;">
                                    <div class="col-sm-3">
                                    </div>
                                    <div class="col-sm-4">Comprehensive Individual</div>
                                    <div class="col-sm-5">
                                    </div>
                                </div>
                            </div><div class="col-sm-2" style="text-transform: capitalize;">
                                <div class="row">
                                    <div class="col-sm-12"><p style="text-align: center;margin-top: -6px;font-size: 14px;font-weight: bold;"> Cover:&nbsp;<span class="fa fa-rupee"></span>500000 / 1 Year</p><button class="default-btn bookbtn" data-suminsuredid="1" data-productid="2" data-suminsured="500000" data-companyid="1" data-adult="1" data-child="0">₹ 8,277.00</button><p style="text-align: center;font-size: 12px;">All Inclusive</p><p style="text-align:center;font-weight: bold;font-size: 14px;"><span class="fa fa-rupee"></span>&nbsp;23/day</p></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 form-group">
                        <div class="tab">
                            <button class="tablinks" onclick="openCity(event, 'highlightsh')">Highlights</button>
                            <button class="tablinks" onclick="openCity(event, 'featuresh')">Product Features</button>
                            
                            <button class="tablinks" onclick="openCity(event, 'abouth')">About Company</button>
                            <button class="tablinks" onclick="openCity(event, 'Fareh')">Perimum Breakup</button>
                        </div>

                        <div id="highlightsh" class="tabcontent">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="text-center" style="font-size: 20px;">Highlights.</h4>
                                    <p><span class="fa fa-check"></span> General Ageing, wear and tear. </p>
                                    <p><span class="fa fa-check"></span> Damage by a person driving without a valid driving license.. </p>
                                    <p><span class="fa fa-check"></span> Mechanical or Electrical breakdown, failure. </p>
                                    <p><span class="fa fa-check"></span> Damage by a person driving under the influence of Liquor/Alcohol/Drugs. </p>
                                    <p><span class="fa fa-check"></span> Depreciation, any consequential loss. </p>
                                    <p><span class="fa fa-check"></span> Loss /Damage attributable to War /Mutiny /Nuclear risks. </p>
                                    <p><span class="fa fa-check"></span> Damage to tyres and tubes unless the vehicle is damaged at the same time in which case the liability of the company shall be limited to 50% of the cost of replacement. </p>
                                    <p><span class="fa fa-check"></span> Loss /Damage, outside India. </p>
                                </div>
                            </div>
                        </div>
                        <div id="featuresh" class="tabcontent" style="display:block;">
                            <div class="row">
                                <div class="col-sm-6" style="border-right: 1px solid #ccc;">
                                    <h4 class="text-center" style="font-size: 20px;">Basic Features</h4>
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <p>Anytime, anywhere claim reporting</p>
                                            <p>Free pickup/towing charges of vehicle</p>
                                            <p>Network dealers all over India</p>
                                            <p>Cashless claim settlement at network dealer</p>
                                            <p>Cover of bi-fuel system</p>
                                            <p>Extended geographical area covered</p>
                                            <p>Discount for claim free experience</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <p>Yes</p>
                                            <p>Rs.1500</p>
                                            <p>6800+</p>
                                            <p>Yes</p>
                                            <p>Yes</p>
                                            <p>Yes</p>
                                            <p>Yes</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <h4 class="text-center" style="font-size: 20px;">Special Features</h4>
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <p>Discount for voluntary excess</p>
                                            <p>24/7 Roadside Assistance</p>
                                            <p>Depreciation Shield</p>
                                            <p>NCB Protectionr</p>
                                            <p>Key Replacement</p>
                                            <p>Engine protector</p>
                                            <p>Age Discount</p>
                                            <p>Profession Discount</p>
                                        </div>
                                        <div class="col-sm-3">
                                            <p>No</p>
                                            <p>Yes</p>
                                            <p>Yes</p>
                                            <p>Yes</p>
                                            <p>Key cover</p>
                                            <p>Yes</p>
                                            <p>No</p>
                                            <p>No</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div id="abouth" class="tabcontent">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="text-center" style="font-size: 20px;">Facts & Figures</h4>
                                    <p style="font-weight:bold;"><span class="fa fa-check"></span>  Fact File </p>
                                    <p style="margin-left: 30px;font-size: 13px;">HDFC ERGO offers complete range of general insurance products ranging from Motor, Health, Travel, Home and Personal Accident in the retail space and customized products like Property, Marine and Liability Insurance in the corporate space.</p>
                                    <p style="font-weight:bold;"><span class="fa fa-check"></span>  Joint Venture </p>
                                    <p style="margin-left: 30px;font-size: 13px;">HDFC ERGO General Insurance Company Ltd. is a joint venture between HDFC Ltd. and ERGO International AG, the primary insurance entity of Munich Re Group.</p>
                                    <p style="font-weight:bold;"><span class="fa fa-check"></span>  Formation Year </p>
                                    <p style="margin-left: 30px;font-size: 13px;">2020</p>
                                    <p style="font-weight:bold;"><span class="fa fa-check"></span>   Market Share as par last stated </p>
                                    <p style="margin-left: 30px;font-size: 13px;">2.80% - IRDAI Annual Report 2018-19 - Statement 13, The Market Share Of Health Insurance (Excluding Travel -Domestic/Overseas And Personal Accident)</p>
                                </div>
                            </div>
                        </div>

                        <div id="Fareh" class="tabcontent">
                            <div class="row">
                                <div class="col-sm-12">
                                    <h4 class="text-center" style="font-size: 20px;">Premimum Breakup</h4>
                                    <div class="table-responsive">
                                        <table class="table no-bottom-space text-center compare_table">
                                            <tr>
                                                <th>Base Cover</th>
                                                <th>AddOn Cover</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table class="table no-bottom-space text-center compare_table" style="border: 1px solid #ccc;">
                                                        <tr>
                                                            <th>Own Damagr Cover</th>
                                                            <th>Amount</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    <table class="table no-bottom-space text-center compare_table" style="border: 1px solid #ccc;">
                                                        <tr>
                                                            <th>NCB Discount</th>
                                                            <th>Amount</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                            <tr>
                                                <th>Additional Cover</th>
                                                <th>Accessories Cover</th>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <table class="table no-bottom-space text-center compare_table" style="border: 1px solid #ccc;">
                                                        <tr>
                                                            <th>Particular</th>
                                                            <th>Amount</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                                <td>
                                                    <table class="table no-bottom-space text-center compare_table" style="border: 1px solid #ccc;">
                                                        <tr>
                                                            <th>CNG Cover</th>
                                                            <th>Amount</th>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                        <tr>
                                                            <td>Third Party Liability</td>
                                                            <td></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>*@
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });
</script>