﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/FrontEnd/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-table.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="~/Areas/AdminArea/Content/js/jquery-3.2.1.min.js"></script>
    <script src="~/Content/js/bootstrap.min.js"></script>
  

    <style>
        .modelHed {
            padding: 4px !important;
            font-size: 19px;
            color: #fbfbfb;
            background: #8c8c8c;
        }

        .table-bordered {
            border: 1px solid #ddd;
        }

        .tablehead {
            background-color: #f3dc56;
        }

        .thcolr {
            border: 1px solid #999 !important;
            background: #e2dfdf;
            text-align: center;
        }

        .tdborder {
            border: 1px solid #999 !important;
            text-align: center;
        }

        .table thead tr th {
            font-size: 14px;
            font-weight: 600;
        }
    </style>
    @RenderSection("header", false)
</head>
<body>
    @RenderBody()
    @RenderSection("footer", false)
    <script src="~/Content/js/bootstrap-table.js"></script>
</body>
</html>
