﻿
@{
    ViewBag.Title = "HelthSearch";
    Layout = "~/Views/Shared/_AgencyInnerLayoutPage.cshtml";
}

@section header{
    <link href="~/Content/css/custom/checkbox.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/HelthSearch.css" rel="stylesheet" />
    <link href="~/Content/css/custom/validationcss.css" rel="stylesheet" />

    <style>
        #progressbar li:after {
            content: '';
            width: 100%;
            height: 5px;
            background: #848484;
            position: absolute;
            left: -50%;
            top: 20px;
            z-index: -1;
            border-radius: 0%;
        }

        .callus {
            background: #fff;
            padding: 3px 19px;
            font-size: 18px;
            border-radius: 11px;
            width: 100%;
            margin-bottom: 10px;
        }

        .callusbtn {
            margin-right: 2px;
            cursor: pointer;
            float: right;
            background: #1476b9;
            font-size: 15px;
            width: 20%;
            padding: 2px;
            color: #fff;
            text-align: center;
            border-radius: 4px;
        }

        .contentboxborder {
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 100px;
        }

        .seeingo {
            color: #a5a3a3 !important;
            font-weight: 100 !important;
            font-size: 15px;
        }

            .seeingo input:checked ~ .checkmark {
                background-color: #e32730 !important;
            }

        .agetextbox {
            width: 35% !important;
            height: 29px !important;
            float: right;
        }

        .ageleft {
            margin-left: 65px;
        }

        .selecthgt {
            height: 35px !important;
            padding: 4px 11px !important;
        }

        .lcolr {
            color: #262566;
            font-size: 15px;
        }

        .facolrPlu {
            color: green;
        }

        .facolrMi {
            color: red;
        }

        .checkcolr {
            color: #1476b9;
            font-size: 24px;
        }

        .helthimg {
            width: 77px;
            position: absolute;
            right: 450px;
            top: 24px;
        }

        .tocntainer {
            margin-top: 150px;
        }

        .helthtop {
            margin-top: -18px;
        }

        @@media screen and (max-width:700px) {
            .tocntainer {
                margin-top: 0px;
            }

            .helthtop {
                margin-top: 81px;
            }

            #progressbar li {               
                font-size: 11px !important;               
            }
        }
    </style>
}

<div class="container-fluid tocntainer">
    <div class="row">
        <div class="col-sm-8">
            <div class="col-sm-12">

                <h4 class="text-center helthtop"> HEALTH INSURANCE</h4>
                <img src="/Content/images/heart22.gif" class="helthimg">
                <div id="msform">
                    <ul id="progressbar">
                        <li class="active">CHOOSE PLAN</li>
                        <li class="linext2">PROPOSER DETAILS</li>
                    </ul>
                </div>
            </div>
            <!-- fieldsets -->
            <div class="col-sm-12 col-xs-12 form-group">
                <fieldset class="section1">
                    <div class="col-sm-12">
                        <p class="text-center">Select family members you want to cover and enter their age.</p>
                        <div class="row form-group" style="border-bottom: 1px dashed #ccc;">
                            <div class="col-sm-6">
                                <div class="row form-group">
                                    <div class="col-sm-6">
                                        <label class="lcolr">Policy Type</label>
                                    </div>
                                    <div class="col-sm-6 form-validation">
                                        <select id="ddlPolicyType" name="ddlPolicyType" class="form-control selecthgt" onchange="ResetMembers()">                                           
                                            <option value="Individual">Individual</option>
                                            <option value="Floater">Floater</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row form-group">
                                    <div class="col-sm-6">
                                        <label class="lcolr">Sum Insured</label>
                                    </div>
                                    <div class="col-sm-6 form-validation">
                                        <select name="ddlSumInsured" id="ddlSumInsured" class="form-control selecthgt">
                                            <option value="">- Select -</option>                                            
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group OtherSection FamilySection">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <h6 class="checkbox-inline">
                                            <label class="seeingo2">
                                                Self
                                                <input type="checkbox" class="submenuclass chkmember chkbox_self" data-member="self" id="CheSelf" name="CheSelf" onchange="OnOffMember('self');" />
                                                <span class="checkmark2"></span>
                                            </label>
                                        </h6>
                                    </div>
                                    <div class="col-sm-6 form-group SelfAge hidden">
                                        <h6>
                                            <span class="ageleft">Age</span><input type="text" class="form-control agetextbox" id="txtSelfAge" name="txtSelfAge" maxlength="2" onkeypress="return isNumberOnlyKeyNoDot(event)" onchange="return CalculateAdultAge('txtSelfAge','selfageerror')" />
                                            <span class="yrposion">yr</span>
                                        </h6>
                                        <span id="selfageerror" style="float: right;margin: 0px 0px 0px 60px;color: #e71820;font-size: 8px;"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <h6 class="checkbox-inline">
                                            <label class="seeingo2">
                                                Spouse
                                                <input type="checkbox" class="submenuclass chkmember chkbox_spouse" data-member="spouse" id="CheSpouse" name="CheSpouse" onchange="OnOffMember('spouse');" />
                                                <span class="checkmark2"></span>
                                            </label>
                                        </h6>
                                    </div>
                                    <div class="col-sm-6 form-group SpouseAge hidden">
                                        <h6>
                                            <span class="ageleft">Age</span><input type="text" class="form-control agetextbox" id="txtSpouseAge" name="txtSpouseAge" maxlength="2" onkeypress="return isNumberOnlyKeyNoDot(event)" onchange="return CalculateAdultAge('txtSpouseAge','spouseageerror')"  />
                                            <span class="yrposion">yr</span>
                                        </h6>
                                        <span id="spouseageerror" style="float: right;margin: 0px 0px 0px 60px;color: #e71820;font-size: 8px;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group OtherSection FamilySection" style="border-bottom: 1px dashed #ccc;">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <h6 class="checkbox-inline">
                                            <label class="seeingo2">
                                                Son
                                                <input type="checkbox" class="submenuclass clickcheckbox chkmember chkbox_son" data-member="son" data-name="Son" id="chkSon" name="chkSon" onchange="OnOffMember('son');" />
                                                <span class="checkmark2"></span>
                                            </label>
                                        </h6>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <div class="input-group hidden" id="chkSonAge" style="width:70%;float:right;">
                                            <span class="input-group-addon" style="cursor: pointer;" data-appdiv="divSonAgeSection" data-name="Son" onclick="decrement(this);"> <span class="fa fa-minus-circle facolrMi"></span></span>
                                            <input type="text" id="chkSonInput" class="form-control adults" value="1" readonly="readonly" style="height: 35px;text-align:center;background: #fff;">
                                            <span class="input-group-addon" data-appdiv="divSonAgeSection" style="cursor: pointer;" data-name="Son" onclick="increment(this);"> <span class="fa fa-plus-circle facolrPlu"></span> </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group" id="divSonAgeSection"></div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <h6 class="checkbox-inline">
                                            <label class="seeingo2">
                                                Daughter
                                                <input type="checkbox" class="submenuclass clickcheckbox chkmember chkbox_daughter" data-member="daughter" data-name="Daughter" id="chkDaughter" name="chkDaughter" onchange="OnOffMember('daughter');" />
                                                <span class="checkmark2"></span>
                                            </label>
                                        </h6>
                                    </div>
                                    <div class="col-sm-6 form-group">
                                        <div class="input-group hidden" id="chkDaughterAge" style="width:70%;float:right;">
                                            <span class="input-group-addon" style="cursor: pointer;" data-appdiv="divDaughterAgeSection" data-name="Daughter" onclick="decrement(this);"> <span class="fa fa-minus-circle facolrMi"></span></span>
                                            <input type="text" id="chkDaughterInput" class="form-control adults" value="1" readonly="readonly" style="height: 35px;text-align:center;background: #fff;">
                                            <span class="input-group-addon" style="cursor: pointer;" data-appdiv="divDaughterAgeSection" data-name="Daughter" onclick="increment(this);"> <span class="fa fa-plus-circle facolrPlu"></span> </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group" id="divDaughterAgeSection">
                                </div>
                            </div>
                        </div>
                        <div class="row form-group" id="ParentsSection" style="border-bottom: 1px dashed #ccc;">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <h6 class="checkbox-inline">
                                            <label class="seeingo2">
                                                Father
                                                <input type="checkbox" class="submenuclass chkmember chkbox_father" id="CheFather" data-member="father" name="CheFather" onchange="OnOffMember('father');" onkeypress="return isNumberOnlyKeyNoDot(event)" />
                                                <span class="checkmark2"></span>
                                            </label>
                                        </h6>
                                    </div>
                                    <div class="col-sm-6 form-group FatherAge hidden">
                                        <h6>
                                            <span class="ageleft">Age</span><input type="text" class="form-control agetextbox" id="txtFatherAge" name="txtFatherAge" maxlength="2" onkeypress="return isNumberOnlyKeyNoDot(event)" onchange="return CalculateAdultAge('txtFatherAge','fatherageerror')" />
                                            <span class="yrposion">yr</span>
                                        </h6>
                                        <span id="fatherageerror" style="float: right;margin: 0px 0px 0px 60px;color: #e71820;font-size: 8px;"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6 form-group">
                                        <h6 class="checkbox-inline">
                                            <label class="seeingo2">
                                                Mother
                                                <input type="checkbox" class="submenuclass chkmember chkbox_mother" id="CheMother" data-member="mother" name="CheMother" onchange="OnOffMember('mother');" />
                                                <span class="checkmark2"></span>
                                            </label>
                                        </h6>
                                    </div>
                                    <div class="col-sm-6 form-group MotherAge hidden">
                                        <h6>
                                            <span class="ageleft">Age</span><input type="text" class="form-control agetextbox" id="txtMotherAge" name="txtMotherAge" maxlength="2" onkeypress="return isNumberOnlyKeyNoDot(event)" onchange="return CalculateAdultAge('txtMotherAge','motherageerror')" />
                                            <span class="yrposion">yr</span>
                                        </h6>
                                        <span id="motherageerror" style="float: right;margin: 0px 0px 0px 60px;color: #e71820;font-size: 8px;"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label class="lcolr">Pin Code</label>
                                    </div>
                                    <div class="col-sm-6 form-validation form-group">
                                        <input type="text" id="txtPinCode" class="form-control selecthgt" placeholder="Pin Code" maxlength="6" onkeypress="return isNumberOnlyKeyNoDot(event)" onkeyup="return CheckPincode2()" />
                                        <span class="notpincodevalid hidden" style="position: absolute;top: 30px;right: 15px;"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                @*<button class="next1 default-btn pull-right designbtn" onclick="return checkSection1RegForm();">NEXT</button>*@
                                <span class="default-btn pull-right designbtn mainregcss" id="btnGetQuotes" onclick="return GetNewProductList();">GET QUOTES</span>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="section2 hidden">
                    <div class="col-sm-12">
                        <p class="text-center">Make sure your phone number & email id is correct.</p>
                        <div class="row form-group" style="border-bottom:1px dashed #ccc">
                            <div class="col-sm-6">
                                <div class="row  form-group">
                                    <div class="col-sm-6">
                                        <label>Gender:</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <select id="ddlGender" name="ddlGender" class="form-control selecthgt">
                                            <option value="male">Male</option>
                                            <option value="female">Female</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row form-group">
                                    <div class="col-sm-6">
                                        <label>First Name:</label>
                                    </div>
                                    <div class="col-sm-6 form-validation">
                                        <input type="text" id="txtFirstName" class="form-control selecthgt" placeholder="First Name" />
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row form-group " style="border-bottom:1px dashed #ccc">
                            <div class="col-sm-6">
                                <div class="row form-group">
                                    <div class="col-sm-6">
                                        <label>Last Name:</label>
                                    </div>
                                    <div class="col-sm-6 form-validation">
                                        <input type="text" id="txtLastName" class="form-control selecthgt" placeholder="Last Name" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row form-group">
                                    <div class="col-sm-6">
                                        <label>Email Id:</label>
                                    </div>
                                    <div class="col-sm-6 form-validation">
                                        <input type="text" id="txtEmailId" class="form-control selecthgt" placeholder="Email Id" />
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="row form-group" style="border-bottom:1px dashed #ccc">
                            <div class="col-sm-6">
                                <div class="row form-group">
                                    <div class="col-sm-6">
                                        <label>Mobile No:</label>
                                    </div>
                                    <div class="col-sm-6 form-validation">
                                        <input type="text" id="txtMobileNo" class="form-control selecthgt" placeholder="Mobile Number" maxlength="10" onkeypress="return isNumberOnlyKeyNoDot(event)" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row form-group">
                                    <div class="col-sm-6">
                                        <label>Pin Code:</label>
                                    </div>
                                    @*<div class="col-sm-6 form-validation">
                                        <input type="text" id="txtPinCode" class="form-control selecthgt" placeholder="Pin Code" maxlength="6" onkeypress="return isNumberOnlyKeyNoDot(event)" onkeyup="return CheckPincode2()" />
                                        <span class="notpincodevalid hidden" style="position: absolute;top: 30px;right: 15px;"></span>                                        
                                    </div>*@
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-12">
                                <h6 class="checkbox-inline">
                                    <label class="seeingo">
                                        I hereby authorise Seeinsured. and all of its affiliates, subsidiaries, group companies and related parties to access the details such as my name, address, telephone number, e-mail address,Age  shared by me, and contact me to provide information on the various products and services offered.
                                        <input type="checkbox" class="submenuclass" id="chkHearBy" name="chkHearBy" checked="checked" readonly />
                                        <span class="checkmark"></span>
                                    </label>
                                </h6>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <span class="default-btn pull-right designbtn mainregcss" id="btnGetQuotes" onclick="return GetProductList();">GET QUOTES</span>                           
                            <span class="default-btn pull-right designbtn tempregcss hidden">Please wait...<i class="fa fa-spinner fa-spin"></i></span>
                            <button class="previous1 prvbtn btn btn-success pull-left prev designbtn">PREVIOUS</button>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-sm-12 contentboxborder">
                <h4>Reasons to choose  Health Insurance</h4>
                <p style="border-bottom:1px dashed #ccc"><span class="fa fa-check checkcolr"></span> Coverage Against COVID-19</p>
                <p style="border-bottom:1px dashed #ccc"><span class="fa fa-check checkcolr"></span> Sum Insured Upto 6 Cr. </p>
                <p style="border-bottom:1px dashed #ccc"><span class="fa fa-check checkcolr"></span> Instant Purchase, No Medicals Required</p>
                <p style="border-bottom:1px dashed #ccc"><span class="fa fa-check checkcolr"></span> Upto 150% Restore Benefits</p>
                <p style="border-bottom:1px dashed #ccc"><span class="fa fa-check checkcolr"></span> Lifelong Renewal </p>
                <p style="border-bottom:1px dashed #ccc"><span class="fa fa-check checkcolr"></span> Quick Pre-Authorisation </p>
                <p style="border-bottom:1px dashed #ccc"><span class="fa fa-check checkcolr"></span> Tax Benefits </p>
            </div>
            <div class="col-sm-12" style="background: #E3E3E3;">
                <p>Need help?</p>
                <a href="tel:Phone:8010874878" class="callus">8010874878 <span class="callusbtn"> Call Us</span></a>
            </div>
        </div>
    </div>
</div>
<br />
<section class="choose-us-area-three pt-100 pb-70" style="padding-top: 35px;">
    <div class="container">
        <div class="section-title">
            <h2>Take The Worry Out of Life With Insurance Protection</h2>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="single-choose wow fadeInUp" data-wow-delay=".2s">
                    <span class="flaticon-hand"></span>
                    <h3>Peace Of Mind</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>

                    <a href="#">
                        <i class="flaticon-right"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="single-choose wow fadeInUp" data-wow-delay=".3s">
                    <span class="flaticon-life-insurance-1"></span>
                    <h3>Set For Life</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>

                    <a href="#">
                        <i class="flaticon-right"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="single-choose wow fadeInUp" data-wow-delay=".4s">
                    <span class="flaticon-insurance-1"></span>
                    <h3>Tailored Covered</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>

                    <a href="#">
                        <i class="flaticon-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

@section footer{
    <script src="~/Content/js/health/healthjs.js?v=3"></script>
}