﻿
@{
    ViewBag.Title = "HelthSearchList";
    Layout = "~/Views/Shared/_AgencyInnerLayoutPage.cshtml";
}

@section header{
    <link href="~/Content/css/custom/checkbox.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-ui.js"></script>

    <style>
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #2d83bd;
        }


            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 4px 16px;
                transition: 0.3s;
                font-size: 17px;
                width: 20%;
                color: #fff;
            }

                .tab button:hover {
                    background-color: #ccc;
                    border: 1px solid #1f7cbd;
                    color: #000;
                }

                .tab button.active {
                    background-color: #ccc;
                    border: 1px solid #1f7cbd;
                    color: #000;
                }

        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }

        .table td, .table th {
            padding: 3px 5px;
            vertical-align: top;
            border: 1px solid #dee2e6;
        }

        #compare_div {
            position: fixed !important;
            bottom: 0 !important;
            left: 40% !important;
            background-color: #2d83bd !important;
            color: #FFF !important;
            z-index: 500 !important;
            padding: 10px !important;
            max-width: 480px !important;
        }

        .hidden {
            display: none !important;
        }

        .list-inline > li {
            display: inline-block;
            padding-right: 5px;
            padding-left: 5px;
        }

        .rounded-top {
            border-radius: 4px 4px 0 0 !important;
        }

        .compayrbtn {
            background: #e71820;
            color: #fff;
            border-radius: 20px;
            padding: 3px 12px;
        }

            .compayrbtn:hover {
                color: #fff !important;
            }

        .padding_horizontal_20 {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }

        .no-margin-bottom {
            margin-bottom: 0 !important;
        }

        p {
            margin-top: 0;
            margin-bottom: 0px;
        }

        .topbox {
            background: #d1e9f9;
            padding: 15px;
            margin-bottom: 14px;
        }

        .boxborder {
            /*height: 104px;*/
            border: 1px solid #ccc;
            padding: 10px;
        }

        .filterhed {
            padding: 5px;
            color: #e71820;
            font-weight: bold;
        }

        .seeingo {
            color: #1375b8 !important;
            font-weight: 100 !important;
            font-size: 15px;
        }

            .seeingo input:checked ~ .checkmark {
                background-color: #e32730 !important;
            }

        .fonticon {
            font-size: 40px;
            color: #2d83bd;
        }

        .fontheding {
            margin-left: 12px;
            font-size: 15px;
            color: #2d83bd;
        }

        .fontdetails {
            font-size: 12px;
            /*text-align: right;*/
            margin-left: 20px;
        }

        .listbox {
            border: 1px solid #ccc;
            padding: 5px;
            margin-bottom: 14px;
        }

            .listbox:hover {
                box-shadow: 10px 10px 20px rgba(171,171,176,0.88);
            }

        .bookbtn {
            padding: 13px 35px;
            border-top-right-radius: 30px;
            border-bottom-left-radius: 30px;
        }

        .emialcort {
            float: right;
            border: 1px solid #e71820;
            background: #e71820;
            padding: 10px 10px;
            border-radius: 30px;
            width: 20%;
            color: #fff;
        }

        .editcort {
            text-align: center;
            float: right;
            margin-left: 13px;
            border: 1px solid #e71820;
            background: #e71820;
            padding: 10px 10px;
            border-radius: 30px;
            width: 20%;
            color: #fff;
        }

        .my_badge.label {
            position: absolute;
            background: linear-gradient(to right,#fe8489 0%,#ff8b90 100%);
            border-radius: 0;
            font-size: 12px;
            font-weight: normal;
            left: 22px;
            top: 2px;
            padding: 0px 10px 0px;
            text-shadow: none;
            color: #fff !important;
            z-index: 999;
        }

            .my_badge.label.arrowed-in-right:after {
                border: 11px solid #ff8a8f;
                border-right-color: transparent !important;
                content: "";
                display: inline-block;
                position: absolute;
                top: 0px;
                left: 110px;
            }

            .my_badge.label.arrowed-in-right:before {
                border: 11px solid #ff8a8f;
                border-left-color: transparent !important;
                content: "";
                display: inline-block;
                position: absolute;
                top: 0px;
                left: -20px;
            }

        product_block .middle_feature_section .my_badge {
            font-size: 13px;
        }

        .my_badge.label-large.arrowed-in-right {
            margin-right: 11px;
        }

        .text-white {
            font-size: 16px;
            color: #fff !important;
        }

        .margintop {
            margin-top: 118px;
        }
        .borderright {
            border-right: 1px solid #ccc;
        }
        .checboxwidth{
            border: 1px solid #e71820;
            border-radius: 17px;
            padding: 1px 17px 5px; 
            width: 70%;
            float:right
        }
        .borderbotm {
            border-bottom: 1px solid #ccc;
            padding: 3px;
        }
        @@media screen and (max-width:700px) {
            .margintop {
                margin-top: 0px;
            }

            .editcort {
                width: 44%;
                margin-top: 27px;
            }

            .emialcort {
                width: 50%;
                margin-top: 27px;
            }

            .fonticon {
                font-size: 25px;
            }
            .borderright {
                border-right:none !important;
            }
            .checboxwidth {
                width: 100%;
                border: 1px solid #bdbdbd;
                border-radius: 3px;
            }
            .bookbtn {
                width: 100%;
                border-top-right-radius: 0px;
                border-bottom-left-radius: 0px;
            }
            .borderbotm {
                border-bottom:none;
            }
            .listbox {
                width: 112%;
                margin-left: -16px;
            }
            .tab button {
                font-size: 14px;
                width: 100%;
            }
        }
    </style>
    <script>
        $(window).resize(function () {

            if ($(window).width() <= 320) {
                $('.mobilleflt').removeClass('hidden');
                $('.Mobileflterbox').addClass('hidden');

            }

        });            
        function gridshow() {
            $(".Mobileflterbox").removeClass("hidden");
        }    
    </script>
    @*<script>
            $(function () {
                //var rangeSlide = $("#rangeSlide");
                var minRangeSlide = $("#minRangeSlide");
                var maxRangeSlide = $("#maxRangeSlide");

                $("#sliderprice").slider({
                    range: true,
                    min: 10,
                    max: 100,
                    values: [10, 100],
                    slide: function (event, ui) {
                        minRangeSlide.html('₹ ' + ui.values[0]);
                        maxRangeSlide.html('₹ ' + ui.values[1]);
                        //rangeSlide.html('( ₹ ' + ui.values[0] + ' - ₹ ' + ui.values[1] + ' )')
                    }
                });
            });
        </script>*@
}

<div class="margintop">
    <div class="container-fluid topbox">
        <div class="row">
            <div class="col-sm-4">
                <h3 style="margin-top: 10px;">Compare Health Insurance</h3>
            </div>
            <div class="col-sm-8">
                <a href="/health/helthsearch" class="editcort">Edit Details</a>
                <button class="emialcort" data-toggle="modal" data-target="#membermodel"> Email Quote</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-2 form-group">
                    <div class="row">
                        <div class="col-sm-12 boxborder" style="background: #f3f7f9;">
                            <p data-toggle="tooltip" title="Policy For" style="font-size: 13px;">Policy Type : <b><label id="lblPolicyFor"></label></b></p>
                            @*<p>Member  : <b><label id="lblAdults"></label> Adults, <label id="lblChilds"></label> Childs</b></p>*@
                            <p style="font-size: 13px;">Member  : <b><label id="tdMember"></label></b></p>
                            <p style="font-size: 13px;">Pincode  : <b><label id="lblPinCode"></label></b></p>
                            <p style="font-size: 13px;">Sum Insured  : <b><label id="lblSumInsured"></label></b></p>
                            <p style="font-size: 13px;">Product Count  : <b><label id="lblProductCount" style="color:#e71820;">0 Records</label></b></p>
                            <span style="color:#e71820" onclick="gridshow()" class="mobilleflt hidden">Show Filter</span>
                        </div>
                    </div>
                    <div class="Mobileflterbox">
                        <div class="row hidden" id="divFilterProvider">
                            <div class="col-sm-12 boxborder">
                                <p class="filterhed">Provider</p>
                                <div id="divInnerProvider"></div>
                            </div>
                        </div>
                        <div class="row hidden" id="divFilterSumInsured">
                            <div class="col-sm-12 boxborder">
                                <p class="filterhed">Sum Insured</p>
                                <select id="ddlSumInsured" class="form-control" style="height:37px;">
                                    <option value="">Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="row hidden" id="divFilterPremium">
                            <div class="col-sm-12 boxborder">
                                <p class="filterhed">Filter Premium</p>
                                <div class="row">
                                    <div class="col-sm-6"><span id="minRangeSlide" style="float: left;font-weight: bold;"></span></div>
                                    <div class="col-sm-6"><span id="maxRangeSlide" style="float: right;font-weight: bold;"></span></div>
                                </div>
                                <div class="col-sm-12" id="sliderprice"></div>
                            </div>
                        </div>
                        <div class="row hidden" id="divFilterTenure">
                            <div class="col-sm-12 boxborder">
                                <p class="filterhed">Tenure (In Years)</p>
                                <select id="ddlTenure" class="form-control" style="height:37px;">
                                    <option value="">Select</option>
                                </select>
                            </div>
                        </div>
                        <div class="row hidden">
                            <div class="col-sm-12 boxborder">
                                <p class="filterhed">No Pre-Policy Medical Checkup</p>
                                <h6 class="checkbox-inline">
                                    <label class="seeingo">
                                        Below 45 Years
                                        <input type="checkbox" class="submenuclass" id="commit" name="commit" />
                                        <span class="checkmark"></span>
                                    </label>
                                </h6>
                                <h6 class="checkbox-inline">
                                    <label class="seeingo">
                                        Between 45-54 Years
                                        <input type="checkbox" class="submenuclass" id="commit" name="commit" />
                                        <span class="checkmark"></span>
                                    </label>
                                </h6>
                                <h6 class="checkbox-inline">
                                    <label class="seeingo">
                                        55 Years & Above
                                        <input type="checkbox" class="submenuclass" id="commit" name="commit" />
                                        <span class="checkmark"></span>
                                    </label>
                                </h6>
                            </div>
                        </div>
                        <div class="row hidden">
                            <div class="col-sm-12 boxborder">
                                <p class="filterhed">Room Rent Limit</p>
                                <h6 class="checkbox-inline">
                                    <label class="seeingo">
                                        No Sub Limit
                                        <input type="checkbox" class="submenuclass" id="commit" name="commit" />
                                        <span class="checkmark"></span>
                                    </label>
                                </h6>
                            </div>
                        </div>
                        <div class="row hidden">
                            <div class="col-sm-12 boxborder">
                                <p class="filterhed">Plan Benefit</p>
                                <h6 class="checkbox-inline">
                                    <label class="seeingo">
                                        OPD
                                        <input type="checkbox" class="submenuclass" id="commit" name="commit" />
                                        <span class="checkmark"></span>
                                    </label>
                                </h6>
                                <h6 class="checkbox-inline">
                                    <label class="seeingo">
                                        Reinstatement Benefit
                                        <input type="checkbox" class="submenuclass" id="commit" name="commit" />
                                        <span class="checkmark"></span>
                                    </label>
                                </h6>
                                <h6 class="checkbox-inline">
                                    <label class="seeingo">
                                        Maternity Expense
                                        <input type="checkbox" class="submenuclass" id="commit" name="commit" />
                                        <span class="checkmark"></span>
                                    </label>
                                </h6>
                            </div>
                        </div>
                        <div class="row hidden">
                            <div class="col-sm-12 boxborder">
                                <p class="filterhed">Co-Pay</p>
                                <h6 class="checkbox-inline">
                                    <label class="seeingo">
                                        No Age Based Co-Pay
                                        <input type="checkbox" class="submenuclass" id="commit" name="commit" />
                                        <span class="checkmark"></span>
                                    </label>
                                </h6>
                            </div>
                        </div>
                        <div class="row hidden">
                            <div class="col-sm-12 boxborder">
                                <p class="filterhed">Pre-Existing Disease</p>
                                <h6 class="checkbox-inline">
                                    <label class="seeingo">
                                        Covered after 2 Years
                                        <input type="checkbox" class="submenuclass" id="commit" name="commit" />
                                        <span class="checkmark"></span>
                                    </label>
                                </h6>
                                <h6 class="checkbox-inline">
                                    <label class="seeingo">
                                        Covered after 3 Years
                                        <input type="checkbox" class="submenuclass" id="commit" name="commit" />
                                        <span class="checkmark"></span>
                                    </label>
                                </h6>
                                <h6 class="checkbox-inline">
                                    <label class="seeingo">
                                        Covered after 4 Years
                                        <input type="checkbox" class="submenuclass" id="commit" name="commit" />
                                        <span class="checkmark"></span>
                                    </label>
                                </h6>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-10" id="divHealthProductList">
                    <p class="text-center" style="font-size: 25px;margin-top: 60px;">We are fetching quotes based on the information you have provided. <i class="fa fa-spinner fa-pulse"></i></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="compare_div" class="rounded-top comp hidden">
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-unstyled list-inline no-margin-bottom padding_horizontal_20">
                <li>
                    <span class="color-light font-bold text-white">
                        <span class="count color-light" id="compCount">0</span> plan(s) selected
                    </span>
                </li>
                <li>
                    <span class="btn compayrbtn" data-toggle="modal" data-target="#CompareModel" id="btn_compareProducts"> Compare </span>
                </li>
                <li>
                    <a class="rounded clear_compare no_decoration text-white"> <span class="color-light font-bold" style="cursor:pointer;" onclick="clearCompSelection()">Clear</span> </a>
                </li>
            </ul>
        </div>
    </div>
</div>

@Html.Partial("_HealthProductList")

<button type="button" class="btn btn-primary FilterProcessModalClick" style="display:none!important;" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#FilterProcessModal"></button>
<div class="modal fade" id="FilterProcessModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="margin-top: 15%;">
        <button type="button" id="ProcessIdClose" style="display:none;" class="close" data-dismiss="modal" aria-label="Close"></button>
        <div class="modal-content">
            <div class="modal-body" style="text-align: center;padding: 10%;">
                <img src="~/Content/images/processing2.gif" />
            </div>
        </div>
    </div>
</div>

@section footer{
    <script src="~/Content/js/health/healthproductlist.js?v=1.4"></script>
}