﻿@{
    ViewBag.Title = "ProposalDetails";
    Layout = "~/Views/Shared/_AgencyInnerLayoutPage.cshtml";
}
@section header{
    <link href="~/Content/css/custom/checkbox.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/HelthSearch.css" rel="stylesheet" />
    <link href="~/Content/css/custom/validationcss.css" rel="stylesheet" />
    <link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <style>
        #progressbar li {
            list-style-type: none;
            color: #262566;
            text-transform: uppercase;
            font-size: 15px;
            width: 25%;
            float: left;
            position: relative;
            letter-spacing: 1px;
        }

            #progressbar li:after {
                content: '';
                width: 100%;
                height: 5px;
                background: #848484;
                position: absolute;
                left: -50%;
                top: 20px;
                z-index: -1;
                border-radius: 0%;
            }

        .callus {
            background: #fff;
            padding: 3px 19px;
            font-size: 18px;
            border-radius: 11px;
            width: 100%;
            margin-bottom: 10px;
        }

        .callusbtn {
            margin-right: 2px;
            cursor: pointer;
            float: right;
            background: #1476b9;
            font-size: 15px;
            width: 20%;
            padding: 2px;
            color: #fff;
            text-align: center;
            border-radius: 4px;
        }

        .contentboxborder {
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 100px;
        }

        .seeingo {
            color: #a5a3a3 !important;
            font-weight: 100 !important;
            font-size: 15px;
        }

            .seeingo input:checked ~ .checkmark {
                background-color: #e32730 !important;
            }

        .agetextbox {
            width: 35% !important;
            height: 29px !important;
            float: right;
        }

        .ageleft {
            margin-left: 65px;
        }

        .selecthgt {
            height: 35px !important;
            padding: 4px 11px !important;
        }

        .lcolr {
            color: #262566;
            font-size: 15px;
        }

        .facolrPlu {
            color: green;
        }

        .facolrMi {
            color: red;
        }

        .checkcolr {
            color: #1476b9;
            font-size: 24px;
        }

        .helthimg {
            width: 77px;
            position: absolute;
            right: 450px;
            top: 24px;
        }

        .tocntainer {
            margin-top: 150px;
        }

        .helthtop {
            margin-top: -18px;
        }
        .topboxc{
            margin-top:118px;
        }
        .boxpro {
            width: 100%;
            margin-left: 0px;
        }
        .btnwdth {

        }
        .colsmMargin {
            margin-top: 0px;
        }
        @@media screen and (max-width:700px) {
            .tocntainer {
                margin-top: 0px;
            }

            .helthtop {
                margin-top: 81px;
            }

            .topboxc {
                margin-top: 45px;
            }

            .editcort {
                width: 100% !important;
            }

            .permismcolr {
                width: 100% !important;
                margin-top: 5px;
            }

            #progressbar li:after {
                background: #fff !important;
            }
            #progressbar li {
                width: 50%;
            }
            .detailbox {
                flex: 0 0 100% !important;
                border: 1px solid #ccc;
                padding: 6px;
            }
            .boxpro {
                width: 120% !important;
                margin-left: -24px !important;
            }
            .btnwdth {
                margin-top: 5px;
                width: 100%;
            }
            .tabmedi button.active {
                width: 100%;
            }
            .colsmMargin {
                margin-top: -23px;
            }
         }

        .hidden {
            display: none !important;
        }

        .list-inline > li {
            display: inline-block;
            padding-right: 5px;
            padding-left: 5px;
        }

        .rounded-top {
            border-radius: 4px 4px 0 0 !important;
        }

        .compayrbtn {
            background: #e71820;
            color: #fff;
            border-radius: 20px;
            padding: 3px 12px;
        }

            .compayrbtn:hover {
                color: #fff !important;
            }

        .padding_horizontal_20 {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }

        .no-margin-bottom {
            margin-bottom: 0 !important;
        }

        p {
            margin-top: 0;
            margin-bottom: 0px;
        }

        .topbox {
            background: #d1e9f9;
            padding: 15px;
            margin-bottom: 14px;
        }

        .boxborder {
            border: 1px solid #ccc;
            padding: 10px;
        }

        .filterhed {
            padding: 5px;
            color: #262566;
            font-weight: bold;
        }

        .seeingo {
            color: #1375b8 !important;
            font-weight: 100 !important;
            font-size: 15px;
        }

            .seeingo input:checked ~ .checkmark {
                background-color: #e32730 !important;
            }

        .fonticon {
            font-size: 20px;
            color: #2d83bd;
        }

        .fontheding {
            margin-left: 12px;
            font-size: 15px;
            color: #2d83bd;
        }

        .fontdetails {
            font-size: 13px;
            text-align: right;
        }

        .listbox {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 14px;
        }

            .listbox:hover {
                box-shadow: 10px 10px 20px rgba(171,171,176,0.88);
            }

        .bookbtn {
            padding: 13px 35px;
            border-top-right-radius: 30px;
            border-bottom-left-radius: 30px;
        }

        .emialcort {
            float: right;
            border: 1px solid #e71820;
            background: #e71820;
            padding: 10px 10px;
            border-radius: 30px;
            width: 20%;
            color: #fff;
        }

        .editcort {
            text-align: center;
            float: right;
            margin-left: 13px;
            border: 1px solid #e71820;
            background: #e71820;
            padding: 10px 10px;
            border-radius: 30px;
            width: 20%;
            color: #fff;
        }

        .permismcolr {
            font-size: 20px;
            width: 40%;
            border: 1px solid #0d75bc;
            padding: 5px;
            background: #fff;
            color: #2c83be;
        }

        .panel {
            margin-bottom: 20px;
            background-color: #fff;
            border: 1px solid transparent;
            border-radius: 21px !important;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
        }

        .text-center {
            text-align: center;
        }

        .panel-default > .panel-heading {
            color: #333;
            background-color: #f5f5f5;
            border-color: #ddd;
            border-radius: 23px !important;
        }

        .panel-heading {
            color: #fff;
            padding: 5px 15px;
        }

        .panel-heading {
            padding: 10px 15px;
            border-bottom: 1px solid transparent;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        .panel-title {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 16px;
            color: inherit;
        }

        .no-padding {
            padding: 0 !important;
        }

        .panel-body {
            padding: 15px;
        }

        .color-orange {
            color: #3c3595;
        }

        .formcontlbord {
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            border-radius: 0px;
            border-radius: 0px;
        }

        .section1, .section2, .section3, .section4 {
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
            padding: 20px 30px;
            border-radius: 4px;
        }
        .cmposion {
            position: absolute;
            right: 22px;
            margin-top: -35px;
            font-weight: 100;
            color: #ccc;
        }
        .form-control:disabled, .form-control[readonly] {
            background-color:#fff!important;
        }
        .custdropdown {
            color: #262566;
            border: 1px solid #ccc;
            background-color: #ffffff;
            border-radius: 4px;
            font-size: 14px !important;
            width: 175px;
            height: 30px;
        }
        }
        .detailbox {

        }
    </style>
    }
    <div class="topboxc">
        <div class="container-fluid topbox">
            <div class="row">
                <div class="col-sm-4">
                    <h3 style="margin-top: 10px;">Compare Health Insurance</h3>
                </div>
                <div class="col-sm-8">
                    <a href="/health/helthsearch" class="editcort">Edit Details</a>
                    <span class="emialcort permismcolr" id="spTotalPremium" style="text-align: center;">- - -</span>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="">
            <div class="col-sm-12">
                <div class="row">
                    <div class="col-sm-9 form-group">
                        <div class="col-sm-12">
                            <div id="msform">
                                <ul id="progressbar">
                                    <li class="active">Selected Plan</li>
                                    <li class="linext2">Proposer's Details </li>
                                    <li class="linext3">Insured Details</li>
                                    <li class="linext4">Medical History</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12 form-group boxpro">
                            <fieldset class="section1" id="fdselectedplansection">
                                <div class="col-sm-12" id="divSelectedPlanSection">
                                    <p class="text-center" style="font-size: 25px;padding: 5%;">Please wait, we are fetching details... <i class="fa fa-spinner fa-pulse"></i></p>
                                </div>
                                <div class="col-sm-12">
                                    <button class="next1 default-btn pull-right designbtn btnwdth" id="btnNextSelectedPlan" onclick="return NextSelectedPlan();">NEXT</button>
                                </div>
                            </fieldset>
                            <fieldset class="section2" id="fdproposerdetails" style="display: none;">
                                <div class="col-sm-12">
                                    <div class="row form-group" style="padding: 10px;">
                                        <div class="col-sm-2 form-validation">
                                            <select class="form-control formcontlbord" id="ddlPTitle">
                                                <option value="">Title</option>
                                                <option value="mr.">Mr.</option>
                                                <option value="mrs.">Mrs.</option>
                                                <option value="ms.">Ms.</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4 form-validation">
                                            <input type="text" class="form-control formcontlbord" id="txtPFirstName" placeholder="First Name *" onkeypress="return IsAlphabet(event)" />
                                        </div>
                                        <div class="col-sm-4 form-validation">
                                            <input type="text" class="form-control formcontlbord " id="txtPLastName" placeholder="Last Name *" onkeypress="return IsAlphabet(event)" />
                                        </div>
                                        <div class="col-sm-2 form-validation">
                                            <select class="form-control formcontlbord" id="ddlPMStatus">
                                                <option value="">Marital Status</option>
                                                <option value="Single">Single</option>
                                                <option value="Married">Married</option>
                                                <option value="Divorced">Divorced</option>
                                                <option value="Widow">Widow</option>
                                                <option value="Separated">Separated</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group" style="padding: 10px;">
                                        <div class="col-sm-4 form-validation">
                                            <input type="text" class="form-control formcontlbord" maxlength="10" onkeypress="return isNumberOnlyKeyNoDot(event)" id="txtPMobile" placeholder="Mobile No *" onchange="return CheckMobileNumber('txtPMobile','notpmobvalid');" />
                                            <span class="notpmobvalid"></span>
                                        </div>
                                        <div class="col-sm-4 form-validation">
                                            <input type="text" class="form-control formcontlbord CommanDateWithYr" readonly id="txtPDOB" autocomplete="off" placeholder="Date Of Birth" onchange="return CalculateAge('txtPDOB');" />
                                            <span class="notpdobvalid"></span>
                                        </div>
                                        <div class="col-sm-4 form-validation">
                                            <input type="text" class="form-control formcontlbord " id="txtPEmail" placeholder="Email id *" onchange="return CheckEmailAddress(event)" />
                                            <span class="notp_email" style="color: rgb(0, 163, 0);display:none;"></span>
                                        </div>
                                    </div>
                                    <div class="row form-group" style="padding: 10px;">
                                        <div class="col-sm-4 form-validation">
                                            <input type="text" class="form-control formcontlbord" id="txtPAddress1" maxlength="60" placeholder="Address line 1*" onkeypress="return isAlphaNumericWithSpace(event);" />
                                        </div>
                                        <div class="col-sm-4 form-validation">
                                            <input type="text" class="form-control formcontlbord" id="txtPAddress2" maxlength="60" placeholder="Address line 2*" onkeypress="return isAlphaNumericWithSpace(event);" />
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control formcontlbord " id="txtPLandmark" placeholder="Landmark" onkeypress="return isAlphaNumericWithSpace(event);" />
                                        </div>
                                    </div>
                                    <div class="row form-group" style="padding: 10px;">
                                        <div class="col-sm-4 form-validation">
                                            @*<input type="text" class="form-control formcontlbord" autocomplete="off" id="txtPPincode" placeholder="Pincode*" onkeypress="return isNumberOnlyKeyNoDot(event)" onkeyup="return CheckAndGetDetails()" maxlength="6" disabled />*@
                                            <input type="text" class="form-control formcontlbord" autocomplete="off" id="txtPPincode" placeholder="Pincode*" onkeypress="return isNumberOnlyKeyNoDot(event)" maxlength="6" disabled />
                                            <input type="hidden" id="hdnState" />
                                            <span class="notpincodevalid hidden" style="position: absolute;top: 10px;right: 15px;"></span>
                                        </div>
                                        <div class="col-sm-4 form-validation">
                                            @*<input type="text" class="form-control formcontlbord" id="txtPState" placeholder="State*" readonly="readonly" />*@
                                            <select class="form-control formcontlbord" id="ddlCityList">
                                                <option value="0">Select City</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4 form-validation">
                                            @*<input type="text" class="form-control formcontlbord" id="txtPCity" placeholder="City*" readonly="readonly" />*@
                                            <select class="form-control formcontlbord" id="ddlAreaList">
                                                <option value="0">Select Area</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group" style="padding: 10px;">
                                        <div class="col-sm-4 form-validation">
                                            <input type="text" class="form-control formcontlbord" id="txtPPan" placeholder="Pan Number" maxlength="10" onkeypress="return isAlphaNumeric(event);" onchange="return CheckPanNumber();" style="text-transform: uppercase;" />
                                            <span class="notp_pan" style="color: rgb(0, 163, 0);display:none;"></span>
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control formcontlbord" id="txtPAadhar" placeholder="AAdhar Number" maxlength="12" onkeypress="return isNumberOnlyKeyNoDot(event);" style="text-transform: uppercase;" />
                                        </div>
                                        <div class="col-sm-4 form-validation">
                                            <select class="form-control formcontlbord" id="ddlAnualIncome">
                                                <option value="">Select Annual Income</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group" style="padding: 10px;">
                                        <div class="col-sm-12" style="    margin: 10px;">
                                            <label class="seeingo" style="color: #777777!important;">
                                                Does any member
                                                proposed to be insured, suffered or are suffering from any adverse medical condition of any kind especially Heart/Stroke/ Cancer/Renal disorder/Alzheimer's disease/Parkinson’s disease?
                                                <input type="checkbox" class="submenuclass" id="chkHavingCriticalIllness" name="chkHavingCriticalIllness" />
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="col-sm-12 " style="    margin: 10px;">
                                            <label class="seeingo" style="color: #777777!important;">
                                                Is Proposer and Insured Person Same ?
                                                <input type="checkbox" class="submenuclass" id="chkIsProposerInsured" name="chkIsProposerInsured" />
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                        <div class="col-sm-12" style="    margin: 10px;">
                                            <label class="seeingo" style="color: #777777!important;">
                                                Is Proposer and Nominee Person Same ?
                                                <input type="checkbox" class="submenuclass" id="chkIsPropNominee" name="chkIsPropNominee" checked="checked" />
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="col-sm-12">
                                        <button class="next1 default-btn pull-right designbtn btnwdth" style="opacity:0.3" id="btnNextProposerDetails" disabled onclick="return NextProposerDetails();">NEXT</button>
                                        <button class="previous1 prvbtn btn btn-success pull-left prev designbtn btnwdth" onclick="return GoToSelectedPlan()">PREVIOUS</button>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="section3" id="fdInsuredDetails" style="display:none;"></fieldset>
                            <fieldset class="section4 " id="fdMedicalHistory" style="display:none;">
                                <div class="col-sm-12">
                                    <div class="row form-group">
                                        <div class="col-sm-12">
                                            <h4>Medical History</h4>
                                        </div>
                                        <div class="col-sm-12" id="divMedicalHistoryDetail"></div>
                                        <div class="col-sm-12" style="margin-top: 20px;">
                                            <button class="next1 default-btn pull-right designbtn btnwdth" id="btnPerposalLastSubmit" onclick="return PerposalLastSubmit();">Submit</button>
                                            <button class="previous3 prvbtn btn btn-success pull-left prev designbtn btnwdth">PREVIOUS</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-sm-3 detailbox form-group" id="divProductDetails" style=" flex: 0 0 24%; border: 1px solid #ccc; padding: 6px;">
                        <p class="text-center" style="font-size: 20px;padding: 5%;margin-top: 40%;">Please wait,<br />We are fetching details... <i class="fa fa-spinner fa-pulse"></i></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <button type="button" style="display:none!important" id="PMButton" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#HealthPerposalModal"></button>
    <div class="modal fade" id="HealthPerposalModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document" style="margin-top: 10%;">
            <div class="modal-content" id="divPerposalModal">
                <p class="text-center" style="font-size: 20px;padding: 10%;">Please wait... <i class="fa fa-spinner fa-pulse"></i></p>
            </div>
        </div>
    </div>

    <button type="button" class="btn btn-primary AddonClick" style="display:none!important;" data-backdrop="static" data-keyboard="false" data-toggle="modal" data-target="#AddonProcessModal"></button>
    <div class="modal fade" id="AddonProcessModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" style="margin-top: 15%;">
            <button type="button" id="AddonClose" style="display:none;" class="close" data-dismiss="modal" aria-label="Close"></button>
            <div class="modal-content">
                <div class="modal-body" style="text-align: center;padding: 10%;">
                    <img src="~/Content/images/processing2.gif" />
                </div>
            </div>
        </div>
    </div>
    @section footer{
        <script src="~/Content/js/custom/common.js?v=1"></script>
        <script src="~/Content/js/health/createproposal.js?v=1.3"></script>
        <script src="~/Content/js/custom/DatePicker.js?v=1"></script>

        <script>
            function openCity(evt, cityName) {
                var i, tabcontent, tablinks;
                tabcontent = document.getElementsByClassName("tabcontent");
                for (i = 0; i < tabcontent.length; i++) {
                    tabcontent[i].style.display = "none";
                }
                tablinks = document.getElementsByClassName("tablinks");
                for (i = 0; i < tablinks.length; i++) {
                    tablinks[i].className = tablinks[i].className.replace(" active", "");
                }
                document.getElementById(cityName).style.display = "block";
                evt.currentTarget.className += " active";
            }
        </script>
    }