﻿@model IEnumerable<insurance.Areas.AdminArea.Models.AdminArea_Motor.NCBPercentage>
@{
    ViewBag.Title = "NCBList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-sm-4">
                <h2><i class="fa fa-list"></i>&nbsp;NCB List</h2>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <table class="table table-bordered text-center" data-toggle="table">
                <thead>
                    <tr style="background:#f6f6f6;">
                        <th class="text-center">ID</th>
                        <th class="text-center">NCB Percentage</th>
                        <th class="text-center">NCB GoDigit</th>
                        <th class="text-center">NCB ShriRam</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Model.Count() > 0 && Model != null)
                    {
                        foreach (var item in Model)
                        {
        <tr class="companylistcss" id="@item.ID" data-product_id="@item.ID">
            <td>@item.ID</td>
            <td>@item.ncbpercentage</td>
            <td>@item.ncbgodigit</td>
            <td>@item.ncbshriram</td>

        </tr> }
        <tr class="norecordfound hidden">
            <td colspan="6" class="text-center text-danger">No record found !</td>
        </tr> }
                    else
                    {
        <tr class="norecordfound">
            <td colspan="6" class="text-center text-danger">No record found !</td>
        </tr>}
                </tbody>
            </table>
        </div>
    </div>
</div>