﻿h2 {
    font-size: 18px;
    font-weight: 400;
}

.x_panel {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    padding: 10px 17px;
    display: inline-block;
    background: #fff;
    border: 1px solid #E6E9ED;
    -webkit-column-break-inside: avoid;
    -moz-column-break-inside: avoid;
    column-break-inside: avoid;
    opacity: 1;
    -webkit-transition: all .2s ease;
    transition: all .2s ease
}

.x_title {
    border-bottom: 2px solid #E6E9ED;
    padding: 1px 5px 6px;
    margin-bottom: 10px
}

    .x_title .filter {
        width: 40%;
        float: right
    }

    .x_title h2 {
        margin: 5px 0 6px;
        float: left;
        display: block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap
    }

        .x_title h2 small {
            margin-left: 10px
        }

    .x_title span {
        color: #BDBDBD
    }

.x_content {
    padding: 0 3px 6px;
    position: relative;
    width: 100%;
    float: left;
    clear: both;
    margin-top: 5px
}

    .x_content h4 {
        font-size: 16px;
        font-weight: 500
    }

.event .media-body p {
    margin-bottom: 0;
}

.event .media-body a.title {
    font-weight: bold;
}

.aero {
    color: #9CC2CB;
}

.media .profile_thumb i {
    font-size: 30px;
}

.media .profile_thumb {
    border: 1px solid;
    width: 50px;
    height: 50px;
    margin: 5px 10px 5px 0;
    border-radius: 50%;
    padding: 9px 12px;
}

.border-aero {
    border-color: #9CC2CB !important;
}

ul.top_profiles li {
    margin: 0;
    padding: 3px 5px;
}

    ul.top_profiles li:nth-child(odd) {
        background-color: #eee;
    }

ul.top_profiles {
    width: 100%;
}

.green {
    color: #1ABB9C;
}

.blue {
    color: #3498DB;
}

.pmar2 {
    margin-top: -9px;
}

.pmar {
    margin-top: -10px;
}

.h4hed {
    font-size: 40px;
    margin-bottom: 0px;
    line-height: 47px;
    font-weight: 600;
}
.MenuBack {
    background: #ededed !important;
    min-height: 500px;
    margin-top: 117px;
    box-shadow: 0px 0px 8px;
}
@media screen and (max-width:700px) {
    .MenuBack {
        background: #ededed !important;
        min-height: 275px !important;
        margin-top: 72px !important;
        box-shadow: 0px 0px 8px;
    }
    .margin_topMenu {
        margin-top: 29px !important;
    }
    p {
        font-size: 12px !important;
    }
    .rowbotmbordr {
        border-bottom: 1px solid #ccc;
    }
    .widhth33 {
        width: 33.3%;
    }
    .widhth50 {
        width: 50%;
    }
    .borderright {
        border-right: 2px solid #02528e;
    }
    .h4, h4 {
        font-size: 15px !important;
    }
}