﻿@model insurance.Areas.AdminArea.Models.AdminArea_Account.Account.MemberLogin

@{
    ViewBag.Title = "AddEditMemberRegistration";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@section header{
    <style>
        .requiredstrik {
            color: red;
        }
    </style>
}
<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-plus-square"></i>&nbsp;Add / Edit Member</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li class="dropdown">
                <div class="text-right">
                    <a href="/registration/member-list" class="btn btn-primary btn-sm"><span class="fa fa-reply" style="color:#fff!important;"></span>&nbsp;Member List</a>
                </div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <br />
        <div class="item form-group">
            <label class="col-form-label col-md-2 col-sm-2">
                First Name <span class="requiredstrik">*</span>
            </label>
            <div class="col-md-4 col-sm-4 form-validation">
                @Html.TextBoxFor(p => p.FirstName, new { @class = "form-control", placeholder = "Enter First Name" })
            </div>
            <label class="col-form-label col-md-2 col-sm-2">
                First Name <span class="requiredstrik">*</span>
            </label>
            <div class="col-md-4 col-sm-4 form-validation">
                @Html.TextBoxFor(p => p.LastName, new { @class = "form-control", placeholder = "Enter Last Name" })
            </div>
        </div>
        <div class="item form-group">
            <label class="col-form-label col-md-2 col-sm-2">
                Email Id <span class="requiredstrik">*</span>
            </label>
            <div class="col-md-4 col-sm-4 form-validation">
                @Html.TextBoxFor(p => p.EmailId, new { @class = "form-control", placeholder = "Enter Email Id" })
            </div>
            <label class="col-form-label col-md-2 col-sm-2">
                Mobile <span class="requiredstrik">*</span>
            </label>
            <div class="col-md-4 col-sm-4 form-validation">
                @Html.TextBoxFor(p => p.MobileNo, new { @class = "form-control", placeholder = "Enter Mobile No.", onkeypress = "return isNumberOnlyKeyNoDot(event);" })
            </div>
        </div>
        <div class="item form-group">
            <label class="col-form-label col-md-2 col-sm-2">
                Role <span class="requiredstrik">*</span>
            </label>
            <div class="col-md-4 col-sm-4 form-validation">
                @Html.DropDownListFor(m => m.RoleId, Model.RoleList, "-- Select Role --", new { @class = "form-control", style = "color:#7a7777e0" })
            </div>
            <label class="col-form-label col-md-2 col-sm-2">
                Image
            </label>
            <div class="col-md-4 col-sm-4">
                <div class="row">
                    @*@if (!string.IsNullOrEmpty(Model.Image))
                        {
                            <div class="col-sm-2" style="background-image:url('@Model.Image'); background-position: center; background-size: cover;border-radius: 5px;"></div>
                            @Html.HiddenFor(p => p.Image)
                        }*@
                    <div class="col-sm-12">
                        <input type="file" name="files" id="fluStaffPhoto" class="form-control">
                    </div>
                </div>
            </div>
        </div>
        <div class="item form-group">
            <label class="col-form-label col-md-2 col-sm-2">
                User Id <span class="requiredstrik">*</span>
            </label>
            <div class="col-md-4 col-sm-4 form-validation">
                @if (Model.LoginId > 0)
                {
                    @Html.TextBoxFor(p => p.UserId, new { @class = "form-control", disabled = "disabled", placeholder = "Enter UserId", @onkeyup = "CheckUserId()" })
                }
                else
                {
                    @Html.TextBoxFor(p => p.UserId, new { @class = "form-control", placeholder = "enter user id", @onkeyup = "CheckUserId()" })
                }
                <span class="pull-right text-danger hidden useridexist"></span>
            </div>
            <label class="col-form-label col-md-2 col-sm-2">
                Password <span class="requiredstrik">*</span>
            </label>
            <div class="col-md-4 col-sm-4 form-validation">
                @Html.TextBoxFor(p => p.Password, new { @class = "form-control", placeholder = "Enter Password" })
            </div>
        </div>
        <div class="ln_solid"></div>
        <div class="item form-group">
            <div class="col-md-12 col-sm-12">
                <button type="submit" id="btnMemberSubmit" class="btn btn-success pull-right" onclick="MemberSubmitEvt();">Submit</button>
            </div>
        </div>
        <div>
            @if (!string.IsNullOrEmpty(Model.Image))
            {
                <div>
                    <div>Image Preview</div>
                    <br />
                    <div class="col-sm-4" style=" background-position: center; background-size: cover; border-radius: 5px; height: 400px; width: 400px;padding: 0;">
                        <img src="@Model.Image" alt="Image Not Found" style=" max-height: 100%; max-width: 100%;" />
                    </div>
                </div>
                @Html.HiddenFor(p => p.Image)
            }
        </div>
    </div>
</div>



@section footer
{
    <script src="~/Areas/AdminArea/Content/customjquery/registration.js"></script>
}