﻿@model insurance.Models.Custom.FrontAgencyModel.CreateAgency
@{
    ViewBag.Title = "AgentDetails";
    Layout = "~/Views/Shared/_PopupLayoutPage.cshtml";
}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" style="border: 1px solid #cccc;">
            <h4 class="text-center" style="border-bottom: 1px solid #ccc;padding: 7px;margin-top: -6px;">Map Agent</h4>
            @if (TempData["Message"] != null)
            {

                <div class="row form-group">
                    <div class="col-sm-12">
                        <h4 class="text-center text-success">Agent Updated successfully</h4>
                    </div>
                </div>
            }
            else
            {
                <div class="row form-group">
                    <div class="col-sm-5">
                        <label>AgencyID: <span>@Model.AgencyID</span></label>
                    </div>
                    <div class="col-sm-7">
                        <label>Agency Name : <span>@Model.AgencyName</span></label>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-5">
                        <label>UserID: <span>@Model.UserId</span></label>
                    </div>
                    <div class="col-sm-7">
                        <label>Email: <span>@Model.BusinessEmailID</span></label>
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-5">
                        <label>Phone No: <span>@Model.BusinessPhone</span></label>
                    </div>
                    <div class="col-sm-7">
                        <label>Ref By: <span>@Model.RefreceByName</span></label>
                    </div>
                </div>
                using (Html.BeginForm("AgentDetails", "Backend_Registration", new { agencyid = Model.AgencyID }))
                {
                    @Html.HiddenFor(m => m.UserId)
                    @Html.HiddenFor(m => m.Password)
                    @Html.HiddenFor(m => m.AgencyName)
                    @Html.HiddenFor(m => m.BusinessEmailID)
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <label>Branch</label>
                            @Html.DropDownListFor(m => m.Branch, Model.branchList, "-- Select branch. --", new { @class = "form-control " })
                        </div>
                        <div class="col-sm-6">
                            <label>Ref By</label>
                            @Html.DropDownListFor(m => m.ReferenceBy, Model.RefByList, "-- Select Sales Ref. --", new { @class = "form-control " })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <label>Group Type</label>
                            @Html.DropDownListFor(m => m.GroupType, Model.GroupTypeList, "-- Select GroupType--", new { @class = "form-control " })
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12 form-group">
                            <input type="submit" class="btn btn-success" value="Update" style="margin-left: auto; margin-right: auto;display: block;" />
                        </div>
                    </div>
                }
            }
        </div>
    </div>
</div>