﻿@model insurance.Models.Custom.FrontAgencyModel.CreateAgency

@{
    ViewBag.Title = "AgencyRegistration";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
@*<link href="https://colorlib.com/polygon/vendors/nprogress/nprogress.css" rel="stylesheet">
    <link href="https://colorlib.com/polygon/build/css/custom.min.css" rel="stylesheet">*@
<div class="x_panel">
    <div class="x_title">
        <h2><i class="fa fa-plus-square"></i>&nbsp;Agency Registration</h2>
        <ul class="nav navbar-right panel_toolbox">
            <li class="dropdown">
                <div class="text-right">
                    <a href="/registration/agency-list" class="btn btn-primary btn-sm"><span class="fa fa-reply" style="color:#fff!important;"></span>&nbsp;Agency List</a>
                </div>
            </li>
        </ul>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        @if (TempData["Message"] != null)
        {
            <div class="col-lg-12">
                <div class="alert alert-success" id="closeMessage">
                    <strong>Success!</strong> Record submitted successfully!
                </div>
            </div>
        }

        @using (Html.BeginForm("CreateAgency", "Backend_Registration", new { agencyid = Model.AgencyID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.Partial("_AgencyRegistration1")
        }
    </div>
</div>