﻿@model insurance.Models.Custom.FrontAgencyModel.CreateAgency

@{
    ViewBag.Title = "AgencyRegistrationList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
    @*<a href="~/Views/Shared/_AgencyInnerLayoutPage.cshtml">~/Views/Shared/_AgencyInnerLayoutPage.cshtml</a>_AdminLayoutPage*@
}
<link href="~/Areas/AdminArea/Content/fancybox/jquery.fancybox.css" rel="stylesheet" />
<style>
    a.btn-success, a.btn-primary, a.btn-warning, a.btn-danger {
        color: #fff !important;
    }
</style>
<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-sm-4">
                <h2><i class="fa fa-list"></i>&nbsp;Agency List</h2>
            </div>
            <div class="col-sm-8">
                <div class="text-right">
                    <a href="/registration/add-edit-agency" class="btn btn-primary btn-sm pull-right"><span class="fa fa-plus-circle" style="color: #ffffff;"></span> Add New Agency</a>
                    <a href="/registration/agency-list?status=deactive" class="btn btn-info btn-sm pull-right"><span class="fa fa-plus-circle" style="color: #ffffff;"></span> New Registration</a>
                    <a href="/registration/agency-list" class="btn btn-success btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> Active List</a>
                    <a href="/registration/agency-list?status=all" class="btn btn-primary btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> All List</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-sm-12 searchpanel">
                <div class="row input-group col-sm-4 col-xs-12">
                    <input type="text" class="form-control" id="txtAgencySearch" placeholder="Search by agency name">
                </div>
            </div>
            <input type="hidden" id="totalrecord" value="@Model.AgencyList.Count" />
            <div class="col-sm-12">
                <div class="table-responsive text-nowrap" style="overflow-y:auto;">
                    <table class="table table-responsive table-bordered" data-toggle="table">
                        <thead>
                            <tr style="background:#f6f6f6;">
                                <th>Action</th>
                                @*<th>Approved</th>*@
                                <th>Agency&nbsp;Id</th>
                                <th>Agency&nbsp;Name</th>
                                <th>City&nbsp;Name</th>
                                <th>User&nbsp;Id</th>
                                <th>Group&nbsp;ID</th>
                                <th>Email&nbsp;ID</th>
                                <th>Phone&nbsp;No</th>
                                <th>Ref.&nbsp;By</th>
                                <th>Last&nbsp;Login&nbsp;Date</th>
                                <th>Status</th>
                                <th>Update Agent</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.AgencyList.Count > 0 && Model.AgencyList != null)
                            {
                                foreach (var item in Model.AgencyList.ToList())
                                {
                                    <tr id="@item.AgencyID" class="agencylistcss" data-agencyname="@item.AgencyName">
                                        <td>
                                            <a data-fancybox-type="iframe" data-fancybox-href="/registration/agency-deatils?agencyid=@item.AgencyID" class="btn btn-success btn-sm saurav2" data-toggle="Edit" title="Edit"><span class="fa fa-edit"></span> Map Agent</a>
                                        </td>
                                        <td><span>SI</span>@item.AgencyID</td>
                                        <td>@item.AgencyName</td>
                                        <td>@item.CityName</td>
                                        <td>@item.UserId <span style="display:none;">@item.Password</span></td>
                                        <td>@item.GroupType</td>
                                        <td>@item.BusinessEmailID</td>
                                        <td>@item.BusinessPhone</td>
                                        <td>@item.ReferenceBy</td>
                                        <td>@item.AgencyLastLoginDate</td>
                                        <td>@item.Status</td>
                                        <td>
                                            @if (item.Status)
                                            {
                                                <a href="/registration/add-edit-agency?agencyid=@item.AgencyID" class="btn btn-success btn-sm" data-toggle="Edit" title="Edit"><span class="fa fa-edit"></span></a>
                                                <span id="deleteagency_@item.AgencyID" onclick="AgencyStatusUpdator(@item.AgencyID,false)" style="cursor: pointer;" data-agencyid="@item.AgencyID" class="btn btn-danger btn-sm deleteagency" data-toggle="InActive" title="InActive"><span class="fa fa-trash" id="delagencyspan_@item.AgencyID"></span></span>
                                            }
                                            else
                                            {
                                                <span id="restoreagency_@item.AgencyID" onclick="AgencyStatusUpdator(@item.AgencyID,true)" style="cursor: pointer;color:#fff;" data-agencyid="@item.AgencyID" class="btn btn-warning btn-sm restoreagency" data-toggle="Active" title="Active"><span class="fa fa-undo" id="restoreagencyspan_@item.AgencyID"></span></span>
                                            }
                                        </td>
                                    </tr>
                                }
                                <tr class="norecordfound hidden">
                                    <td colspan="15" class="text-center text-danger">No record found !</td>
                                </tr>
                            }
                            else
                            {
                                <tr class="norecordfound">
                                    <td colspan="15" class="text-center text-danger">No record found !</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
@*<script src="~/Content/js/bootstrap-table.js"></script>*@
@section footer
{
   
    <script src="~/Areas/AdminArea/Content/fancybox/jquery.fancybox.js"></script>
    <script src="~/Areas/AdminArea/Content/customjquery/agency.js"></script>
    @*<script src="~/Content/js/custom/common.js"></script>*@    

    <script>
        function AgencyStatusUpdator(id, status) {

            $.ajax({
                type: "Post",
                url: "/Backend_Registration/AgencyStatusUpdator",
                data: '{id: ' + JSON.stringify(id) + ',status:' + JSON.stringify(status) + '}',
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    if (data[0] == "Success") {
                        if (status == true) {
                            alert("Item restored successfully");
                            $("#" + id).remove();
                        }

                        else {
                            alert("Item deleted successfully");
                            $("#" + id).remove();
                        }
                    }
                }
            });
        }

        $(".saurav2").fancybox({ openEffect: "elastic", closeEffect: "elastic", prevEffect: "fade", nextEffect: "fade", fitToView: !0, maxWidth: "768px", helpers: { overlay: { css: { background: "transparent", filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#F22a2a2a,endColorstr=#F22a2a2a)", zoom: "1", background: "rgba(0, 0, 0, 0.5)" } } }, afterClose: function () { parent.location.reload(!1) } });

    </script>

}