﻿@model insurance.Areas.AdminArea.Models.AdminArea_Account.Account.MemberLogin

@{
    ViewBag.Title = "MemberRegistrationList";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-sm-4">
                <h2><i class="fa fa-list"></i>&nbsp;Member Registration List</h2>
            </div>
            <div class="col-sm-8">
                <div class="text-right">
                    <a href="/registration/add-edit-member" class="btn btn-primary btn-sm pull-right"><span class="fa fa-plus-circle" style="color: #ffffff;"></span> Add New Member</a>
                    <a href="/registration/member-list?status=deactive" class="btn btn-danger btn-sm pull-right"><span class="fa fa-trash-o" style="color: #ffffff;"></span> Deactive List</a>
                    <a href="/registration/member-list" class="btn btn-success btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> Active List</a>
                    <a href="/registration/member-list?status=all" class="btn btn-primary btn-sm pull-right"><span class="fa fa-list-alt" style="color: #ffffff;"></span> All List</a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-sm-12 searchpanel">
                <div class="row input-group col-sm-4 col-xs-12">
                    <input type="text" class="form-control" id="txtMemberSearch" placeholder="Search by member name">
                </div>
            </div>
            <input type="hidden" id="totalrecord" value="@Model.MemberList.Count" />
            <div class="col-sm-12">
                <div class="table-responsive text-nowrap">
                    <table class="table" data-toggle="table">
                        <thead>
                            <tr style="background:#f6f6f6;">
                                <th>Name</th>
                                <th>Role</th>
                                <th>Email ID</th>
                                <th>Mobile</th>
                                <th>User Id</th>
                                <th>Password</th>
                                <th>Status</th>
                                <th>Image</th>
                                <th>Created&nbsp;Date</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.MemberList.Count > 0 && Model.MemberList != null)
                            {
                                foreach (var item in Model.MemberList.OrderBy(p => p.FirstName).ToList())
                                {
                                    <tr class="memberlistcss" data-membername="@(item.FirstName + " " + item.LastName)">
                                        <td>@(item.FirstName + " " + item.LastName)</td>
                                        <td>@item.RoleName</td>
                                        <td>@item.EmailId</td>
                                        <td>@item.MobileNo</td>
                                        <td>@item.UserId</td>
                                        <td>@item.Password</td>
                                        <td>@(item.Status == true ? "Active" : "Deactive")</td>
                                        <td><img src="@item.Image" style="width: 50px;height: 50px;"></td>
                                        <td>@item.CreatedDate</td>
                                        <td>
                                            @if (item.Status)
                                            {
                                                <a href="/registration/add-edit-member?memberid=@item.LoginId" class="btn btn-success btn-sm" data-toggle="Edit" title="Edit"><span class="fa fa-edit"></span></a>
                                                <span id="deletemember_@item.LoginId" style="cursor: pointer;" data-memberid="@item.LoginId" class="btn btn-danger btn-sm deletemember" data-toggle="InActive" title="InActive"><span class="fa fa-trash" id="delmemberspan_@item.LoginId"></span></span>
                                            }
                                            else
                                            {
                                                <span id="restoremember_@item.LoginId" style="cursor: pointer;color:#fff;" data-memberid="@item.LoginId" class="btn btn-warning btn-sm restoremember" data-toggle="Active" title="Active"><span class="fa fa-undo" id="restorememberspan_@item.LoginId"></span></span>
                                            }
                                        </td>
                                    </tr>
                                }
                                <tr class="norecordfound hidden">
                                    <td colspan="10" class="text-center text-danger">No record found !</td>
                                </tr>
                            }
                            else
                            {
                                <tr class="norecordfound">
                                    <td colspan="10" class="text-center text-danger">No record found !</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section footer
{
    <script src="~/Areas/AdminArea/Content/customjquery/registration.js"></script>
}