﻿@model IEnumerable<System.String>
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ASCIIEncoder</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

</head>
<body>
    <div class="hidden" id="home" style="display:none">
        <div>
            <select id="CatalogStrings">
                @foreach (var item in Model)
                {
                    <option value="@item">@item</option>
                }

            </select>
        </div>

        <div style="margin-top:20px;">
            <select id="tableList"></select>

            <input placeholder="Offset" id="offsetValue">
            <input placeholder="Fetch" id="fetchValue">
            <div><input placeholder="Order By" value="(SELECT NULL)" id="orderPara"> <label>Default (SELECT NULL)</label></div>
            <select id="orderby"><option value="asc">Asc</option><option value="desc">Desc</option></select>

            <button id="getRecord_btn">Get Record</button>
            <button id="clear_btn">Clear</button>
        </div>


        <div class="hidden" id="columnList" style="margin-top:20px;"></div>        
        <textarea class="hidden" id="tdata" style="margin-top:20px; width:100%; height: 200px;"></textarea>
        <div id="dataTable" class="hidden" style="margin-top:20px; width:100%;"></div>
        <div class="hidden" id="updateDiv" style="margin-top:20px; width:100%;  border-top:2px dashed black; border-bottom:2px dashed black; padding:10px 0 10px 0">
            <label>UPDATE</label>  <input placeholder="table name" id="tabValue"><br />
            <label>SET</label>
            <textarea id="colValue" style="width:100%; height: 50px;"></textarea>
            <label>WHERE</label>
            <textarea id="whereValue" style="width:100%; height: 50px;"></textarea>
            <button id="updateRecord_btn">Update Record</button>
        </div>
    </div>

    

    <script>
        const _0x5723 = ['<label>Table\x20Name\x20:\x20', '21796tUUbZF', '17pTaGcm', '#errorModal', '#CatalogStrings\x20option:selected', 'colSpan', 'insertCell', '182361blEiXW', 'addClass', '#offsetValue', '#tableList', 'className', '#orderPara', 'display', '#orderby', '<div\x20class=\x27', ',cat:', '711777nwBUMX', '#tabValue', 'innerHTML', 'click', '</div><table\x20style=\x22width:100%\x22>', 'cells', '/Home/UpdateCatalogValues', 'Are\x20you\x20sure\x20want\x20to\x20update?', 'focusout', '#fetchValue', '#CatalogStrings', '#home', 'removeClass', 'json', '24nVbBBs', 'insertRow', 'table', '<div\x20class=\x27td_head\x27>', 'block', 'text', '#updateDiv', '#tdata', ',catalogPara:', '#updateRecord_btn', '#tableList\x20option:selected', 'empty', '#clear_btn', 'deleteRow', ',orderPara:', '#dataTable', 'val', '#getRecord_btn', '/Home/GetCatalogProperties', '</div>', '<div></div>', 'parseJSON', ',fetch:', '440591eCMNVw', 'table\x20table-striped\x20table-bordered', '</table>', '<div\x20class=\x22col-sm-2\x22\x20style=\x22border\x20:\x202px\x20dotted\x20black\x22><label>', 'application/json;\x20charset=utf-8', 'height', 'hidden', 'asc', 'td_row_odd', '#colValue', 'show', '</label>', '(SELECT\x20NULL)', '106949HfYlpq', '<div\x20class=\x22td_head\x22></div><table\x20style=\x22width:100%\x22>', '926429obpxFq', ',set:', 'Post', 'ajax', '1FlNQxc', 'createElement', '{tab:', 'prototype', 'object', 'html', '#columnList', '[object\x20Array]', '#dataTable\x20table', 'split', '\x27>&nbsp;</div>', 'append', ',where:', 'toString', '#error_msg', '<div\x20class=\x27td_head\x27>&nbsp;</div>', 'focus', 'change', 'Initial\x20Catalog=', '<div\x20class=\x22td_head\x22>', ',offset:', 'length', 'stringify', '1186347EgGRwO']; const _0xf701c5 = _0x1df4; (function (_0x4eb5b5, _0x5e658d) { const _0x55f1a6 = _0x1df4; while (!![]) { try { const _0x465400 = parseInt(_0x55f1a6(0x1fc)) * -parseInt(_0x55f1a6(0x225)) + -parseInt(_0x55f1a6(0x21b)) + parseInt(_0x55f1a6(0x1f8)) + -parseInt(_0x55f1a6(0x213)) + -parseInt(_0x55f1a6(0x1e9)) + parseInt(_0x55f1a6(0x216)) * -parseInt(_0x55f1a6(0x215)) + -parseInt(_0x55f1a6(0x1d2)) * -parseInt(_0x55f1a6(0x1f6)); if (_0x465400 === _0x5e658d) break; else _0x4eb5b5['push'](_0x4eb5b5['shift']()); } catch (_0x247918) { _0x4eb5b5['push'](_0x4eb5b5['shift']()); } } }(_0x5723, 0x92dfd), $(function () { Catalog(); })); let clickCount = 0x0; $(document)[_0xf701c5(0x228)](function () { const _0x6ce5b5 = _0xf701c5; clickCount += 0x1, clickCount == 0x14 && ($(_0x6ce5b5(0x1cf))['removeClass'](_0x6ce5b5(0x1ef)), $(_0x6ce5b5(0x1cf))['css'](_0x6ce5b5(0x221), _0x6ce5b5(0x1d6))); }), $(_0xf701c5(0x1ce))[_0xf701c5(0x20d)](Catalog); function Catalog() { const _0x5d8336 = _0xf701c5; let _0x22f497 = $(_0x5d8336(0x218))[_0x5d8336(0x1e2)](), _0x81805f = _0x22f497[_0x5d8336(0x205)](_0x5d8336(0x20e))[0x1]['split'](';')[0x0]; $['ajax']({ 'type': _0x5d8336(0x1fa), 'url': _0x5d8336(0x1e4), 'data': '{catalogVal:' + JSON[_0x5d8336(0x212)](_0x81805f) + '}', 'contentType': _0x5d8336(0x1ed), 'datatype': 'json', 'success': function (_0x23fae2) { const _0x2bbd24 = _0x5d8336; let _0x2e86db = '<option\x20value=\x22\x22>--select--</option>'; for (let _0x5b6c28 = 0x0; _0x5b6c28 < _0x23fae2[_0x2bbd24(0x211)]; _0x5b6c28++) { _0x2e86db = _0x2e86db + '<option\x20value=\x22' + _0x23fae2[_0x5b6c28] + '\x22>' + _0x23fae2[_0x5b6c28] + '</option>'; } $(_0x2bbd24(0x21e))[_0x2bbd24(0x201)](_0x2e86db); } }); } $(_0xf701c5(0x21e))[_0xf701c5(0x20d)](CatalogParameters); function CatalogParameters() { const _0x4fc5c5 = _0xf701c5; let _0x537ba6 = $(_0x4fc5c5(0x218))[_0x4fc5c5(0x1e2)](), _0x36a62c = _0x537ba6[_0x4fc5c5(0x205)](_0x4fc5c5(0x20e))[0x1]['split'](';')[0x0], _0x1eb036 = $(_0x4fc5c5(0x1dc))[_0x4fc5c5(0x1e2)](); $[_0x4fc5c5(0x1fb)]({ 'type': 'Post', 'url': _0x4fc5c5(0x1e4), 'data': '{catalogVal:' + JSON[_0x4fc5c5(0x212)](_0x36a62c) + ',catalogPara:' + JSON[_0x4fc5c5(0x212)](_0x1eb036) + '}', 'contentType': _0x4fc5c5(0x1ed), 'datatype': _0x4fc5c5(0x1d1), 'success': function (_0x2241b4) { const _0x290958 = _0x4fc5c5; let _0x26a6c9 = _0x290958(0x214) + _0x1eb036 + _0x290958(0x1f4), _0x24e767 = ''; for (let _0xaab8d5 = 0x0; _0xaab8d5 < _0x2241b4['length']; _0xaab8d5++) { _0x24e767 = _0x24e767 + _0x290958(0x1ec) + _0x2241b4[_0xaab8d5] + '</label></div>'; } _0x24e767 = '<div\x20class=\x22row\x22>' + _0x24e767 + '</div>', $(_0x290958(0x202))[_0x290958(0x201)](_0x26a6c9), $(_0x290958(0x202))[_0x290958(0x207)](_0x24e767), $(_0x290958(0x202))[_0x290958(0x1d0)](_0x290958(0x1ef)); } }); } $(_0xf701c5(0x1e3))[_0xf701c5(0x228)](function () { const _0x57316a = _0xf701c5; let _0x401eef = $('#CatalogStrings\x20option:selected')['val'](), _0x2c2a5a = _0x401eef['split'](_0x57316a(0x20e))[0x1]['split'](';')[0x0], _0x3830a4 = $('#tableList\x20option:selected')[_0x57316a(0x1e2)](), _0x5080a2 = $(_0x57316a(0x21d))[_0x57316a(0x1e2)](), _0x5cf3bd = $(_0x57316a(0x1cd))[_0x57316a(0x1e2)](), _0x422811 = $(_0x57316a(0x220))[_0x57316a(0x1e2)](), _0x4000a0 = $(_0x57316a(0x222))[_0x57316a(0x1e2)](); $[_0x57316a(0x1fb)]({ 'type': 'Post', 'url': '/Home/GetCatalogValues', 'data': '{catalogVal:' + JSON[_0x57316a(0x212)](_0x2c2a5a) + _0x57316a(0x1da) + JSON['stringify'](_0x3830a4) + _0x57316a(0x210) + JSON[_0x57316a(0x212)](_0x5080a2) + _0x57316a(0x1e8) + JSON[_0x57316a(0x212)](_0x5cf3bd) + _0x57316a(0x1e0) + JSON[_0x57316a(0x212)](_0x422811) + ',orderBy:' + JSON[_0x57316a(0x212)](_0x4000a0) + '}', 'contentType': _0x57316a(0x1ed), 'datatype': 'json', 'success': function (_0x49887e) { const _0x1f9f80 = _0x57316a; $('#tdata')[_0x1f9f80(0x1e2)](_0x49887e), $(_0x1f9f80(0x1d9))[_0x1f9f80(0x1d0)](_0x1f9f80(0x1ef)), $(_0x1f9f80(0x1e1))[_0x1f9f80(0x201)](''), processJson2DataTable(), $(_0x1f9f80(0x1e1))[_0x1f9f80(0x1d0)]('hidden'), $('#updateDiv')['removeClass'](_0x1f9f80(0x1ef)); } }), $(_0x57316a(0x1d9))[_0x57316a(0x1ee)](0xc8); }), $(_0xf701c5(0x1de))[_0xf701c5(0x228)](function () { const _0x1f2905 = _0xf701c5; $(_0x1f2905(0x21d))[_0x1f2905(0x1e2)](''), $(_0x1f2905(0x1cd))[_0x1f2905(0x1e2)](''), $(_0x1f2905(0x220))[_0x1f2905(0x1e2)]('(SELECT\x20NULL)'), $(_0x1f2905(0x222))[_0x1f2905(0x1e2)](_0x1f2905(0x1f0)), $(_0x1f2905(0x202))[_0x1f2905(0x201)](''), $('#tdata')[_0x1f2905(0x201)](''), $(_0x1f2905(0x1d9))['addClass']('hidden'), $(_0x1f2905(0x1e1))['html'](''), $(_0x1f2905(0x1e1))[_0x1f2905(0x1d0)](_0x1f2905(0x1ef)), $(_0x1f2905(0x1d8))['addClass']('hidden'); }), $('#orderPara')[_0xf701c5(0x20c)](function () { const _0x23dc01 = _0xf701c5; $(this)[_0x23dc01(0x1e2)](''); }), $(_0xf701c5(0x220))[_0xf701c5(0x1cc)](function () { const _0x2a5ac2 = _0xf701c5; let _0x25f7cf = $(this)[_0x2a5ac2(0x1e2)](); (_0x25f7cf == null || _0x25f7cf == '') && $(this)[_0x2a5ac2(0x1e2)](_0x2a5ac2(0x1f5)); }), $(_0xf701c5(0x1db))[_0xf701c5(0x228)](function () { const _0x1ac94c = _0xf701c5; if (confirm(_0x1ac94c(0x1cb))) { let _0x16a04d = $(_0x1ac94c(0x226))['val'](), _0x4adf47 = $(_0x1ac94c(0x1f2))[_0x1ac94c(0x1e2)](), _0x5e65cd = $('#whereValue')[_0x1ac94c(0x1e2)](), _0x1780cc = $(_0x1ac94c(0x218))[_0x1ac94c(0x1e2)](), _0x27d858 = _0x1780cc[_0x1ac94c(0x205)](_0x1ac94c(0x20e))[0x1]['split'](';')[0x0]; $['ajax']({ 'type': _0x1ac94c(0x1fa), 'url': _0x1ac94c(0x22b), 'data': _0x1ac94c(0x1fe) + JSON[_0x1ac94c(0x212)](_0x16a04d) + _0x1ac94c(0x1f9) + JSON[_0x1ac94c(0x212)](_0x4adf47) + _0x1ac94c(0x208) + JSON['stringify'](_0x5e65cd) + _0x1ac94c(0x224) + JSON[_0x1ac94c(0x212)](_0x27d858) + '}', 'contentType': 'application/json;\x20charset=utf-8', 'datatype': _0x1ac94c(0x1d1), 'success': function (_0x6f8fb7) { alert(_0x6f8fb7); } }); } }); function processJson2DataTable() { const _0x1d073b = _0xf701c5; $(_0x1d073b(0x1e1))['html'](buildTable(getJsonVar())), $(_0x1d073b(0x204))[_0x1d073b(0x21c)](_0x1d073b(0x1ea)); } function buildTable(_0x5c6b00) { const _0x115414 = _0xf701c5; var _0x257bf3 = document[_0x115414(0x1fd)](_0x115414(0x1d4)), _0x546c0e, _0x3fcff4; if (isArray(_0x5c6b00)) return buildArray(_0x5c6b00); for (var _0x565b57 in _0x5c6b00) 'object' != typeof _0x5c6b00[_0x565b57] || isArray(_0x5c6b00[_0x565b57]) ? _0x115414(0x200) == typeof _0x5c6b00[_0x565b57] && isArray(_0x5c6b00[_0x565b57]) ? (_0x546c0e = _0x257bf3[_0x115414(0x1d3)](-0x1), _0x3fcff4 = _0x546c0e[_0x115414(0x21a)](-0x1), _0x3fcff4[_0x115414(0x219)] = 0x2, _0x3fcff4[_0x115414(0x227)] = _0x115414(0x20f) + encodeText(_0x565b57) + _0x115414(0x229) + $(buildArray(_0x5c6b00[_0x565b57]), !0x1)['html']() + _0x115414(0x1eb)) : (_0x546c0e = _0x257bf3[_0x115414(0x1d3)](-0x1), _0x3fcff4 = _0x546c0e[_0x115414(0x21a)](-0x1), _0x3fcff4[_0x115414(0x227)] = _0x115414(0x1d5) + encodeText(_0x565b57) + _0x115414(0x1e5), _0x546c0e = _0x546c0e['insertCell'](-0x1), _0x546c0e[_0x115414(0x227)] = '<div\x20class=\x27td_row_even\x27>' + encodeText(_0x5c6b00[_0x565b57]) + _0x115414(0x1e5)) : (_0x546c0e = _0x257bf3[_0x115414(0x1d3)](-0x1), _0x3fcff4 = _0x546c0e[_0x115414(0x21a)](-0x1), _0x3fcff4[_0x115414(0x219)] = 0x2, _0x3fcff4[_0x115414(0x227)] = _0x115414(0x20f) + encodeText(_0x565b57) + _0x115414(0x229) + $(buildTable(_0x5c6b00[_0x565b57]), !0x1)['html']() + _0x115414(0x1eb)); return _0x257bf3; } function getJsonVar() { const _0x23b0c2 = _0xf701c5; try { var _0x1288f7 = $[_0x23b0c2(0x1e7)]($(_0x23b0c2(0x1d9))[_0x23b0c2(0x1e2)]()); return $('#tdata')['val'](JSON[_0x23b0c2(0x212)](_0x1288f7, void 0x0, 0x2)), _0x1288f7; } catch (_0xe0c22a) { return $(_0x23b0c2(0x20a))[_0x23b0c2(0x1d7)](_0xe0c22a['message']), $(_0x23b0c2(0x217))['modal'](_0x23b0c2(0x1f3)), {}; } } function isArray(_0x3d46d3) { const _0x21a7cf = _0xf701c5; return _0x21a7cf(0x203) === Object[_0x21a7cf(0x1ff)][_0x21a7cf(0x209)]['call'](_0x3d46d3); } function buildArray(_0x548b6d) { const _0x3f6ff5 = _0xf701c5; var _0x132ef0 = document[_0x3f6ff5(0x1fd)](_0x3f6ff5(0x1d4)), _0x13d810, _0x32f0fb, _0x3892c5 = !0x1, _0x3c64b1 = !0x1, _0x388d58 = {}, _0x170628 = -0x1, _0x36c61b = 0x0, _0x3effc1; _0x3effc1 = ''; if (0x0 == _0x548b6d[_0x3f6ff5(0x211)]) return _0x3f6ff5(0x1e6); _0x13d810 = _0x132ef0[_0x3f6ff5(0x1d3)](-0x1); for (var _0x42cc02 = 0x0; _0x42cc02 < _0x548b6d[_0x3f6ff5(0x211)]; _0x42cc02++)if (_0x3f6ff5(0x200) != typeof _0x548b6d[_0x42cc02] || isArray(_0x548b6d[_0x42cc02])) _0x3f6ff5(0x200) == typeof _0x548b6d[_0x42cc02] && isArray(_0x548b6d[_0x42cc02]) ? (_0x32f0fb = _0x13d810[_0x3f6ff5(0x21a)](_0x170628), _0x32f0fb['colSpan'] = 0x2, _0x32f0fb['innerHTML'] = _0x3f6ff5(0x1f7) + $(buildArray(_0x548b6d[_0x42cc02]), !0x1)[_0x3f6ff5(0x201)]() + _0x3f6ff5(0x1eb), _0x3892c5 = !0x0) : _0x3c64b1 || (_0x170628 += 0x1, _0x3c64b1 = !0x0, _0x32f0fb = _0x13d810[_0x3f6ff5(0x21a)](_0x170628), _0x388d58[_0x3f6ff5(0x1dd)] = _0x170628, _0x32f0fb[_0x3f6ff5(0x227)] = _0x3f6ff5(0x20b)); else { for (var _0x2b86e6 in _0x548b6d[_0x42cc02]) _0x3effc1 = '-' + _0x2b86e6, _0x3effc1 in _0x388d58 || (_0x3892c5 = !0x0, _0x170628 += 0x1, _0x32f0fb = _0x13d810['insertCell'](_0x170628), _0x388d58[_0x3effc1] = _0x170628, _0x32f0fb[_0x3f6ff5(0x227)] = _0x3f6ff5(0x1d5) + encodeText(_0x2b86e6) + _0x3f6ff5(0x1e5)); } _0x3892c5 || _0x132ef0[_0x3f6ff5(0x1df)](0x0), _0x36c61b = _0x170628 + 0x1; for (_0x42cc02 = 0x0; _0x42cc02 < _0x548b6d[_0x3f6ff5(0x211)]; _0x42cc02++)if (_0x13d810 = _0x132ef0[_0x3f6ff5(0x1d3)](-0x1), td_class = isEven(_0x42cc02) ? 'td_row_even' : _0x3f6ff5(0x1f1), _0x3f6ff5(0x200) != typeof _0x548b6d[_0x42cc02] || isArray(_0x548b6d[_0x42cc02])) { if (_0x3f6ff5(0x200) == typeof _0x548b6d[_0x42cc02] && isArray(_0x548b6d[_0x42cc02])) { for (_0x170628 = _0x388d58[_0x3f6ff5(0x1dd)], _0x3892c5 = 0x0; _0x3892c5 < _0x36c61b; _0x3892c5++)_0x32f0fb = _0x13d810[_0x3f6ff5(0x21a)](_0x3892c5), _0x32f0fb[_0x3f6ff5(0x21f)] = td_class, _0x3effc1 = _0x3892c5 == _0x170628 ? '<table\x20style=\x22width:100%\x22>' + $(buildArray(_0x548b6d[_0x42cc02]), !0x1)[_0x3f6ff5(0x201)]() + _0x3f6ff5(0x1eb) : '\x20', _0x32f0fb['innerHTML'] = _0x3f6ff5(0x223) + td_class + '\x27>' + encodeText(_0x3effc1) + _0x3f6ff5(0x1e5); } else { for (_0x170628 = _0x388d58[_0x3f6ff5(0x1dd)], _0x3892c5 = 0x0; _0x3892c5 < _0x36c61b; _0x3892c5++)_0x32f0fb = _0x13d810[_0x3f6ff5(0x21a)](_0x3892c5), _0x3effc1 = _0x3892c5 == _0x170628 ? _0x548b6d[_0x42cc02] : '\x20', _0x32f0fb[_0x3f6ff5(0x21f)] = td_class, _0x32f0fb[_0x3f6ff5(0x227)] = '<div\x20class=\x27' + td_class + '\x27>' + encodeText(_0x3effc1) + _0x3f6ff5(0x1e5); } } else { for (_0x3892c5 = 0x0; _0x3892c5 < _0x36c61b; _0x3892c5++)_0x32f0fb = _0x13d810[_0x3f6ff5(0x21a)](_0x3892c5), _0x32f0fb[_0x3f6ff5(0x21f)] = td_class, _0x32f0fb[_0x3f6ff5(0x227)] = _0x3f6ff5(0x223) + td_class + _0x3f6ff5(0x206); for (_0x2b86e6 in _0x548b6d[_0x42cc02]) _0x3892c5 = _0x548b6d[_0x42cc02], _0x3effc1 = '-' + _0x2b86e6, _0x170628 = _0x388d58[_0x3effc1], _0x32f0fb = _0x13d810[_0x3f6ff5(0x22a)][_0x170628], _0x32f0fb[_0x3f6ff5(0x21f)] = td_class, 'object' != typeof _0x3892c5[_0x2b86e6] || isArray(_0x3892c5[_0x2b86e6]) ? _0x3f6ff5(0x200) == typeof _0x3892c5[_0x2b86e6] && isArray(_0x3892c5[_0x2b86e6]) ? _0x32f0fb['innerHTML'] = '<table\x20style=\x22width:100%\x22>' + $(buildArray(_0x3892c5[_0x2b86e6]), !0x1)[_0x3f6ff5(0x201)]() + _0x3f6ff5(0x1eb) : _0x32f0fb[_0x3f6ff5(0x227)] = _0x3f6ff5(0x223) + td_class + '\x27>' + encodeText(_0x3892c5[_0x2b86e6]) + _0x3f6ff5(0x1e5) : _0x32f0fb[_0x3f6ff5(0x227)] = '<table\x20style=\x22width:100%\x22>' + $(buildTable(_0x3892c5[_0x2b86e6]), !0x1)[_0x3f6ff5(0x201)]() + _0x3f6ff5(0x1eb); } return _0x132ef0; } function _0x1df4(_0x48e524, _0x464322) { return _0x1df4 = function (_0x5723d6, _0x1df489) { _0x5723d6 = _0x5723d6 - 0x1cb; let _0x5022f3 = _0x5723[_0x5723d6]; return _0x5022f3; }, _0x1df4(_0x48e524, _0x464322); } function encodeText(_0x5cd340) { const _0x491fc8 = _0xf701c5; return $('<div\x20/>')[_0x491fc8(0x1d7)](_0x5cd340)[_0x491fc8(0x201)](); } function isEven(_0x6c055a) { return 0x0 == _0x6c055a % 0x2; }
    </script>    
</body>
</html>
