﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_FrontMaster.cshtml";
}

<div class="preloader">
    <div class="lds-ripple">
        <div></div>
        <div></div>
    </div>
</div>
<div class="main-banner-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="banner-text">

                    <h1 class="wow fadeInUp" data-wow-delay=".4s" style="font-size: 43px;color:#fff;">The Right Protection to Keep You Moving Forward</h1>

                    <p class="wow fadeInUp" data-wow-delay=".6s">Whether you have bought your policy from us or anywhere else, our team of experts are ready to assist. We don't leave your hand when you are in need.</p>

                    <div class="banner-btn wow fadeInUp" data-wow-delay=".9s">
                        <a href="#" class="default-btn">
                            Get Started
                        </a>

                        <a href="#" class="default-btn active">
                            Become an Agent
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 pr-0">
                <div class="banner-img wow fadeInLeft" data-wow-delay=".2s">
                    <img src="~/Content/FrontEnd/img/banner/banner-img.png" alt="Image">
                </div>
            </div>
        </div>
    </div>

    <div class="shape">
        <img src="~/Content/FrontEnd/img/banner/banner-shape.png" alt="Image">
    </div>
    <div class="banner-shape-right">
        <img src="~/Content/FrontEnd/img/banner/banner-shape-right.png" alt="Image">
    </div>
</div>

<section class="choose-us-area pt-100 pb-70">
    <div class="container">
        <div class="section-title">
            @*<span>Why Choose Us</span>*@
            <h2>We are Dedicated to Support You </h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
        </div>

        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="single-choose wow fadeInUp" data-wow-delay=".2s">
                    <span class="flaticon-kindness"></span>
                    <h3>Service With Love</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>

                    <a href="#">
                        <i class="flaticon-right"></i>
                    </a>

                    <span class="choose-icon flaticon-kindness"></span>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6">
                <div class="single-choose wow fadeInUp" data-wow-delay=".3s">
                    <span class="flaticon-target"></span>
                    <h3>Clients Focused</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>

                    <a href="#">
                        <i class="flaticon-right"></i>
                    </a>

                    <span class="choose-icon flaticon-target"></span>
                </div>
            </div>

            <div class="col-lg-4 col-sm-6 offset-sm-3 offset-lg-0">
                <div class="single-choose wow fadeInUp" data-wow-delay=".4s">
                    <span class="flaticon-support"></span>
                    <h3>Awesome Support</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>

                    <a href="#">
                        <i class="flaticon-right"></i>
                    </a>

                    <span class="choose-icon flaticon-support"></span>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="about-area ptb-100" id="aboutus">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-content">
                    @*<span>About Us</span>*@
                    <h2>We have been Thriving in 37  Years The Area </h2>

                    <p>SeeInsured is an Insuretech startup with state of the art platform which will help customers to compare, buy and save on their health and car insurance policies.</p>

                    <p>SeeInsured is an Insuretech startup with state of the art platform which will help customers to compare, buy and save on their health and car insurance policies.</p>

                    <div class="about-list">
                        <ul>
                            <li>
                                <i class="flaticon-checked"></i>
                                Save Money
                            </li>
                            <li>
                                <i class="flaticon-checked"></i>
                                Fast Application
                            </li>
                            <li>
                                <i class="flaticon-checked"></i>
                                Flexible Insurance
                            </li>
                        </ul>

                        <ul class="ml-30">
                            <li>
                                <i class="flaticon-checked"></i>
                                No Brokers, No Upselling
                            </li>
                            <li>
                                <i class="flaticon-checked"></i>
                                Investment Planning
                            </li>
                            <li>
                                <i class="flaticon-checked"></i>
                                Professional Advisor
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-img wow fadeInRight" data-wow-delay=".2s">
                    <img src="~/Content/FrontEnd/img/about-img.png" alt="Image">
                </div>
            </div>
        </div>
    </div>
</section>

<section class="our-vision-area ptb-100" id="OurVision">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img wow fadeInLeft" data-wow-delay=".2s">
                    <img src="~/Content/FrontEnd/img/vision-img.png" alt="Image">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="vision-content">
                    @*<span>Our Vision</span>*@
                    <h2>We are Committed to Help Clients to Reach The Goals</h2>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis</p>

                    <p class="mb-30">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus aliqua suspendris.</p>

                    <div class="vision-list">
                        <ul>
                            <li>
                                <i class="bx bx-chevrons-right"></i>
                                Save Money
                            </li>
                            <li>
                                <i class="bx bx-chevrons-right"></i>
                                Fast Application
                            </li>
                            <li>
                                <i class="bx bx-chevrons-right"></i>
                                Flexible Insurance
                            </li>
                        </ul>

                        <ul class="ml-30">
                            <li>
                                <i class="bx bx-chevrons-right"></i>
                                No Brokers, No Upselling
                            </li>
                            <li>
                                <i class="bx bx-chevrons-right"></i>
                                Investment Planning
                            </li>
                            <li>
                                <i class="bx bx-chevrons-right"></i>
                                Professional Advisor
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="services-area ptb-100" id="Insurancetype">
    <div class="container">
        <div class="section-title">
            @*<span>Our Service</span>*@
            @*<h2>Types of Surety Insurance</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>*@
        </div>

        <div class="row" style="margin-top: -73px;">
            <div class="col-lg-4 col-sm-6">
                <a href="/Home/InsurenceDetails">
                    <div class="single-services wow fadeInLeft" data-wow-delay=".3s">
                        <i class="flaticon-car-insurance"></i>
                        <h3>Car Insurance</h3>

                        <p>Lorem ipsum dolor do sit amet ut, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>

                        <a href="#" class="read-more">
                            Read More
                        </a>

                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="/Home/InsurenceDetails">
                    <div class="single-services  wow fadeInLeft" data-wow-delay=".2s">
                        <i class="flaticon-health-care"></i>
                        <h3>Health Insurance</h3>

                        <p>Lorem ipsum dolor do sit amet ut, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>

                        <a href="/Home/InsurenceDetails" class="read-more">
                            Read More
                        </a>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="/Home/InsurenceDetails">
                    <div class="single-services  wow fadeInLeft" data-wow-delay=".1s">
                        <i class="flaticon-life-insurance"></i>
                        <h3>Life Insurance</h3>

                        <p>Lorem ipsum dolor do sit amet ut, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>

                        <a href="#" class="read-more">
                            Read More
                        </a>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="/Home/InsurenceDetails">
                    <div class="single-services wow fadeInRight" data-wow-delay=".1s">
                        <i class="flaticon-salesman"></i>
                        <h3>Travel Insurance</h3>

                        <p>Lorem ipsum dolor do sit amet ut, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>

                        <a href="#" class="read-more">
                            Read More
                        </a>
                    </div>
                </a>
            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="/Home/InsurenceDetails">
                    <div class="single-services wow fadeInRight" data-wow-delay=".2s">
                        <i class="flaticon-travel-insurance"></i>
                        <h3>Business Insurance</h3>

                        <p>Lorem ipsum dolor do sit amet ut, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>

                        <a href="#" class="read-more">
                            Read More
                        </a>
                    </div>
                </a>

            </div>

            <div class="col-lg-4 col-sm-6">
                <a href="/Home/InsurenceDetails">
                    <div class="single-services wow fadeInRight" data-wow-delay=".3s">
                        <i class="flaticon-social-care-1"></i>
                        <h3>Home Insurance</h3>

                        <p>Lorem ipsum dolor do sit amet ut, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut.</p>

                        <a href="#" class="read-more">
                            Read More
                        </a>
                    </div>
                </a>

            </div>
        </div>
    </div>
    <div class="services-shape">
        <img src="~/Content/FrontEnd/img/services-shape-1.png" alt="Image">
    </div>
</section>

<section class="get-quat-area ptb-100" id="subscribe">
    <div class="container">
        <div class="section-title">
            @*<span>Get A Quote</span>*@
            <h2>Get A Free Quote</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="get-quat-img wow fadeInLeft" data-wow-delay=".3s">
                    <img src="~/Content/FrontEnd/img/get-quat-img.png" alt="Image">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="quat-form">
                    <div class="tab">
                        <ul class="tabs">
                            <li>
                                <a href="#">
                                    <div class="dot"></div>Car
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="dot"></div>Home
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="dot"></div>Life
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <div class="dot"></div>Health
                                </a>
                            </li>
                        </ul>

                        <div class="tab_content">
                            <div class="tabs_item">
                                <p>Start with your zip code to compare car insurance</p>

                                <div class="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="Name" placeholder="Your Name">
                                    </div>

                                    <div class="form-group">
                                        <input type="email" class="form-control" id="Email" placeholder="Your Email">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" id="Number" placeholder="Your Number">
                                    </div>

                                    <div class="form-group">
                                        <div class="select-box">
                                            <i class="flaticon-avatar"></i>

                                            <select class="form-control">
                                                <option value="5">Property Type</option>
                                                <option value="1">Home Property</option>
                                                <option value="2">Health Insurance</option>
                                                <option value="0">Car Insurance</option>
                                                <option value="3">Life Insurance</option>
                                                <option value="4">Home Insurance</option>
                                            </select>
                                        </div>
                                    </div>

                                    <button type="submit" class="default-btn">
                                        Start Saving Today
                                    </button>

                                    <ul class="ratings">
                                        <li>45 Ratings</li>

                                        <li class="right">
                                            Already Member?
                                            <a href="#">SIGN IN</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="tabs_item">
                                <p>Start with your zip code to compare home insurance</p>

                                <div class="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="Name2" placeholder="Your Name">
                                    </div>

                                    <div class="form-group">
                                        <input type="email" class="form-control" id="Email2" placeholder="Your Email">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" id="Number2" placeholder="Your Number">
                                    </div>

                                    <div class="form-group">
                                        <div class="select-box">
                                            <i class="flaticon-avatar"></i>

                                            <select class="form-control">
                                                <option value="5">Home Property</option>
                                                <option value="1">Property Type </option>
                                                <option value="2">Health Insurance</option>
                                                <option value="0">Car Insurance</option>
                                                <option value="3">Life Insurance</option>
                                                <option value="4">Home Insurance</option>
                                            </select>
                                        </div>
                                    </div>

                                    <button type="submit" class="default-btn">
                                        Start Saving Today
                                    </button>

                                    <ul>
                                        <li>45 Ratings</li>

                                        <li class="right">
                                            Already Member?
                                            <a href="#">SIGN IN</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="tabs_item">
                                <p>Start with your zip code to compare life insurance</p>

                                <div class="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="Name3" placeholder="Your Name">
                                    </div>

                                    <div class="form-group">
                                        <input type="email" class="form-control" id="Email3" placeholder="Your Email">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" id="Number3" placeholder="Your Number">
                                    </div>

                                    <div class="form-group">
                                        <div class="select-box">
                                            <i class="flaticon-avatar"></i>

                                            <select class="form-control">
                                                <option value="5">Life Insurance</option>
                                                <option value="1">Home Property</option>
                                                <option value="2">Health Insurance</option>
                                                <option value="0">Car Insurance</option>
                                                <option value="3">Property Type</option>
                                                <option value="4">Home Insurance</option>
                                            </select>
                                        </div>
                                    </div>

                                    <button type="submit" class="default-btn">
                                        Start Saving Today
                                    </button>

                                    <ul>
                                        <li>45 Ratings</li>

                                        <li class="right">
                                            Already Member?
                                            <a href="#">SIGN IN</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="tabs_item">
                                <p>Start with your zip code to compare health insurance</p>

                                <div class="form">
                                    <div class="form-group">
                                        <input type="text" class="form-control" id="Name4" placeholder="Your Name">
                                    </div>

                                    <div class="form-group">
                                        <input type="email" class="form-control" id="Email4" placeholder="Your Email">
                                    </div>

                                    <div class="form-group">
                                        <input type="text" class="form-control" id="Number4" placeholder="Your Number">
                                    </div>

                                    <div class="form-group">
                                        <div class="select-box">
                                            <i class="flaticon-avatar"></i>

                                            <select class="form-control">
                                                <option value="5">Property Health</option>
                                                <option value="1">Home Property</option>
                                                <option value="2">Health Insurance</option>
                                                <option value="0">Car Insurance</option>
                                                <option value="3">Life Insurance</option>
                                                <option value="4">Home Insurance</option>
                                            </select>
                                        </div>
                                    </div>

                                    <button type="submit" class="default-btn">
                                        Start Saving Today
                                    </button>

                                    <ul>
                                        <li>45 Ratings</li>

                                        <li class="right">
                                            Already Member?
                                            <a href="#">SIGN IN</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="achievement-area pt-100">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="video-img">
                    <img src="~/Content/FrontEnd/img/video-img.jpg" alt="Image">
                    <div class="video">
                        <a href="https://www.youtube.com/watch?v=IhQt_fxGOcw" class="video-btn popup-youtube">
                            <i class="flaticon-play-button"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="achievement-content">
                    @*<span>Achievement</span>*@
                    <h2>We have Achieved Many National Award For Our Success</h2>

                    <p>Lorem ipsum dolor commod sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. ipsum suspendisse ultrices gravida. Risus commod o viverra maecenas.</p>

                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <a href="#" class="default-btn">Be Connected</a>
                </div>
            </div>
        </div>
    </div>
</div>

<section class="testimonial-area ptb-100" id="client">
    <div class="container">
        <div class="section-title">
            @*<span>Testimonials</span>*@
            <h2>What Our Clients Say</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
        </div>

        <div class="testimonial-wrap owl-theme owl-carousel">
            <div class="single-client">
                <img src="~/Content/FrontEnd/img/testimonial/1.jpg" alt="Image">

                <h3>Rajnish Kumar</h3>
                <span>Marketer</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>

                <ul>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                </ul>

                <div class="quotes">
                    <i class="flaticon-left-quotes-sign"></i>
                </div>
            </div>

            <div class="single-client">
                <img src="~/Content/FrontEnd/img/testimonial/2.jpg" alt="Image">

                <h3>Srikant</h3>
                <span>Developer</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>

                <ul>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                </ul>

                <div class="quotes">
                    <i class="flaticon-left-quotes-sign"></i>
                </div>
            </div>

            <div class="single-client">
                <img src="~/Content/FrontEnd/img/testimonial/3.jpg" alt="Image">

                <h3>Saurav Kumar</h3>
                <span>UI UX Designer</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore.</p>

                <ul>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                    <li>
                        <i class="bx bxs-star"></i>
                    </li>
                </ul>

                <div class="quotes">
                    <i class="flaticon-left-quotes-sign"></i>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="agent-now-area ptb-100" id="contactus">
    <div class="container">
        <div class="section-title">
            @*<span>Contact Us</span>*@
            <h2>Not Sure What You Need <br> Find Agent Now</h2>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="call-now">
                    <i class="flaticon-call"></i>
                    <p>Call Us</p>
                    <span>+91-8010874878</span>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="subscribe-wrap">
                    <p>Subscribe Now</p>

                    <form class="newsletter-form" data-toggle="validator">
                        <input type="email" class="form-control" placeholder="Enter Your Email" name="EMAIL" required autocomplete="off" style="height:50px">

                        <button class="default-btn" type="submit">
                            Subscribe
                        </button>

                        <div id="validator-newsletter-1" class="form-result"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="agent-shape">
        <img src="~/Content/FrontEnd/img/agent-shape.png" alt="Image">
    </div>
</section>


<script src="~/Content/FrontEnd/js/jquery.nice-select.min.js"></script>
<script src="~/Content/FrontEnd/js/custom.js"></script>


