﻿
@{
    ViewBag.Title = "InsurenceSelectPlane";
    Layout = "~/Views/Shared/_FrontMaster.cshtml";
}
@section header
{
    <style>
        .tab2 {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

            .tab2 button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 6px 16px;
                transition: 0.3s;
                font-size: 17px;
                width: 50%;
                background: #fff;
            }

                .tab2 button:hover {
                    background-color: #ddd;
                }

                .tab2 button.active {
                    background: #262566;
                    color: #ffff;
                }

                .tab2 button.selected {
                    background: #0094ff;
                    color: #ffff;
                }

        .helthbox {
            margin: auto;
            padding: 16px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px #ffffff;
        }

        .backarrow {
            position: absolute;
            left: 15px;
            top: 0px;
        }
    </style>
}
<script src="~/Content/FrontEndWorking/Js/homejs.js"></script>
<div class="page-title-area bg-17" style="padding-bottom: 69px;">
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-lg-offset-2 helthbox" style="margin-top: -69px;">
                <div class="col-sm-12">
                    <a href="/home/insurencedetails" class="backarrow"> <img src="~/Content/images/backarrow.png" alt=""> </a>
                    <div style="border-bottom: 1px solid #ccc9;padding-bottom: 10px;">
                        <h4>HEALTH INSURANCE</h4>
                        <p>We help you find better plans for Health Insurance</p>
                    </div>
                    <h4 class="text-center text-primary" style="padding: 12px;color:#262566!important;">Individual</h4>
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label style="font-size: 17px;">Sum Insured</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="select-box">
                                <i class="flaticon-avatar"></i>
                                <select class="form-control" style="height: 35px;padding: 1px 24px;">
                                    <option value="0">Select</option>
                                    <option value="1">Upto 2.5 Lacs</option>
                                    <option value="2">3 to 5 Lacs</option>
                                    <option value="3">5.5 to 7 Lacs</option>
                                    <option value="4">7.5 to 10 Lacs</option>
                                    <option value="5">10.5 to 15 Lacs</option>
                                    <option value="6">15 Lacs +</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label style="font-size: 17px;">Insured Member Type</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="select-box">
                                <i class="flaticon-avatar"></i>
                                <select class="form-control" style="height: 35px; padding: 1px 24px;">
                                    <option value="0">Member to be insured</option>
                                    <option value="0">Self</option>
                                    <option value="1">Spouse</option>
                                    <option value="2">Father</option>
                                    <option value="3">Mother</option>
                                    <option value="4">Son</option>
                                    <option value="5">Daughter</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label style="font-size: 17px;">Insured Age</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="select-box">
                                <i class="flaticon-avatar"></i>
                                <select class="form-control" style="height: 35px; padding: 1px 24px;" id="InsureAge">
                                    @*<option value="0">Select Age</option>
                        <option value="18">18</option>
                        <option value="19">19</option>
                        <option value="20">20</option>
                        <option value="21">21</option>*@
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label style="font-size: 17px;">Deductible</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="select-box">
                                <i class="flaticon-avatar"></i>
                                <select class="form-control" style="height: 35px; padding: 1px 24px;">
                                    <option value="">Deductible</option>
                                    <option value="0">10000</option>
                                    <option value="1">25000</option>
                                    <option value="2">50000</option>
                                    <option value="3">100000</option>
                                    <option value="4">200000</option>
                                    <option value="5">300000</option>
                                    <option value="6">400000</option>
                                    <option value="7">500000</option>
                                    <option value="8">600000</option>
                                    <option value="9">700000</option>
                                    <option value="10">800000</option>
                                    <option value="11">900000</option>
                                    <option value="12">1000000</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label style="font-size: 17px;">Disease Suffered</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="tab2" id="myTab2" style="width:45%">
                                <button class="tablinks2 selected" style="border-right: 1px solid #ccc;">Yes</button>
                                <button class="tablinks2"> No</button>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label style="font-size: 17px;">Tenure Year</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="tab2" id="myTab2" style="width:45%">
                                <button class="tablinks2 selected" style="border-right: 1px solid #ccc;"> 1</button>
                                <button class="tablinks2 "> 2</button>
                                <button class="tablinks2 "></span> 3</button>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="default-btn centrblock">
                                GET QUOTES
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $('.tablinks2').on('click', function () {
        $('.tablinks2').removeClass('selected');
        $(this).addClass('selected');
    });
</script>


