﻿
@{
    ViewBag.Title = "InsurenceDetails";
    Layout = "~/Views/Shared/_FrontMaster.cshtml";
}

@section header{
    <style>
        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #f1f1f1;
        }

            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 6px 16px;
                transition: 0.3s;
                font-size: 17px;
                width: 50%;
                background: #fff;
            }
                /* Change background color of buttons on hover */
                .tab button:hover {
                    background-color: #31306b;
                    color: #ffff;
                }

                .tab button.active {
                    background: #31306b;
                    color: #ffff;
                }

        .tab2 {
            overflow: hidden;
            border: 1px solid #cccccc4a;
            background-color: #cccccc4a;
        }

            .tab2 button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 6px 16px;
                transition: 0.3s;
                font-size: 17px;
                width: 50%;
                background: #fff;
            }
                /* Change background color of buttons on hover */
                .tab2 button:hover {
                    background-color: #ddd;
                }

                .tab2 button.active {
                    background: #262566;
                    color: #ffff;
                }

                .tab2 button.selected {
                    background: #0094ff;
                    color: #ffff;
                }

        .hidden {
            display: none;
        }

        .helticon {
            color: #f19d34;
            font-size: 34px;
            background: white;
            border: 5px solid #b72424;
            border-radius: 50%;
            padding: 16px;
        }

        .heathhed {
            margin-top: 20px;
            font-weight: bold;
            color: #ffff;
        }

        .helthbox {
            margin: auto;
            padding: 16px;
            background: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px #ffffff;
        }

        .centrblock {
            height: 46px;
            background: #31abfc;
            margin: 0 auto 0;
            display: table;
            padding-top: 14px;
        }

        .page-title-area {
            padding-top: 200px !important;
        }
    </style>
}
<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script>
    function show() {
        $("#health2").show();
         $("#health1").hide();
    }
    var ddl = document.getElementById('mycontainer').getElementsByTagName("select")[0];

for (var i = 1; i <= 100; i++) {
    var theOption = new Option;
    theOption.text = i;
    theOption.value = i;
    ddl.options[i] = theOption;
    }

    function BindHealthAges() {
    //$('#InsureAge').click();
    var option1 = '';
    option1 += '<option value="' + 0 + '">Select Age</option>';
    for (var i = 18; i <= 100; i++) {
        option1 += '<option value="' + i + '">' + i + ' Years </option>';
        if (i == 100) {
            $('#InsureAge').empty().append(option1);
            
        }
    }

    $('#InsureAge').empty().append(option1);
    
}
    </script>
<div class="page-title-area bg-17" style="padding-bottom: 69px;">
<div class="page-title-area bg-17">

    <div class="container">
        @*<div class="page-title-content" style="margin-top:-80px;">
                <div class="col-sm-12">
                    <h4><i class="flaticon-health-care helticon"></i></h4>
                    <p class="heathhed">HEALTH</p>
                </div>
            </div>

        </div>
        <br />
        <div class="row" id="health1">

            <br />*@
        <div class="row">
            <div class="col-sm-8 col-lg-offset-2 helthbox">
                <div class="col-sm-12" style="border-bottom:1px solid #ccc;">
                    <h4>HEALTH INSURANCE</h4>
                    <p>Compare and buy superior policies at excellent premiums</p>
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <div class="tab" id="myTab">
                                <button class="tablinks active" style="border-right: 1px solid #ccc;">Individual</button>
                                <button class="tablinks">Family</button>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div><br />
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label style="font-size: 17px;">Gender</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="tab2" id="myTab2" style="width:45%">
                                <button class="tablinks2 selected" style="border-right: 1px solid #ccc;"><span class="bx bx-male"></span> Male</button>
                                <button class="tablinks2"><span class="bx bx-female"></span> Female</button>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label style="font-size: 17px;">PinCode</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" class="form-control" placeholder="Pin Code" id="pincode" />
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12">

                            <button type="submit" class="default-btn centrblock" id="submit1" onclick="show()">
                <button type="submit" class="default-btn centrblock" onclick="TempRedirect();">

                                Proceed
                            </button>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div><br />
                <div class="col-sm-12" >
                    <p>Already Have Quotation? <a style="color:#31306b;">Click here</a></p>
                </div>
            </div>
        </div>
        <div class="row" id="health2" style="display:none;">
            <div class="col-sm-8 col-lg-offset-2 helthbox">
                <div class="col-sm-12">
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <div class="agree-label" style="font-size: 17px;">
                                <label for="father">
                                    Sum Insured
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="select-box">
                                <i class="flaticon-avatar"></i>
                                <select class="form-control" style="height: 35px; padding: 1px 24px;">
                                    <option value="0">Upto 2.5 Lacs</option>
                                    <option value="1">3 to 5 Lacs</option>
                                    <option value="1">5.5 to 7 Lacs</option>
                                    <option value="2">7.5 to 10 Lacs</option>
                                    <option value="3">10.5 to 15 Lacs</option>
                                    <option value="4">15 Lacs +</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <div class="agree-label" style="font-size: 17px;">
                                <label for="father">
                                    Insured Member Type
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="select-box">
                                <i class="flaticon-avatar"></i>
                                <select class="form-control" style="height: 35px; padding: 1px 24px;">
                                    <option value="0">Self</option>
                                    <option value="1">Spouse</option>
                                    <option value="2">Father</option>
                                    <option value="3">Mother</option>
                                    <option value="4">Son</option>
                                    <option value="5">Daughter</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <div class="agree-label" style="font-size: 17px;">
                                <label for="father">
                                    Insured Age
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6" id="mycontainer">
                            <div class="select-box">
                                <i class="flaticon-avatar"></i>
                                <select class="form-control" style="height: 35px; padding: 1px 24px;" id="InsureAge" onclick="BindHealthAges()">
                                    @*<option value="0">Select Age</option>
                                    <option value="1">Upto 2.5 Lacs</option>
                                    <option value="2">5.5 to 7 Lacs</option>
                                    <option value="3">7.5  to 10 Lacs</option>
                                    <option value="4">10.5 to 15 Lacs</option>
                                    <option value="5">15 Lacs +</option>*@
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-6">
                            <div class="agree-label" style="font-size: 17px;">
                                <label for="father">
                                    Deductible
                                </label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="select-box">
                                <i class="flaticon-avatar"></i>
                                <select class="form-control" style="height: 35px; padding: 1px 24px;">
                                    <option value="">Deductible</option>
                                    <option value="0">10000</option>
                                    <option value="1">25000</option>
                                    <option value="2">50000</option>
                                    <option value="3">100000</option>
                                    <option value="4">200000</option>
                                    <option value="5">300000</option>
                                    <option value="6">400000</option>
                                    <option value="7">500000</option>
                                    <option value="8">600000</option>
                                    <option value="9">700000</option>
                                    <option value="10">800000</option>
                                    <option value="11">900000</option>
                                    <option value="12">1000000</option>
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label style="font-size: 17px;">Disease Suffered</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="tab2" id="myTab2" style="width:45%">
                                <button class="tablinks2" style="border-right: 1px solid #ccc;"><span class="bx bx-male"></span> Yes</button>
                                <button class="tablinks2 selected"><span class="bx bx-female"></span> No</button>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-3">
                            <label style="font-size: 17px;">Tenure Year</label>
                        </div>
                        <div class="col-sm-9">
                            <div class="tab2" id="myTab2" style="width:45%">
                                <button class="tablinks2 selected" style="border-right: 1px solid #ccc;"><span class="bx bx-male"></span> 1</button>
                                <button class="tablinks2 "><span class="bx bx-female"></span> 2</button>
                                <button class="tablinks2 "><span class="bx bx-female"></span> 3</button>
                            </div>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="default-btn centrblock" id="submit2">
                                Get Quotes
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<section class="choose-us-area-three pt-100 pb-70" style="padding-top: 35px;">
    <div class="container">
        <div class="section-title">
            <h2>Take The Worry Out of Life With Insurance Protection</h2>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="single-choose wow fadeInUp" data-wow-delay=".2s">
                    <span class="flaticon-hand"></span>
                    <h3>Peace Of Mind</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>

                    <a href="#">
                        <i class="flaticon-right"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="single-choose wow fadeInUp" data-wow-delay=".3s">
                    <span class="flaticon-life-insurance-1"></span>
                    <h3>Set For Life</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>

                    <a href="#">
                        <i class="flaticon-right"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="single-choose wow fadeInUp" data-wow-delay=".4s">
                    <span class="flaticon-insurance-1"></span>
                    <h3>Tailored Covered</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>

                    <a href="#">
                        <i class="flaticon-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="sidebar-modal">
    <div class="modal top fade" id="membermodel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">
                            <i class="bx bx-x"></i>
                        </span>
                    </button>
                    <h2 class="modal-title" style="padding: 7px;background: #fff;border-bottom: 1px solid #ccc;font-size: 20px;text-align: center;">
                        WHO DO YOU WANT TO INSURE?
                    </h2>
                </div>

                <div class="modal-body">
                    <div class="col-sm-12 form-group" style="border-bottom: 1px solid #ccc;">
                        <div class="row  form-group">
                            <div class="col-sm-6">
                                <div class="agree-label" style="font-size: 17px;">
                                    <input type="checkbox" id="you" class="yourage">
                                    <label for="you">
                                        You
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="select-box">
                                    <i class="flaticon-avatar"></i>
                                    <select class="form-control" style="height: 35px; padding: 1px 24px;">
                                        <option value="0">Select Age</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <div class="agree-label" style="font-size: 17px;">
                                    <input type="checkbox" class="fatherage" id="father">
                                    <label for="father">
                                        Father
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="select-box">
                                    <i class="flaticon-avatar"></i>
                                    <select class="form-control" style="height: 35px; padding: 1px 24px;">
                                        <option value="0">Select Age</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <div class="agree-label" style="font-size: 17px;">
                                    <input type="checkbox" id="mother">
                                    <label for="mother">
                                        Mother
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="select-box">
                                    <i class="flaticon-avatar"></i>
                                    <select class="form-control" style="height: 35px; padding: 1px 24px;">
                                        <option value="0">Select Age</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-6">
                                <div class="agree-label" style="font-size: 17px;">
                                    <input type="checkbox" id="son">
                                    <label for="son">
                                        Son
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="select-box">
                                    <i class="flaticon-avatar"></i>
                                    <select class="form-control" style="height:35px; padding: 1px 24px;">
                                        <option value="0">Select Age</option>
                                        <option value="18">18</option>
                                        <option value="19">19</option>
                                        <option value="20">20</option>
                                        <option value="21">21</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12">
                        <button type="submit" class="default-btn centrblock">
                            Proceed
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section footer
{
    <script src="~/Content/FrontEndWorking/Js/homejs.js"></script>
    <script>
        var header = document.getElementById("myTab");
        var btns = header.getElementsByClassName("tablinks");
        for (var i = 0; i < btns.length; i++) {
            btns[i].addEventListener("click", function () {
                var current = document.getElementsByClassName("active");
                current[0].className = current[0].className.replace(" active", "");
                this.className += " active";
            });
        }
    </script>
    <script>
        $('.tablinks2').on('click', function () {
            $('.tablinks2').removeClass('selected');
            $(this).addClass('selected');
        });

        function TempRedirect() {
            window.location.href = "/home/insurenceselectplane";
        }
    </script>

}
