﻿@model insurance.Models.Custom.FrontAgencyModel.CreateAgency
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_FrontMaster.cshtml";
}


<div class="container" style="margin-top:120px;">
    <div class="row">
        @if (TempData["Message"] != null)
        {
            <div class="col-lg-12">
                <div class="alert alert-success" id="closeMessage">
                    <strong>Success!</strong> Record submitted successfully!
                </div>
            </div>
        }

        @using (Html.BeginForm("CreateAgency", "Home", new { agencyid = Model.AgencyID }, FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.Partial("_AgencyRegistration1")
        }
    </div>
</div>


