﻿@model insurance.Areas.AdminArea.Models.AdminArea_Custom.RolePermission

@{
    ViewBag.Title = "AssignRolePermission";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section header
{
    <link href="~/Content/css/custom/checkbox.css" rel="stylesheet" />
}

<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-sm-4">
                <h2><i class="fa fa-list"></i>&nbsp;Role Permission : @Model.RoleName</h2>
                <input type="hidden" id="hdnrolename" value="@Model.RoleName" />
            </div>
            <div class="col-sm-8">
                <div class="text-right">
                    <a href="/role-management/role-permission" class="btn btn-primary btn-sm"><span class="fa fa-reply" style="color: #fff !important;"></span>&nbsp;Role Permission List</a>
                </div>
            </div>
            <div class="col-sm-offset-10">
                <div><label>Select All</label></div>
                <div><input class="form-control" id="checkboxForAll" type="checkbox"></div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-sm-12 DetailsBody pull-right">
                @if (Model.MenuList != null)
                {
                    foreach (var item in Model.MenuList)
                    {

                        <div class="row form-group">
                            <div class="col-sm-10">
                                <div class="col-sm-12" style="margin-bottom: 5px;">
                                    <div class="col-sm-6">
                                        <h6 style="color:#e10808;">@item.MenuName</h6>
                                    </div>
                                </div>
                                @if (Model.SubMenuList != null)
                                {
                                    <div class="col-sm-12 innersubmenu" id="@item.MenuName.Replace(" ","_")" data-menuid="@item.MenuId">
                                        @foreach (var subItem in Model.SubMenuList.Where(p => p.MenuId == item.MenuId))
                                        {
                                            int counting = 0;

                                            foreach (var subcheked in Model.RolePermissionList)
                                            {
                                                if (subItem.SubMenuId == subcheked.SubMenuID)
                                                {
                                                    counting = 1;
                                                    <div class="col-sm-2">
                                                        <h6 class="checkbox-inline">
                                                            <label class="seeingo">
                                                                @subItem.SubMenuName
                                                                <input checked="checked"  type="checkbox" data-menuidsub="@item.MenuId" data-menuname="@item.MenuName.Replace(" ","_")" class="@item.MenuName.Replace(" ","_") submenuclass" id="@subItem.SubMenuName" name="@subItem.SubMenuName" data-submenuid="@subItem.SubMenuId" />
                                                                <span class="checkmark"></span>
                                                            </label>
                                                        </h6>
                                                    </div>
                                                }
                                            }

                                            if (counting == 0)
                                            {
                                                <div class="col-sm-2">
                                                    <h6 class="checkbox-inline">
                                                        <label class="seeingo">
                                                            @subItem.SubMenuName
                                                            <input type="checkbox" data-menuidsub="@item.MenuId" data-menuname="@item.MenuName.Replace(" ","_")" class="@item.MenuName.Replace(" ","_") submenuclass" id="@subItem.SubMenuName" name="@subItem.SubMenuName" data-submenuid="@subItem.SubMenuId" />
                                                            <span class="checkmark"></span>
                                                        </label>
                                                    </h6>
                                                </div>
                                            }
                                        }
                                    </div>
                                }
                            </div>

                            <div class="col-sm-2 ">
                                <input type="checkbox" id="checkbox_@item.MenuId" class="form-control" onchange="menuChecker(@item.MenuId)" name="" value="" />
                            </div>

                        </div>

                        <hr>
                    }
                    <br>
                    <div class="row form-group" style="width:100%;padding-left:14px;">
                        <div class="col-sm-12 text-right">
                            <button type="submit" id="btnSetSubmit" class="btn btn-success">Submit</button>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section footer
{
    <script src="~/Areas/AdminArea/Content/customjquery/rolepermission.js"></script>
    <script>

        $("#checkboxForAll").change(() => {
            $("input:checkbox").prop('checked', $("#checkboxForAll").prop('checked'));
        });

        //function menuChecker(menuName){

        //    $("input:checkbox").each(function () {

        //        let menuTemp = $(this).attr("data-menuname");
        //        if (menuTemp == menuName) {
        //            $(this).prop('checked', $("#checkbox_" + menuName).prop('checked'));
        //        }

        //    });
        //};





    </script>
}