﻿@model insurance.Models.Custom.FrontAgencyModel.BankDeatil
@{
    ViewBag.Title = "AgencyBankDetails";
    Layout = "~/Views/Shared/_AgencyInnerDashLayoutPage.cshtml";
}
<link href="~/Content/css/validation.css" rel="stylesheet" />
<style>
    .margin_top10px {
        margin-top: 10px;
    }

    .btn_Margin {
        margin-top: 20px;
    }

    .help-error-block {
        margin: 10px 0px 0px 30px;
    }

    .panelbox {
        margin-top: 35px;
        box-shadow: 0px 0px 8px #d4d4d4;
        border-radius: 3px;
        padding: 18px;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<link href="~/Content/css/custom/commoncss.css" rel="stylesheet" />
<div class="col-sm-10 margin_topMenu">
    <!--heading-->
    <div class="row">
        <div class="col-sm-12">

            <h5 class="title text-center" style="margin-top: -28px;font-size: 30px;margin-bottom: -18px">Bank Details</h5>

            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-10 col-lg-offset-3 panelbox form-group">
                        <div class="row form-group">
                            <div class="col-sm-12">
                                @if (Model.Isverified)
                                { }
                                else
                                {<a href="/Administration/UpdateBankDetails" class="btn btn-success pull-right">Update Bank Details</a>}
                            </div>
                        </div>
                        <div class="row form-group" style="border:1px solid #ccc">
                            <div class="col-md-3 form-group form-validation">
                                <label class="control-label">Account No</label>
                            </div>
                            <div class="col-md-3 form-group form-validation">
                                @if (!string.IsNullOrEmpty(Model.AccountNo))
                                {
                                    <label class="control-label">@Model.AccountNo</label>
                                }
                                else
                                {
                                    <label class="control-label">---</label>
                                }
                            </div>
                            <div class="col-md-3 form-group form-validation">
                                <label class="control-label">BankName</label>
                            </div>
                            <div class="col-md-3 form-group form-validation">
                                @if (!string.IsNullOrEmpty(Model.BankName))
                                {
                                    <label class="control-label">@Model.BankName</label>
                                }
                                else
                                {
                                    <label class="control-label">---</label>
                                }
                            </div>
                            <div class="col-md-3 form-group form-validation">
                                <label class="control-label">Branch</label>
                            </div>
                            <div class="col-md-3 form-group form-validation">
                                @if (!string.IsNullOrEmpty(Model.Branch))
                                {
                                    <label class="control-label">@Model.Branch</label>
                                }
                                else
                                {
                                    <label class="control-label">---</label>
                                }
                            </div>
                            <div class="col-md-3 form-group form-validation">
                                <label class="control-label">IFSC</label>
                            </div>
                            <div class="col-md-3 form-group form-validation">
                                @if (!string.IsNullOrEmpty(Model.IFSC))
                                {
                                    <label class="control-label">@Model.IFSC</label>
                                }
                                else
                                {
                                    <label class="control-label">---</label>
                                }
                            </div>
                            <div class="col-md-3 form-group form-validation">
                                <label class="control-label">Mobile No</label>
                            </div>
                            <div class="col-md-3 form-group form-validation">
                                @if (!string.IsNullOrEmpty(Model.MobileNo))
                                {
                                    <label class="control-label">@Model.MobileNo</label>
                                }
                                else
                                {
                                    <label class="control-label">---</label>
                                }
                            </div>
                            <div class="col-md-3 form-group form-validation">
                                <label class="control-label">Is Verified</label>
                            </div>
                            <div class="col-md-3 form-group form-validation">
                                @if (Model.Isverified)
                                {
                                    <label class="control-label" style="color:green;font-weight:bold;">Yes</label>
                                }
                                else
                                {


                                    <label class="control-label" style="color:red">No</label>
                                    if (Model.Status)
                                    {
                                        <input type="button" class="btn btn-warning btn-sm otpbtn" onclick="policyGraphbyAgency(@Model.MobileNo)" value="Verified Mobile no" style="float: right; color: #fff;" />
                                    }
                                }
                            </div>
                        </div>                                         
                        <div class="row verifybox hidden form-group" style="border:1px solid #ccc;padding:5px;">
                            <div class="col-md-12 form-group">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <label class="control-label">Enter OTP</label>
                                    </div>
                                    <div class="col-sm-4 form-validation">
                                        <input type="text" class="form-control" placeholder="Enter otp.." id="userotp" name="userotp" />
                                        <label class="lblsuccess"></label>
                                    </div>
                                    <div class="col-sm-4">
                                        <span id="btnSubmit" class="btn btn-primary blackbutton form-control" style="font-weight:bold;background: #2a3f54;color: #fff;" onclick="return CheckForm()">Submit</span>
                                        @*<span class="btn btn-primary blackbutton form-control tempcss hidden" style="font-weight:bold;background: #2a3f54;color: #fff;">Please Wait...<i class="fa fa-cog fa-spin"></i></span>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<script>
    function policyGraphbyAgency(mobileno) {
        $.ajax({
            type: "Post",
            url: "/Administration/verifyMobileNo",
            data: '{mobileno:' + JSON.stringify(mobileno) + '}',
            async: false,
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (response) {
                $(".verifybox").removeClass("hidden");
                $(".otpbtn").addClass("hidden");
            }

        });
    }

    function CheckForm() {
        $(".lblsuccess").html("");
        if (CheckBlankValidation("userotp")) return !1;
        $("#btnSubmit").html("Please Wait...<i class='fa fa-spin fa-pulse'></i>");

        $.ajax({
            type: "Post",
            url: "/Administration/VerifyOtp",
            data: '{otp:' + JSON.stringify($("#userotp").val()) + ',mobileno:' + JSON.stringify(@Model.MobileNo) + '}',
            async: false,
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (response) {
                if (response) {
                    $(".lblsuccess").addClass("text-success").html("you have successfully verified.");
                    setTimeout(window.location.reload(), 5000);
                }
                else {
                    $(".lblsuccess").addClass("text-danger").html("You have entered wrong otp!");
                }
                $("#btnSubmit").html("Submit");
            }
        });

    }
</script>
<script src="~/Content/js/custom/common.js"></script>