﻿@model insurance.Models.Custom.FrontAgencyModel.CreateAgency
@{
    ViewBag.Title = "AgencyProfile";
    Layout = "~/Views/Shared/_AgencyInnerDashLayoutPage.cshtml";
}

<style>
    .prof_pad {
        padding: 19px;
        /*padding-top: 0px;*/
    }

    .pfile_hed {
        font-size: 21px;
        padding: 5px;
        color: #304f78;
        border-bottom: 1px solid;
    }

    .border_blu {
        border-left: 7px solid #224e73 !important;
        border-right: 7px solid #224e73 !important;
    }

    .border_red {
        border-left: 7px solid #e25353 !important;
        border-right: 7px solid #e25353 !important;
    }

    .border_yelo {
        border-left: 7px solid #d47028 !important;
        border-right: 7px solid #d47028 !important;
    }

    .border_gre {
        border-left: 7px solid #32671b !important;
        border-right: 7px solid #32671b !important;
    }

    .profliCr {
        width: 100%;
        padding: 16px;
    }

    .detacolr {
        color: #3078b5;
        font-size: 18px;
    }

    .hedclr {
        font-size: 16px;
        color: #655f5f;
    }

    .Pricecolr {
        font-family: sans-serif;
        font-weight: bold;
        color: #900000;
    }

    .headingtext {
        color: #de7070;
        font-size: 24px;
        margin-top: 0px;
        font-family: 'Roboto Slab', serif;
    }

    .priceStlye {
        font-family: 'Roboto Slab', serif;
        box-shadow: 0px 0px 4px;
        height: 26px;
        padding: 3px 8px;
        width: 159px;
        background: #e3e3f7;
        border-radius: 12px !important;
        padding-left: 20px;
    }

    .rowborder {
        font-family: 'Roboto Slab', serif;
        border-bottom: 1px dashed #5bc0de;
    }

    .boxStyle {
        font-family: 'Roboto Slab', serif;
        margin: 6px -2px;
        border: 1px dashed #c1c1c1;
        width: 100%;
        padding: 6px;
    }

    .input_type {
        font-family: 'Roboto Slab', serif;
        border-radius: 3px !important;
        box-shadow: 1px 2px 3px #e7e7e7 !important;
    }

    .textcolrp {
        font-family: 'Roboto Slab', serif;
        color: #909090;
    }

    .span_text {
        font-family: 'Roboto Slab', serif;
        width: 100%;
        float: right;
        padding: 1%;
        line-height: 17px;
    }

    .text_bold {
        font-family: 'Roboto Slab', serif;
        color: #000;
    }

    .tabstyle {
        font-family: 'Roboto Slab', serif;
        width: 100%;
        border: 1px dashed #364b79;
        margin: -5px;
        border-radius: 5px !important;
        background: #e3e3f7;
        border: 1px solid #a7a7a7;
        margin-top: -14px;
    }

    .h2heading {
        font-family: 'Roboto Slab', serif;
        margin-top: 5px;
        background: #f3f3f3;
        padding: 0px 15px;
    }

    .DetailsBody {
        border: 1px solid #bdbdbd;
        padding: 5px;
        margin-top: 5px;
        border-radius: 5px !important;
        box-shadow: 0px 0px 8px #7a849a;
    }

        .DetailsBody:hover {
            border: 1px solid #959CC4;
            -webkit-transition: border 1s ease, background 1s ease;
            -moz-transition: border 1s ease, background 1s ease;
            -ms-transition: border 1s ease, background 1s ease;
            -o-transition: border 1s ease, background 1s ease;
            transition: border 1s ease, background 1s ease;
            -webkit-box-shadow: 1px 2px 1px #ccc;
            -ms-box-shadow: 1px 2px 1px #ccc;
            box-shadow: 0px 0px 8px #ccc;
        }


    .RefStyle {
        font-family: 'Roboto Slab', serif;
        background: #f7f7f7;
        border-radius: 9px !important;
        border: 1px solid #bfbfbf;
        padding: 17px 17px;
    }

    .hed {
        font-family: 'Roboto Slab', serif;
        width: 97%;
        margin-left: 15px;
        font-size: 16px;
        font-weight: 600;
        color: #6d5e16;
        border: 2px solid #a59e9e;
        padding: 6px;
    }
</style>
<div class="col-sm-10 margin_topMenu">
    <!--heading-->
    <div class="row">
        <div class="col-sm-12">
            <h5 class="title text-center" style="margin-top: -28px;font-size: 30px;margin-bottom: -18px">My Profile</h5>
        </div>
        <div class="col-sm-12">
            <div class="row form-group prof_pad">
                <div class="col-sm-12 DetailsBody border_yelo">
                    <div class="row">
                        <div class="col-sm-4" style="border-right: 1px solid #d47028;">
                            <img src="~/Content/FrontEnd/img/logonew.png" class="profliCr">
                        </div>
                        <div class="col-sm-8">
                            <h4 class="text-center pfile_hed"><span class="fa fa-user-secret"></span> Welcome @Model.FirstName @Model.LastName </h4>
                            <p class="detacolr"><span class="hedclr">Agency Name :</span> @Model.AgencyName</p>
                            <p class="detacolr"><span class="hedclr">Proflie Name :</span> @Model.FirstName @Model.LastName</p>
                            <p class="detacolr"><span class="hedclr">Business Email : </span> @Model.BusinessEmailID</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 DetailsBody border_red">
                    <div class="row" style="padding:2px;">
                        <div class="col-sm-6" style="border-right: 2px solid #e25353;">
                            <p class="detacolr"><span class="hedclr">User ID :</span> @Model.UserId</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="detacolr"><span class="hedclr">Mobile No:</span> @Model.Mobile</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 DetailsBody border_blu">
                    <div class="row" style="padding:2px;">
                        <div class="col-sm-6" style="border-right: 2px solid #224e73;">
                            <p class="detacolr"><span class="hedclr">GST No :</span> 
                            @if (!string.IsNullOrEmpty(Model.GSTNo))
                            {
                                <span>@Model.GSTNo</span>
                            }
                            else
                            {
                            <span>- - -</span>
                            }
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <p class="detacolr"><span class="hedclr"> Phone No :</span> @Model.BusinessPhone</p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-12 DetailsBody border_gre">
                    <div class="row" style="padding:2px;">
                        <div class="col-sm-6" style="border-right: 2px solid #32671b;">
                            <p class="detacolr"><span class="hedclr">Email ID :</span> @Model.EmailID</p>
                        </div>
                        <div class="col-sm-6">
                            <p class="detacolr"><span class="hedclr"> Address :</span> @Model.Address</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
