﻿
@{
    ViewBag.Title = "AgencyDashbord";
    Layout = "~/Views/Shared/_AgencyInnerDashLayoutPage.cshtml";
}
<link href="~/Content/css/AgencyDashbord.css" rel="stylesheet" />
<style>

    .event .media-body a.title {
        font-size: 13px;
        font-weight: normal !important;
    }
    p {
        font-size: 14px;
    }

    .tab {
        overflow: hidden;
        border: 1px solid #ccc;
        background-color: #1f77b4;
    }

        /* Style the buttons inside the tab */
        .tab button {
            background-color: inherit;
            float: left;
            border: none;
            outline: none;
            cursor: pointer;
            border-right: 1px solid #000;
            padding: 7px 0px;
            color:#fff;
            transition: 0.3s;
            font-size: 17px;
            width: 25%;
        }

            /* Change background color of buttons on hover */
            .tab button:hover {
                background-color: #616161;
            }

            /* Create an active/current tablink class */
            .tab button.active {
                background-color: #c12e2e;
            }

    /* Style the tab content */
    .tabcontent {
        display: none;
        padding: 6px 12px;
        border: 1px solid #ccc;
        border-top: none;
    }
    @@media screen and (max-width:700px) {
        .tocntainer {
            margin-top: 0px;
        }

        .helthtop {
            margin-top: 81px;
        }

        #progressbar li {
            font-size: 11px !important;
        }
    }
</style>
<div class="col-sm-10 margin_topMenu">
    <div class="row" style="background: #ffffff; margin-top: -50px; padding: 10px;">
        <div class="col-sm-12 row form-group" style="margin-bottom: 50px;">
            <div class="col-sm-2">
                <label style="margin-top: 6px;">Select Days To Filter</label>
            </div>
            <div class="col-sm-3">
                <select class="form-control" id="txt_daysPolicy" name="txt_daysPolicy" style="border-radius: 4px; height: 40px;">
                    <option value="00 day">Select Days</option>
                    <option value="00 day" selected>Today</option>
                    <option value="01 day">Yesterday</option>
                    <option value="07 day">7 Days</option>
                    <option value="15 day">15 Days</option>
                    <option value="01 month">1 Month</option>
                    <option value="02 month">2 Month</option>
                    <option value="03 month">3 Month</option>
                </select>
            </div>
        </div>
    </div>
    <div class="row" style="background: #f5f4f4;margin-top: -50px;">
        <div class="col-sm-12 form-group">
            <div class="row" style="background: #fff; border: 1px solid #1f77b4;margin-left: 2px; width: 100%;margin-top: 10px;">
                <div class="col-sm-5">
                    <div class="row rowbotmbordr">
                        <div class="col-sm-4 widhth33" style="border-right: 2px solid #02528e;">
                            <p style="margin-bottom: -5px; margin-top: 5px;"><i class="fa fa-user"></i>&nbsp;Policy</p>
                            <h4 class="" id="policycount"> </h4>
                        </div>
                        <div class="col-sm-4 widhth33" style="border-right: 2px solid #02528e;">
                            <p style="margin-bottom: -5px; margin-top: 5px;"><i class="fa fa-clock-o"></i>&nbsp;Proposal</p>
                            <h4 class="" id="Perposalcount">  </h4>
                        </div>
                        <div class="col-sm-4 widhth33" style="border-right: 2px solid #02528e;">
                            <p style="margin-bottom: -5px; margin-top: 5px;"><i class="fa fa-user"></i>&nbsp;Lead</p>
                            <h4 class="" id="Leadcount"></h4>
                        </div>
                    </div>
                </div>
                <div class="col-sm-7">
                    <div class="row">
                        <div class="col-sm-3 widhth50" style="border-right: 2px solid #02528e;">
                            <p style="margin-bottom: -5px; margin-top: 5px;"><i class="fa fa-user"></i>&nbsp;Health Premium</p>
                            <h4 class="" id="totalHealthPremium" style=" font-size: 22px;"></h4>
                        </div>
                        <div class="col-sm-3 widhth50" style="border-right: 2px solid #02528e;">
                            <p style="margin-bottom: -5px; margin-top: 5px;"><i class="fa fa-user"></i>&nbsp;Motor Premium</p>
                            <h4 class="" id="totalMotorPremium" style=" font-size: 22px;"></h4>
                        </div>
                        <div class="col-sm-3 widhth50" style="border-right: 2px solid #02528e;">
                            <p style="margin-bottom: -5px; margin-top: 5px;"><i class="fa fa-user"></i>&nbsp;Life Premium</p>
                            <h4 class="">00.00</h4>
                        </div>
                        <div class="col-sm-3 widhth50 borderright">
                            <p style="margin-bottom: -5px; margin-top: 5px;"><i class="fa fa-user"></i>&nbsp;Travel Premium</p>
                            <h4 class="">00.00</h4>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div class="col-sm-12 form-group">
            <div class="tab">
                <button class="tablinks active" onclick="openCity(event, 'Health')">Health</button>
                <button class="tablinks" onclick="openCity(event, 'Motor')">Motor</button>
                <button class="tablinks" disabled="disabled">Life</button>
                <button class="tablinks" disabled="disabled">Travel</button>
            </div>
            <div id="Health" class="tabcontent" style="display: block;">
                <div class="row">
                    <div class="col-md-4">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Policy</h2>
                                <div class="clearfix"></div>
                            </div>
                            <ul class="list-unstyled top_profiles scroll-view" id="healthPolicy">
                               
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Proposal</h2>
                                <div class="clearfix"></div>
                            </div>
                            <ul class="list-unstyled top_profiles scroll-view" id="healthProposal">
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Enquiry</h2>
                                <div class="clearfix"></div>
                            </div>
                            <ul class="list-unstyled top_profiles scroll-view" id="healthLead">
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Motor" class="tabcontent">
                <div class="row">
                    <div class="col-md-4">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Policy</h2>
                                <div class="clearfix"></div>
                            </div>
                            <ul class="list-unstyled top_profiles scroll-view" id="motorPolicy">
                              
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Proposal</h2>
                                <div class="clearfix"></div>
                            </div>
                            <ul class="list-unstyled top_profiles scroll-view" id="motorProposal">
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Enquiry</h2>
                                <div class="clearfix"></div>
                            </div>
                            <ul class="list-unstyled top_profiles scroll-view" id="motorLead">
                               
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Life" class="tabcontent">
                <div class="row">
                    <div class="col-md-4">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Policy</h2>
                                <div class="clearfix"></div>
                            </div>
                            <ul class="list-unstyled top_profiles scroll-view">
                                <li class="media event">
                                    <a class="pull-left border-aero profile_thumb">
                                        <i class="fa fa-user aero"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-green profile_thumb">
                                        <i class="fa fa-user green"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-blue profile_thumb">
                                        <i class="fa fa-user blue"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-aero profile_thumb">
                                        <i class="fa fa-user aero"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-green profile_thumb">
                                        <i class="fa fa-user green"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Proposal</h2>
                                <div class="clearfix"></div>
                            </div>
                            <ul class="list-unstyled top_profiles scroll-view">
                                <li class="media event">
                                    <a class="pull-left border-aero profile_thumb">
                                        <i class="fa fa-user aero"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-green profile_thumb">
                                        <i class="fa fa-user green"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-blue profile_thumb">
                                        <i class="fa fa-user blue"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-aero profile_thumb">
                                        <i class="fa fa-user aero"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-green profile_thumb">
                                        <i class="fa fa-user green"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Enquiry</h2>
                                <div class="clearfix"></div>
                            </div>
                            <ul class="list-unstyled top_profiles scroll-view">
                                <li class="media event">
                                    <a class="pull-left border-aero profile_thumb">
                                        <i class="fa fa-user aero"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-green profile_thumb">
                                        <i class="fa fa-user green"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-blue profile_thumb">
                                        <i class="fa fa-user blue"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-aero profile_thumb">
                                        <i class="fa fa-user aero"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-green profile_thumb">
                                        <i class="fa fa-user green"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Travel" class="tabcontent">
                <div class="row">
                    <div class="col-md-4">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Policy</h2>
                                <div class="clearfix"></div>
                            </div>
                            <ul class="list-unstyled top_profiles scroll-view">
                                <li class="media event">
                                    <a class="pull-left border-aero profile_thumb">
                                        <i class="fa fa-user aero"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-green profile_thumb">
                                        <i class="fa fa-user green"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-blue profile_thumb">
                                        <i class="fa fa-user blue"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-aero profile_thumb">
                                        <i class="fa fa-user aero"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-green profile_thumb">
                                        <i class="fa fa-user green"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Proposal</h2>
                                <div class="clearfix"></div>
                            </div>
                            <ul class="list-unstyled top_profiles scroll-view">
                                <li class="media event">
                                    <a class="pull-left border-aero profile_thumb">
                                        <i class="fa fa-user aero"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-green profile_thumb">
                                        <i class="fa fa-user green"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-blue profile_thumb">
                                        <i class="fa fa-user blue"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-aero profile_thumb">
                                        <i class="fa fa-user aero"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-green profile_thumb">
                                        <i class="fa fa-user green"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="x_panel">
                            <div class="x_title">
                                <h2>Enquiry</h2>
                                <div class="clearfix"></div>
                            </div>
                            <ul class="list-unstyled top_profiles scroll-view">
                                <li class="media event">
                                    <a class="pull-left border-aero profile_thumb">
                                        <i class="fa fa-user aero"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-green profile_thumb">
                                        <i class="fa fa-user green"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-blue profile_thumb">
                                        <i class="fa fa-user blue"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-aero profile_thumb">
                                        <i class="fa fa-user aero"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                                <li class="media event">
                                    <a class="pull-left border-green profile_thumb">
                                        <i class="fa fa-user green"></i>
                                    </a>
                                    <div class="media-body">
                                        <a class="title" href="#">Ms. Mary Jane</a>
                                        <p class="pmar2"><strong>$2300. </strong> Agent Avarage Sales </p>
                                        <p class="pmar">
                                            <small>12 Sales Today</small>
                                        </p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    function openCity(evt, cityName) {
        var i, tabcontent, tablinks;
        tabcontent = document.getElementsByClassName("tabcontent");
        for (i = 0; i < tabcontent.length; i++) {
            tabcontent[i].style.display = "none";
        }
        tablinks = document.getElementsByClassName("tablinks");
        for (i = 0; i < tablinks.length; i++) {
            tablinks[i].className = tablinks[i].className.replace(" active", "");
        }
        document.getElementById(cityName).style.display = "block";
        evt.currentTarget.className += " active";
    }
    $(function () {
        DashboardDetail();
        policyGraphbyAgency();
        totalPremium();
    });
    $("#txt_daysPolicy").change(function () {       
        policyGraphbyAgency();
        totalPremium();
    });
    function DashboardDetail() {
        $.ajax({
            type: "Post",
            url: "/Administration/DashbordList",
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                if (data != "" && data.length > 0) {
                    $("#healthPolicy").html(data[0]);
                    $("#healthProposal").html(data[1]);
                    $("#healthLead").html(data[2]);
                    $("#motorPolicy").html(data[3]);
                    $("#motorProposal").html(data[4]);
                    $("#motorLead").html(data[5]);
                }
            }
        });


    }
    function totalPremium() {

        let timeDuration = $("#txt_daysPolicy option:selected").val();
        $.ajax({
            type: "Post",
            url: "/Administration/GetTotalPremium",
            data: '{duration:' + JSON.stringify(timeDuration) + '}',
            async: false,
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                $("#totalHealthPremium").html("₹ " + parseFloat(data[0]).toFixed(2));
                $("#totalMotorPremium").html("₹ " + parseFloat(data[1]).toFixed(2));
            }
        });
    }
    function policyGraphbyAgency() {
        let timeDuration = $("#txt_daysPolicy option:selected").val();

        $.ajax({
            type: "Post",
            url: "/Administration/policyGraphbyAgency",
            data: '{duration:' + JSON.stringify(timeDuration) + '}',
            async: false,
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (response) {
                $("#policycount").html(response[0]);
                $("#Perposalcount").html(response[1]);
                $("#Leadcount").html(response[2]);                 
            }

        });
    }
</script>



