﻿@model insurance.Models.Custom.FrontAgencyModel.CreateAgency
@{
    ViewBag.Title = "AgencyChangePassword";
    Layout = "~/Views/Shared/_AgencyInnerDashLayoutPage.cshtml";
}
<link href="~/Content/css/validation.css" rel="stylesheet" />
<style>
    .margin_top10px {
        margin-top: 10px;
    }

    .btn_Margin {
        margin-top: 20px;
    }

    .help-error-block {
        margin: 10px 0px 0px 30px;
    }

    .panelbox {
        margin-top: 35px;
        box-shadow: 0px 0px 8px #d4d4d4;
        border-radius: 3px;
        padding: 18px;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<link href="~/Content/css/custom/commoncss.css" rel="stylesheet" />
<div class="col-sm-10 margin_topMenu">
    <!--heading-->
    <div class="row">
        <div class="col-sm-12">

            <h5 class="title text-center" style="margin-top: -28px;font-size: 30px;margin-bottom: -18px">Change Password</h5>

            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-6 col-lg-offset-3 panelbox">
                        @if (TempData["Message"] != null)
                        {
                            <div class="clearfix"></div><br />
                            <div class="col-sm-12 margin_top10px">
                                <p style="color: #249637;font-size: 20px;text-align: center;">
                                    <i class="fa fa-check-circle-o" aria-hidden="true" style="font-size: 70px;"></i><br />
                                    @TempData["Message"]
                                </p>
                            </div>
                            <div class="clearfix"></div><br />
                        }
                        else
                        {
                            using (Html.BeginForm())
                            {
                                @Html.HiddenFor(p => p.AgencyID)                               
                                <div class="col-md-12 form-group form-validation">
                                    <label class="control-label">Current Password</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                                        @Html.TextBoxFor(p => p.CurrentPassword, new { @class = "form-control", placeholder = "Enter Current Password", type = "password" })
                                    </div>
                                </div>

                                <div class="col-md-12 form-group form-validation">
                                    <label class="control-label">New Password</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                                        @Html.TextBoxFor(p => p.Password, new { @class = "form-control", placeholder = "Enter Password", type = "password" })
                                    </div>
                                </div>

                                <div class="col-md-12  form-group form-validation">
                                    <label class="control-label">Confirm Password</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                                        @Html.TextBoxFor(p => p.ConfPassword, new { @class = "form-control", placeholder = "Enter Confirm Password", type = "password" })
                                    </div>
                                </div>
                                @Html.Raw(ViewBag.Msg)
                                <div class="col-md-12 btn_Margin form-group">
                                    <input type="submit" value="Change Password" class="btn btn-primary blackbutton form-control maincss" style="font-weight:bold;background: #2a3f54;color: #fff;" onclick="return CheckForm()" />
                                    <span class="btn btn-primary blackbutton form-control tempcss hidden" style="font-weight:bold;background: #2a3f54;color: #fff;">Please Wait...<i class="fa fa-cog fa-spin"></i></span>
                                </div>

                            }
                        }

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<script>
    function CheckForm() {
        if (CheckBlankValidation("CurrentPassword")) return !1;
        if (CheckBlankValidation("Password")) return !1;
        if (CheckBlankValidation("ConfPassword")) return !1;
        if (CheckSamePasswordValidation('Password', 'ConfPassword')) return !1;
        $('.maincss').addClass('hidden');
        $('.tempcss').removeClass('hidden');
    }
</script>
<script src="~/Content/js/custom/common.js"></script>