﻿@model insurance.Models.Custom.FrontAgencyModel.Agency_Detail
@{
    ViewBag.Title = "AgencyCertificate";
    Layout = "~/Views/Shared/_AgencyInnerLayoutPage.cshtml";
}
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
<style>
    .tocntainer {
        margin-top: 150px;
    }

    .helthtop {
        margin-top: -18px;
    }

    @@media screen and (max-width:700px) {
        .tocntainer {
            margin-top: 0px;
        }
    }
</style>
<div class="container tocntainer">
    <div class="row">
        <div class="col-sm-12 canvas_div_pdf form-group" style="background: #237eb8; border-radius: 4px;">
            <div class="row">
                <div class="col-sm-11" style="margin-left: auto; margin-right: auto; background: #fff; padding: 4px; margin-top: 40px; margin-bottom: 40px">
                    <div class="row">
                        <div class="col-sm-12" style="border-bottom:1px solid #000;flex: 0 0 96%;margin-left: 24px;">
                            <div class="row">
                                <div class="col-sm-12">
                                    <img src="~/Content/FrontEnd/img/logonew.png" style="margin-left: auto; margin-right: auto; display: block;" />
                                    <h4 class="text-center" style=" font-size: 17px; color: #000;">This is to certify that </h4>
                                    <h4 class="text-center" style="font-size: 18px; color: #237cb6;">@Model.AgencyName</h4>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <h5 class="text-center" style=" font-size: 18px; color: #000; margin-top: 40px;">Has been appointed as a SEEINSURED POS (Point of Sale) </h5>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="col-sm-12" style="border-bottom:2px solid #000">
                                        <h4 class="text-center" style=" font-size: 18px; color: #237cb6;"> @Model.UpdatedDate</h4>
                                    </div>
                                    <div class="col-sm-12">
                                        <h4 class="text-center" style="margin-top: 6px; font-size: 18px; color: #000;"> Enrolment Date</h4>
                                    </div>
                                </div>
                                <div class="col-sm-6">

                                </div>
                                <div class="col-sm-3">
                                    <div class="col-sm-12" style="border-bottom:2px solid #000">
                                        <h4 class="text-center" style="font-size: 18px; color: #237cb6;">SI<span>@Model.AgencyID</span></h4>
                                    </div>
                                    <div class="col-sm-12">
                                        <h4 class="text-center" style="margin-top: 6px; font-size: 18px; color: #000;"> Point of Sales Code </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="col-sm-12" style="border-bottom:2px solid #000">
                                        <img src="~/Content/FrontEnd/img/GauravSignature.png" style="margin-left: auto; margin-right: auto; display: block;" />
                                    </div>
                                    <div class="col-sm-12">
                                        <h4 class="text-center" style="margin-top: 6px; font-size: 18px; color: #000;"> Gaurav Puria   </h4>
                                        <h4 class="text-center" style="margin-top: 6px; font-size: 18px; color: #000;">Director </h4>
                                    </div>
                                </div>
                                <div class="col-sm-6">

                                </div>
                                <div class="col-sm-3">
                                    <div class="col-sm-12" style="border-bottom:2px solid #000">
                                        <img src="~/Content/FrontEnd/img/VikrantSignature.png" style="margin-left: auto; margin-right: auto;margin-top: 65px; display: block;" />
                                    </div>
                                    <div class="col-sm-12">
                                        <h4 class="text-center" style="margin-top: 6px; font-size: 18px; color: #000;"> Vikrant Sharma </h4>
                                        <h4 class="text-center" style="margin-top: 6px; font-size: 18px; color: #000;"> Director </h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-12">
                                    <img src="~/Content/FrontEnd/img/PartnerPic.png" style="margin-left: auto; margin-right: auto;display: block;" />
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-4" style="margin-left: 75px;">
                                    <h4>Registered Office </h4>
                                    <h4 style="font-size: 15px; color: #000;">Plot No. 3, 3rd Floor, Amberhai Extension</h4>
                                    <h4 style="font-size: 15px; color: #000;">Dwarka, Sector-19, Delhi-110075 </h4>
                                </div>
                                <div class="col-sm-3">

                                </div>
                                <div class="col-sm-4">
                                    <h4>Corporate Office  </h4>
                                    <h4 style="font-size: 15px; color: #000;">Sco 16-17 Fortune Chamber, 4th floor,</h4>
                                    <h4 style="font-size: 15px; color: #000;"> Above HDFC Bank Feroze Gandhi Market Ludhiana-141001</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {       
            var HTML_Width = $(".canvas_div_pdf").width();
            var HTML_Height = $(".canvas_div_pdf").height();
            var top_left_margin = 15;
            var PDF_Width = HTML_Width + (top_left_margin * 2);
            var PDF_Height = (PDF_Width * 1.5) + (top_left_margin * 2);
            var canvas_image_width = HTML_Width;
            var canvas_image_height = HTML_Height;

            var totalPDFPages = Math.ceil(HTML_Height / PDF_Height) - 1;


            html2canvas($(".canvas_div_pdf")[0], { allowTaint: true }).then(function (canvas) {
                canvas.getContext('2d');

                console.log(canvas.height + "  " + canvas.width);


                var imgData = canvas.toDataURL("image/jpeg", 1.0);
                var pdf = new jsPDF('p', 'pt', [PDF_Width, PDF_Height]);
                pdf.addImage(imgData, 'JPG', top_left_margin, top_left_margin, canvas_image_width, canvas_image_height);


                for (var i = 1; i <= totalPDFPages; i++) {
                    pdf.addPage(PDF_Width, PDF_Height);
                    pdf.addImage(imgData, 'JPG', top_left_margin, -(PDF_Height * i) + (top_left_margin * 4), canvas_image_width, canvas_image_height);
                }

                pdf.save("Certificatet.pdf");
            });       
    });
</script>