﻿@model IEnumerable<insurance.Areas.AdminArea.Models.AdminArea_Custom.BookingDetails>
@{
    ViewBag.Title = "BookingReport";
    Layout = "~/Views/Shared/_AgencyInnerDashLayoutPage.cshtml";
}

<div class="x_panel col-sm-10 margin_topMenu">
    <div class="section-heading">
        <h5 class="title">
            <span style="text-align: center; display: block; margin-top: -33px; border-bottom: 3px solid;"> Booking Report</span>
        </h5>
    </div>

    <div class="x_content">
        <div class="col-sm-12">
            @using (Html.BeginForm())
            {
                <div class="row from-group searchpanel" style="margin-bottom:10px;">

                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">From Date</div>
                        <div class="col-sm-12">
                            <input type="date" class="form-control" id="searchFromDate" name="FromDate" placeholder="From Booking Date">
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">To Date</div>
                        <div class="col-sm-12">
                            <input type="date" class="form-control" id="searchToDate" name="ToDate" min="" placeholder="To Booking Date">
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">Insurance Type</div>
                        <div class="col-sm-12">
                            <select class="form-control" id="searchInsuranceType" name="InsuranceType">
                                <option value="">---Select Insurance Type---</option>
                                <option value="Health">Health</option>
                                <option value="Motor">Motor</option>
                                <option value="Life">Life</option>
                                <option value="Travel">Travel</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">Insurer</div>
                        <div class="col-sm-12">
                            <select class="form-control" id="searchInsurer" name="Insurer">
                                <option value="">---Select Insurer---</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="row  from-group searchpanel" style="margin-bottom:10px;">

                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">Product</div>
                        <div class="col-sm-12">
                            <select class="form-control" id="searchProduct" name="Product">
                                <option value="">--- Select Product---</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-12">
                        <div class="col-sm-12">Customer Name</div>
                        <div class="col-sm-12">
                            <input type="text" class="form-control" id="searchCustomerName" name="CustomerName" placeholder="Customer Name">
                        </div>
                    </div>
                </div>
                <div class="row  from-group searchpanel" style="margin-bottom:10px;">
                    <div class="col-sm-3 col-xs-12 pull-right">
                        <button type="submit" class="btn btn-success form-control" id="searchBtn" style="margin-top: 23px; height: 44px;background:#1c7430;color:#fff !important">Search</button>
                    </div>
                    <div class="col-sm-3 col-xs-12 pull-right">
                        <button type="button" class="btn btn-info btn-sm form-control" style="margin-top: 23px; height: 44px; background: #10707f;color:#fff !important" id="export2excel">Export</button>
                    </div>
                </div>
            }

            <input type="hidden" id="totalrecord" value="#Model.EnquiryDetailList.Count" />
            <div class="col-sm-12">
                <div class="table-responsive text-nowrap" style="overflow: scroll;overflow-y: hidden;">
                    <table class="table" id="bookingReportTable" data-toggle="table">
                        <thead>
                            <tr style="background:#f6f6f6;">
                                <th>Agency Id</th>
                                <th>Agency Name</th>
                                <th>Order Id</th>
                                <th>Insurance</th>
                                <th>Insurer</th>
                                <th>Policy Number</th>
                                <th>Sum Insured</th>
                                <th>Proposer Name</th>
                                <th>Insured</th>
                                <th>Basic</th>
                                <th>GST</th>
                                <th>Premium</th>
                                <th>Discount</th>
                                <th>TDS</th>
                                <th>Product Name</th>
                                <th>Policy Type</th>
                                <th>Tenure</th>
                                <th>Policy Date</th>
                            </tr>
                        </thead>
                        <tbody>
                            @if (Model.Count() > 0 && Model != null)
                            {
                                int count = 0;
                                foreach (var veh in Model)
                                {
                                    <tr class="memberlistcss" id="row_@count" data-id="@veh.Enquiry_Id" data-membername="@veh.AgencyName">
                                        <td>@veh.AgencyID </td>
                                        <td>@veh.AgencyName</td>
                                        <td>@veh.Enquiry_Id</td>
                                        <td>@veh.Insurance</td>
                                        <td>@veh.Insurer</td>
                                        <td>@veh.PolicyNo</td>
                                        <td>@veh.SumInsured</td>
                                        <td>@veh.ProposerName</td>
                                        <td>@veh.Insured</td>
                                        <td>@veh.Basic</td>
                                        <td>@veh.GST</td>
                                        <td>@veh.Premium</td>
                                        <td>@veh.Discount</td>
                                        <td>@veh.TDS</td>
                                        <td>@veh.ProductName</td>
                                        <td>@veh.PolicyType</td>
                                        <td>@veh.Tenure</td>
                                        <td>@veh.PolicyDate</td>
                                    </tr>
                                    count++;
                                }
                            }
                            else
                            {
                                <tr class="norecordfound">
                                    <td colspan="6" class="text-center text-danger">No record found !</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section footer{
    <script src="~/Content/js/custom/table2excel.js"></script>
    <script>

        $(function () {
            $("#searchInsurer").prop("disabled", true);
            $("#searchProduct").prop("disabled", true);
        });


        $("#searchInsuranceType").change(function () {
            let InsuranceType = $("#searchInsuranceType option:selected").val();
            if (InsuranceType != '') {
                BindInsurers();
            }
            else {
                $("#searchInsurer").prop("disabled", true);
                $("#searchProduct").prop("disabled", true);
                $("#searchInsurer").val("");
                $("#searchProduct").val("");
            }
        });
        $("#searchInsurer").change(function () {
            let Insurer = $("#searchInsurer option:selected").val();
            if (Insurer != '') {
                BindProducts();
            }
            else {
                $("#searchProduct").prop("disabled", true);
                $("#searchProduct").val("");
            }
        });

        function BindInsurers() {

            $.ajax({
                type: "Post",
                url: "/Account/BindInsurers",
                data: '{insuranceType:' + JSON.stringify($("#searchInsuranceType option:selected").val()) + '}',
                async: false,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $("#searchInsurer").html("<option value=''>---Select Insurer---</option>");
                    $("#searchInsurer").append(data);
                    $("#searchInsurer").prop("disabled", false);
                }
            });
        }
        function BindProducts() {

            $.ajax({
                type: "Post",
                url: "/Account/BindProducts",
                data: '{insuranceType:' + JSON.stringify($("#searchInsuranceType option:selected").val()) + ',insuranceId:' + JSON.stringify($("#searchInsurer option:selected").data('compid')) + '}',
                async: false,
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    $("#searchProduct").html("<option value=''>---Select Product---</option>");
                    $("#searchProduct").append(data);
                    $("#searchProduct").prop("disabled", false);
                }
            });
        }


        function exportexcel(tableId, filename) {
            $("#" + tableId).table2excel({
                name: "Table2Excel",
                filename: filename,
                fileext: ".xls"
            });
        }

        //$("#export2excel").click(exportexcel('bookingReportTable', 'BookingReport'));
        $("#export2excel").click(function () {
            exportexcel('bookingReportTable', 'BookingReport');
        });


    </script>
}

