﻿@model IEnumerable<insurance.Models.Custom.FrontAgencyModel.ProposalDetailsHealth> 
@{
    ViewBag.Title = "Policy List";
    Layout = "~/Views/Shared/_AgencyInnerDashLayoutPage.cshtml";
}

<style>
    .pagination {
        margin: 0px !important;
    }

    .no-records-found {
        text-align: left !important;
    }

    .pagination {
        margin: 0px !important;
    }

    .netCostDgn {
        padding: 2px 17px;
        border-radius: 12px;
        background: #f0d11c;
        box-shadow: 0px 1px 8px 1px #a1a1a9;
    }

    .BookingDesign {
        margin-top: 20px;
        box-shadow: 0px 1px 8px 1px #a1a1a9;
        border-radius: 4px;
    }

    .btnmarginTop {
        margin-top: 7px;
    }

    .noRecord {
        padding: 10px;
        border: 1px solid;
    }

    .ab {
        color: #659be0;
    }
</style>
<link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<div class="col-sm-10 margin_topMenu">
    <!--heading-->
    <div class="section-heading">
        <h5 class="title">
            <span style="text-align: center; display: block; margin-top: -33px; border-bottom: 3px solid;">Health Policy List</span>
        </h5>
    </div>

    @using (Html.BeginForm())
    {

        <div class="col-md-12 col-sm-12 col-xs-12 form-group SearchPannel" id="searchArea">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                    <label class="control-label">Created From Date</label>
                    <div class="input-group">
                        <span class="input-group-addon" style="color: #e71820;"><span class="fa fa-calendar"></span></span>
                        @Html.TextBox("FromDate", null, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyyy" })
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                    <label class="control-label">Created To Date</label>
                    <div class="input-group">
                        <span class="input-group-addon" style="color: #e71820;"><span class="fa fa-calendar"></span></span>
                        @Html.TextBox("ToDate", null, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyyy" })
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                    <label class="control-label">Insurer</label>
                    <div class="input-group">
                        <span class="input-group-addon" style="color: #e71820;"><span class="fa fa-calendar"></span></span>
                        @Html.DropDownList("Insurer", new List<SelectListItem>() { new SelectListItem { Text = "--Select--", Value = "" } }, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                    <label class="control-label">Product</label>
                    <div class="input-group">
                        <span class="input-group-addon" style="color: #e71820;"><span class="fa fa-calendar"></span></span>
                        @Html.DropDownList("Product", new List<SelectListItem>() { new SelectListItem { Text = "--Select--", Value = "" } }, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                    <label class="control-label">PolicyType</label>
                    <div class="input-group">
                        <span class="input-group-addon" style="color: #e71820;"><span class="fa fa-calendar"></span></span>
                        @Html.DropDownList("PolicyType", new List<SelectListItem>() { new SelectListItem { Text = "--Select--", Value = "" }, new SelectListItem { Text = "Individual", Value = "Individual" }, new SelectListItem { Text = "Floater", Value = "Floater" } }, new { @class = "form-control" })
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                    <label class="control-label">Policy No</label>
                    <div class="input-group">
                        <span class="input-group-addon" style="color: #e71820;"><span class="fa fa-calendar"></span></span>
                        @Html.TextBox("PolicyNo", null, new { @class = "form-control", placeholder = "Policy no." })
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                    <label class="control-label">Order Id</label>
                    <div class="input-group">
                        <span class="input-group-addon" style="color: #e71820;"><span class="fa fa-calendar"></span></span>
                        @Html.TextBox("EnquiryId", null, new { @class = "form-control", placeholder = "Order Id" })
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                    <label class="control-label">Customer Name</label>
                    <div class="input-group">
                        <span class="input-group-addon" style="color: #e71820;"><span class="fa fa-calendar"></span></span>
                        @Html.TextBox("CustomerName", null, new { @class = "form-control", placeholder = "Customer Name" })
                    </div>
                </div>
                <div class="col-sm-3  col-xs-12 form-group">
                    <input type="submit" class="btn btn-success blackbutton mainsearch" id="mysrc" value="Search" style=" margin-top: 34px; width: 100%;">
                </div>
            </div>
        </div>

    }
    @if (Model != null && Model.Count() > 0)
    {
        foreach (var item in Model)
        {
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-sm-12 form-group BookingDesign">
                        <div class="row" style="border-bottom: 1px solid #000000">
                            <div class="col-sm-3">
                                <p>Created Date : <span class="text-primary"> @item.CreatedDate_Policy</span></p>
                            </div>
                            <div class="col-sm-4">
                                <p>Policy No : <span class="text-primary"> @item.pay_policy_Number</span></p>
                            </div>
                            <div class="col-sm-3">
                                <p>Order ID :  <span class="text-primary"> @item.Enquiry_Id</span></p>
                            </div>

                            <div class="col-sm-2" style="background: #257906;">
                                <a href="/health/proposalsummary?enquiry_id=@item.Enquiry_Id" target="_blank" class="text-center"><span style="color: #fff; font-weight:bold;font-size:20px;"><span class="fa fa-edit"></span>&nbsp;View Details</span></a>
                            </div>
                        </div>
                        <div class="row form-group" style="border-bottom: 1px solid #000000">
                            <div class="col-sm-5">
                                <p>
                                    Insurer Name :  <span class="text-primary">
                                        @item.CompanyName
                                    </span>
                                </p>
                                <p>
                                    Customer Name : <span class="text-primary">@item.CustomerName</span>
                                </p>
                            </div>
                            <div class="col-sm-3">
                                <p>Product Name:  <span class="text-primary">@item.ProductName</span></p>
                                <p>Sum Insured :  <span class="text-primary"> @item.SumInsured</span></p>
                            </div>
                            <div class="col-sm-4">
                                <p>Policy Type :  <span class="text-primary"> @item.Policy_Type</span></p>
                                <p>Proposal Permimum :  <span class="text-primary">@item.PremiumAmount</span></p>
                            </div>
                        </div>

                        <div class="row tabstyle form-group">
                            <div class="col-sm-12">
                                <a target="_blank" href="#" class="btn btn-primary btn-sm pull-right"><span class="fa fa-print"></span> Download Policy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>

<script src="~/Content/js/custom/DatePicker.js"></script>
<script>
    $(document).ready(function () {

        $("#Product").prop("disabled", true);        
        BindInsurers();
    });

    $("#Insurer").change(function () {
        let Insurer = $("#Insurer option:selected").val();
        if (Insurer != '') {
            BindProducts();
        }
        else {
            $("#Product").prop("disabled", true);
            $("#Product").val("");
        }
    });
    
    function BindInsurers() {

        $.ajax({
            type: "Post",
            url: "/Backend_Enquiry/BindInsurers",
            async: false,
            datatype: "json",
            success: function (data) {
                $("#Insurer").html("<option value=''>--Select--</option>");
                $("#Insurer").append(data);
                $("#Insurer").prop("disabled", false);
            }
        });
    }
    function BindProducts() {

        $.ajax({
            type: "Post",
            url: "/Backend_Enquiry/BindProducts",
            data: '{insuranceId:' + JSON.stringify($("#Insurer option:selected").data('compid')) + '}',
            async: false,
            contentType: "application/json; charset=utf-8",
            datatype: "json",
            success: function (data) {
                $("#Product").html("<option value=''>--Select--</option>");
                $("#Product").append(data);
                $("#Product").prop("disabled", false);
            }
        });
    }
</script>