﻿@model insurance.Models.Custom.FrontAgencyModel.LeadRequestModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AgencyInnerLayoutPage.cshtml";
}
<link href="~/Content/css/custom/validationcss.css" rel="stylesheet" />
<script src="~/Content/js/custom/common.js"></script>
<style>
    .msg {
        position: absolute;
        z-index: 99999;
        right: 6px;
        padding: 15px;
        width: 350px;
        top: 100px;
        background: #155724;
        box-shadow: 0px 0px 3px #000;
        border: 1px solid green;
        color: #fff;
    }
    .get-quat-area .quat-form {
        padding: 50px;
        -webkit-box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
        box-shadow: 0 0 20px 3px rgba(0, 0, 0, 0.05);
        background-color: #ffffff;
        border-top-left-radius: 135px;
        border-bottom-right-radius: 135px;
    }

    .hedingP {
        text-align: center;
        font-size: 25px;
        margin-top: -23px;
        color: #2178b2 !important;
        margin-bottom: 6px;
        border-bottom: 1px solid #000;
    }

    .cari {
        background: #fff;
        padding: 10px;
        border-radius: 22px;
        text-align: center;
        box-shadow: 0px 2px 6px 5px #00000029;
        height: 138px;
        margin: 0px auto;
        width: 141px;
    }

    .crimg {
        height: 92px;
        margin: 3px 0%;
    }

    .insbx {
        background: #fff;
        padding: 21px;
        border-radius: 22px;
        text-align: center;
        box-shadow: 0px 2px 6px 5px #00000029;
        height: 138px;
        margin: 0px auto;
        width: 141px;
    }

    .termimg {
        height: 80px;
        margin: 0px 9%;
    }

    .twowhheeler {
        width: 425px;
        margin-left: 13%;
    }
</style>
<div class="">
    @if (TempData["Msg"] != null)
    {
        <div class="alert alert-success msg" id="closeMessage">

            <span><span class="fa fa-check" style="font-size: 25px;"></span>&nbsp; @TempData["Msg"]</span>
        </div>
    }

</div>
<div class="main-banner-area">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="banner-text">

                    <h1 class="wow fadeInUp" data-wow-delay=".4s" style="font-size: 43px;color:#fff;">The Right Protection to Keep You Moving Forward</h1>

                    <p class="wow fadeInUp" data-wow-delay=".6s">Whether you have bought your policy from us or anywhere else, our team of experts are ready to assist. We don't leave your hand when you are in need.</p>

                    @*<div class="banner-btn wow fadeInUp" data-wow-delay=".9s">

                        <a href="#GetaQuote" class="default-btn active">
                            <i class="fa fa-angle-double-down"></i>&nbsp; Get A Free Quote
                        </a>
                    </div>*@
                </div>
            </div>

            <div class="col-lg-7 pr-0">
                <div class="row">
                    <div class="col-sm-3 col-xs-6 form-group">
                        <div class="insbox insbx">
                            <a href="/Health/HelthSearch">
                                <img src="~/Content/images/heart22.gif" class="termimg" />
                            </a>
                            <a href="/Health/HelthSearch" style="text-align:center;font-size: 17px;color: #6e6e6e; font-weight: bold;">Health</a>

                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 form-group">
                        <div class="insbox insbx">
                            <a href="#">
                                <img src="~/Content/images/terms.gif" class="termimg" />
                            </a>
                            <p style="text-align:center;font-size: 17px; font-weight:bold;">Life</p>
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 form-group">
                        <div class="insbox insbx">
                            <a href="/Moter/MoterSearch">
                                <img src="~/Content/images/bike-final.gif" class="twowhheeler termimg" />
                            </a>
                            <a href="/Moter/MoterSearch" style="text-align:center;font-size: 17px;color: #6e6e6e; font-weight: bold;">Motor</a>                          
                        </div>
                    </div>
                    <div class="col-sm-3 col-xs-6 form-group">
                        <div class="cari">
                            <a href="#">
                                <img src="~/Content/images/Travel.gif" class="crimg" />
                            </a>
                            <b style="text-align:center;font-size: 17px;">Travel</b>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="shape">
        <img src="~/Content/FrontEnd/img/banner/banner-shape.png" alt="Image">
    </div>
    <div class="banner-shape-right">
        <img src="~/Content/FrontEnd/img/banner/banner-shape-right.png" alt="Image">
    </div>
</div>
@*@using (Html.BeginForm())
{
    <section class="get-quat-area ptb-100" id="GetaQuote" style="background: #f1f9ff;">
        <div class="container">
            <div class="section-title">
                <span>Get A Quote</span>
                <h2>Get A Free Quote</h2>
                <p>Compare and Buy personalized online Insurance Quotes for Free</p>
            </div>

            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="get-quat-img wow fadeInLeft" data-wow-delay=".3s">
                        <img src="~/Content/images/enquiry.png" alt="Image" />
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="quat-form">
                        <div class="tab">
                            <div class="tab_content">
                                <div class="tabs_item">
                                    <p class="hedingP">LEAD REQUEST FORM</p>

                                    <div class="form">
                                        <div class="form-group form-validation">
                                            @Html.TextBoxFor(p => p.Name, new { @class = "form-control ", placeholder = "Your Name" })
                                        </div>

                                        <div class="form-group form-validation">
                                            @Html.TextBoxFor(p => p.Email, new { @class = "form-control ", placeholder = "Your Email" })
                                        </div>

                                        <div class="form-group form-validation">
                                            @Html.TextBoxFor(p => p.ContactNo, new { @class = "form-control ", placeholder = "Your Mobile No" })
                                        </div>
                                        <div class="form-group form-validation">
                                            Male
                                            @Html.RadioButtonFor(p => p.Gender, "Male")
                                            Female
                                            @Html.RadioButtonFor(p => p.Gender, "Female")
                                        </div>
                                        <div class="form-group form-validation">
                                            @Html.DropDownListFor(model => model.Age, new SelectList(new List<Object>{
                                            new { value = "" , text = "--Select Age--" },
                                       new { value = "20" , text = "21" },
                                       new { value = "21" , text = "22" },
                                       new { value = "22" , text = "22" },
                                        new { value = "23" , text = "23" },
                                         new { value = "24" , text = "24" },
                                          new { value = "25" , text = "25" },
                                           new { value = "26" , text = "26" },
                                            new { value = "27" , text = "27" },
                                             new { value = "28" , text = "28" },
                                              new { value = "29" , text = "29" },
                                              new { value = "30" , text = "30" },
                                              new { value = "31" , text = "31" },
                                              new { value = "32" , text = "32" },
                                              new { value = "33" , text = "33" },
                                              new { value = "34" , text = "34" },
                                              new { value = "35" , text = "35" },
                                              new { value = "36" , text = "36" },
                                              new { value = "37" , text = "37" },
                                              new { value = "38" , text = "38" },
                                             new { value = "39" , text = "39" },
                                             new { value = "40" , text = "40" },
                                             new { value = "41" , text = "42" },
                                           new { value = "42" , text = "42" },
                                           new { value = "43" , text = "43" },
                                          new { value = "44" , text = "44" },
                                         new { value = "45" , text = "45" },
                                         new { value = "46" , text = "46" },
                                         new { value = "47" , text = "47" },
                                         new { value = "48" , text = "48" },
                                         new { value = "49" , text = "49" },
                                         new { value = "50" , text = "50" },
                                    }, "value", "text"), new { @class = "form-control" })
                                        </div>
                                        <div class="form-group form-validation">
                                            @Html.DropDownListFor(model => model.Service, new SelectList(new List<Object>{
                                              new { value = "" , text = "--Select Service--" },
                                              new { value = "Car" , text = "Car" },
                                         new { value = "Two Wheeler" , text = "Two Wheeler" },
                                         new { value = "Health" , text = "Health" },
                                         new { value = "Travel" , text = "Travel" },
                                          new { value = "Life" , text = "Life" },
                                          new { value = "Property" , text = "Property" },                                          
                                          new { value = "Commercial" , text = "Commercial" },
                                          new { value = "Personal Accident" , text = "Personal Accident" },
                                      }, "value", "text"), new { @class = "form-control" })
                                        </div>
                                        <div class="form-group form-validation">
                                            @Html.TextAreaFor(p => p.Remark, new { @class = "form-control ", placeholder = "Enter Remarks.." })
                                        </div>
                                        <button type="submit" class="default-btn active maincss" style="margin-left: 0px;" onclick="return CheckForm()">
                                            Get A Quote
                                        </button>
                                        <span class="default-btn active tempscss hidden" style="margin-left: 0px;">Please Wait..<i class="fa fa-spinner fa-spin"></i></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>

}*@


<script>
    function CheckForm() {
        if (CheckBlankValidation('Name')) return !1;
        if (CheckBlankValidation('Email')) return !1;
        if (CheckEmailValidatoin("Email")) return !1;
        if (CheckBlankValidation('ContactNo')) return !1;
        if (CheckDropDownBlankValidation('Age')) return !1;
        if (CheckDropDownBlankValidation('Service')) return !1;        
        if (CheckBlankValidation('Remark')) return !1;
        $('.maincss').addClass('hidden');
        $('.tempscss').removeClass('hidden');
    }
    setTimeout(function () { $('#closeMessage').slideToggle(3000).fadeOut('slow'); }, 3000);
</script>
