﻿@model IEnumerable<insurance.Models.Custom.FrontAgencyModel.ProposalDetailsMotor>
@{
    ViewBag.Title = "Policy List";
    Layout = "~/Views/Shared/_AgencyInnerDashLayoutPage.cshtml";
}

<style>
    .pagination {
        margin: 0px !important;
    }

    .no-records-found {
        text-align: left !important;
    }

    .pagination {
        margin: 0px !important;
    }

    .netCostDgn {
        padding: 2px 17px;
        border-radius: 12px;
        background: #f0d11c;
        box-shadow: 0px 1px 8px 1px #a1a1a9;
    }

    .BookingDesign {
        margin-top: 20px;
        box-shadow: 0px 1px 8px 1px #a1a1a9;
        border-radius: 4px;
    }

    .btnmarginTop {
        margin-top: 7px;
    }

    .noRecord {
        padding: 10px;
        border: 1px solid;
    }

    .ab {
        color: #659be0;
    }
</style>
<link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<div class="col-sm-10 margin_topMenu">
    <!--heading-->
    <div class="section-heading">
        <h5 class="title">
            <span style="text-align: center; display: block; margin-top: -33px; border-bottom: 3px solid;">Motor Policy List</span>
        </h5>
    </div>
    <div class="col-md-12 col-sm-12 col-xs-12 form-group SearchPannel" id="searchArea">
        @using (Html.BeginForm())
        {
        <div class="row">
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <label class="control-label">Created From Date</label>
                <div class="input-group">
                    <span class="input-group-addon" style="color: #e71820;"><span class="fa fa-calendar"></span></span>
                    @Html.TextBox("FromDate", null, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyyy" })
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <label class="control-label">Created To Date</label>
                <div class="input-group">
                    <span class="input-group-addon" style="color: #e71820;"><span class="fa fa-calendar"></span></span>
                    @Html.TextBox("ToDate", null, new { @class = "form-control CommanDate", placeholder = "dd/mm/yyyy" })
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <label class="control-label">Insurer</label>
                <div class="input-group">
                    <span class="input-group-addon" style="color: #e71820;"><span class="fa fa-calendar"></span></span>
                    @Html.DropDownList("Insurer", new List<SelectListItem>() { new SelectListItem { Text = "--Select--", Value = "" } }, new { @id = "searchInsurer", @class = "form-control" })
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <label class="control-label">Product</label>
                <div class="input-group">
                    <span class="input-group-addon" style="color: #e71820;"><span class="fa fa-calendar"></span></span>
                    @Html.DropDownList("Product", new List<SelectListItem>() { new SelectListItem { Text = "--Select--", Value = "" } }, new { @id = "searchProduct", @class = "form-control" })
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <label class="control-label">PolicyType</label>
                <div class="input-group">
                    <span class="input-group-addon" style="color: #e71820;"><span class="fa fa-calendar"></span></span>
                    @Html.DropDownList("PolicyType", new List<SelectListItem>() { new SelectListItem { Text = "--Select--", Value = "" }, new SelectListItem { Text = "Renewal", Value = "Renewal" }, new SelectListItem { Text = "Fresh", Value = "Fresh" } }, new { @class = "form-control" })
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <label class="control-label">Policy No</label>
                <div class="input-group">
                    <span class="input-group-addon" style="color: #e71820;"><span class="fa fa-calendar"></span></span>
                    @Html.TextBox("PolicyNo", null, new { @class = "form-control", placeholder = "Policy no." })
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <label class="control-label">Order Id</label>
                <div class="input-group">
                    <span class="input-group-addon" style="color: #e71820;"><span class="fa fa-calendar"></span></span>
                    @Html.TextBox("EnquiryId", null, new { @class = "form-control", placeholder = "Order Id" })
                </div>
            </div>
            <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                <label class="control-label">Customer Name</label>
                <div class="input-group">
                    <span class="input-group-addon" style="color: #e71820;"><span class="fa fa-calendar"></span></span>
                    @Html.TextBox("CustomerName", null, new { @class = "form-control", placeholder = "Customer Name" })
                </div>
            </div>
            <div class="col-sm-3  col-xs-12 form-group">
                <input type="submit" class="btn btn-success blackbutton mainsearch" id="mysrc" value="Search" style=" margin-top: 34px; width: 100%;">
            </div>

        </div>
        }
    </div>
    @*<div class="col-md-12 col-sm-12 col-xs-12 form-group SearchPannel" id="searchArea">
            <div class="row">
                <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                    <label class="control-label">Search By Any...(Excepts Dates)</label>
                    <div class="input-group">
                        <span class="input-group-addon" style="color: #e71820;"><span class="fa fa-calendar"></span></span>
                        <input type="text" class="form-control" id="txtAgencySearch" name="searchStr" onkeyup="filterMotorData(@Model.Count())" placeholder="Search By Any...(Excepts Dates)">
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                    <label class="control-label">To</label>
                    <div class="input-group">
                        <span class="input-group-addon" style="color: #e71820;"><span class="fa fa-calendar"></span></span>
                        <input type="date" class="form-control" id="txtFromDateSearch" name="FromDate" onchange="filterMotorData(@Model.Count())" placeholder="From Date">
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 form-group">
                    <label class="control-label">From</label>
                    <div class="input-group">
                        <span class="input-group-addon" style="color: #e71820;"><span class="fa fa-calendar"></span></span>
                        <input type="date" class="form-control" id="txtToDateSearch" name="ToDate" min="" onchange="filterMotorData(@Model.Count())" placeholder="To Date">
                    </div>
                </div>
            </div>
        </div>*@
    <input type="hidden" id="totalrecord" value="@Model.Count()" />
    @if (Model.Count() > 0 && Model != null)
    {
        int count = 0;
        foreach (var veh in Model)
        {
            <div class="col-md-12 col-sm-12 col-xs-12 memberlistcss" id="row_@count" data-id="@veh.Enquiry_Id" data-membername="@veh.AgencyName">
                <div class="row">
                    <div class="col-sm-12 form-group BookingDesign">
                        <div class="row" style="border-bottom: 1px solid #000000">
                            <div class="col-sm-3">
                                <p>Created Date : <span class="text-primary"> @veh.CreatedDate_Policy</span></p>
                            </div>
                            <div class="col-sm-4">
                                <p>Policy No : <span class="text-primary"> @veh.PolicyNumber</span></p>
                            </div>
                            <div class="col-sm-3">
                                <p>Order ID :  <span class="text-primary"> @veh.Enquiry_Id.ToUpper()</span></p>
                            </div>

                            <div class="col-sm-2" style="background: #257906;">
                                <a href="/moter/proposalsummary?enquiry_id=@veh.Enquiry_Id" target="_blank" class="text-center"><span style="color: #fff; font-weight:bold;font-size:20px;"><span class="fa fa-edit"></span>&nbsp;View Details</span></a>
                            </div>
                        </div>
                        <div class="row form-group" style="border-bottom: 1px solid #000000">
                            <div class="col-sm-5">
                                <p>Vehicle Name :  <span class="text-primary"> @veh.VehicleName</span></p>
                                <p>Insurer Name : <span class="text-primary"> @veh.CompanyName </span></p>
                            </div>
                            <div class="col-sm-3">
                                <p>Vechicle Class :  <span class="text-primary">@veh.VehicleClass</span></p>
                                <p>product Name :  <span class="text-primary">@veh.ProductName</span></p>
                            </div>
                            <div class="col-sm-4">
                                <p>Customer Name :  <span class="text-primary"> @veh.CustomerName</span></p>
                                <p>Permimum Amount :  <span class="text-primary">@veh.PremiumAmount</span></p>
                            </div>
                        </div>

                        <div class="row tabstyle form-group">
                            <div class="col-sm-12">
                                <a target="_blank" href="@veh.PolicyPDFLink" download class="btn btn-primary btn-sm pull-right"><span class="fa fa-print"></span> Download Policy</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            count++;
        }
    }
    else
    {
        <div class="norecordfound">
            <p class="text-center text-danger">No record found !</p>
        </div>
    }
</div>

@section footer{
    <script src="~/Areas/AdminArea/Content/customjquery/EnquiryDetails.js"></script>
    <script src="~/Content/js/custom/DatePicker.js"></script>
    <script>
        $("#txtFromDateSearch").change(function () {

            $("#txtToDateSearch").attr('min', $("#txtFromDateSearch").val());
        });

            //$('#txtAgencySearch').on('keyup', function () {
            //    var issearch = false;
            //    var _this = $(this); // copy of this object for further usage
            //    var MemberList = $(".memberlistcss");
            //    if (_this.val() != "") {
            //        $.each(MemberList, function (i, item) {
            //            var membername = $(this).data('membername').toLowerCase();
            //            if (membername.search(_this.val()) >= 0) {
            //                issearch = true;
            //                $(this).removeClass("hidden");
            //            }
            //            else {
            //                $(this).addClass("hidden");
            //            }
            //        });

            //        if (!issearch) { $(".norecordfound").removeClass("hidden"); }
            //        else { $(".norecordfound").addClass("hidden"); }
            //    }
            //    else {
            //        $.each(MemberList, function (i, item) {
            //            $(this).removeClass("hidden");
            //        });

            //        $(".norecordfound").addClass("hidden");
            //    }
            //});

            //function filterMotorData(dataCount) {
            //    let searchStr = $("#txtAgencySearch").val();
            //    let FromDate = $("#txtFromDateSearch").val();
            //    let ToDate = $("#txtToDateSearch").val();

            //    let searchStrLen = searchStr.replace(' ', '');


            //    if (searchStrLen.length > 0 || FromDate.trim().length > 0 || ToDate.trim().length > 0) {

            //        for (let i = 0; i < dataCount; i++) {
            //            $("#row_" + i).addClass("hidden");

            //        }

            //        $.ajax({
            //            type: "Post",
            //            url: "/Backend_Enquiry/MotorPolicyListFilerationpolicy",
            //            data: '{searchStr: ' + JSON.stringify(searchStr) + ', FromDate: ' + JSON.stringify(FromDate) + ', ToDate: ' + JSON.stringify(ToDate) + '}',
            //            contentType: "application/json; charset=utf-8",
            //            datatype: "json",
            //            success: function (data) {

            //                if (data.length > 0) {
            //                    for (let i = 0; i < dataCount; i++) {
            //                        let currID = $("#row_" + i).attr("data-id");

            //                        if (data.includes(Number(currID))) {
            //                            $("#row_" + i).removeClass("hidden");
            //                        }

            //                    }
            //                }
            //            }
            //        });
            //    }
            //};
    </script>
}

