﻿@using System.Linq;
@model insurance.Models.Custom.FrontAgencyModel.BankDeatil
@{
    ViewBag.Title = "UpdateBankDetails";
    Layout = "~/Views/Shared/_AgencyInnerDashLayoutPage.cshtml";
}
<link href="~/Content/css/validation.css" rel="stylesheet" />
<style>
    .margin_top10px {
        margin-top: 10px;
    }

    .btn_Margin {
        margin-top: 20px;
    }

    .help-error-block {
        margin: 10px 0px 0px 30px;
    }

    .panelbox {
        margin-top: 35px;
        box-shadow: 0px 0px 8px #d4d4d4;
        border-radius: 3px;
        padding: 18px;
        margin-left: auto;
        margin-right: auto;
    }
</style>
<link href="~/Content/css/custom/commoncss.css" rel="stylesheet" />
<script src="~/Content/dropdown_search_box/js/select2.min.js"></script>
<link href="~/Content/dropdown_search_box/css/select2.min.css" rel="stylesheet" />
<div class="col-sm-10 margin_topMenu">
    <!--heading-->
    <div class="row">
        <div class="col-sm-12">

            <h5 class="title text-center" style=" margin-top: -43px; font-size: 21px; margin-bottom: -26px;">Update Bank Details</h5>

            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-6 col-lg-offset-3 panelbox">
                        <div class="col-md-12 form-group form-validation">
                            <a href="/Administration/AgencyBankDetails" class="btn btn-success pull-right btn-sm"><span class="fa fa-backward"></span>&nbsp; Back To Bank Detail </a>
                        </div>
                        @if (TempData["Message"] != null)
                        {
                            <div class="clearfix"></div><br />
                            <div class="col-sm-12 margin_top10px">
                                <p style="color: #249637;font-size: 20px;text-align: center;">
                                    <i class="fa fa-check-circle-o" aria-hidden="true" style="font-size: 70px;"></i><br />
                                    @TempData["Message"]
                                </p>
                            </div>
                            <div class="clearfix"></div><br />
                        }
                        else
                        {
                            using (Html.BeginForm())
                            {
                                @Html.HiddenFor(p => p.AgencyID)
                                <div class="col-md-12 form-group form-validation">
                                    <label class="control-label">Account No</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                                        @Html.TextBoxFor(p => p.AccountNo, new { @class = "form-control", placeholder = "Enter AccountNo" })
                                    </div>
                                </div>

                                <div class="col-md-12 form-group form-validation">
                                    <label class="control-label">BankName</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                                        <select class="form-control" id="BankName" name="BankName">
                                            <option value="">Select From</option>
                                            @{ System.Data.DataTable dt = insurance.Models.Common.CommonClass.GetBankName();}
                                            @for (int i = 0; i < dt.Rows.Count; i++)
                                            {
                                                <option value="@dt.Rows[i][0].ToString()">@dt.Rows[i][0].ToString()</option>
                                            }
                                        </select>
                                        <script>
                                            $('#BankName').val('@Model.BankName');
                                        </script>
                                    </div>
                                </div>
                                <div class="col-md-12 form-group form-validation">
                                    <label class="control-label">Branch</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                                        @Html.TextBoxFor(p => p.Branch, new { @class = "form-control", placeholder = "Enter Branch" })
                                    </div>
                                </div>
                                <div class="col-md-12 form-group form-validation">
                                    <label class="control-label">IFSC</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                                        @Html.TextBoxFor(p => p.IFSC, new { @class = "form-control", placeholder = "Enter IFSC" })
                                    </div>
                                </div>
                                <div class="col-md-12 form-group form-validation">
                                    <label class="control-label">Mobile No</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                                        @Html.TextBoxFor(p => p.MobileNo, new { @class = "form-control", placeholder = "Enter MobileNo" })
                                    </div>
                                </div>
                                @Html.Raw(ViewBag.Msg)
                                <div class="col-md-12 btn_Margin form-group">
                                    <input type="submit" value="Update Detail" class="btn btn-primary blackbutton form-control maincss" style="font-weight:bold;background: #2a3f54;color: #fff;" onclick="return CheckForm()" />
                                    <span class="btn btn-primary blackbutton form-control tempcss hidden" style="font-weight:bold;background: #2a3f54;color: #fff;">Please Wait...<i class="fa fa-cog fa-spin"></i></span>
                                </div>

                            }
                        }

                    </div>
                </div>
            </div>

        </div>
    </div>

</div>

<script>
    function CheckForm() {
        if (CheckBlankValidation("AccountNo")) return !1;
        if (CheckBlankValidation("BankName")) return !1;
        if (CheckBlankValidation("Branch")) return !1;
        if (CheckBlankValidation("IFSC")) return !1;
        if (CheckBlankValidation("MobileNo")) return !1;
        $('.maincss').addClass('hidden');
        $('.tempcss').removeClass('hidden');
    }
    $("#BankName").select2();
</script>

<script src="~/Content/js/custom/common.js"></script>