﻿@model insurance.Models.Motor.MotorRTOModel
@{
    ViewBag.Title = "MoterRejistration";
    Layout = "~/Views/Shared/_AgencyInnerLayoutPage.cshtml";
}
@section header{
    <link href="~/Content/css/custom/checkbox.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/HelthSearch.css" rel="stylesheet" />
    <link href="~/Content/css/custom/validationcss.css" rel="stylesheet" />
    <link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />

    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="~/Content/dropdown_search_box/js/select2.min.js"></script>
    <link href="~/Content/dropdown_search_box/css/select2.min.css" rel="stylesheet" />

    <style>
        .boxmobile {
        }

        .butntab {
            border: 1px solid #1375b8 !important;
            color: #1375b9 !important;
            background: #fff !important;
            width: 148px !important;
            margin-left: 10px;
        }

        #progressbar li {
            list-style-type: none;
            color: #262566;
            text-transform: uppercase;
            font-size: 15px;
            width: 33%;
            float: left;
            position: relative;
            letter-spacing: 1px;
        }

            #progressbar li:after {
                content: '';
                width: 100%;
                height: 5px;
                background: #848484;
                position: absolute;
                left: -50%;
                top: 20px;
                z-index: -1;
                border-radius: 0%;
            }

        .callus {
            background: #fff;
            padding: 3px 19px;
            font-size: 18px;
            border-radius: 11px;
            width: 100%;
            margin-bottom: 10px;
        }

        .callusbtn {
            margin-right: 2px;
            cursor: pointer;
            float: right;
            background: #1476b9;
            font-size: 15px;
            width: 20%;
            padding: 2px;
            color: #fff;
            text-align: center;
            border-radius: 4px;
        }

        .contentboxborder {
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 100px;
        }

        .seeingo {
            color: #a5a3a3 !important;
            font-weight: 100 !important;
            font-size: 15px;
        }

            .seeingo input:checked ~ .checkmark {
                background-color: #e32730 !important;
            }

        .agetextbox {
            width: 35% !important;
            height: 29px !important;
            float: right;
        }

        .ageleft {
            margin-left: 65px;
        }

        .selecthgt {
            height: 35px !important;
            padding: 4px 11px !important;
        }

        .lcolr {
            color: #262566;
            font-size: 15px;
        }

        .facolrPlu {
            color: green;
        }

        .facolrMi {
            color: red;
        }

        .checkcolr {
            color: #1476b9;
            font-size: 24px;
        }

        .helthimg {
            width: 77px;
            position: absolute;
            right: 450px;
            top: 24px;
        }

        .tocntainer {
            margin-top: 150px;
        }

        .helthtop {
            margin-top: -18px;
        }
        .boxfullmobile {
           
        }
        @@media screen and (max-width:700px) {
            .tocntainer {
                margin-top: 0px;
            }

            .helthtop {
                margin-top: 81px;
            }

            .boxmobile {
                width: 137%;
                margin-left: -43px;
            }

            .butntab {
                width: 277px !important;
            }
            .tab button {
                padding: 2px 4px !important;
            }
            .boxwidthselect {
                width: 98% !important;
                flex: 0 0 95% !important;
                margin-left: 6px;
            }
            .boxfullmobile {
                width: 114%;
                margin-left: -22px;
            }
        }

        .tab {
            overflow: hidden;
            border: 1px solid #fff;
            background-color: #ffffff;
        }

            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 14px 16px;
                transition: 0.3s;
                font-size: 17px;
            }

                .tab button:hover {
                    background-color: #1375b9 !important;
                    color: #fff !important;
                }

                .tab button.active {
                    background-color: #1375b9 !important;
                    color: #fff !important;
                }

        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
            width: 94%;
            margin-left: 11px;
        }

        .carimg {
            display: block;
            margin: auto;
            width: 128px;
            height: 95px;
            border: 1px solid #ccc;
            border-radius: 4px;
        }

        .boxwidthselect {
            width: 24%;
            flex: 0 0 24%;
            margin-top: 100px;
        }

        .imgborderobx {
            border-bottom: 1px solid #ccc;
            padding: 3px;
            flex: 0 0 94%;
            margin-left: 10px;
        }

        .borderobx {
            margin-left: -5px;
            flex: 0 0 100% !important;
            width: 103%;
            padding: 2px;
            border-bottom: 1px solid #ccc;
        }

        .selectbtn {
            border-radius: 0px !important;
            background: #fff;
            color: #1375b9;
            border: 1px solid #1375b9;
            width: 160px;
        }

            .selectbtn:hover {
                color: #1375b9 !important;
            }

        .fasearchr {
            position: absolute;
            top: 11px;
            right: 27px;
            color: #1375b9;
            font-size: 20px;
        }

        .abtn {
            border: 1px solid #e71820;
            padding: 6px 17px;
            color: #e32730;
            background: #fff;
            border-radius: 4px;
        }

        .panel {
            margin-bottom: 20px;
            background-color: #fff;
            border: 1px solid transparent;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
        }

        .text-center {
            text-align: center;
        }

        .panel-default > .panel-heading {
            color: #fff;
            background-color: #4593c8;
            border-color: #ddd;
        }

        .panel-heading {
            color: #fff;
            padding: 15px 15px;
        }

        .panel-heading {
            padding: 15px 6px;
            border-bottom: 1px solid transparent;
        }

        .panel-title {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 16px;
            color: inherit;
        }

        .no-padding {
            padding: 0 !important;
        }

        .panel-body {
            padding: 15px;
        }

        .color-orange {
            color: #3c3595;
            margin-top: 15px;
        }

        .formcontlbord {
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            border-radius: 0px;
            border-radius: 0px;
        }

        .choosebtn {
            background: #e71820;
            color: #fff;
            padding: 5px 23px;
            border-radius: 5px;
            margin-bottom: 11px;
        }
    </style>
}

<div class="container-fluid tocntainer">
    <div class="row">
        <div class="col-sm-9">
            <div class="col-sm-12">

                <h4 class="text-center helthtop"> MOTOR INSURANCE</h4>
                <div id="msform">
                    <ul id="progressbar">
                        <li class="active"> SELECT</li>
                        <li class="linext2">REVIEW</li>
                        <li class="linext2">BYE</li>
                    </ul>
                </div>
            </div>
            <!-- fieldsets -->
            <div class="col-sm-12 col-xs-12 form-group">
                <fieldset class="section1 boxfullmobile">
                    <div class="col-sm-12 registrationform boxmobile">
                        <p class="text-center regs" style="font-size: 20px;color: #1477ba;">Provide the Registration of your Car ?</p>
                        <p class="text-center selctcar hidden" style="font-size: 20px;color: #1477ba;">Select the Brand of your Car </p>
                        <p class="text-center selectmodel hidden" style="font-size: 20px;color: #1477ba;">Select the Model of your Car</p>
                        <p class="text-center fuelss hidden" style="font-size: 20px;color: #1477ba;">Select the Fuel Type of your Car </p>
                        <p class="text-center Variant hidden" style="font-size: 20px;color: #1477ba;">Select the Variant of your Car </p>
                        <div class="tab">
                            <button class="tablinks butntab" id="reg" onclick="openCity(event, 'registration')">REGISTRATION</button>
                            <button class="tablinks butntab" id="brandtab" onclick="openCity(event, 'brand')" disabled="disabled">BRANDS</button>
                            <button class="tablinks butntab" id="models" onclick="openCity(event, 'model')" disabled="disabled">MODEL</button>
                            <button class="tablinks butntab" id="ful" onclick="openCity(event, 'fule')" disabled="disabled">FUEL</button>
                            <button class="tablinks butntab" id="vari" onclick="openCity(event, 'Variant')" disabled="disabled">VARIANT</button>
                            <button class="tablinks butntab" id="otherdel" onclick="openCity(event, 'Other')" disabled="disabled">OTHER INFO</button>
                        </div>

                        <div id="registration" class="tabcontent" style="display:block;">
                            <div class="row form-group">
                                <div class="col-sm-12 form-validation">
                                    <label>Select RTO (e.g DL or Delhi)</label>
                                    @Html.DropDownListFor(m => m.RTO_Code_A, Model.MotorRTOList, "Choose RTO", new { @class = "form-control" })
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-6 form-validation">
                                    <label>Date Of Registration</label>
                                    <input type="text" class="form-control CommanDateWithYr" autocomplete="off" placeholder="Select Date" id="txtDateOfReg" />
                                </div>
                                <div class="col-sm-6 form-validation">
                                    <label>Date of Manufacture</label>
                                    <input type="text" class="form-control CommanDateYEAR" autocomplete="off" placeholder="Select Date" id="txtDateOfManufacture" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <span class="default-btn pull-right designbtn btndesign mainregcss" id="btnRegContinue">CONTINUE</span>
                                </div>
                            </div>
                        </div>

                        <div id="brand" class="tabcontent" style="display:none;">
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Search Brand Here" id="txtBrandSearch" />
                                    <span class="fa fa-search fasearchr"></span>
                                </div>
                            </div>
                            <div class="row form-group" id="divBrandItemSection" style="height: 400px!important;overflow: auto;">
                                <div class='col-sm-12 form-group'> <span class='default-btn pull-right selectbtn'>Brand Not Available!</span> </div>
                            </div>
                        </div>

                        <div id="model" class="tabcontent" style="display:none;">
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Search Model Here" id="txtModelSearch" />
                                    <span class="fa fa-search fasearchr"></span>
                                </div>
                            </div>
                            <div class="row form-group" id="divModelItemSection" style="height: 400px!important;overflow: auto;"></div>
                        </div>

                        <div id="fule" class="tabcontent" style="display:none;">
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <img src="~/Content/images/petrolpump.png" style="width: 200px;display: block;margin: auto;" />
                                </div>
                            </div>
                            <div class="row form-group">
                                <div class="col-sm-12  form-group" id="divFuelItemSection"></div>
                            </div>
                        </div>

                        <div id="Variant" class="tabcontent" style="display:none;">
                            <div class="row form-group">
                                <div class="col-sm-12">
                                    <input type="text" class="form-control" placeholder="Search Variant Here" id="Model" />
                                    <span class="fa fa-search fasearchr"></span>
                                </div>
                            </div>
                            <div class="row form-group" id="divVarientItemSection"></div>
                        </div>

                        <div id="Other" class="tabcontent" style="display:none;">
                            <div class="row form-group" style="margin-top: 15px;display:none;" id="divPreviousPolicyType">
                                <div class="col-sm-8">
                                    <h6>Previous Policy Type</h6>
                                </div>
                                <div class="col-sm-4 form-validation">
                                    <select class="form-control" name="ddlPreviousPolicyType" id="ddlPreviousPolicyType">
                                        <option value="">SELECT PREVIOUS POLICY TYPE</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group" style="margin-top: 15px;display:none;" id="divPolicyHolderType">
                                <div class="col-sm-8">
                                    <h6>Policy Holder Type</h6>
                                </div>
                                <div class="col-sm-4 form-validation">
                                    <select class="form-control" id="ddlPolicyHolderType">
                                        <option value="">Select</option>
                                        <option value="INDIVIDUAL">Individual</option>
                                        <option value="COMPANY">Company</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group" style="margin-top: 15px;" id="divPreviousInsurerKnown">
                                <div class="col-sm-9">
                                    <h6>Do you have previous insurer Detail?</h6>
                                </div>
                                <div class="col-sm-3 form-validation">
                                    <select class="form-control" id="ddlIsPreviousInsurerKnown">
                                        <option value="">Select</option>
                                        <option value="yes">Yes</option>
                                        <option value="no">No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row form-group" id="divHavePreviousInsurerKnown" style="margin-top: 15px;display:none!important;">
                                <div class="col-sm-12" style="margin-top: 10px;">
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <p>Enter policy number</p>
                                        </div>
                                        <div class="col-sm-5 form-validation">
                                            <input class="form-control" id="txtPolicyNumber" type="text" placeholder="Policy Number" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12" style="margin-top: 10px;">
                                    <div class="row">
                                        <div class="col-sm-7">
                                            <p>Enter policy expiry date</p>
                                        </div>
                                        <div class="col-sm-5 form-validation">
                                            <input class="form-control notshowbeforedate" id="txtPolicyExpDate" type="text" placeholder="mm/dd/yyyy" />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12" style="margin-top: 10px;">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <p>Do you have claim in last year?</p>
                                        </div>
                                        <div class="col-sm-3 form-validation">
                                            <select class="form-control" id="ddlClaimInLastYear">
                                                <option value="">Select</option>
                                                <option value="yes">Yes</option>
                                                <option value="no">No</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-12" id="NoClaimBonus" style="margin-top: 10px;display:none;">
                                    <div class="row">
                                        <div class="col-sm-9">
                                            <p>Select previous year no claim bonus</p>
                                        </div>
                                        <div class="col-sm-3 form-validation">
                                            <select class="form-control" id="ddlPreviousNoClaimBonus"></select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12" style="margin-top: 10px;">
                                <div class="row">
                                    <div class="col-sm-9"></div>
                                    <div class="col-sm-3">
                                        <button class="default-btn pull-right designbtn btndesign mainregcss" onclick="return SaveMotorOtherDetails();" id="btnMotorGetSearch">GET SEARCH</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

                <fieldset class="section2 hidden">
                    <div class="col-sm-12">
                        <p class="text-center">Make sure your phone number & email id is correct.</p>

                    </div>
                </fieldset>
            </div>
        </div>
        <div class="col-sm-3 boxwidthselect">
            <div class="row">
                <div class="col-sm-12" style="border: 1px solid #ccc; padding: 5px;" id="divSelctedSummary">
                    <div class="row"><div class="col-sm-12 imgborderobx"><img src="~/Content/images/car-new.gif" class="carimg" /></div></div>
                    <div class="row borderobx">
                        <div class="col-sm-12" style="border-right: 1px solid #ccc;text-align:center;color:#dc3545"><label>Details Not Available !</label></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br />

@section footer{
    <script src="~/Content/js/custom/jquery.mtz.monthpicker.js"></script>
    <script src="~/Content/js/motor/moterrejistration.js?v=1.3"></script>
    <script src="~/Content/js/custom/common.js"></script>
    <script src="~/Content/js/custom/DatePicker.js?v=1.2"></script>
}