﻿
@{
    ViewBag.Title = "MoterSearchList";
    Layout = "~/Views/Shared/_AgencyInnerLayoutPage.cshtml";
}
@section header{
    <link href="~/Content/css/custom/modalpopup.css" rel="stylesheet" />
    <link href="~/Content/css/custom/checkbox.css" rel="stylesheet" />
    <link href="~/Content/css/jquery-ui.css" rel="stylesheet" />
    <script src="~/Content/js/jquery-ui.js"></script>
    <style>
        .add_on_ncb_protection {
            background-image: url('../../Content/images/add_on_ncb.png');
        }

        .add_on_road_side_assistance {
            background-image: url('../../Content/images/add_on_rsa.png');
        }

        .add_on_engine_protector {
            background-image: url('../../Content/images/add_on_engine_protect.png');
        }

        .add_on_key_replacement {
            background-image: url('../../Content/images/add_on_key_replacement.png');
        }

        #compare_div {
            position: fixed !important;
            bottom: 0 !important;
            left: 40% !important;
            background-color: #2d83bd !important;
            color: #FFF !important;
            z-index: 500 !important;
            padding: 10px !important;
            max-width: 480px !important;
        }

        .hidden {
            display: none !important;
        }

        .list-inline > li {
            display: inline-block;
            padding-right: 5px;
            padding-left: 5px;
        }

        .rounded-top {
            border-radius: 4px 4px 0 0 !important;
        }

        .compayrbtn {
            background: #e71820;
            color: #fff;
            border-radius: 20px;
            padding: 3px 12px;
        }

            .compayrbtn:hover {
                color: #fff !important;
            }

        .padding_horizontal_20 {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }

        .no-margin-bottom {
            margin-bottom: 0 !important;
        }

        p {
            margin-top: 0;
            margin-bottom: 0px;
        }

        .topbox {
            background: #d1e9f9;
            padding: 15px;
            margin-bottom: 14px;
        }

        .boxborder {
            border: 1px solid #ccc;
            padding: 10px;
        }

        .filterhed {
            padding: 5px;
            color: #e71820;
            font-weight: bold;
        }

        .seeingo {
            color: #1375b8 !important;
            font-weight: 100 !important;
            font-size: 15px;
        }

            .seeingo input:checked ~ .checkmark {
                background-color: #e32730 !important;
            }

        .fonticon {
            font-size: 40px;
            color: #2d83bd;
        }

        .fontheding {
            margin-left: 12px;
            font-size: 15px;
            color: #2d83bd;
        }

        .fontdetails {
            font-size: 12px;
            /*text-align: right;*/
            margin-left: 20px;
        }

        .listbox {
            border: 1px solid #ccc;
            padding: 5px;
            margin-bottom: 14px;
        }

            .listbox:hover {
                box-shadow: 10px 10px 20px rgba(171,171,176,0.88);
            }

        .bookbtn {
            padding: 13px 35px;
            border-top-right-radius: 30px;
            border-bottom-left-radius: 30px;
        }

        .emialcort {
            float: right;
            border: 1px solid #e71820;
            background: #e71820;
            padding: 10px 10px;
            border-radius: 30px;
            width: 20%;
            color: #fff;
        }

        .editcort {
            text-align: center;
            float: right;
            margin-left: 13px;
            border: 1px solid #e71820;
            background: #e71820;
            padding: 10px 10px;
            border-radius: 30px;
            width: 20%;
            color: #fff;
        }

        .my_badge.label {
            position: absolute;
            background: linear-gradient(to right,#fe8489 0%,#ff8b90 100%);
            border-radius: 0;
            font-size: 12px;
            font-weight: normal;
            left: 22px;
            top: 2px;
            padding: 0px 10px 0px;
            text-shadow: none;
            color: #fff !important;
            z-index: 999;
        }

            .my_badge.label.arrowed-in-right:after {
                border: 11px solid #ff8a8f;
                border-right-color: transparent !important;
                content: "";
                display: inline-block;
                position: absolute;
                top: 0px;
                left: 110px;
            }

            .my_badge.label.arrowed-in-right:before {
                border: 11px solid #ff8a8f;
                border-left-color: transparent !important;
                content: "";
                display: inline-block;
                position: absolute;
                top: 0px;
                left: -20px;
            }

        product_block .middle_feature_section .my_badge {
            font-size: 13px;
        }

        .my_badge.label-large.arrowed-in-right {
            margin-right: 11px;
        }

        .text-white {
            font-size: 16px;
            color: #fff !important;
        }

        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #2d83bd;
        }


            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                padding: 4px 16px;
                transition: 0.3s;
                font-size: 17px;
                width: 20%;
                color: #fff;
                width: 280px;
            }

                .tab button:hover {
                    background-color: #ccc;
                    border: 1px solid #1f7cbd;
                    color: #000;
                }

                .tab button.active {
                    background-color: #ccc;
                    border: 1px solid #1f7cbd;
                    color: #000;
                }

        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }

        .table td, .table th {
            padding: 3px 5px;
            vertical-align: top;
            border: 1px solid #dee2e6;
        }
        .tocntainer {
            margin-top: 118px;
        }
        .borderright {
            border-right: 1px solid #ccc;
        }
        .borderbotm {
            border-bottom: 1px solid #ccc;
            padding: 3px;
        }
        .checboxwidth {
            border: 1px solid #e71820;
            border-radius: 17px;
            padding: 1px 17px 5px;
            width: 70%;
            float: right
        }
        @@media screen and (max-width:700px) {
            .tocntainer {
                margin-top: 0px;
            }
            .borderbotm {
                border-bottom: none;
            }
            .editcort {
                width: 44%;
                margin-top: 27px;
            }
            .borderright {
                border-right: none !important;
            }
            .emialcort {
                width: 50%;
                margin-top: 27px;
            }
            .helthtop {
                margin-top: 81px;
            }

            #progressbar li {
                font-size: 11px !important;
            }
            .fonticon {
                font-size: 25px;
            }
            .checboxwidth {
                width: 100%;
                border: 1px solid #bdbdbd;
                border-radius: 3px;
                padding: 5px;
            }
            .bookbtn {
                width: 100%;
                border-top-right-radius: 0px;
                border-bottom-left-radius: 0px;
            }
            .fontdetails {
                margin-left: 0px !important;
            }
            .wdth50{
                width:50% !important;
            }
            .width24{
                width:24% !important;
            }
            .policycover {
                width: 110%;
                margin-left: -14px;
            }
            .listboxmobile {
                width: 100% !important;
                margin-left: 0px !important;
                padding:10px !important;
            }
        }
    </style>
}
<div class="tocntainer">
    <div class="container-fluid topbox">
        <div class="row">
            <div class="col-sm-4">
                <h3 style="margin-top: 10px;">Compare Car Insurance</h3>
            </div>
            <div class="col-sm-8">
                <a href="/health/helthsearch" class="editcort">Edit Details</a>
                <button class="emialcort" data-toggle="modal" data-target="#membermodel"> Email Quote</button>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-2 form-group" id="divProductLeftSection">
                    @*<div class="row">
                            <div class="col-sm-12 boxborder" style="background: #f3f7f9;">
                                <p data-toggle="tooltip" title="Policy For" style="font-size: 13px;">Policy For : <b><label id="lblPolicyFor"></label></b></p>
                                <p style="font-size: 13px;">FORD FIESTA 1.4 EXI TDCI LTD ABSMore</p>
                                <p style="font-size: 13px;">Product Count  : <b><label id="lblProductCount" style="color:#e71820;">0 Records</label></b></p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 boxborder">
                                <p class="filterhed">CPA (Rs. 15 lac cover mandated by IRDAI)</p>
                                <h6 class="checkbox-inline">
                                    <label class="seeingo">
                                        CPA (Compulsory Personal Accident)
                                        <input type="checkbox" class="submenuclass" id="commit" name="commit" />
                                        <span class="checkmark"></span>
                                    </label>
                                </h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12 boxborder">
                                <p class="filterhed">Choose Add-ons</p>
                                <h6 class="checkbox-inline">
                                    <label class="seeingo">
                                        Zero Depreciation
                                        <input type="checkbox" class="submenuclass" id="commit" name="commit" />
                                        <span class="checkmark"></span>
                                    </label>
                                </h6>
                                <h6 class="checkbox-inline">
                                    <label class="seeingo">
                                        NCB Protection
                                        <input type="checkbox" class="submenuclass" id="commit" name="commit" />
                                        <span class="checkmark"></span>
                                    </label>
                                </h6>
                                <h6 class="checkbox-inline">
                                    <label class="seeingo">
                                        Road Side Assistance
                                        <input type="checkbox" class="submenuclass" id="commit" name="commit" />
                                        <span class="checkmark"></span>
                                    </label>
                                </h6>
                                <h6 class="checkbox-inline">
                                    <label class="seeingo">
                                        Engine Protector
                                        <input type="checkbox" class="submenuclass" id="commit" name="commit" />
                                        <span class="checkmark"></span>
                                    </label>
                                </h6>
                                <h6 class="checkbox-inline">
                                    <label class="seeingo">
                                        Key Replacement
                                        <input type="checkbox" class="submenuclass" id="commit" name="commit" />
                                        <span class="checkmark"></span>
                                    </label>
                                </h6>
                                <h6 class="checkbox-inline">
                                    <label class="seeingo">
                                        Consumable
                                        <input type="checkbox" class="submenuclass" id="commit" name="commit" />
                                        <span class="checkmark"></span>
                                    </label>
                                </h6>
                                <h6 class="checkbox-inline">
                                    <label class="seeingo">
                                        Tyre Secure
                                        <input type="checkbox" class="submenuclass" id="commit" name="commit" />
                                        <span class="checkmark"></span>
                                    </label>
                                </h6>
                                <h6 class="checkbox-inline">
                                    <label class="seeingo">
                                        Return To Invoice
                                        <input type="checkbox" class="submenuclass" id="commit" name="commit" />
                                        <span class="checkmark"></span>
                                    </label>
                                </h6>
                            </div>
                        </div>*@
                </div>
                <div class="col-sm-10" id="divProductList">
                    <p class="text-center" style="font-size: 25px;margin-top: 60px;">We are fetching quotes based on the information you provided. <i class="fa fa-spinner fa-pulse"></i></p>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="compare_div" class="rounded-top comp hidden">
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-unstyled list-inline no-margin-bottom padding_horizontal_20">
                <li>
                    <span class="color-light font-bold text-white">
                        <span class="count color-light">1</span> plan(s) selected
                    </span>
                </li>
                <li>
                    <span class="btn compayrbtn" data-toggle="modal" data-target="#CompareModel"> Compare </span>
                </li>
                <li>
                    <a class="rounded clear_compare no_decoration text-white"> <span class="color-light font-bold">Clear</span> </a>
                </li>
            </ul>
        </div>
    </div>
</div>

@*@Html.Partial("_HealthProductList")*@
@section footer{
    <script src="~/Content/js/motor/motorproductlist.js?v=1.2"></script>
}