﻿@*@model insurance.Models.Motor.MotorModel*@
@{
    ViewBag.Title = "MoterSearch";
    Layout = "~/Views/Shared/_AgencyInnerLayoutPage.cshtml";
}
@section header{
    <link href="~/Content/FrontEnd/css/responsive.css" rel="stylesheet" />
    <link href="~/Content/css/custom/checkbox.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/HelthSearch.css" rel="stylesheet" />
    <link href="~/Content/css/custom/validationcss.css" rel="stylesheet" />
    <link href="~/Content/css/DatePickerMYcss.css" rel="stylesheet" />

    <style>
        #progressbar li:after {
            content: '';
            width: 100%;
            height: 5px;
            background: #848484;
            position: absolute;
            left: -50%;
            top: 20px;
            z-index: -1;
            border-radius: 0%;
        }

        .callus {
            background: #fff;
            padding: 3px 19px;
            font-size: 18px;
            border-radius: 11px;
            width: 100%;
            margin-bottom: 10px;
        }

        .callusbtn {
            margin-right: 2px;
            cursor: pointer;
            float: right;
            background: #1476b9;
            font-size: 15px;
            width: 20%;
            padding: 2px;
            color: #fff;
            text-align: center;
            border-radius: 4px;
        }

        .contentboxborder {
            border: 1px solid #ccc;
            padding: 10px;
        }

        .seeingo {
            color: #a5a3a3 !important;
            font-weight: 100 !important;
            font-size: 15px;
        }

            .seeingo input:checked ~ .checkmark {
                background-color: #e32730 !important;
            }

        .agetextbox {
            width: 35% !important;
            height: 29px !important;
            float: right;
        }

        .ageleft {
            margin-left: 65px;
        }

        .selecthgt {
            height: 35px !important;
            padding: 4px 11px !important;
        }

        .lcolr {
            color: #262566;
            font-size: 15px;
        }

        .facolrPlu {
            color: green;
        }

        .facolrMi {
            color: red;
        }

        .checkcolr {
            color: #1476b9;
            font-size: 24px;
        }

        .helthimg {
            width: 77px;
            position: absolute;
            right: 450px;
            top: 24px;
        }

        .tocntainer {
            margin-top: 150px;
        }

        .helthtop {
            margin-top: -18px;
        }

        .carimg {
            width: 131px;
            height: 130px;
            border: 1px solid #ccc;
            border-radius: 182px;
            margin-top: -10px;
            padding: 15px 10px 33px;
            float: right;
            cursor: pointer
        }

        .caractive {
            border: 4px solid #e71820 !important;
        }

        .motericon {
            float: right;
            font-size: 40px;
            color: #0d73b7;
            border: 1px solid #0d73b7;
            border-radius: 64px;
            padding: 15px 28px;
            cursor: pointer;
        }

        .bikecon {
            cursor: pointer;
            color: #0d73b7;
            border-radius: 64px;
            padding: 15px 26px;
            float: left;
            font-size: 42px;
            border: 1px solid #0d73b7;
        }

            .bikecon:active {
                border: 4px solid #0d73b7;
            }

        .carhed {
            float: right;
            margin-right: -98px;
            margin-top: 110px;
            color: #262566;
            font-size: 16px;
            font-weight: bold;
        }

        .bikeimg {
            width: 131px;
            height: 130px;
            border: 1px solid #ccc;
            border-radius: 182px;
            margin-top: -10px;
            padding: 15px 10px 33px;
            cursor: pointer
        }

        .bikehed {
            color: #262566;
            font-size: 16px;
            margin-left: 48px;
            font-weight: bold;
        }

        .btndesign {
            margin-top: 32px;
            padding: 10px 15px;
            border-radius: 4px !important;
        }

        .boxcar {
            margin-left: auto;
            margin-right: auto;
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
            padding: 17px;
            border-radius: 4px;
        }
        .marginhedr {
            margin-top: 0px;
        }
        .halfbox {            
        }
        @@media screen and (max-width:700px) {
            .tocntainer {
                margin-top: 0px;
            }
            .marginhedr {
                margin-top: 85px;
            }
            .helthtop {
                margin-top: 81px;
            }
            .halfbox {
                width: 50%;
                float: right;
            }
        }

        input[type="text"]::-webkit-input-placeholder {
            -webkit-transition: opacity 0.3s linear;
            color: gray;
        }

        input[type="text"]:focus::-webkit-input-placeholder {
            opacity: 0;
        }
    </style>
}
<div class="container-fluid tocntainer">
    <div class="row">
        <div class="col-sm-8">
            <div class="col-sm-12 form-group marginhedr">
                <h3 style="text-align: center;color: #1375b9;">SELECT VEHICLE TYPE</h3>

            </div>
            <div class="col-sm-12">
                <div class="row form-group">
                    <div class="col-sm-6 halfbox">
                        <p class="motericon caractive"><span class="fa fa-car"></span></p>
                        @*<img src="~/Content/images/car-new.gif" class="carimg caractive" />*@
                        <p class="carhed">Private Car</p>
                    </div>
                    <div class="col-sm-6 halfbox">
                        <p class="bikecon" style="padding: 15px 26px;float: left;font-size: 42px;"><span class="fa fa-motorcycle"></span></p>
                        @*<img src="~/Content/images/bike-final.gif" class="bikeimg" />*@
                        <p class="carhed" style="float: left; margin-left: -77px; margin-top: 111px;">Bike</p>
                    </div>
                </div>
            </div>
            <div class="row carhideshow">
                <div class="col-sm-12 form-group">
                    <h3 style="text-align: center;">Private Car Insurance</h3>
                    <p style="text-align: center; color: #262566;"> Buy car insurance online/renew non IFFCO-Tokio car insurance policy</p>
                </div>
                <!-- fieldsets -->
                <div class="col-sm-12 col-xs-12 form-group">
                    <div class="col-sm-9 boxcar">
                        <div class="row form-group">
                            <div class="col-sm-3 form-validation">
                                <label>Vehicle Registration</label>
                                <input type="text" id="txtVechileReg" class="form-control selecthgt" placeholder="Vehicle Registration" maxlength="10" oninput="this.value = this.value.toUpperCase()" />
                            </div>
                            <div class="col-sm-3 form-validation">
                                <label>Mobile No</label>
                                <input type="text" id="txtMobileNo" class="form-control selecthgt" placeholder="Mobile Number" maxlength="10" onkeypress="return isNumberOnlyKeyNoDot(event)" />
                            </div>
                            <div class="col-sm-3 form-validation">
                                <label>Pin Code</label>
                                <input type="text" id="txtPinCode" class="form-control selecthgt" placeholder="Pin Code" onkeypress="return isNumberOnlyKeyNoDot(event)" onkeyup="return CheckPincode2(this,'car')" maxlength="6" />
                                <span class="notpincodevalid_car hidden"></span>
                                <input type="hidden" id="hdnState" />
                            </div>
                            <div class="col-sm-3 form-validation">
                                <label>Insurance Type</label>
                                <select class="form-control selecthgt" id="ddlInsuranceType">
                                    <option value="Renewal">Renewal</option>
                                    <option value="Fresh">Fresh</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-9">
                                <h6 class="checkbox-inline">
                                    <label class="seeingo">
                                        I agree to the <a href="#">Terms and Conditions</a>.
                                        <input type="checkbox" class="submenuclass" id="chkCarHearBy" name="chkCarHearBy" checked="checked" />
                                        <span class="checkmark"></span>
                                    </label>
                                </h6>
                            </div>
                            <div class="col-sm-3">
                                <button class="default-btn pull-right designbtn btndesign mainregcss" style="margin-top:-7px;" id="btnCarGetQuotes" onclick="return GetCarGetQuotes();">GET QUOTES</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row bikehideshow hidden">
                <div class="col-sm-12 form-group">
                    <h3 style="text-align: center;">Bike Insurance</h3>
                    <p style="text-align: center; color: #262566;"> Buy Bike insurance online/renew non IFFCO-Tokio Bike insurance policy</p>
                </div>
                <!-- fieldsets -->
                <div class="col-sm-12 col-xs-12 form-group">
                    <div class="col-sm-9 boxcar">
                        <div class="row form-group">
                            <div class="col-sm-3 form-validation">
                                <label>Bike Registration</label>
                                <input type="text" id="txtBikeVechileReg" class="form-control selecthgt" placeholder="Vechile Registration" maxlength="10" oninput="this.value = this.value.toUpperCase()" />
                            </div>
                            <div class="col-sm-3 form-validation">
                                <label>Mobile No</label>
                                <input type="text" id="txtBikeMobileNo" class="form-control selecthgt" placeholder="Mobile Number" maxlength="10" onkeypress="return isNumberOnlyKeyNoDot(event)" />
                            </div>
                            <div class="col-sm-3 form-validation">
                                <label>Pin Code</label>
                                <input type="text" id="txtBikePinCode" class="form-control selecthgt" placeholder="Pin Code" maxlength="6" onkeypress="return isNumberOnlyKeyNoDot(event)" onkeyup="return CheckPincode2(this,'bike')" />
                                <span class="notpincodevalid_bike hidden"></span>
                            </div>
                            <div class="col-sm-3 form-validation">
                                <label>Insurance Type</label>
                                <select class="form-control selecthgt" id="ddlInsuranceType_2Wheeler">
                                    <option value="Renewal">Renewal</option>
                                    <option value="Fresh">Fresh</option>
                                </select>
                            </div>
                        </div>
                        <div class="row form-group">
                            <div class="col-sm-9">
                                <h6 class="checkbox-inline">
                                    <label class="seeingo">
                                        I agree to the <a href="#">Terms and Conditions</a>.
                                        <input type="checkbox" class="submenuclass" id="chkBikeHearBy" name="chkBikeHearBy" checked="checked" />
                                        <span class="checkmark"></span>
                                    </label>
                                </h6>
                            </div>
                            <div class="col-sm-3">
                                <button class="default-btn pull-right designbtn btndesign mainregcss" id="btnBikeGetQuotes" style="margin-top: -9px;" onclick="return GetBikeGetQuotes();">GET QUOTES</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="col-sm-12 contentboxborder">
                <h4>Reasons to choose  Motor Insurance</h4>
                <p style="border-bottom:1px dashed #ccc"><span class="fa fa-check checkcolr"></span> Coverage Against COVID-19</p>
                <p style="border-bottom:1px dashed #ccc"><span class="fa fa-check checkcolr"></span> Sum Insured Upto 6 Cr. </p>
                <p style="border-bottom:1px dashed #ccc"><span class="fa fa-check checkcolr"></span> Instant Purchase, No Medicals Required</p>
                <p style="border-bottom:1px dashed #ccc"><span class="fa fa-check checkcolr"></span> Upto 150% Restore Benefits</p>
                <p style="border-bottom:1px dashed #ccc"><span class="fa fa-check checkcolr"></span> Lifelong Renewal </p>
                <p style="border-bottom:1px dashed #ccc"><span class="fa fa-check checkcolr"></span> Quick Pre-Authorisation </p>
                <p style="border-bottom:1px dashed #ccc"><span class="fa fa-check checkcolr"></span> Tax Benefits </p>
            </div>
            <div class="col-sm-12" style="background: #E3E3E3;">
                <p>Need help?</p>
                <a href="tel:Phone:8010874878" class="callus">8010874878 <span class="callusbtn"> Call Us</span></a>
            </div>
        </div>
    </div>
</div>
<br />
<section class="choose-us-area-three pt-100 pb-70" style="padding-top: 35px;">
    <div class="container">
        <div class="section-title">
            <h2>Take The Worry Out of Life With Insurance Protection</h2>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="single-choose wow fadeInUp" data-wow-delay=".2s">
                    <span class="flaticon-hand"></span>
                    <h3>Peace Of Mind</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>

                    <a href="#">
                        <i class="flaticon-right"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="single-choose wow fadeInUp" data-wow-delay=".3s">
                    <span class="flaticon-life-insurance-1"></span>
                    <h3>Set For Life</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>

                    <a href="#">
                        <i class="flaticon-right"></i>
                    </a>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="single-choose wow fadeInUp" data-wow-delay=".4s">
                    <span class="flaticon-insurance-1"></span>
                    <h3>Tailored Covered</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore</p>

                    <a href="#">
                        <i class="flaticon-right"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>

@section footer{
    @*<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>*@
    <script src="~/Content/js/motor/motorscript.js?v=1.2"></script>
    <script src="~/Content/js/motor/private2wheelersearch.js?v=1.1"></script>
    <script src="~/Content/js/custom/common.js"></script>
    @*<script src="~/Content/js/custom/DatePicker.js"></script>*@
    
}

