﻿@model IEnumerable<System.Object>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>MotorEnquiryDetails</title>
    <link href="~/Areas/AdminArea/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/css/custom/commoncss.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap-table.css" rel="stylesheet" />
    <script src="~/Areas/AdminArea/Content/js/jquery.min.js"></script>
    <style>
        .table th {
            vertical-align: middle;
            box-sizing: border-box;
            background-color: #ccc;
        }

        .table-bordered td, .table-bordered th {
            border: 1px solid #000000;
        }

        .table td {
            vertical-align: middle;
            box-sizing: border-box;
            background: #f6f4f4;
        }
    </style>
</head>
<body>
   
    @{
        var motorProposal = (insurance.Models.Motor.MotorProposal)Model.ElementAt(0);
        var motorEnquiry = (insurance.Models.Motor.MotorModel)Model.ElementAt(1);
        var motorResponse = (insurance.Models.Motor.MotorEnquiryResponse)Model.ElementAt(2);
        var agencyDetails = (insurance.Models.Custom.FrontAgencyModel.CreateAgency)Model.ElementAt(3);
        var responseStrList = (insurance.Models.Motor.MotorRoot)Model.ElementAt(4);
        insurance.Models.Motor.PrivateCarQuotesR responseStr = new insurance.Models.Motor.PrivateCarQuotesR();
        foreach (var i in responseStrList.PrivateCarQuotesRS) {
            if (i.Chainid == motorResponse.chainid)
            {
                responseStr = i;
                break;
            }
        }
    }
    <br />
    <br />
    <div>
        <div class="container">
            <div class="row">
                <table class="table table-responsive table-bordered" data-toggle="table" style=" margin-left: -133px;">
                    <tbody>
                        <tr>
                            <th class="text-center bg fontsize" colspan="12"><span><b>OrderID / Booking Details Page</b></span></th>
                        </tr>

                        <tr>
                            <th colspan="4" class="text-center" width="400"> <b>Agency Information</b></th>
                            <th colspan="4" class="text-center" width="400"> <b>Invoice Information</b></th>
                            <th colspan="4" class="text-center" width="400"> <b>Agency Owner/Manager Information</b></th>
                        </tr>

                        <tr>
                            <td colspan="4" width="400">
                                <p>@agencyDetails.AgencyName</p>
                                <p>@agencyDetails.FullAddress</p>
                                <p>@agencyDetails.Address</p>
                                <p>@agencyDetails.BusinessPhone</p>
                                <p>@agencyDetails.BusinessEmailID</p>
                            </td>

                            <td colspan="4" width="400">
                                <p>Order Id : <span>@motorProposal.enquiry_id</span></p>
                                <p>Enquiry Date : <span>@motorEnquiry.CreatedDate</span></p>
                                <p>Proposal Date : <span>@motorProposal.createddate</span></p>
                                <p>Proposal No : <span>@motorProposal.proposalno</span></p>
                            </td>

                            <td colspan="4" width="400">
                                <p>&nbsp;</p>
                                <p>Owner/Manager Name : <span>@agencyDetails.Title @agencyDetails.FirstName @agencyDetails.LastName</span></p>
                                <p>Contact No : <span>@agencyDetails.Mobile</span></p>
                                <p>Email ID : <span>@agencyDetails.EmailID</span></p>
                            </td>
                        </tr>

                        <tr>
                            <th colspan="12" class="text-center bg fontsize"><b>Agency Sales Person Information</b></th>
                        </tr>
                        <tr>
                            <th class="text-center" colspan="4"><b>Name</b></th>
                            <th class="text-center" colspan="4"><b>Email&nbsp;ID</b></th>
                            <th class="text-center" colspan="4"><b>Mobile</b></th>
                        </tr>
                        <tr style="text-align:center;">
                            <td class="text-center" colspan="4"> ##### </td>
                            <td class="text-center" colspan="4">#########.com</td>
                            <td class="text-center" colspan="4">##########</td>
                        </tr>

                        <tr>
                            <th colspan="12" class="text-center bg fontsize"><b>Insured Person/Owner Details</b></th>
                        </tr>
                        <tr>
                            <th colspan="3" class="text-center"><b>Name</b></th>
                            <th colspan="3" class="text-center"><b>Date Of Birth</b></th>
                            <th colspan="3" class="text-center"><b>Mobile</b></th>
                            <th colspan="3" class="text-center"><b>Email&nbsp;ID</b></th>


                        </tr>
                        <tr style="text-align:center;">

                            <td colspan="3" class="text-center">@motorProposal.title @motorProposal.firstname @motorProposal.lastname</td>
                            <td colspan="3" class="text-center">@motorProposal.dob</td>
                            <td colspan="3" class="text-center">@motorProposal.mobileno</td>
                            <td colspan="3" class="text-center" @motorProposal.emailid</td>
                        </tr>
                        <tr>
                            <th colspan="3 class="text-center"><b>Address</b></th>
                            <th colspan="3" class="text-center"><b>Nominee&nbsp;Name</b></th>
                            <th colspan="3" class="text-center"><b>Nominee DOB</b></th>
                            <th colspan="3" class="text-center"><b>Relationship with Nominee</b></th>

                        </tr>
                        <tr style="text-align:center;">
                            <td colspan="3" class="text-center"> @motorProposal.address1 @motorProposal.address2 @motorProposal.landmark @motorProposal.cityname , @motorProposal.statename , @motorProposal.pincode </td>
                            <td colspan="3" class="text-center">@motorProposal.ntitle @motorProposal.nfirstname @motorProposal.nlastname</td>
                            <td colspan="3" class="text-center"> @motorProposal.ndob</td>
                            <td colspan="3" class="text-center">@motorProposal.mobileno</td>
                        </tr>
                        <tr>
                            <th colspan="12" class="text-center bg fontsize"><b>Vehicle Details</b></th>
                        </tr>
                        <tr>
                            <th class="text-center" colspan="3"><b>Vehicle Registration</b></th>
                            <th colspan="3" class="text-center"><b>Insurance Type</b></th>
                            <th colspan="3" class="text-center"><b>RTO</b></th>
                            <th class="text-center" colspan="3"><b>Date of Registraion</b></th>
                        </tr>
                        <tr style="text-align:center;">
                            <td colspan="3">@motorEnquiry.VechileRegNo</td>
                            <td colspan="3">@motorEnquiry.insurancetype</td>
                            <td colspan="3" width="300">@motorEnquiry.RtoName</td>
                            <td colspan="3" width="200">@motorEnquiry.DateOfReg</td>
                        </tr>
                        <tr>
                            <th class="text-center" colspan="3"><b>Brand</b></th>
                            <th colspan="3" class="text-center"><b>Model</b></th>
                            <th colspan="3" class="text-center"><b>Fuel</b></th>
                            <th class="text-center" colspan="3"><b>Variant</b></th>
                        </tr>
                        <tr style="text-align:center;">
                            <td colspan="3">@motorEnquiry.BrandName</td>
                            <td colspan="3">@motorEnquiry.ModelName</td>
                            <td colspan="3" width="300">@motorEnquiry.Fuel</td>
                            <td colspan="3" width="200">@motorEnquiry.VarientName</td>
                        </tr>

                        <tr>
                            <th colspan="12" class="text-center bg fontsize"><b>Insured Details</b></th>
                        </tr>
                        <tr>
                            <th class="text-center" colspan="2"><b>IDV</b></th>
                            <th class="text-center" colspan="2"><b>NCB %</b></th>
                            <th class="text-center" colspan="2"><b>NCB Amt</b></th>
                            <th class="text-center" colspan="3"><b>Addon Details</b></th>
                            <th class="text-center" colspan="3"><b>Plan Type</b></th>
                        </tr>
                        <tr style="text-align:center;">
                            <td colspan="2">#######</td>
                            <td colspan="2">#######</td>
                            <td colspan="2">#######</td>
                            <td colspan="3">#######</td>
                            <td colspan="3">#######</td>
                        </tr>
                        <tr>
                            <th class="text-center" colspan="2"><b>Policy Holder Type</b></th>
                            <th class="text-center" colspan="4"><b>Policy Period</b></th>
                            <th class="text-center" colspan="3"><b>Policy Start Date</b></th>
                            <th class="text-center" colspan="3"><b>Policy End Date</b></th>
                        </tr>
                        <tr style="text-align:center;">
                            <td colspan="2">@motorEnquiry.policyholder</td>
                            <td colspan="4">#######</td>
                            <td colspan="3">########</td>
                            <td colspan="3">#########</td>
                        </tr>

                        <tr>
                            <th colspan="12" class="bg text-center fontsize"><b>Vehicle History</b></th>
                        </tr>
                        <tr>
                            <th class="text-center" width="200" colspan="2"><b>Policy Holder</b></th>
                            <th class="text-center" colspan="2" width="250"><b>Manufacturing Year</b></th>
                            <th class="text-center" colspan="2"><b>Previous Insurer</b></th>
                            <th class="text-center" colspan="2"><b>Previous Policy Number</b></th>
                            <th class="text-center" colspan="2" width="200"><b>Previous Policy Expire Date</b></th>
                        </tr>

                        <tr style="text-align:center;">
                            <td colspan="2">@motorEnquiry.policyholder</td>
                            <td colspan="2">@motorEnquiry.YearOfMake  </td>
                            <td colspan="2">@motorEnquiry.insurername</td>
                            <td colspan="2">@motorEnquiry.policynumber</td>
                            <td colspan="2">@motorEnquiry.policyexpirydate</td>
                        </tr>
                        <tr>
                            <th class="text-center" width="200" colspan="2"><b>Last Yaer Claim</b></th>
                            <th class="text-center" colspan="2" width="250"><b>Previous year NCB</b></th>
                            <th class="text-center" colspan="2"><b>Engine Number</b></th>
                            <th class="text-center" colspan="2"><b>Chassis Number</b></th>
                            <th class="text-center" colspan="2" width="200"><b>Financed by</b></th>
                        </tr>

                        <tr style="text-align:center;">
                            <td colspan="2">@motorEnquiry.isclaiminlastyear</td>
                            <td colspan="2">@motorEnquiry.previousyearnoclaim </td>
                            <td colspan="2">@motorProposal.engineno</td>
                            <td colspan="2">@motorProposal.chasisno</td>
                            <td colspan="2">########</td>
                        </tr>
                        @{ #region
                            @*<tr style="text-align:center;">
                <td colspan="1">2</td>
                <td colspan="2">
                    <p>
                        Mr. TBA  TBA (ADT)&nbsp;
                    </p>
                    <p>
                        Mr. TBA  TBA (ADT)&nbsp;
                    </p>
                    <p>
                        Mr. TBA  TBA (CHD)&nbsp;
                        <span>(0)</span>
                    </p>
                </td>
                <td colspan="2">
                    <p>FAMILY ROOM Family for 3</p>
                </td>
                <td colspan="3">
                    <p>Free cancellation before 21-Jul-2020 23:59:00+07:00 after 100 % cancellation charge applicable.</p>
                    <p></p>
                </td>
                <td colspan="2">
                    <p>2288.00</p>
                </td>
                <td colspan="2">
                    <p style="font-weight:bold;color:red">CANCELLED</p>
                </td>
            </tr>
            <tr>
                <th colspan="12" class="text-center bg fontsize"><b>Fare Information</b></th>
            </tr>
            <tr style="text-align:center;">
                <th class="text-center"><b>Currency</b></th>
                <th class="text-center"><b>Orignal&nbsp;Fare(₹)</b></th>
                <th class="text-center"><b>Exchange&nbsp;Rate(₹)</b></th>
                <th class="text-center"><b>Net&nbsp;Cost(₹)</b></th>
                <th class="text-center"><b>Admin&nbsp;Markup(₹)</b></th>
                <th class="text-center"><b>GST Amt.(₹)</b></th>
                <th class="text-center"><b>Cost&nbsp;To Agent(₹)</b></th>
                <th class="text-center"><b>Payment&nbsp;Mode</b></th>
                <th class="text-center" colspan="2"><b>AgencyMarkup Type</b></th>
                <th class="text-center"><b>Agency Markup</b></th>
                <th class="text-center"><b>Client&nbsp;Cost(₹)</b></th>
            </tr>
            <tr style="text-align:center;">
                <td>USD</td>
                <td>57.91</td>
                <td>72.00</td>
                <td>4170.00</td>
                <td>
                    <p>400.00</p>
                </td>
                <td>
                    <span></span>
                </td>
                <td>
                    <sapn>4570.00</sapn>
                </td>
                <td>WL</td>
                <td colspan="2">
                    <span>---</span>
                </td>
                <td width="200">
                    <span>0.00</span>
                </td>
                <td>
                    <sapn>4570.00</sapn>
                </td>
            </tr>


            <tr>
                <th colspan="12" class="text-center bg fontsize"><b>Ledger Booking</b></th>
            </tr>
            <tr>
                <th class="text-center" colspan="2"><b>Transaction Date</b></th>
                <th colspan="3" class="text-center"><b>Transaction / Narration</b></th>
                <th class="text-center"><b>Debit(₹)</b></th>
                <th class="text-center"><b>Credit(₹)</b></th>
                <th class="text-center"><b>Closing(₹)</b></th>
                <th class="text-center"><b>Booking&nbsp;Type</b></th>
                <th class="text-center" colspan="3"><b>Remarks</b></th>
            </tr>
            <tr style="text-align:center;">
                <td colspan="2">15-04-2020 04:48 PM</td>
                <td colspan="3" class="text-center">Mr. krishna Kant_BANGKOK_23/07/2020</td>
                <td>4570.00</td>
                <td>0.00</td>
                <td>-121538.00</td>
                <td>API</td>
                <td colspan="3">Hotel Booking</td>
            </tr>
            <tr style="text-align:center;">
                <td colspan="2">15-04-2020 04:54 PM</td>
                <td colspan="3" class="text-center">Mr._krishna_Kant_Bangkok_23-07-2020_Booking Refund</td>
                <td>0.00</td>
                <td>4570.00</td>
                <td>-116968.00</td>
                <td>API</td>
                <td colspan="3">Hotel Booking Refund</td>
            </tr>*@
                            #endregion}

                    </tbody>
                    <thead></thead>
                </table>

            </div>
        </div>
    </div>
</body>
</html>
