﻿@model insurance.Models.Motor.MotorPaymentSuccess

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>seeinsured</title>
    <link href="/Content/FrontEnd/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/Content/FrontEnd/css/owl.theme.default.min.css" rel="stylesheet" />
    <link href="/Content/FrontEnd/css/owl.carousel.min.css" rel="stylesheet" />
    <link href="/Content/FrontEnd/css/magnific-popup.css" rel="stylesheet" />
    <link href="/Content/FrontEnd/css/animate.css" rel="stylesheet" />
    <link href="/Content/FrontEnd/css/boxicons.min.css" rel="stylesheet" />
    <link href="/Content/FrontEnd/css/flaticon.css" rel="stylesheet" />
    <link href="/Content/FrontEnd/css/meanmenu.css" rel="stylesheet" />
    <link href="/Content/FrontEnd/css/nice-select.css" rel="stylesheet" />
    <link href="/Content/FrontEnd/css/odometer.css" rel="stylesheet" />
    <link href="/Content/FrontEnd/css/style.css" rel="stylesheet" />
    <link href="/Content/FrontEnd/css/responsive.css" rel="stylesheet" />
    <link href="/Content/css/custom/validationcss.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/Content/FrontEnd/js/jquery.min.js"></script>
    <script src="/Content/FrontEnd/js/bootstrap.min.js"></script>
    <style>
        h1, h2, h3, h4, h5, h6 {
            margin-top: 5px;
            text-shadow: none;
            font-weight: 600;
            font-family: "Robotomed",Arial,sans-serif;
            font-size: 18px;
        }
    </style>

</head>
<body>
    <header class="header-area fixed-top">
        <!-- Start Navbar Area -->
        <div class="nav-area">
            <div class="navbar-area">
                <!-- Menu For Mobile Device -->
                <div class="mobile-nav">
                    <a href="/agency/dashboard" class="logo"> <img src="/Content/FrontEnd/img/logonew.png" /> </a>
                </div>

                <!-- Menu For Desktop Device -->
                <div class="main-nav" style="background:#fff;   ">
                    <nav class="navbar navbar-expand-md navbar-light" style="border-bottom: 2px solid #000;">
                        <div class="container-fluid">
                            <a class="navbar-brand" href="/agency/dashboard">
                                <img src="/Content/FrontEnd/img/logonew.png" style="width:240px;" />
                            </a>
                            <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent"></div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <form method="post">
        @if (Model != null && !string.IsNullOrEmpty(Model.Status))
        {
            <div class="container-fluid" style="margin-top: 5%;">
                <div class="row" style="margin-bottom: 15px;">
                    <div class="col-sm-6 col-lg-offset-4" style="margin-left: auto;    margin-right: auto;">
                        @if (Model.Status.ToLower() == "success")
                        {
                            <p class="text-center" style="color: green;font-size: 100px;margin-bottom: -40px;"><span class="fa fa-check-circle"></span></p>
                            <h4 class="text-center"> Payment Success</h4>
                        }
                        else if (Model.Status.ToLower() == "alreadysuccess")
                        {
                            <p class="text-center" style="color: green;font-size: 100px;margin-bottom: -40px;"><span class="fa fa-check-circle"></span></p>
                            <h4 class="text-center"> Payment Already Paid</h4>
                        }
                        else
                        {
                            <p class="text-center text-danger" style="font-size: 100px;margin-bottom: -40px;"><span class="fa fa-times-circle"></span></p>
                            <h4 class="text-center"> Payment Failed</h4>
                        }
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-sm-6 col-lg-offset-4" style="margin-left: auto; margin-right: auto;padding: 30px;box-shadow: 0px 0px 7px #ccc; border-radius: 4px !important; margin-bottom: 21px;">
                        <img style="margin-left:auto;margin-right:auto;display:block;width:25% ;margin-bottom: 20px;" src="@Model.CompanyImage" />

                        <div class="row" style="border-bottom: 1px solid #ccc;padding: 10px;">
                            <div class="col-sm-6">Enquiry Number : @Model.EnquiryId.ToUpper()</div>
                            @if (Model.Status.ToLower() == "success")
                            {
                                <div class="col-sm-6">Transaction Number : @Model.PolicySysID</div>
                            }
                            else if (Model.Status.ToLower() == "alreadysuccess")
                            {
                                <div class="col-sm-6">Transaction Number : @Model.PolicySysID</div>
                            }
                            else
                            {
                                <div class="col-sm-6">Transaction Number : <span class="text-danger" style="font-weight: bold;">N/A</span></div>
                            }
                        </div>
                        <div class="row" style="border-bottom: 1px solid #ccc;padding: 10px;">
                            <div class="col-sm-6">Your Premium : @Model.TotalPremium</div>
                            @if (Model.Status.ToLower() == "success")
                            {
                                <div class="col-sm-6">Status : <span class='text-success' style="font-weight: bold;">SUCCESS</span></div>
                            }
                            else if (Model.Status.ToLower() == "alreadysuccess")
                            {
                                <div class="col-sm-6">Status : <span class='text-success' style="font-weight: bold;">ALREADY PAID</span></div>
                            }
                            else
                            {
                                <div class="col-sm-6">Status : <span class='text-danger' style="font-weight: bold;">Failed</span></div>
                            }

                        </div>
                        <div class="row" style="border-bottom: 1px solid #ccc;padding: 10px;">
                            @if (Model.Status.ToLower() == "success")
                            {
                                if (!string.IsNullOrEmpty(Model.PolicyNumber))
                                {
                                    <div class="col-sm-6">Policy Number : @Model.PolicyNumber</div>
                                }
                                else
                                {
                                    <div class="col-sm-6">Policy Number : <span class="text-danger" style="font-weight: bold;">N/A</span></div>
                                }
                            }
                            else if (Model.Status.ToLower() == "alreadysuccess")
                            {
                                <div class="col-sm-6">Policy Number : @Model.PolicyNumber</div>
                            }
                            else
                            {
                                <div class="col-sm-6">Policy Number : <span class="text-danger" style="font-weight: bold;">N/A</span></div>
                            }

                            @if (Model.Status.ToLower() == "success")
                            {
                                <div class="col-sm-6">Proposal Number : @Model.ProposalNumber</div>
                            }
                            else if (Model.Status.ToLower() == "alreadysuccess")
                            {
                                <div class="col-sm-6">Proposal Number : @Model.ProposalNumber</div>
                            }
                            else
                            {
                                <div class="col-sm-6">Proposal Number : @Model.ProposalSysID.Replace("_", "/")</div>
                            }
                        </div>
                        @if (Model.Status.ToLower() == "success" || Model.Status.ToLower() == "alreadysuccess")
                        {
                            if (TempData["NotShowPdf"] == null)
                            {
                            <div class="row" style="padding: 10px;">
                                <span id="btnDownloadPdf" onclick="GetPdfDocument();" class="default-btn form-control" style="font-size: 20px!important;padding: 10px;">Download Policy&nbsp;<span class="fa fa-download"></span></span>
                            </div>
                            }
                        }
                    </div>
                </div>
                @*<div class="row form-group">
                        <div class="col-sm-6 col-lg-offset-4" style="margin-left: auto;    margin-right: auto;">
                            <a class="btn btn-primary" style="margin-left: auto;margin-right: auto;display: block;width: 25%;color: #fff;"><span class="fa fa-backward"></span>&nbsp;Back To Home</a>
                        </div>
                    </div>*@
            </div>
        }

        <script>
            GetPdfDocument = () => {
                let enqid = GetParameterValues("enquiry");
                if (enqid != "") {
                    $.ajax({
                        type: "Post",
                        url: "/Moter/GetPdfDocument",
                        data: '{enquiryid: ' + JSON.stringify(enqid) + '}',
                        contentType: "application/json; charset=utf-8",
                        datatype: "json",
                        success: function (data) {
                            var a = $("<a/>");
                            a.attr("download", (enqid + ".pdf"));
                            a.attr("href", data);
                            $("body").append(a);
                            a[0].click();
                            $("body").remove(a);
                        }
                    });
                }
            }

            function GetParameterValues(param) {
                var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
                for (var i = 0; i < url.length; i++) { var urlparam = url[i].split('='); if (urlparam[0] == param) { return urlparam[1]; } }
            }
        </script>
    </form>
</body>
</html>