﻿
@{
    ViewBag.Title = "proposalsummary";
    Layout = "~/Views/Shared/_AgencyInnerLayoutPage.cshtml";
}
@section header{
    <link href="~/Content/css/custom/checkbox.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/HelthSearch.css" rel="stylesheet" />
    <link href="~/Content/css/custom/validationcss.css" rel="stylesheet" />
    <style>
        .carhed {
            float: right;
            margin-right: -65px;
            margin-top: 110px;
            color: #262566;
            font-size: 16px;
            font-weight: bold;
        }

        .bikecon {
            cursor: pointer;
            color: #0d73b7;
            border-radius: 64px !important;
            padding: 15px 26px;
            float: left;
            font-size: 42px;
            border: 1px solid #0d73b7;
        }

        .motericon {
            float: right;
            font-size: 40px;
            color: #0d73b7;
            border: 1px solid #0d73b7;
            border-radius: 64px !important;
            padding: 15px 28px;
            cursor: pointer;
        }

        .tab {
            overflow: hidden;
            border: 1px solid #ccc;
            background-color: #ffffff;
        }

            .tab button {
                background-color: inherit;
                float: left;
                border: none;
                outline: none;
                cursor: pointer;
                transition: 0.3s;
                font-size: 13px;
                width: 20%;
            }

                .tab button:hover {
                    background-color: #fffafa;
                    color: red;
                }


                .tab button.active {
                    background-color: #fffafa;
                    color: red;
                }


        .tabcontent {
            display: none;
            padding: 6px 12px;
            border: 1px solid #ccc;
            border-top: none;
        }

        #progressbar li {
            list-style-type: none;
            color: #262566;
            text-transform: uppercase;
            font-size: 15px;
            width: 25%;
            float: left;
            position: relative;
            letter-spacing: 1px;
        }

            #progressbar li:after {
                content: '';
                width: 100%;
                height: 5px;
                background: #848484;
                position: absolute;
                left: -50%;
                top: 20px;
                z-index: -1;
                border-radius: 0%;
            }

        .callus {
            background: #fff;
            padding: 3px 19px;
            font-size: 18px;
            border-radius: 11px;
            width: 100%;
            margin-bottom: 10px;
        }

        .callusbtn {
            margin-right: 2px;
            cursor: pointer;
            float: right;
            background: #1476b9;
            font-size: 15px;
            width: 20%;
            padding: 2px;
            color: #fff;
            text-align: center;
            border-radius: 4px;
        }

        .contentboxborder {
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 100px;
        }

        .seeingo {
            color: #000000 !important;
            font-weight: 600 !important;
            font-size: 15px;
        }

            .seeingo input:checked ~ .checkmark {
                background-color: #e32730 !important;
            }

        .agetextbox {
            width: 35% !important;
            height: 29px !important;
            float: right;
        }

        .ageleft {
            margin-left: 65px;
        }

        .selecthgt {
            height: 35px !important;
            padding: 4px 11px !important;
        }

        .lcolr {
            color: #262566;
            font-size: 15px;
        }

        .facolrPlu {
            color: green;
        }

        .facolrMi {
            color: red;
        }

        .checkcolr {
            color: #1476b9;
            font-size: 24px;
        }

        .helthimg {
            width: 77px;
            position: absolute;
            right: 450px;
            top: 24px;
        }

        .tocntainer {
            margin-top: 150px;
        }

        .helthtop {
            margin-top: -18px;
        }

        @@media screen and (max-width:700px) {
            .tocntainer {
                margin-top: 0px;
            }

            .helthtop {
                margin-top: 81px;
            }
        }

        .hidden {
            display: none !important;
        }

        .list-inline > li {
            display: inline-block;
            padding-right: 5px;
            padding-left: 5px;
        }

        .rounded-top {
            border-radius: 4px 4px 0 0 !important;
        }

        .compayrbtn {
            background: #e71820;
            color: #fff;
            border-radius: 20px;
            padding: 3px 12px;
        }

            .compayrbtn:hover {
                color: #fff !important;
            }

        .padding_horizontal_20 {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }

        .no-margin-bottom {
            margin-bottom: 0 !important;
        }

        p {
            margin-top: 0;
            margin-bottom: 0px;
        }

        .topbox {
            background: #d1e9f9;
            padding: 15px;
            margin-bottom: 14px;
            width: 82% !important;
        }

        .boxborder {
            border: 1px solid #ccc;
            padding: 10px;
        }

        .filterhed {
            padding: 5px;
            color: #262566;
            font-weight: bold;
        }

        .seeingo {
            color: #000000 !important;
            font-weight: 100 !important;
            font-size: 15px;
        }

            .seeingo input:checked ~ .checkmark {
                background-color: #e32730 !important;
            }

        .fonticon {
            font-size: 20px;
            color: #2d83bd;
        }

        .fontheding {
            margin-left: 12px;
            font-size: 15px;
            color: #2d83bd;
        }

        .fontdetails {
            font-size: 13px;
            text-align: right;
        }

        .listbox {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 14px;
        }

            .listbox:hover {
                box-shadow: 10px 10px 20px rgba(171,171,176,0.88);
            }

        .bookbtn {
            padding: 13px 35px;
            border-top-right-radius: 30px;
            border-bottom-left-radius: 30px;
        }

        .emialcort {
            text-align: center;
            float: right;
            border: 1px solid #1375b8;
            background: #4593c8;
            padding: 6px 8px;
            border-radius: 30px !important;
            width: 100%;
            margin-bottom: 14px;
            margin-top: 13px;
            color: #fff;
        }

        .editcort {
            text-align: center;
            float: right;
            margin-left: 13px;
            border: 1px solid #e71820;
            background: #e71820;
            padding: 6px 8px;
            border-radius: 30px !important;
            width: 100%;
            margin-bottom: 14px;
            margin-top: 13px;
            color: #fff;
        }

        .permismcolr {
            font-size: 20px;
            width: 40%;
            border: 1px solid #0d75bc;
            padding: 5px;
            background: #fff;
            color: #2c83be;
        }

        .panel {
            margin-bottom: 20px;
            background-color: #fff;
            border: 1px solid transparent;
            border-radius: 21px !important;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
        }

        .text-center {
            text-align: center;
        }

        .panel-default > .panel-heading {
            color: #333;
            background-color: #f5f5f5;
            border-color: #ddd;
            border-radius: 23px !important;
        }

        .panel-heading {
            color: #fff;
            padding: 5px 15px;
        }

        .panel-heading {
            padding: 10px 15px;
            border-bottom: 1px solid transparent;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        .panel-title {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 16px;
            color: inherit;
        }

        .no-padding {
            padding: 0 !important;
        }

        .panel-body {
            padding: 15px;
        }

        .color-orange {
            color: #3c3595;
        }

        .formcontlbord {
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            border-radius: 0px;
            border-radius: 0px;
        }

        .section1, .section2, .section3, .section4 {
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
            padding: 20px 30px;
            border-radius: 4px;
        }

        .cmposion {
            position: absolute;
            right: 22px;
            margin-top: -30px;
            font-weight: 100;
            color: #ccc;
        }
        .table td, .table th {
            padding: 3px;
            vertical-align: top;
            border-top: 1px solid #dee2e6;
        }
    </style>
    <link href="~/Content/FrontEnd/css/ProposalSummary.css" rel="stylesheet" />
}
<div class="container-fluid" style="margin-top: 145px;padding: 0px 0px 20px 0px;">
    <div class="row" style="border-bottom: none; width: 100%; margin-left: 1px; padding: 3px;">
        <div class="col-sm-9">
            <label class="text-center" style="display:block !important;color: #e71820;" id="lblProposalId">Proposal Id : <i class="fa fa-spinner fa-pulse"></i></label>
        </div>
        <div class="col-sm-3">
            <a href="#" style="font-weight: 500;font-size: 16px;"></a>
        </div>
    </div>
    <div style="margin-bottom: 26px;">
        <div class="col-sm-9">
            <div class="tab">
                <button class="tablinks active" onclick="openCity(event, 'VehicleDetails')">Vehicle Details</button>
                <button class="tablinks" onclick="openCity(event, 'InsuredDetails')">Insured Details</button>
                <button class="tablinks" onclick="openCity(event, 'OwnerDetails')">Owner Details</button>
                <button class="tablinks" onclick="openCity(event, 'VehicleHistory')">Vehicle History</button>
                <button class="tablinks" onclick="openCity(event, 'OtherDetails')">Other Details</button>
            </div>
            <div id="divProposalPageDetails">
                <p class="text-center" style="font-size: 20px;margin-top: 10%;">Please wait... <i class="fa fa-spinner fa-pulse"></i></p>
            </div>
            <div class="row" style="margin-top: 20px;">
                <div class="col-sm-4" id="divPaymentSection">
                    @*<a href="#" title="Payment" style="float: right;">*@
                        <p class="motericon caractive"><span class="fa fa-credit-card"></span></p>
                        <p class="carhed" style="margin-right:-84px">Payment</p>
                    @*</a>*@
                </div>
                <div class="col-sm-4" onclick="CheckPaymentDetails();" style="cursor:pointer;">
                    <p class="bikecon" style="padding: 15px 38px;float: left;font-size: 30px;margin-left: 120px;"><span class="fa fa-rupee"></span></p>
                    <p class="carhed" style="float: left; margin-left: -115px; margin-top: 100px;">Check Payment</p>
                </div>
                <div class="col-sm-4" onclick="GetPdfDocument();" style="cursor:pointer;">
                    <p class="bikecon" style="padding: 15px 29px;float: left;font-size: 30px;"><span class="fa fa-download"></span></p>
                    <p class="carhed" style="float: left; margin-left: -104px; margin-top: 100px;">Download PDF</p>
                </div>
            </div>
        </div>
        <div class="col-sm-3" style="border: 1px solid #ccc;padding: 5px;" id="divPlanSummarySection">
            <div class="row">
                <div class="col-sm-12">
                    <h4 class="text-center">Your Plan Summary</h4>
                    <p class="text-center" style="font-size: 20px;margin-top: 50%;">Please wait... <i class="fa fa-spinner fa-pulse"></i></p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="PStatusModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document" style="margin-top: 10%;">
        <div class="modal-content" id="divPerposalModal">
            @*<p class="text-center" style="font-size: 20px;padding-top: 10%;">Please wait while we are fetching information.</p>
            <p class="text-center" style="font-size: 20px;padding-bottom: 10%;">Please wait... <i class="fa fa-spinner fa-pulse"></i></p>*@
        </div>
    </div>
</div>
@section footer{
    <script src="~/Content/js/motor/proposalsummary.js?v=1.2"></script>
}
