﻿
@{
    ViewBag.Title = "proposaldetails";
    Layout = "~/Views/Shared/_AgencyInnerLayoutPage.cshtml";
}

@section header{
    <link href="~/Content/css/custom/checkbox.css" rel="stylesheet" />
    <link href="~/Content/FrontEnd/css/HelthSearch.css" rel="stylesheet" />
    <link href="~/Content/css/custom/validationcss.css" rel="stylesheet" />
    <style>
        #progressbar li {
            list-style-type: none;
            color: #262566;
            text-transform: uppercase;
            font-size: 15px;
            width: 25%;
            float: left;
            position: relative;
            letter-spacing: 1px;
        }

            #progressbar li:after {
                content: '';
                width: 100%;
                height: 5px;
                background: #848484;
                position: absolute;
                left: -50%;
                top: 20px;
                z-index: -1;
                border-radius: 0%;
            }

        .callus {
            background: #fff;
            padding: 3px 19px;
            font-size: 18px;
            border-radius: 11px;
            width: 100%;
            margin-bottom: 10px;
        }

        .callusbtn {
            margin-right: 2px;
            cursor: pointer;
            float: right;
            background: #1476b9;
            font-size: 15px;
            width: 20%;
            padding: 2px;
            color: #fff;
            text-align: center;
            border-radius: 4px;
        }

        .contentboxborder {
            border: 1px solid #ccc;
            padding: 10px;
            margin-top: 100px;
        }

        .seeingo {
            color: #a5a3a3 !important;
            font-weight: 100 !important;
            font-size: 15px;
        }

            .seeingo input:checked ~ .checkmark {
                background-color: #e32730 !important;
            }

        .agetextbox {
            width: 35% !important;
            height: 29px !important;
            float: right;
        }

        .ageleft {
            margin-left: 65px;
        }

        .selecthgt {
            height: 35px !important;
            padding: 4px 11px !important;
        }

        .lcolr {
            color: #262566;
            font-size: 15px;
        }

        .facolrPlu {
            color: green;
        }

        .facolrMi {
            color: red;
        }

        .checkcolr {
            color: #1476b9;
            font-size: 24px;
        }

        .helthimg {
            width: 77px;
            position: absolute;
            right: 450px;
            top: 24px;
        }

        .tocntainer {
            margin-top: 150px;
        }

        .helthtop {
            margin-top: -18px;
        }

        @@media screen and (max-width:700px) {
            .tocntainer {
                margin-top: 0px;
            }

            .helthtop {
                margin-top: 81px;
            }
        }

        .hidden {
            display: none !important;
        }

        .list-inline > li {
            display: inline-block;
            padding-right: 5px;
            padding-left: 5px;
        }

        .rounded-top {
            border-radius: 4px 4px 0 0 !important;
        }

        .compayrbtn {
            background: #e71820;
            color: #fff;
            border-radius: 20px;
            padding: 3px 12px;
        }

            .compayrbtn:hover {
                color: #fff !important;
            }

        .padding_horizontal_20 {
            padding-left: 20px !important;
            padding-right: 20px !important;
        }

        .no-margin-bottom {
            margin-bottom: 0 !important;
        }

        p {
            margin-top: 0;
            margin-bottom: 0px;
        }

        .topbox {
            background: #d1e9f9;
            padding: 15px;
            margin-bottom: 14px;
        }

        .boxborder {
            border: 1px solid #ccc;
            padding: 10px;
        }

        .filterhed {
            padding: 5px;
            color: #262566;
            font-weight: bold;
        }

        .seeingo {
            color: #1375b8 !important;
            font-weight: 100 !important;
            font-size: 15px;
        }

            .seeingo input:checked ~ .checkmark {
                background-color: #e32730 !important;
            }

        .fonticon {
            font-size: 20px;
            color: #2d83bd;
        }

        .fontheding {
            margin-left: 12px;
            font-size: 15px;
            color: #2d83bd;
        }

        .fontdetails {
            font-size: 13px;
            text-align: right;
        }

        .listbox {
            border: 1px solid #ccc;
            padding: 10px;
            margin-bottom: 14px;
        }

            .listbox:hover {
                box-shadow: 10px 10px 20px rgba(171,171,176,0.88);
            }

        .bookbtn {
            padding: 13px 35px;
            border-top-right-radius: 30px;
            border-bottom-left-radius: 30px;
        }

        .emialcort {
            float: right;
            border: 1px solid #e71820;
            background: #e71820;
            padding: 10px 10px;
            border-radius: 30px;
            width: 20%;
            color: #fff;
        }

        .editcort {
            text-align: center;
            float: right;
            margin-left: 13px;
            border: 1px solid #e71820;
            background: #e71820;
            padding: 10px 10px;
            border-radius: 30px;
            width: 20%;
            color: #fff;
        }

        .permismcolr {
            font-size: 20px;
            width: 40%;
            border: 1px solid #0d75bc;
            padding: 5px;
            background: #fff;
            color: #2c83be;
        }

        .panel {
            margin-bottom: 20px;
            background-color: #fff;
            border: 1px solid transparent;
            border-radius: 21px !important;
            -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
            box-shadow: 0 1px 1px rgba(0,0,0,.05);
        }

        .text-center {
            text-align: center;
        }

        .panel-default > .panel-heading {
            color: #333;
            background-color: #f5f5f5;
            border-color: #ddd;
            border-radius: 23px !important;
        }

        .panel-heading {
            color: #fff;
            padding: 5px 15px;
        }

        .panel-heading {
            padding: 10px 15px;
            border-bottom: 1px solid transparent;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
        }

        .panel-title {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 16px;
            color: inherit;
        }

        .no-padding {
            padding: 0 !important;
        }

        .panel-body {
            padding: 15px;
        }

        .color-orange {
            color: #3c3595;
        }

        .formcontlbord {
            border-top: 0px;
            border-left: 0px;
            border-right: 0px;
            border-radius: 0px;
            border-radius: 0px;
        }

        .section1, .section2, .section3, .section4 {
            box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
            padding: 20px 30px;
            border-radius: 4px;
        }
        .cmposion {
            position: absolute;
            right: 22px;
            margin-top: -30px;
            font-weight: 100;
            color: #ccc;
        }
        }
    </style>
    }
    <div style="margin-top:118px;">
        <div class="container-fluid topbox">
            <div class="row">
                <div class="col-sm-4">
                    <h3 style="margin-top: 10px;">MOTOR INSURANCE</h3>
                </div>
                <div class="col-sm-8">
                    <a href="#" class="editcort">Edit Details</a>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="">
            <div class="col-sm-12">
                <div class="row form-group">
                    <div class="col-sm-9 form-group">
                        <div class="col-sm-12">
                            <div id="msform">
                                <ul id="progressbar">
                                    <li class="active">Selected Addon</li>
                                    <li class="linext2">Owner Details </li>
                                    <li class="linext3">Nominee Details</li>
                                    <li class="linext4">Vehicle History</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12 form-group">
                            <fieldset class="section1" id="fdselectedplansection">
                                <div class="row form-group">
                                    <div class="col-sm-12" style="border: 1px solid #ccc; padding: 9px;">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-3">
                                                    <p class="filterhed" style="font-size: 13px;">RTO Number : <span class="filterhed" style="font-size: 13px;">Dl-234322</span></p>
                                                </div>
                                                <div class="col-sm-3">
                                                    <p class="filterhed" style="font-size: 13px;">Registration Date : <span class="filterhed" style="font-size: 13px;">22/10/2021</span></p>
                                                </div>
                                                <div class="col-sm-3">
                                                    <p class="filterhed" style="font-size: 13px;" id="policyfor" data-policyfor="Individual">Vehicle Name : <span class="filterhed" style="font-size: 13px;">Car</span> </p>
                                                </div>
                                                <div class="col-sm-3">
                                                    <p class="filterhed" style="font-size: 13px;" id="plantype" data-plantype="1 Adults + 0 Child">Variant Type : <span class="filterhed" style="font-size: 13px;">Somthing</span> </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group" style="border: 1px solid #ccc;padding: 10px;">
                                    <div class="col-sm-6" style="border-right: 1px solid #ccc;">
                                        <label class="seeingo" style="color: #777777!important;">
                                            Personal Accident Cover of 15 Lakhs
                                            <input type="checkbox" class="submenuclass" id="chkIsProposerInsured" name="chkIsProposerInsured" checked="checked" />
                                            <span class="checkmark"></span>
                                            <span class="fa fa-info-circle" style="float: right;color: #2c4da8;cursor:pointer" title="Message..."></span>
                                            <p> ₹ 220</p>

                                        </label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="seeingo" style="color: #777777!important;">
                                            Breakdown Assistance (RSA)
                                            <input type="checkbox" class="submenuclass" id="chkIsProposerInsured" name="chkIsProposerInsured" />
                                            <span class="checkmark"></span>
                                            <span class="fa fa-info-circle" style="float: right;color: #2c4da8;cursor:pointer" title="Message..."></span>
                                            <p> ₹ 102</p>
                                        </label>
                                    </div>
                                    <div class="col-sm-6" style="border-right: 1px solid #ccc;">
                                        <label class="seeingo" style="color: #777777!important;">
                                            Trye Protect Cover
                                            <input type="checkbox" class="submenuclass" id="chkIsProposerInsured" name="chkIsProposerInsured" checked="checked" />
                                            <span class="checkmark"></span>
                                            <span class="fa fa-info-circle" style="float: right;color: #2c4da8;cursor:pointer" title="Message..."></span>
                                            <p> ₹ 103</p>
                                        </label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="seeingo" style="color: #777777!important;">
                                            Breakdown Assistance (RSA)
                                            <input type="checkbox" class="submenuclass" id="chkIsProposerInsured" name="chkIsProposerInsured" />
                                            <span class="checkmark"></span>
                                            <span class="fa fa-info-circle" style="float: right;color: #2c4da8;cursor:pointer" title="Message..."></span>
                                            <p> ₹ 102</p>
                                        </label>
                                    </div>
                                    <div class="col-sm-6" style="border-right: 1px solid #ccc;">
                                        <label class="seeingo" style="color: #777777!important;">
                                            Trye Protect Cover
                                            <input type="checkbox" class="submenuclass" id="chkIsProposerInsured" name="chkIsProposerInsured" checked="checked" />
                                            <span class="checkmark"></span>
                                            <span class="fa fa-info-circle" style="float: right;color: #2c4da8;cursor:pointer" title="Message..."></span>
                                            <p> ₹ 103</p>
                                        </label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="seeingo" style="color: #777777!important;">
                                            Breakdown Assistance (RSA)
                                            <input type="checkbox" class="submenuclass" id="chkIsProposerInsured" name="chkIsProposerInsured" />
                                            <span class="checkmark"></span>
                                            <span class="fa fa-info-circle" style="float: right;color: #2c4da8;cursor:pointer" title="Message..."></span>
                                            <p> ₹ 102</p>
                                        </label>
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <button class="next1 default-btn pull-right designbtn" id="btnNextSelectedPlan" onclick="return NextSelectedPlan();">NEXT</button>
                                </div>
                            </fieldset>
                            <fieldset class="section2 hidden" id="fdproposerdetails">
                                <div class="col-sm-12">
                                    <div class="row form-group" style="padding: 10px;">
                                        <div class="col-sm-2">
                                            <select class="form-control formcontlbord" id="ddlPGender">
                                                <option value="male" selected="selected">Male</option>
                                                <option value="female">Female</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-5 form-validation">
                                            <input type="text" class="form-control formcontlbord" id="txtPFirstName" placeholder="First Name *" />
                                        </div>
                                        <div class="col-sm-5 form-validation">
                                            <input type="text" class="form-control formcontlbord " id="txtPLastName" placeholder="Last Name *" />
                                        </div>
                                    </div>
                                    <div class="row form-group" style="padding: 10px;">
                                        <div class="col-sm-4 form-validation">
                                            <input type="text" class="form-control formcontlbord" id="txtPMobile" placeholder="Mobile No *" />
                                        </div>
                                        <div class="col-sm-4 form-validation">
                                            <input type="text" class="form-control formcontlbord CommanDateWithYr" id="txtPDOB" placeholder="dd/mm/yyyy" />
                                        </div>
                                        <div class="col-sm-4 form-validation">
                                            <input type="text" class="form-control formcontlbord " id="txtPEmail" placeholder="Email id *" />
                                        </div>
                                    </div>
                                    <div class="row form-group" style="padding: 10px;">
                                        <div class="col-sm-4 form-validation">
                                            <input type="text" class="form-control formcontlbord" id="txtPAddress1" placeholder="Address line 1*" />
                                        </div>
                                        <div class="col-sm-4 form-validation">
                                            <input type="text" class="form-control formcontlbord" id="txtPAddress2" placeholder="Address line 2*" />
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control formcontlbord " id="txtPLandmark" placeholder="Landmark*" />
                                        </div>
                                    </div>
                                    <div class="row form-group" style="padding: 10px;">
                                        <div class="col-sm-4 form-validation">
                                            <input type="text" class="form-control formcontlbord" id="txtPPincode" placeholder="Pincode*" />
                                        </div>
                                        <div class="col-sm-4 form-validation">
                                            <select class="form-control" id="ddlPState">
                                                <option value="1" selected>New Delhi</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-4 form-validation">
                                            <select class="form-control" id="ddlPCity">
                                                <option value="1" selected>New Delhi</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row form-group" style="padding: 10px;">
                                        <div class="col-sm-12 ">
                                            <label class="seeingo" style="color: #777777!important;">
                                                Is Proposer and Insured Person Same ?
                                                <input type="checkbox" class="submenuclass" id="chkIsProposerInsured" name="chkIsProposerInsured" checked="checked" />
                                                <span class="checkmark"></span>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-12">
                                        <button class="next2 default-btn pull-right designbtn" id="btnNextProposerDetails" onclick="return NextProposerDetails();">NEXT</button>
                                        <button class="previous1 prvbtn btn btn-success pull-left prev designbtn">PREVIOUS</button>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="section3 hidden" id="fdInsuredDetails">
                                <div class="col-sm-12">
                                    <div class="row form-group" style="padding:10px;">
                                        <div class="col-sm-12">
                                            <div class="row">
                                                <div class="col-sm-5">
                                                    <div class="row">
                                                        <div class="col-sm-7">
                                                            <select class="form-control formcontlbord" name="ddlRelation_1" id="ddlRelation_1">
                                                                <option value="1">BROTHER</option>
                                                                <option value="2">FATHER</option>
                                                                <option value="3">FATHER IN LAW</option>
                                                                <option value="4">GRAND DAUGHTER</option>
                                                                <option value="5">GRAND FATHER</option>
                                                                <option value="6">GRAND MOTHER</option>
                                                                <option value="7">GRAND SON</option>
                                                                <option value="8">MOTHER IN LAW</option>
                                                                <option value="9">MOTHER</option>
                                                                <option value="10">SELF- PRIMARY MEMBER</option>
                                                                <option value="11">SISTER</option>
                                                                <option value="12">Husband</option>
                                                                <option value="13">SON</option>
                                                                <option value="14">WIFE</option>
                                                                <option value="15">DAUGHTER</option>
                                                                <option value="16">Son In Law</option>
                                                                <option value="17">Daughter In law</option>
                                                                <option value="18">Uncle</option>
                                                                <option value="19">Aunty</option>
                                                                <option value="20">Nephew</option>
                                                                <option value="21">Niece</option>
                                                            </select>
                                                        </div>
                                                        <div class="col-sm-5">
                                                            <select name="ddlTitle_1" id="ddlTitle_1" class="form-control formcontlbord">
                                                                <option value="mr" selected="selected">Mr.</option>
                                                                <option value="mrs">Mrs.</option>
                                                                <option value="miss">Miss</option>
                                                            </select>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-7">
                                                    <div class="row">
                                                        <div class="col-sm-4 form-validation">
                                                            <input type="text" class="form-control formcontlbord" id="txtInFirstName_1" placeholder="first name" value="Saurb">
                                                        </div>
                                                        <div class="col-sm-4 form-validation">
                                                            <input type="text" class="form-control formcontlbord" id="txtInLastName_1" placeholder="last name" value="k">
                                                        </div>
                                                        <div class="col-sm-4 form-validation">
                                                            <input type="text" class="form-control formcontlbord CommanDateWithYr   " id="txtInDOB_1" placeholder="mm/dd/yyyy" value="2021-01-12">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12" style="margin-top: 20px;">
                                            <button class="next3 default-btn pull-right designbtn" id="btnNextProposerDetails" onclick="return PerposalSubmit();">NEXT</button>
                                            <button class="previous2 prvbtn btn btn-success pull-left prev designbtn">PREVIOUS</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="section4 hidden " id="fdMedicalHistory">
                                <div class="col-sm-12">
                                    <div class="row form-group">
                                        <div class="col-sm-12">
                                            <div class="row form-group">
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control formcontlbord" id="txtvihicle" placeholder="Vehicle reg No.." value="">
                                                </div>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control formcontlbord" id="txtvihicleYr" placeholder="Vehicle manufacturing yr .." value="">
                                                </div>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control formcontlbord" id="txtengin" placeholder="Engine no.." value="">
                                                </div>
                                            </div>
                                            <div class="row form-group">
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control formcontlbord" id="txtchassisno" placeholder="Chassis no.." value="">
                                                </div>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control formcontlbord" id="txtValuntary" placeholder="Valuntary deductible.." value="">
                                                </div>
                                                <div class="col-sm-4">
                                                    <select class="form-control" id="ddlIsPreviousInsurerKnown">
                                                        <option value="">Select Car Under Loan/Lease</option>
                                                        <option value="yes">Yes</option>
                                                        <option value="no">No</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="row form-group prtext hidden">
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control formcontlbord" id="txtinsurance" placeholder="Insurance company.." value="">
                                                </div>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control formcontlbord" id="txtPrinsurance" placeholder="Previous insurance company.." value="">
                                                </div>
                                                <div class="col-sm-4">
                                                    <input type="text" class="form-control formcontlbord" id="txtpolicy" placeholder="Previous policy number.." value="">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-12" style="margin-top: 20px;">
                                            <button class="next1 default-btn pull-right designbtn" onclick="return PerposalLastSubmit();">Submit</button>
                                            <button class="previous3 prvbtn btn btn-success pull-left prev designbtn">PREVIOUS</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-sm-3" style="border: 1px solid #ccc;padding: 5px;">
                        <div class="row">
                            <div class="col-sm-12">
                                <h4 class="text-center">Your Plan Summary</h4>
                                <div class="row">
                                    <div class="col-sm-4">
                                        <img src="https://car.policybazaar.com/Images/Car-AC/Logo/oben.gif">
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>IDV</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <label>₹ 1,27,000</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>NCB</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <label>45%</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-sm-6">
                                                <label>Plan Type</label>
                                            </div>
                                            <div class="col-sm-6">
                                                <label>Comprehensive</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12" style="border: 1px solid #ccc; border-left: none; border-right: none; flex: 0 0 95%; margin-left: 10px;">
                                <label class="texthideShow">Plan Features <span id="spnbar" class="fa fa-angle-down" style="font-size: 18px; color: red;"></span></label>
                                <div class="row textdet">
                                    <div class="col-sm-12">
                                        <b>Important Plan Benefits</b>
                                        <p>1.Cashless Claims or Reimbursement Within 24 hours Across India</p>
                                        <p>2.Free Pick-up & Drop</p>
                                        <p>3.80% Advance Payment</p>
                                        <p>6-Month Repair Warranty</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Premium Amount</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>₹ 2,836</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Addon</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label>₹ 5</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>GST@18%</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label> ₹ 510</label>
                                    </div>
                                </div>

                            </div>
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label style="font-weight:bold;font-size:15px;">You'll Pay</label>
                                    </div>
                                    <div class="col-sm-6">
                                        <label class="text-danger" style="font-weight:bold;font-size:15px;">
                                            ₹ 3,724
                                        </label>
                                    </div>
                                </div>

                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @section footer{
        <script>
            function NextSelectedPlan() {
                $(".section1").addClass("hidden");
                $(".section3").addClass("hidden");
                $(".section4").addClass("hidden");
                $(".section2").removeClass("hidden");
                $(".linext2").addClass("active");

            }
            function NextProposerDetails() {
                $(".section1").addClass("hidden");
                $(".section3").removeClass("hidden");
                $(".section4").addClass("hidden");
                $(".section2").addClass("hidden");
                $(".linext3").addClass("active");
            }
            function PerposalSubmit() {
                $(".section1").addClass("hidden");
                $(".section3").addClass("hidden");
                $(".section4").removeClass("hidden");
                $(".section2").addClass("hidden");
                $(".linext4").addClass("active");
            }
            $(".previous3").click(function () {
                $(".section3").removeClass("hidden");
                $(".section1").addClass("hidden");
                $(".section4").addClass("hidden");
                $(".section2").addClass("hidden");
                $(".linext2").addClass("active");
                $(".linext3").addClass("active");
                $(".linext4").removeClass("active");
            });
            $(".previous2").click(function () {
                $(".section3").addClass("hidden");
                $(".section1").addClass("hidden");
                $(".section4").addClass("hidden");
                $(".section2").removeClass("hidden");
                $(".linext2").addClass("active");
                $(".linext3").removeClass("active");
                $(".linext4").removeClass("active");
            });
            $(".previous1").click(function () {
                $(".section3").addClass("hidden");
                $(".section1").removeClass("hidden");
                $(".section4").addClass("hidden");
                $(".section2").addClass("hidden");
                $(".linext2").removeClass("active");
                $(".linext3").removeClass("active");
                $(".linext4").removeClass("active");
            });
            $("#ddlIsPreviousInsurerKnown").change(function () {
                if ($("option:selected", this).text() == "Yes") {
                    $(".prtext").removeClass("hidden");
                } else {
                    $(".prtext").addClass("hidden");
                }
            });
        </script>
        @*<script src="~/Content/js/health/createproposal.js?v=1"></script>*@
        <script src="~/Content/js/custom/common.js"></script>
        }
