﻿
@{
    ViewBag.Title = "AdminMotorExtranetCreateProposal";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}
<link href="~/Content/FrontEnd/css/HelthSearch.css" rel="stylesheet" />
<link href="~/Content/css/custom/checkbox.css" rel="stylesheet" />

<style>
    .agetextbox {
        width: 35% !important;
        height: 29px !important;
        float: right;
    }

    .ageleft {
        margin-left: 65px;
    }

    #progressbar li {
        list-style-type: none;
        color: #262566;
        text-transform: uppercase;
        font-size: 15px;
        width: 20%;
        float: left;
        position: relative;
        letter-spacing: 1px;
    }

        #progressbar li:before {
            content: counter(step);
            counter-increment: step;
            width: 37px;
            height: 37px;
            line-height: 38px;
            display: block;
            font-size: 19px;
            /* z-index: -9999; */
            color: #fff;
            background: #848484;
            border-radius: 50%;
            margin: 0 auto 10px auto;
        }

        #progressbar li:after {
            content: '';
            width: 100%;
            height: 5px;
            background: #848484;
            position: absolute;
            left: -50%;
            top: 20px;
            z-index: -1;
            border-radius: 0%;
            #progressbar li:after

    {
        content: '';
        width: 100%;
        height: 5px;
        background: #848484;
        position: absolute;
        left: -50%;
        top: 20px;
        z-index: -1;
        border-radius: 0%;
    }

    .callus {
        background: #fff;
        padding: 3px 19px;
        font-size: 18px;
        border-radius: 11px;
        width: 100%;
        margin-bottom: 10px;
    }

    .callusbtn {
        margin-right: 2px;
        cursor: pointer;
        float: right;
        background: #1476b9;
        font-size: 15px;
        width: 20%;
        padding: 2px;
        color: #fff;
        text-align: center;
        border-radius: 4px;
    }

    .contentboxborder {
        border: 1px solid #ccc;
        padding: 10px;
        margin-top: 100px;
    }

    .seeingo {
        color: #a5a3a3 !important;
        font-weight: 100 !important;
        font-size: 15px;
    }

        .seeingo input:checked ~ .checkmark {
            background-color: #e32730 !important;
        }

    .agetextbox {
        width: 35% !important;
        height: 29px !important;
        float: right;
    }

    .ageleft {
        margin-left: 65px;
    }

    .selecthgt {
        height: 35px !important;
        padding: 4px 11px !important;
    }

    .lcolr {
        color: #262566;
        font-size: 15px;
    }

    .facolrPlu {
        color: green;
    }

    .facolrMi {
        color: red;
    }

    .checkcolr {
        color: #1476b9;
        font-size: 24px;
    }

    .helthimg {
        width: 77px;
        position: absolute;
        right: 450px;
        top: 24px;
    }

    .tocntainer {
        margin-top: 150px;
    }

    .helthtop {
        margin-top: -18px;
    }

    @@media screen and (max-width:700px) {
        .tocntainer {
            margin-top: 0px;
        }

        .helthtop {
            margin-top: 81px;
        }
    }

    .hidden {
        display: none !important;
    }

    .list-inline > li {
        display: inline-block;
        padding-right: 5px;
        padding-left: 5px;
    }

    .rounded-top {
        border-radius: 4px 4px 0 0 !important;
    }

    .compayrbtn {
        background: #e71820;
        color: #fff;
        border-radius: 20px;
        padding: 3px 12px;
    }

        .compayrbtn:hover {
            color: #fff !important;
        }

    .padding_horizontal_20 {
        padding-left: 20px !important;
        padding-right: 20px !important;
    }

    .no-margin-bottom {
        margin-bottom: 0 !important;
    }

    p {
        margin-top: 0;
        margin-bottom: 0px;
    }

    .topbox {
        background: #d1e9f9;
        padding: 15px;
        margin-bottom: 14px;
    }

    .boxborder {
        border: 1px solid #ccc;
        padding: 10px;
    }

    .filterhed {
        padding: 5px;
        color: #262566;
        font-weight: bold;
    }

    .seeingo {
        color: #1375b8 !important;
        font-weight: 100 !important;
        font-size: 15px;
    }

        .seeingo input:checked ~ .checkmark {
            background-color: #e32730 !important;
        }

    .fonticon {
        font-size: 20px;
        color: #2d83bd;
    }

    .fontheding {
        margin-left: 12px;
        font-size: 15px;
        color: #2d83bd;
    }

    .fontdetails {
        font-size: 13px;
        text-align: right;
    }

    .listbox {
        border: 1px solid #ccc;
        padding: 10px;
        margin-bottom: 14px;
    }

        .listbox:hover {
            box-shadow: 10px 10px 20px rgba(171,171,176,0.88);
        }

    .bookbtn {
        padding: 13px 35px;
        border-top-right-radius: 30px;
        border-bottom-left-radius: 30px;
    }

    .emialcort {
        float: right;
        border: 1px solid #e71820;
        background: #e71820;
        padding: 10px 10px;
        border-radius: 30px;
        width: 20%;
        color: #fff;
    }

    .editcort {
        text-align: center;
        float: right;
        margin-left: 13px;
        border: 1px solid #e71820;
        background: #e71820;
        padding: 10px 10px;
        border-radius: 30px;
        width: 20%;
        color: #fff;
    }

    .permismcolr {
        font-size: 20px;
        width: 40%;
        border: 1px solid #0d75bc;
        padding: 5px;
        background: #fff;
        color: #2c83be;
    }

    .panel {
        margin-bottom: 20px;
        background-color: #fff;
        border: 1px solid transparent;
        border-radius: 21px !important;
        -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
        box-shadow: 0 1px 1px rgba(0,0,0,.05);
    }

    .text-center {
        text-align: center;
    }

    .panel-default > .panel-heading {
        color: #333;
        background-color: #f5f5f5;
        border-color: #ddd;
        border-radius: 23px !important;
    }

    .panel-heading {
        color: #fff;
        padding: 5px 15px;
    }

    .panel-heading {
        padding: 10px 15px;
        border-bottom: 1px solid transparent;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
    }

    .panel-title {
        margin-top: 0;
        margin-bottom: 0;
        font-size: 16px;
        color: inherit;
    }

    .no-padding {
        padding: 0 !important;
    }

    .panel-body {
        padding: 15px;
    }

    .color-orange {
        color: #3c3595;
    }

    .formcontlbord {
        border-top: 0px;
        border-left: 0px;
        border-right: 0px;
        border-radius: 0px;
        border-radius: 0px;
    }

    .section1, .section2, .section3, .section4 {
        box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.4);
        padding: 20px 30px;
        border-radius: 4px;
    }

    .cmposion {
        position: absolute;
        right: 22px;
        margin-top: -30px;
        font-weight: 100;
        color: #ccc;
    }

    .form-control:disabled, .form-control[readonly] {
        background-color: #fff !important;
    }

    .custdropdown {
        color: #262566;
        border: 1px solid #ccc;
        background-color: #ffffff;
        border-radius: 4px;
        font-size: 14px !important;
        width: 175px;
        height: 30px;
    }
</style>

<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-sm-4">
                <h2><i class="fa fa-list"></i>&nbsp;Extranet Motor Insurance</h2>
            </div>
            <div class="col-sm-8">
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="row">
            <div class="col-sm-12 searchpanel">
                <div class="row">
                    <div class="col-sm-9 form-group">
                        <div class="col-sm-12">
                            <div id="msform">
                                <ul id="progressbar">
                                    <li class="active">Reg Details</li>
                                    <li class="linext2">Selected Plane </li>
                                    <li class="linext3">-- Details</li>
                                    <li class="linext4">-- Details</li>
                                    <li class="linext5">--- Details</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-sm-12 col-xs-12 form-group">
                            <fieldset class="section1" id="fdselectedplansection">
                                <div class="col-sm-12">                                
                                    <div class="row form-group" style="border-bottom: 1px dashed #ccc;">
                                        <div class="col-sm-6">
                                            <div class="row form-group">
                                                <div class="col-sm-6">
                                                    <label class="lcolr">Vechile Type</label>
                                                </div>
                                                <div class="col-sm-6 form-validation">
                                                    <select id="ddlPolicyType" name="ddlPolicyType" class="form-control selecthgt" onchange="ResetMembers()">
                                                        <option value="Individual">Individual</option>
                                                        <option value="Floater">Floater</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="row form-group">
                                                <div class="col-sm-6">
                                                    <label class="lcolr">Pin Code</label>
                                                </div>
                                                <div class="col-sm-6 form-validation">
                                                    <input type="text" id="txtSumInsured" class="form-control selecthgt" placeholder="Sum Insured" minlength="6" onkeypress="return isNumberOnlyKeyNoDot(event)" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group" style="border-bottom: 1px dashed #ccc;">
                                        <div class="col-sm-6">
                                            <div class="row form-group">
                                                <div class="col-sm-6">
                                                    <label class="lcolr">Mobile No</label>
                                                </div>
                                                <div class="col-sm-6 form-validation">
                                                    <input type="text" id="mob" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="row form-group">
                                                <div class="col-sm-6">
                                                    <label class="lcolr">Insurance Type</label>
                                                </div>
                                                <div class="col-sm-6 form-validation">
                                                    <select name="ddlPlanType" id="ddlPlanType" class="form-control selecthgt">
                                                        <option value="">- Select -</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group" style="border-bottom: 1px dashed #ccc;">
                                        <div class="col-sm-6">
                                            <div class="row form-group">
                                                <div class="col-sm-6">
                                                    <label class="lcolr">RTO No</label>
                                                </div>
                                                <div class="col-sm-6 form-validation">
                                                    <input type="text" id="mob" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="row form-group">
                                                <div class="col-sm-6">
                                                    <label class="lcolr">Reg No</label>
                                                </div>
                                                <div class="col-sm-6 form-validation">
                                                    <input type="text" id="mob" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group OtherSection FamilySection" style="border-bottom: 1px dashed #ccc;">
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-6 form-group">
                                                    <label class="lcolr">Brand</label>
                                                </div>
                                                <div class="col-sm-6 form-group SelfAge">
                                                    <input type="text" class="form-control" id="brand" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-6 form-group">
                                                    <label class="lcolr">  Model</label>
                                                </div>
                                                <div class="col-sm-6 form-group SelfAge">
                                                    <input type="text" class="form-control" id="brand" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="row">
                                                <div class="col-sm-6 form-group">
                                                    <label class="lcolr">Fuel varient</label>
                                                </div>
                                                <div class="col-sm-6 form-group SelfAge">
                                                    <input type="text" class="form-control" id="brand" />
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <button class="btn theme-btn btn-hover" id="section1Btn" style="padding: 5px 25px;float:right">Next &gt;</button>
                                </div>
                            </fieldset>
                            <fieldset class="section2 hidden" id="fdproposerdetails">
                                <div class="col-sm-12 form-group" style="border: 1px solid #ccc;">
                                    <div class="row form-group" style="border-bottom: 1px dashed #ccc;">
                                        <div class="col-sm-6">
                                            <div class="row form-group">
                                                <div class="col-sm-6">
                                                    <label class="lcolr">Prev Policy Type</label>
                                                </div>
                                                <div class="col-sm-6 form-validation">
                                                    <input type="text" id="PrevPolicy" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="row form-group">
                                                <div class="col-sm-6">
                                                    <label class="lcolr">Prev insurence details</label>
                                                </div>
                                                <div class="col-sm-6 form-validation">
                                                    <input type="text" id="mob" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group" style="border-bottom: 1px dashed #ccc;">
                                        <div class="col-sm-6">
                                            <div class="row form-group">
                                                <div class="col-sm-6">
                                                    <label class="lcolr"> Policy No</label>
                                                </div>
                                                <div class="col-sm-6 form-validation">
                                                    <input type="text" id="PrevPolicy" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="row form-group">
                                                <div class="col-sm-6">
                                                    <label class="lcolr">Policy exp date</label>
                                                </div>
                                                <div class="col-sm-6 form-validation">
                                                    <input type="text" id="mob" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group" style="border-bottom: 1px dashed #ccc;">
                                        <div class="col-sm-6">
                                            <div class="row form-group">
                                                <div class="col-sm-6">
                                                    <label class="lcolr"> Claim NCB</label>
                                                </div>
                                                <div class="col-sm-6 form-validation">
                                                    <input type="text" id="PrevPolicy" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="row form-group">
                                                <div class="col-sm-6">
                                                    <label class="lcolr">Pre  yr NCB</label>
                                                </div>
                                                <div class="col-sm-6 form-validation">
                                                    <input type="text" id="mob" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-12">
                                            <button class="btn theme-btn btn-hover" id="section2PreviousBtn" style="padding: 5px 25px;float:left">Previous &gt;</button>
                                            <button class="btn theme-btn btn-hover" id="section2NextBtn" style="padding: 5px 25px;float:right">Next &gt;</button>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                            <fieldset class="section3 hidden" id="fdInsuredDetails">
                                <div class="col-sm-12 form-group" style="border: 1px solid #ccc;">
                                    <div class="row form-group">
                                        <div class="col-sm-3 form-group">
                                            <label>Add On Coverge</label>
                                        </div>
                                        <div class="col-sm-3 form-group">
                                            <h6 class="checkbox-inline">
                                                <label class="seeingo2">
                                                    ---
                                                    <input type="checkbox" class="submenuclass clickcheckbox chkmember chkbox_son" data-member="son" data-name="Son" id="chkSon" name="chkSon" onchange="OnOffMember('son');" />
                                                    <span class="checkmark2"></span>
                                                </label>
                                            </h6>
                                        </div>
                                        <div class="col-sm-3 form-group">
                                            <h6 class="checkbox-inline">
                                                <label class="seeingo2">
                                                    ---
                                                    <input type="checkbox" class="submenuclass clickcheckbox chkmember chkbox_son" data-member="son" data-name="Son" id="chkSon" name="chkSon" onchange="OnOffMember('son');" />
                                                    <span class="checkmark2"></span>
                                                </label>
                                            </h6>
                                        </div>
                                        <div class="col-sm-3 form-group">
                                            <h6 class="checkbox-inline">
                                                <label class="seeingo2">
                                                    ---
                                                    <input type="checkbox" class="submenuclass clickcheckbox chkmember chkbox_son" data-member="son" data-name="Son" id="chkSon" name="chkSon" onchange="OnOffMember('son');" />
                                                    <span class="checkmark2"></span>
                                                </label>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-3 form-group">
                                            <label>Legal  Libility</label>
                                        </div>
                                        <div class="col-sm-3 form-group">
                                            <h6 class="checkbox-inline">
                                                <label class="seeingo2">
                                                    ---
                                                    <input type="checkbox" class="submenuclass clickcheckbox chkmember chkbox_son" data-member="son" data-name="Son" id="chkSon" name="chkSon" onchange="OnOffMember('son');" />
                                                    <span class="checkmark2"></span>
                                                </label>
                                            </h6>
                                        </div>
                                        <div class="col-sm-3 form-group">
                                            <h6 class="checkbox-inline">
                                                <label class="seeingo2">
                                                    ---
                                                    <input type="checkbox" class="submenuclass clickcheckbox chkmember chkbox_son" data-member="son" data-name="Son" id="chkSon" name="chkSon" onchange="OnOffMember('son');" />
                                                    <span class="checkmark2"></span>
                                                </label>
                                            </h6>
                                        </div>
                                        <div class="col-sm-3 form-group">
                                            <h6 class="checkbox-inline">
                                                <label class="seeingo2">
                                                    ---
                                                    <input type="checkbox" class="submenuclass clickcheckbox chkmember chkbox_son" data-member="son" data-name="Son" id="chkSon" name="chkSon" onchange="OnOffMember('son');" />
                                                    <span class="checkmark2"></span>
                                                </label>
                                            </h6>
                                        </div>
                                    </div>
                                    <div class="row form-group">
                                        <div class="col-sm-3 form-group">
                                            <label>Acc</label>
                                        </div>
                                        <div class="col-sm-3 form-group">
                                            <h6 class="checkbox-inline">
                                                <label class="seeingo2">
                                                    ---
                                                    <input type="checkbox" class="submenuclass clickcheckbox chkmember chkbox_son" data-member="son" data-name="Son" id="chkSon" name="chkSon" onchange="OnOffMember('son');" />
                                                    <span class="checkmark2"></span>
                                                </label>
                                            </h6>
                                        </div>
                                        <div class="col-sm-3 form-group">
                                            <h6 class="checkbox-inline">
                                                <label class="seeingo2">
                                                    ---
                                                    <input type="checkbox" class="submenuclass clickcheckbox chkmember chkbox_son" data-member="son" data-name="Son" id="chkSon" name="chkSon" onchange="OnOffMember('son');" />
                                                    <span class="checkmark2"></span>
                                                </label>
                                            </h6>
                                        </div>
                                        <div class="col-sm-3 form-group">
                                            <h6 class="checkbox-inline">
                                                <label class="seeingo2">
                                                    ---
                                                    <input type="checkbox" class="submenuclass clickcheckbox chkmember chkbox_son" data-member="son" data-name="Son" id="chkSon" name="chkSon" onchange="OnOffMember('son');" />
                                                    <span class="checkmark2"></span>
                                                </label>
                                            </h6>
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <button class="btn theme-btn btn-hover" id="section3PreviousBtn" style="padding: 5px 25px;float:left">Previous &gt;</button>
                                        <button class="btn theme-btn btn-hover" id="section3NextBtn" style="padding: 5px 25px;float:right">Next &gt;</button>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="section4 hidden" id="fdMedicalHistory">
                                <div class="col-sm-12 form-group" style="border: 1px solid #ccc;">
                                    <div class="row form-group" style="padding: 10px;">
                                        <div class="col-sm-2 form-validation">
                                            <select class="form-control formcontlbord" id="ddlPTitle">
                                                <option value="">Title</option>
                                                <option value="Mr.">Mr.</option>
                                                <option value="Mrs.">Mrs.</option>
                                                <option value="Ms.">Ms.</option>
                                            </select>
                                        </div>
                                        <div class="col-sm-5 form-validation">
                                            <input type="text" class="form-control formcontlbord" id="txtPFirstName" placeholder="First Name *">
                                        </div>
                                        <div class="col-sm-5 form-validation">
                                            <input type="text" class="form-control formcontlbord " id="txtPLastName" placeholder="Last Name *">
                                        </div>
                                    </div>
                                    <div class="row form-group" style="padding: 10px;">
                                        <div class="col-sm-4 form-validation">
                                            <input type="text" class="form-control formcontlbord" maxlength="10" onkeypress="return isNumberOnlyKeyNoDot(event)" id="txtPMobile" placeholder="Mobile No *">
                                        </div>
                                        <div class="col-sm-4 form-validation">
                                            <input type="text" class="form-control formcontlbord CommanDateWithYr hasDatepicker" id="txtPDOB" autocomplete="off" placeholder="Date Of Birth" onchange="return CalculateAge('txtPDOB');" size="10">
                                            <span class="notpdobvalid"></span>
                                        </div>
                                        <div class="col-sm-4 form-validation">
                                            <input type="text" class="form-control formcontlbord " autocomplete="off" id="txtPEmail" placeholder="Email id *">
                                        </div>
                                    </div>
                                    <div class="row form-group" style="padding: 10px;">
                                        <div class="col-sm-4 form-validation">
                                            <input type="text" class="form-control formcontlbord" autocomplete="off" id="txtPAddress1" placeholder="Address line 1*">
                                        </div>
                                        <div class="col-sm-4 form-validation">
                                            <input type="text" class="form-control formcontlbord" autocomplete="off" id="txtPAddress2" placeholder="Address line 2*">
                                        </div>
                                        <div class="col-sm-4">
                                            <input type="text" class="form-control formcontlbord " autocomplete="off" id="txtPLandmark" placeholder="Landmark">
                                        </div>
                                    </div>
                                </div>
                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <button class="btn theme-btn btn-hover" id="section4PreviousBtn" style="padding: 5px 25px;float:left">Previous &gt;</button>
                                        <button class="btn theme-btn btn-hover" id="section4NextBtn" style="padding: 5px 25px;float:right">Next &gt;</button>
                                    </div>
                                </div>
                            </fieldset>

                            <fieldset class="section5 hidden" id="EnginHistory">
                                <div class="col-sm-12 form-group" style="border:1px solid #ccc;">
                                    ---
                                </div>

                                <div class="row form-group">
                                    <div class="col-sm-12">
                                        <button class="btn theme-btn btn-hover" id="section4PreviousBtn" style="padding: 5px 25px;float:left">Previous &gt;</button>
                                        <button class="btn theme-btn btn-hover" id="section4NextBtn" style="padding: 5px 25px;float:right">Next &gt;</button>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="col-sm-3 form-group" id="divProductSummary" style="flex: 0 0 24%; border: 1px solid #ccc; padding: 6px;">
                        <div class="col-sm-12">
                            <img src="https://seeinsured.com/Content/images/bike-final.gif" id="companyImg" style="margin-left: auto;margin-right: auto;display: block;width: 60%;">
                        </div>
                        <div class="col-sm-12" style="margin-top: 2%;margin-bottom: 2%;font-size: 20px;text-align: center;color: #09a9e5;">
                            <b class="text-center">Product Details</b>
                        </div>
                        <div class="col-sm-12" id="divProductDetails">
                            <div class="row" style="border-bottom: 1px solid #ccc;">
                                <div class="col-sm-6">
                                    <label>Product  Name</label>
                                </div><div class="col-sm-6"><label id="productName_DetailSection">---- ----</label></div>
                            </div>
                            <div class="row" style="border-bottom: 1px solid #ccc;">
                                <div class="col-sm-6">
                                    <label>Plan Type</label>
                                </div>
                                <div class="col-sm-6">
                                    <label id="planType_DetailSection">----</label>
                                </div>
                            </div>
                            <div class="row" style="border-bottom: 1px solid #ccc;">
                                <div class="col-sm-6">
                                    <label>Policy Type</label>
                                </div>
                                <div class="col-sm-6">
                                    <label id="policyType_DetailSection">----</label>
                                </div>
                            </div>
                            <div class="row" style="border-bottom: 1px solid #ccc;">
                                <div class="col-sm-6">
                                    <label>Member</label>
                                </div>
                                <div class="col-sm-6">
                                    <label id="member_DetailSection">Adult-0, Child-0</label>
                                </div>
                            </div>
                            <div class="row" style="border-bottom: 1px solid #ccc;">
                                <div class="col-sm-6">
                                    <label>Sum Insred</label>
                                </div>
                                <div class="col-sm-6">
                                    <label id="sumInsured_DetailSection">₹ 0.00</label>
                                </div>
                            </div>
                            <div class="col-sm-12" style="margin-top: 2%;margin-bottom: 2%;font-size: 20px;text-align: center;color: #09a9e5;">
                                <b class="text-center">Premium Breakup</b>
                            </div>
                            <div id="divPremiumBreakup" class="row">

                                <div class="col-sm-12" style="border-bottom: 1px solid #ccc;">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Basic Breakup</label>
                                        </div>
                                        <div class="col-sm-6" style="text-align: right;">
                                            <label id="basic_DetailSection" amt="">₹ 0.00</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12" style="border-bottom: 1px solid #ccc;">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>Discount (0.0 %)</label>
                                        </div>
                                        <div class="col-sm-6" style="text-align: right;">
                                            <label id="discount_DetailSection" amt="">₹ 0.00</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12" style="border-bottom: 1px solid #ccc;">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>GST 18%</label>
                                        </div>
                                        <div class="col-sm-6" style="text-align: right;">
                                            <label id="gst_DetailSection" amt="">₹ 0.00</label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <label>You'll Pay</label>
                                        </div>
                                        <div class="col-sm-6" style="text-align: right;">
                                            <label id="premium_DetailSection" amt="">₹ 0.00</label>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<script src="~/Content/js/custom/common.js"></script>
<script src="~/Content/js/custom/DatePicker.js?v=1"></script>
@*<script src="~/Areas/AdminArea/Content/js/backend_health/health_extranet.js"></script>*@

