﻿@model insurance.Models.Custom.FrontAgencyModel.CreateAgency
@{
    ViewBag.Title = "Admin_ChangeAgencyPassword";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section header
{
    <link href="~/Content/css/custom/validationcss.css" rel="stylesheet" />
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>

    <style>
        .margin_top10px {
            margin-top: 10px;
        }

        .btn_Margin {
            margin-top: 20px;
        }

        .help-error-block {
            margin: 10px 0px 0px 30px;
        }

        .panelbox {
            margin-top: 35px;
            box-shadow: 0px 0px 8px #d4d4d4;
            border-radius: 3px;
            padding: 18px;
            margin-left: auto;
            float: none;
            margin-right: auto;
        }
    </style>
    <link href="~/Content/css/custom/commoncss.css" rel="stylesheet" />
}
<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-sm-4">
                <h2><i class="fa fa-key"></i> Change Password </h2>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-12">
                    <div class="col-sm-6 col-lg-offset-3 panelbox">
                        @if (TempData["Message"] != null)
                        {
                            <div class="clearfix"></div><br />
                            <div class="col-sm-12 margin_top10px">
                                <p style="color: #249637;font-size: 20px;text-align: center;">
                                    <i class="fa fa-check-circle-o" aria-hidden="true" style="font-size: 70px;"></i><br />
                                    @TempData["Message"]
                                </p>
                            </div>
                            <div class="clearfix"></div><br />
                        }
                        else
                        {
                            using (Html.BeginForm())
                            {
                                <div class="col-md-12 form-group form-validation">
                                    <label class="control-label">Agency Name</label>
                                    <div class="input-group form-validation">
                                        <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                                        @Html.TextBoxFor(p => p.AgencyName, new { @class = "form-control agencyname form-control ui-autocomplete-input", placeholder = "Enter Agency Name" })
                                        @Html.HiddenFor(p => p.AgencyID)
                                    </div>
                                </div>

                                <div class="col-md-12 form-group form-validation">
                                    <label class="control-label">New Password</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                                        @Html.TextBoxFor(p => p.Password, new { @class = "form-control", placeholder = "Enter Password", type = "password" })
                                    </div>
                                </div>

                                <div class="col-md-12  form-group form-validation">
                                    <label class="control-label">Confirm Password</label>
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                                        @Html.TextBoxFor(p => p.ConfPassword, new { @class = "form-control", placeholder = "Enter Confirm Password", type = "password" })
                                    </div>
                                </div>
                                <div id="smareerror">
                                    @Html.Raw(ViewBag.Msg)
                                </div>
                                <div class="col-md-12 btn_Margin form-group">
                                    <input type="submit" value="Change Password" class="btn btn-primary blackbutton form-control maincss" style="font-weight:bold;background: #2a3f54;color: #fff;" onclick="return CheckForm()" />
                                    <span class="btn btn-primary blackbutton form-control tempcss hidden" style="font-weight:bold;background: #2a3f54;color: #fff;">Please Wait...<i class="fa fa-cog fa-spin"></i></span>
                                </div>

                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section footer
{
    <script src="~/Content/js/custom/common.js"></script>
    <script>
        $(".agencyname").autocomplete({
            minLength: 3,
            source: function (request, response) {
                $.ajax({
                    url: "/Backend_Administration/AutoComplete_AgencyDetail",
                    type: "POST",
                    dataType: "json",
                    data: { agencyname: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.AgencyName + " (" + item.AgencyID + ")", value: item.AgencyName };
                        }))
                    }
                })
            },
            select: function (event, ui) {
                if (ui.item.value != "") {
                    var agencyid = ui.item.label.split("(");
                    $("#AgencyID").val(agencyid[1].replace(")", ""));

                    //$(".maincss").removeClass("hidden");
                }
            },
            response: function (event, ui) {
                if (!ui.content.length) {
                    var noResult = { value: "", label: "No Agency Name matching" };
                    ui.content.push(noResult);
                }
            },
            messages: {
                noResults: "", results: ""
            }
        });

        function CheckForm() {
            $("#smareerror").html("");
            if (CheckFocusBlankValidation("AgencyName")) return !1;
            if (CheckBlankValidation("Password")) return !1;
            if (CheckBlankValidation("ConfPassword")) return !1;
            if (CheckSamePasswordValidation('Password', 'ConfPassword')) return !1;
            if ($("#AgencyID").val() != "") {
                $('.maincss').addClass('hidden');
                $('.tempcss').removeClass('hidden');
                return true;
            }
            else {
                $("#smareerror").html("<h6 class='col-sm-12 text-center text-danger'>Please select correct agency name!</h6>");
                return false;
            }
        }
    </script>

}