﻿@model insurance.Models.Custom.FrontAgencyModel.EmulateLogin
@{
    ViewBag.Title = "AdminEmulatorLogin";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section header
{
    <link href="~/Content/css/custom/validationcss.css" rel="stylesheet" />
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
}

<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-sm-4">
                <h2><i class="fa fa-lock"></i>&nbsp;Emulate Login (Login With OTP)</h2>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col-md-5 form-group">
                    <div class="input-group form-validation">
                        <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                        @Html.TextBoxFor(p => p.AgencyName, new { @class = "form-control agencyname form-control ui-autocomplete-input", placeholder = "Enter Agency Name" })
                        @Html.HiddenFor(p => p.Agencyid)
                    </div>
                </div>
                <div class="col-md-3 form-group form-validation">
                    <button type="submit" class="btn btn-success" id="searchBtn" onclick="return CheckSearch();">Search</button>
                </div>
            </div>
        }

        @if (Model.Agencyid > 0)
        {
            <div class="row box-shad">
                <div class="col-sm-12 form-group" style="margin-top: 15px;">
                    <table class="table table-bordered table-condensed radious">
                        <tbody>
                            <tr>
                                <th class="text-center" style="font-size:15px !important;" colspan="6"><span class="glyphicon glyphicon-user"></span>&nbsp;@Model.AgencyName (@Model.Agencyid)</th>
                            </tr>
                            <tr>
                                <th>
                                    Agency Name
                                </th>
                                <td>@Html.DisplayFor(p => p.AgencyName)</td>
                                <th>
                                    Phone
                                </th>
                                <td> @Html.DisplayFor(p => p.BusinessPhone)</td>
                            </tr>
                            <tr>
                                <th>
                                    Login ID
                                </th>
                                <td>@Html.DisplayFor(p => p.UserId)</td>
                                <th>
                                    Email ID
                                </th>
                                <td>@Html.DisplayFor(p => p.BusinessEmailID)</td>
                            </tr>
                            <tr>
                                <th>
                                    Address
                                </th>
                                <td>@Html.DisplayFor(p => p.AgencyAddress)</td>
                                <th>
                                    Avilable Balance
                                </th>
                                <td>- - -</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="col-sm-12 form-group">
                    @Html.HiddenFor(p => p.UserId)
                    @Html.HiddenFor(p => p.BusinessEmailID)
                    @Html.HiddenFor(p => p.BusinessPhone)
                    @Html.HiddenFor(p => p.Password)
                    @Html.HiddenFor(p => p.EmulateId)
                    <div class="row">
                        <div class=" col-sm-12 remarksection form-group">
                            <div class="row">
                                <div class="col-sm-5 ">
                                    <div class="input-group form-validation">
                                        <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                        @Html.TextAreaFor(p => p.Remarks, new { @class = "form-control", placeholder = "Enter Remarks.." })
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <input type="button" class="btn btn-warning emulatelogin" id="otpBtn" value="Send OTP Agency (@Model.UserId)" onclick="return SendOTPToAgency();" />
                                    <span class="btn btn-warning temptcss hidden">PLEASE WAIT...<i class="fa fa-spinner fa-spin"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-12 form-group otpsection hidden">
                            <div class="row">
                                <div class="col-sm-5 form-validation">
                                    <div class="input-group">
                                        <span class="input-group-addon"><span class="fa fa-key"></span></span>
                                        <input class="form-control" id="Otp" maxlength="4" name="Otp" placeholder="Please enter otp" type="text" />
                                    </div>
                                    <div class="col-sm-12" style="    width: 350px;">
                                        <span style="color:#656565; font-size:12px; font-weight:bold;" class="replacemessage">
                                            This OTP is valid for only next 5 Minutes.
                                        </span>
                                        <div class="strcountdown" style="color:red;float: right;">
                                            <span id="minRemaing"></span>:<span id="secRemaing"></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <input type="submit" class="btn btn-warning emulatelogin" value="Login" onclick="return LoginWithOTPInAgency()" />
                                    <span class="btn btn-success resendotp" style="display:none;width: 130px;" id="otpresend">Re-Send OTP</span>
                                    <input type="hidden" id="hdnEmulateid">
                                    <span class="btn btn-warning temptlogincss hidden">PLEASE WAIT...<i class="fa fa-spinner fa-spin"></i></span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

@section footer
{
    <script>
        $(".agencyname").autocomplete({
            minLength: 3,
            source: function (request, response) {
                $.ajax({
                    url: "/Backend_Administration/AutoComplete_AgencyDetail",
                    type: "POST",
                    dataType: "json",
                    data: { agencyname: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.AgencyName + " (" + item.AgencyID + ")", value: item.AgencyName };
                        }))
                    }
                })
            },
            select: function (event, ui) {
                if (ui.item.value != "") {
                    var agencyid = ui.item.label.split("(");
                    $("#Agencyid").val(agencyid[1].replace(")", ""));

                    //$(".maincss").removeClass("hidden");
                }
            },
            response: function (event, ui) {
                if (!ui.content.length) {
                    var noResult = { value: "", label: "No Agency Name matching" };
                    ui.content.push(noResult);
                }
            },
            messages: {
                noResults: "", results: ""
            }
        });
    </script>
    <script src="~/Content/js/custom/common.js"></script>
    <script>
        CheckSearch = () => { if (CheckFocusBlankValidation("AgencyName")) return !1; }
        function LoginWithOTPInAgency() {
            if (CheckFocusBlankValidation("Otp")) return !1;
            $(".temptlogincss").removeClass("hidden");
            $(".emulatelogin").addClass("hidden");

            var model = {};
            model.UserId = $("#UserId").val();
            model.Password = $("#Password").val();
            model.AgencyName = $("#AgencyName").val();
            model.AgencyID = $("#Agencyid").val();
            model.BusinessPhone = $("#BusinessPhone").val();
            model.BusinessEmailID = $("#BusinessEmailID").val();
            model.EmulateId = $("#EmulateId").val();
            model.TempOTP = $("#Otp").val();

            $(".replacemessage").html("This OTP is valid for only next 5 Minutes.").css("color", "#656565");
            $.ajax({
                type: "Post",
                url: "/Backend_Administration/EmulateLoginWithOTP",
                data: '{emodel:' + JSON.stringify(model) + '}',
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    if (data != "") {
                        var status = data[0];
                        var s_msg = data[1];

                        if (status == "success") {
                            $(".otpsection").addClass("hidden");
                            $("#Otp").val("");
                            $(".temptlogincss").addClass("hidden");
                            $(".emulatelogin").removeClass("hidden");

                            $(".remarksection").removeClass("hidden");
                            $(".temptcss").addClass("hidden");
                            $(".emulatesendotp").removeClass("hidden");
                            $("#Remarks").val("");

                            var win = window.open(s_msg, '_blank');
                            win.focus();
                        }
                        else if (status == "wrongotp") {
                            //$(".wrongotp").removeClass("hidden");
                            $(".replacemessage").html("Your OTP is incorrect, Please enter correct OTP!").css("color","red");
                            $(".emulatelogin").removeClass("hidden");
                            $(".temptlogincss").addClass("hidden");
                        }
                        else if (status == "expired") {
                            //$(".wrongotp").removeClass("hidden");
                            $(".replacemessage").html("Your OTP has been expired, Please resend OTP again!").css("color", "red");
                            //$(".replacemessage").attr('color', "red!important");
                            $(".resendotp").removeClass("hidden");
                            $(".emulatelogin").addClass("hidden");
                            $(".temptlogincss").addClass("hidden");
                            $("#Otp").val("");
                            $("#Otp").attr('readonly', true);
                            $(".strcountdown").addClass("hidden");
                        }
                    }
                    else {
                        $(".temptlogincss").addClass("hidden");
                        $(".emulatelogin").removeClass("hidden");
                    }
                }
            });
        }

        function SendOTPToAgency() {
            if (CheckBlankValidation("Remarks")) return !1;
            $(".temptcss").removeClass("hidden");
            $("#otpBtn").addClass("hidden");

            var model = {};
            model.Remarks = $("#Remarks").val();
            model.UserId = $("#UserId").val();
            model.Password = $("#Password").val();
            model.AgencyName = $("#AgencyName").val();
            model.AgencyID = $("#Agencyid").val();
            model.BusinessPhone = $("#BusinessPhone").val();
            model.BusinessEmailID = $("#BusinessEmailID").val();
            model.EmulateId = $("#EmulateId").val();
            $.ajax({
                type: "Post",
                url: "/Backend_Administration/EmulateWithOTP",
                data: '{emodel:' + JSON.stringify(model) + '}',
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    if (data[0] == "success") {
                        $("#EmulateId").val(data[1]);
                        $(".remarksection").addClass("hidden");
                        $(".otpsection").removeClass("hidden");
                        //var url = "/hotels";
                        //var win = window.open(url, '_blank');
                        //win.focus();
                        //StartCountDown(300);
                        StartCountDown(300);
                    }
                    else {
                        $(".temptcss").addClass("hidden");
                        $("#otpBtn").removeClass("hidden");
                        window.location.reload();
                    }
                }
            });
        }

        var _tick = null;
        function StartCountDown(startSecond) {
            clearInterval(_tick);
            $("#secRemaing").html("");
            $("#minRemaing").html("");
            $(".strcountdown").removeClass("hidden");
            var remSeconds = startSecond;
            var secondCounters = remSeconds % 60;
            function formarteNumber(number) { if (number < 10) return '0' + number; else return '' + number; }
            function startTick() {
                $("#secRemaing").text(formarteNumber(secondCounters));
                $("#minRemaing").text(formarteNumber(parseInt(remSeconds / 60)));
                if (secondCounters == 0) { secondCounters = 60; }
                _tick = setInterval(function () {
                    if (remSeconds > 0) {
                        remSeconds = remSeconds - 1;
                        secondCounters = secondCounters - 1;
                        $("#secRemaing").text(formarteNumber(secondCounters));
                        $("#minRemaing").text(formarteNumber(parseInt(remSeconds / 60)));
                        if (secondCounters == 0) { secondCounters = 60; $(".emulatelogin").css("display", "none"); $(".resendotp").css("display", "block"); $("#Otp").attr("placeholder", "Please re-send otp"); }
                    }
                    else {
                        clearInterval(_tick);
                    }
                }, 1000);
            }
            startTick();
        }

        $("#otpresend").click(function () {
            $(".resendotp").addClass("hidden");
            $(".temptlogincss").removeClass("hidden");

            var model = {};
            model.UserId = $("#UserId").val();
            model.Password = $("#Password").val();
            model.AgencyName = $("#AgencyName").val();
            model.AgencyID = $("#Agencyid").val();
            model.BusinessPhone = $("#BusinessPhone").val();
            model.BusinessEmailID = $("#BusinessEmailID").val();
            model.EmulateId = $("#EmulateId").val();

            $.ajax({
                type: "Post",
                url: "/Backend_Administration/ResendEmulateLoginWithOTP",
                data: '{emodel:' + JSON.stringify(model) + '}',
                contentType: "application/json; charset=utf-8",
                datatype: "json",
                success: function (data) {
                    if (data != "") {
                        if (data == true) {
                            $(".emulatelogin").removeClass("hidden");
                            $(".temptlogincss").addClass("hidden");
                            $("#Otp").attr('readonly', false);
                            $(".replacemessage").html("This OTP is valid for only next 5 Minutes.");
                            StartCountDown(300);
                        }
                        else {
                            $(".temptlogincss").addClass("hidden");
                            $(".resendotp").removeClass("hidden");
                        }
                    }
                }
            });
        });
    </script>
}

