﻿@model insurance.Models.Custom.FrontAgencyModel.CreateAgency

@{
    ViewBag.Title = "AdminEmulateLogin";
    Layout = "~/Views/Shared/_AdminLayoutPage.cshtml";
}

@section header
{
    <link href="~/Content/css/custom/validationcss.css" rel="stylesheet" />
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
}

<div class="x_panel">
    <div class="x_title">
        <div class="row">
            <div class="col-sm-4">
                <h2><i class="fa fa-lock"></i>&nbsp;Emulate Login (Login Without OTP)</h2>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
    <div class="x_content">
        @using (Html.BeginForm())
        {
            <div class="row">
                <div class="col-md-5 form-group">
                    <div class="input-group form-validation">
                        <span class="input-group-addon"><span class="fa fa-lock"></span></span>
                        @Html.TextBoxFor(p => p.AgencyName, new { @class = "form-control agencyname form-control ui-autocomplete-input", placeholder = "Enter Agency Name" })
                        @Html.HiddenFor(p => p.IntAgencyID)
                    </div>
                </div>
                <div class="col-md-3 form-group form-validation">
                    <button type="submit" class="btn btn-success" id="searchBtn" onclick="return CheckSearch();">Search</button>
                </div>
            </div>
        }

        @if (Model.IntAgencyID > 0)
        {
            <div class="row box-shad">
                <div class="col-sm-12 form-group" style="margin-top: 15px;">
                    <table class="table table-bordered table-condensed radious">
                        <tbody>
                            <tr>
                                <th class="text-center" style="font-size:15px !important;" colspan="6"><span class="glyphicon glyphicon-user"></span>&nbsp;@Model.AgencyName (@Model.IntAgencyID)</th>
                            </tr>
                            <tr>
                                <th>
                                    Agency Name
                                </th>
                                <td>@Model.AgencyName</td>
                                <th>
                                    Phone
                                </th>
                                <td> @Model.BusinessPhone</td>
                            </tr>
                            <tr>
                                <th>
                                    Login ID
                                </th>
                                <td>@Model.UserId</td>
                                <th>
                                    Email ID
                                </th>
                                <td>@Model.BusinessEmailID</td>
                            </tr>
                            <tr>
                                <th>
                                    Address
                                </th>
                                <td>@Model.Address</td>
                                <th>
                                    Avilable Balance
                                </th>
                                <td>- - -</td>
                            </tr>                            
                        </tbody>
                    </table>
                </div>

                @using (Html.BeginForm("Backend_EmulateLogin", "Backend_Administration", FormMethod.Post, new { target = "_blank" }))
                {
                    <div class="col-sm-12 form-group">
                        @Html.HiddenFor(p => p.UserId)
                        @Html.HiddenFor(p => p.AgencyName)
                        @Html.HiddenFor(p => p.AgencyID)
                        @Html.HiddenFor(p => p.Password)
                        <div class="row">
                            <div class="col-sm-8 ">
                                <div class="input-group form-validation">
                                    <span class="input-group-addon"><span class="fa fa-user"></span></span>
                                    @Html.TextAreaFor(p => p.Remarks, new { @class = "form-control", placeholder = "Enter Remarks.." })
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <input type="submit" class="btn btn-warning emulatelogin" value="Login Agency (@Model.UserId)" onclick="return CheckForm()" />
                                <span class="btn btn-warning temptcss hidden">PLEASE WAIT...<i class="fa fa-spinner fa-spin"></i></span>
                            </div>
                        </div>
                    </div>
                }

            </div>
        }
    </div>
</div>

@section footer
{
    <script>
        $(".agencyname").autocomplete({
            minLength: 3,
            source: function (request, response) {
                $.ajax({
                    url: "/Backend_Administration/AutoComplete_AgencyDetail",
                    type: "POST",
                    dataType: "json",
                    data: { agencyname: request.term },
                    success: function (data) {
                        response($.map(data, function (item) {
                            return { label: item.AgencyName + " (" + item.AgencyID + ")", value: item.AgencyName };
                        }))
                    }
                })
            },
            select: function (event, ui) {
                if (ui.item.value != "") {
                    var agencyid = ui.item.label.split("(");
                    $("#IntAgencyID").val(agencyid[1].replace(")", ""));

                    //$(".maincss").removeClass("hidden");
                }
            },
            response: function (event, ui) {
                if (!ui.content.length) {
                    var noResult = { value: "", label: "No Agency Name matching" };
                    ui.content.push(noResult);
                }
            },
            messages: {
                noResults: "", results: ""
            }
        });
    </script>
    <script src="~/Content/js/custom/common.js"></script>
    <script>
        CheckSearch = () => { if (CheckFocusBlankValidation("AgencyName")) return !1; }
        function CheckForm() {
            if (CheckFocusBlankValidation("Remarks")) return !1; $(".temptcss").removeClass("hidden"); $(".emulatelogin").addClass("hidden");
            setTimeout(function () { $("#Remarks").val(""); $(".temptcss").addClass("hidden"); $(".emulatelogin").removeClass("hidden"); }, 5000);
        }
    </script>
}